Repository scclouds/cloudstack: changes, and which GitLab CI jobs are due for each by the changed paths.
All: lint-frontend, build-frontend, build-backend-skip-tests, build-backend-with-test, build-backend-with-noredist, build-backend-with-systemvm, build-backend-combined

lint-frontend:
  before_script:
  - cd ui
  - npm ci --cache .npm --prefer-offline
  stage: lint
  tags:
  - cloudstack
  script:
  - echo "Starting front-end linting..."
  - npx vue-cli-service lint --no-fix
  - echo "Front-end linting done."

build-frontend:
  before_script:
  - cd ui
  - npm ci --cache .npm --prefer-offline
  stage: build
  needs:
  - lint-frontend
  tags:
  - cloudstack
  script:
  - echo "Building frontend..."
  - npm run build
  - echo "Done building frontend."

build-backend-skip-tests:
  stage: build
  tags:
  - cloudstack
  script:
  - echo "Building backend with 'mvn clean install -DskipTests'..."
  - mvn clean install -DskipTests
  - echo "Done building backend with 'mvn clean install -DskipTests'."

build-backend-with-test:
  stage: build
  tags:
  - cloudstack
  script:
  - echo "Building backend with 'mvn clean install'..."
  - mvn clean install
  - echo "Done building backend with 'mvn clean install'."

build-backend-with-noredist:
  stage: build
  tags:
  - cloudstack
  script:
  - echo "Building backend with 'mvn clean install -Dnoredist'..."
  - mvn clean install -Dnoredist
  - echo "Done building backend with 'mvn clean install -Dnoredist'."

build-backend-with-systemvm:
  stage: build
  tags:
  - cloudstack
  script:
  - echo "Building backend with 'mvn clean install -Psystemvm,developer -Dsystemvm'..."
  - mvn clean install -Psystemvm,developer -Dsystemvm
  - echo "Done building backend with 'mvn clean install -Psystemvm,developer -Dsystemvm'."

build-backend-combined:
  stage: build
  tags:
  - cloudstack
  script:
  - echo "Building backend with 'mvn clean install -Dnoredist -Psystemvm,developer -Dsystemvm'..."
  - mvn clean install -Dnoredist -Psystemvm,developer -Dsystemvm
  - echo "Done building backend with 'mvn clean install -Dnoredist -Psystemvm,developer -Dsystemvm'"

Correção na configuração de CD/DVD _drives_ existentes
  plugins/hypervisors/vmware/src/main/java/com/cloud/hypervisor/vmware/resource/VmwareResource.java
  vmware-base/src/main/java/com/cloud/hypervisor/vmware/mo/VirtualMachineMO.java
  vmware-base/src/main/java/com/cloud/hypervisor/vmware/util/VmwareHelper.java
Due: build-backend-skip-tests, build-backend-with-test, build-backend-with-noredist, build-backend-with-systemvm, build-backend-combined

Correções de linguagem na UI
  ui/public/locales/en.json
  ui/public/locales/pt_BR.json
Due: lint-frontend, build-frontend

Restauração do `apilog.log`
  server/src/main/java/com/cloud/api/ApiServer.java
  server/src/main/java/com/cloud/api/ApiServlet.java
Due: build-backend-skip-tests, build-backend-with-test, build-backend-with-noredist, build-backend-with-systemvm, build-backend-combined

Readição da configuração `saml2.failed.login.redirect.url`
  plugins/user-authenticators/saml2/src/main/java/org/apache/cloudstack/api/command/SAML2LoginAPIAuthenticatorCmd.java
  plugins/user-authenticators/saml2/src/main/java/org/apache/cloudstack/saml/SAML2AuthManager.java
  plugins/user-authenticators/saml2/src/main/java/org/apache/cloudstack/saml/SAML2AuthManagerImpl.java
  plugins/user-authenticators/saml2/src/test/java/org/apache/cloudstack/api/command/SAML2LoginAPIAuthenticatorCmdTest.java
Due: build-backend-skip-tests, build-backend-with-test, build-backend-with-noredist, build-backend-with-systemvm, build-backend-combined

Atualização do arquivo `templateConfig.sh`
  engine/schema/templateConfig.sh
Due: build-backend-skip-tests, build-backend-with-test, build-backend-with-noredist, build-backend-with-systemvm, build-backend-combined

Correção no formulário de edição de _hosts_
  ui/src/views/infra/HostUpdate.vue
Due: lint-frontend, build-frontend

Correção em redes persistentes sendo removidas quando a VM é parada
  plugins/hypervisors/kvm/src/main/java/com/cloud/hypervisor/kvm/resource/BridgeVifDriver.java
Due: build-backend-skip-tests, build-backend-with-test, build-backend-with-noredist, build-backend-with-systemvm, build-backend-combined

Correção da filtragem de listagens através da UI e de textos duplicados nos _links_ de projetos
  ui/src/components/view/InfoCard.vue
  ui/src/components/view/SearchView.vue
Due: lint-frontend, build-frontend

Corrige verificação de `hostId` em operações de _expunge_ malsucedidas
  engine/orchestration/src/main/java/com/cloud/vm/VirtualMachineManagerImpl.java
Due: build-backend-skip-tests, build-backend-with-test, build-backend-with-noredist, build-backend-with-systemvm, build-backend-combined

Correção na alocação de VMs utilizando _host tags_ simples
  server/src/main/java/com/cloud/agent/manager/allocator/impl/BaseAllocator.java
  server/src/main/java/com/cloud/agent/manager/allocator/impl/FirstFitAllocator.java
  server/src/main/java/com/cloud/agent/manager/allocator/impl/RandomAllocator.java
  server/src/test/java/com/cloud/agent/manager/allocator/impl/BaseAllocatorTest.java
  server/src/test/java/com/cloud/agent/manager/allocator/impl/RandomAllocatorTest.java
Due: build-backend-skip-tests, build-backend-with-test, build-backend-with-noredist, build-backend-with-systemvm, build-backend-combined

Correção na manipulação de redes do sistema pelo ACS
  core/src/main/java/com/cloud/agent/api/CleanupPersistentNetworkResourceCommand.java
  core/src/main/java/com/cloud/agent/api/MigrateCommand.java
  core/src/main/java/com/cloud/agent/api/ReplugNicCommand.java
  core/src/main/java/com/cloud/agent/api/StartCommand.java
  core/src/main/java/com/cloud/agent/api/StopCommand.java
  core/src/main/java/com/cloud/agent/api/UnPlugNicCommand.java
  core/src/main/java/com/cloud/agent/api/routing/IpAssocCommand.java
  engine/orchestration/src/main/java/com/cloud/vm/VirtualMachineManagerImpl.java
  engine/orchestration/src/main/java/org/apache/cloudstack/engine/orchestration/NetworkOrchestrator.java
  engine/orchestration/src/test/java/com/cloud/vm/VirtualMachineManagerImplTest.java
  engine/schema/src/main/java/com/cloud/network/dao/PhysicalNetworkDao.java
  engine/schema/src/main/java/com/cloud/network/dao/PhysicalNetworkDaoImpl.java
  engine/storage/volume/src/main/java/org/apache/cloudstack/storage/datastore/provider/DefaultHostListener.java
  plugins/hypervisors/kvm/src/main/java/com/cloud/hypervisor/kvm/resource/BridgeVifDriver.java
  plugins/hypervisors/kvm/src/main/java/com/cloud/hypervisor/kvm/resource/DirectVifDriver.java
  plugins/hypervisors/kvm/src/main/java/com/cloud/hypervisor/kvm/resource/IvsVifDriver.java
  plugins/hypervisors/kvm/src/main/java/com/cloud/hypervisor/kvm/resource/LibvirtComputingResource.java
  plugins/hypervisors/kvm/src/main/java/com/cloud/hypervisor/kvm/resource/OvsVifDriver.java
  plugins/hypervisors/kvm/src/main/java/com/cloud/hypervisor/kvm/resource/VRouterVifDriver.java
  plugins/hypervisors/kvm/src/main/java/com/cloud/hypervisor/kvm/resource/VifDriver.java
  plugins/hypervisors/kvm/src/main/java/com/cloud/hypervisor/kvm/resource/wrapper/LibvirtCleanupPersistentNetworkResourceCommandWrapper.java
  plugins/hypervisors/kvm/src/main/java/com/cloud/hypervisor/kvm/resource/wrapper/LibvirtMigrateCommandWrapper.java
  plugins/hypervisors/kvm/src/main/java/com/cloud/hypervisor/kvm/resource/wrapper/LibvirtReplugNicCommandWrapper.java
  plugins/hypervisors/kvm/src/main/java/com/cloud/hypervisor/kvm/resource/wrapper/LibvirtStartCommandWrapper.java
  plugins/hypervisors/kvm/src/main/java/com/cloud/hypervisor/kvm/resource/wrapper/LibvirtStopCommandWrapper.java
  plugins/hypervisors/kvm/src/main/java/com/cloud/hypervisor/kvm/resource/wrapper/LibvirtUnPlugNicCommandWrapper.java
  server/src/main/java/com/cloud/network/router/CommandSetupHelper.java
Due: build-backend-skip-tests, build-backend-with-test, build-backend-with-noredist, build-backend-with-systemvm, build-backend-combined

Correção de NPE na listagem de _hosts_ disponíveis para migração
  server/src/main/java/com/cloud/deploy/DeploymentPlanningManagerImpl.java
Due: build-backend-skip-tests, build-backend-with-test, build-backend-with-noredist, build-backend-with-systemvm, build-backend-combined

Fix bridge removal on migrate VM with volume
  engine/storage/datamotion/src/main/java/org/apache/cloudstack/storage/motion/StorageSystemDataMotionStrategy.java
Due: build-backend-skip-tests, build-backend-with-test, build-backend-with-noredist, build-backend-with-systemvm, build-backend-combined

Correção de erro de _log_ ao realizar _backup_
  server/src/main/java/org/apache/cloudstack/backup/BackupManagerImpl.java
Due: build-backend-skip-tests, build-backend-with-test, build-backend-with-noredist, build-backend-with-systemvm, build-backend-combined

Cópia de _templates_/ISOs existentes em outro _secondary storage_ em vez do _download_ da Internet
  engine/api/src/main/java/org/apache/cloudstack/engine/orchestration/service/StorageOrchestrationService.java
  engine/api/src/main/java/org/apache/cloudstack/engine/subsystem/api/storage/TemplateService.java
  engine/components-api/src/main/java/com/cloud/storage/StorageManager.java
  engine/orchestration/src/main/java/org/apache/cloudstack/engine/orchestration/DataMigrationUtility.java
  engine/orchestration/src/main/java/org/apache/cloudstack/engine/orchestration/StorageOrchestrator.java
  engine/storage/image/src/main/java/org/apache/cloudstack/storage/image/TemplateServiceImpl.java
  engine/storage/image/src/test/java/org/apache/cloudstack/storage/image/TemplateServiceImplTest.java
  server/src/main/java/com/cloud/storage/StorageManagerImpl.java
Due: build-backend-skip-tests, build-backend-with-test, build-backend-with-noredist, build-backend-with-systemvm, build-backend-combined

Adição de _warning_ de _host_ e _storage_ acima do _threshold_ na tela de migração
  plugins/metrics/src/main/java/org/apache/cloudstack/metrics/MetricsServiceImpl.java
  ui/src/components/view/StoragePoolSelectView.vue
  ui/src/style/vars.less
  ui/src/views/compute/MigrateWizard.vue
Due: lint-frontend, build-frontend, build-backend-skip-tests, build-backend-with-test, build-backend-with-noredist, build-backend-with-systemvm, build-backend-combined

Alteração na edição de configurações de recursos pela UI para que seja baseada em tipos
  ui/src/components/view/SettingsTab.vue
  ui/src/views/setting/ConfigurationTable.vue
  ui/src/views/setting/ConfigurationValue.vue
Due: lint-frontend, build-frontend

Add threshold warning to VM migration
  plugins/metrics/src/main/java/org/apache/cloudstack/metrics/MetricsServiceImpl.java
  ui/src/components/view/StoragePoolSelectView.vue
  ui/src/style/vars.less
  ui/src/views/compute/MigrateWizard.vue
Due: lint-frontend, build-frontend, build-backend-skip-tests, build-backend-with-test, build-backend-with-noredist, build-backend-with-systemvm, build-backend-combined

Allow creation of persistent network port groups in parallel during ACS bootstrap
  plugins/hypervisors/vmware/src/main/java/com/cloud/hypervisor/vmware/resource/VmwareResource.java
Due: build-backend-skip-tests, build-backend-with-test, build-backend-with-noredist, build-backend-with-systemvm, build-backend-combined

Correção do _dashboard_ inicial na visão de projetos
  ui/src/views/dashboard/UsageDashboard.vue
Due: lint-frontend, build-frontend

Alteração da quantidade máxima de projetos através da UI
  ui/src/components/view/ResourceLimitTab.vue
Due: lint-frontend, build-frontend

Adição de opção para _refresh_ automático de métricas de VM
  ui/public/locales/en.json
  ui/public/locales/pt_BR.json
  ui/src/components/view/StatsTab.vue
Due: lint-frontend, build-frontend

Corrige deleção errônea de usuários do banco de dados durante o `cloudstack-setup-database`
  setup/bindir/cloud-setup-databases.in
Due: none

Alteração nas exceções quando nenhuma estratégia suporta a criação de VM _snapshot_
  server/src/main/java/com/cloud/vm/snapshot/VMSnapshotManagerImpl.java
  server/src/test/java/com/cloud/vm/snapshot/VMSnapshotManagerTest.java
Due: build-backend-skip-tests, build-backend-with-test, build-backend-with-noredist, build-backend-with-systemvm, build-backend-combined

Correção de conversão ao definir _network throttling_
  plugins/hypervisors/kvm/src/main/java/com/cloud/hypervisor/kvm/resource/BridgeVifDriver.java
  plugins/hypervisors/kvm/src/main/java/com/cloud/hypervisor/kvm/resource/DirectVifDriver.java
  plugins/hypervisors/kvm/src/main/java/com/cloud/hypervisor/kvm/resource/IvsVifDriver.java
  plugins/hypervisors/kvm/src/main/java/com/cloud/hypervisor/kvm/resource/OvsVifDriver.java
Due: build-backend-skip-tests, build-backend-with-test, build-backend-with-noredist, build-backend-with-systemvm, build-backend-combined

Add changelog to version 4.20.0.3-scclouds
  debian/changelog
Due: none

Ajuste nos requisitos do título de MR
  .gitlab/merge_request_templates/default.md
Due: none

Alteração de nível de _log_ da obtenção de CPU _speed_ na adição de host KVM
  plugins/hypervisors/kvm/src/main/java/org/apache/cloudstack/utils/linux/KVMHostInfo.java
Due: build-backend-skip-tests, build-backend-with-test, build-backend-with-noredist, build-backend-with-systemvm, build-backend-combined

Remoção de exibição de dados da infraestrutura durante exceção ao anexar e desanexar volume de VM.
  server/src/main/java/com/cloud/storage/VolumeApiServiceImpl.java
Due: build-backend-skip-tests, build-backend-with-test, build-backend-with-noredist, build-backend-with-systemvm, build-backend-combined

Remoção da obrigatoriedade do parâmetro `domainid` na API `assignVirtualMachine`
  server/src/main/java/com/cloud/vm/UserVmManagerImpl.java
  server/src/test/java/com/cloud/vm/UserVmManagerImplTest.java
Due: build-backend-skip-tests, build-backend-with-test, build-backend-with-noredist, build-backend-with-systemvm, build-backend-combined

Correção na validação de acesso das APIs `listTemplates` e `listIsos`
  server/src/main/java/com/cloud/api/query/QueryManagerImpl.java
Due: build-backend-skip-tests, build-backend-with-test, build-backend-with-noredist, build-backend-with-systemvm, build-backend-combined

Modificação de mensagem apresentada na remoção de _disk-only_ VM _snapshots_
  ui/public/locales/en.json
  ui/public/locales/pt_BR.json
  ui/src/config/section/compute.js
Due: lint-frontend, build-frontend

Incremento na validação do _range_ de VLAN/VNI de _guest traffic_
  ui/src/views/infra/zone/AdvancedGuestTrafficForm.vue
Due: lint-frontend, build-frontend

Refatoração nos _parsers_ do Usage
  usage/src/main/java/com/cloud/usage/UsageManagerImpl.java
  usage/src/main/java/com/cloud/usage/parser/BackupObjectUsageParser.java
  usage/src/main/java/com/cloud/usage/parser/BackupUsageParser.java
  usage/src/main/java/com/cloud/usage/parser/BucketUsageParser.java
  usage/src/main/java/com/cloud/usage/parser/IPAddressUsageParser.java
  usage/src/main/java/com/cloud/usage/parser/LoadBalancerUsageParser.java
  usage/src/main/java/com/cloud/usage/parser/NetworkOfferingUsageParser.java
  usage/src/main/java/com/cloud/usage/parser/NetworkUsageParser.java
  usage/src/main/java/com/cloud/usage/parser/NetworksUsageParser.java
  usage/src/main/java/com/cloud/usage/parser/PortForwardingUsageParser.java
  usage/src/main/java/com/cloud/usage/parser/SecurityGroupUsageParser.java
  usage/src/main/java/com/cloud/usage/parser/StorageUsageParser.java
  usage/src/main/java/com/cloud/usage/parser/UsageParser.java
  usage/src/main/java/com/cloud/usage/parser/VMInstanceUsageParser.java
  usage/src/main/java/com/cloud/usage/parser/VMSnapshotOnPrimaryParser.java
  usage/src/main/java/com/cloud/usage/parser/VMSnapshotUsageParser.java
  usage/src/main/java/com/cloud/usage/parser/VPNUserUsageParser.java
  usage/src/main/java/com/cloud/usage/parser/VmDiskUsageParser.java
  usage/src/main/java/com/cloud/usage/parser/VolumeUsageParser.java
  usage/src/main/java/com/cloud/usage/parser/VpcUsageParser.java
Due: build-backend-skip-tests, build-backend-with-test, build-backend-with-noredist, build-backend-with-systemvm, build-backend-combined

Modifica mensagem do evento `USER.DISABLE`
  api/src/main/java/org/apache/cloudstack/api/command/admin/user/DisableUserCmd.java
Due: build-backend-skip-tests, build-backend-with-test, build-backend-with-noredist, build-backend-with-systemvm, build-backend-combined

Alteração da mensagem de erro da verificação da configuração do 2FA
  plugins/user-two-factor-authenticators/static-pin/src/main/java/org/apache/cloudstack/auth/StaticPinUserTwoFactorAuthenticator.java
  plugins/user-two-factor-authenticators/totp/src/main/java/org/apache/cloudstack/auth/TotpUserTwoFactorAuthenticator.java
  server/src/main/java/com/cloud/api/auth/ValidateUserTwoFactorAuthenticationCodeCmd.java
Due: build-backend-skip-tests, build-backend-with-test, build-backend-with-noredist, build-backend-with-systemvm, build-backend-combined

Adição da quantidade de _system_ VMs à listagem de _hosts_ na GUI
  ui/src/config/section/infra/hosts.js
Due: lint-frontend, build-frontend

Adição de limpeza do campo do _dropdown_ de _tiers_ no formulário da API `assignVirtualMachine`
  ui/src/views/compute/AssignInstance.vue
Due: lint-frontend, build-frontend

Path conditions:
  lint-frontend: any of: ui/**/*
  build-frontend: any of: ui/**/*
  build-backend-skip-tests: any of: **/*.java, **/*.xml, **/*.sh
  build-backend-with-test: any of: **/*.java, **/*.xml, **/*.sh
  build-backend-with-noredist: any of: **/*.java, **/*.xml, **/*.sh
  build-backend-with-systemvm: any of: **/*.java, **/*.xml, **/*.sh
  build-backend-combined: any of: **/*.java, **/*.xml, **/*.sh
