Repository scclouds/cloudstack: changes, and which GitLab CI jobs are due for each by the changed paths.
All: lint-frontend, build-frontend, build-backend-skip-tests, build-backend-with-test, build-backend-with-noredist, build-backend-with-systemvm, build-backend-combined

Path conditions:
  lint-frontend: any of: ui/**/*
  build-frontend: any of: ui/**/*
  build-backend-skip-tests: any of: **/*.java, **/*.xml, **/*.sh
  build-backend-with-test: any of: **/*.java, **/*.xml, **/*.sh
  build-backend-with-noredist: any of: **/*.java, **/*.xml, **/*.sh
  build-backend-with-systemvm: any of: **/*.java, **/*.xml, **/*.sh
  build-backend-combined: any of: **/*.java, **/*.xml, **/*.sh

Permitir exclusão de _templates_ de _system_ VMs
  server/src/main/java/com/cloud/template/HypervisorTemplateAdapter.java
Due: build-backend-skip-tests, build-backend-with-test, build-backend-with-noredist, build-backend-with-systemvm, build-backend-combined

Consertar NPE no envio de emails de alerta
  server/src/main/java/com/cloud/alert/AlertManagerImpl.java
Due: build-backend-skip-tests, build-backend-with-test, build-backend-with-noredist, build-backend-with-systemvm, build-backend-combined

Configuração para desabilitar a validação de URL ao registrar _templates_/ISOs
  engine/components-api/src/main/java/com/cloud/template/TemplateManager.java
  server/src/main/java/com/cloud/template/HypervisorTemplateAdapter.java
  server/src/main/java/com/cloud/template/TemplateManagerImpl.java
  utils/src/main/java/com/cloud/utils/UriUtils.java
Due: build-backend-skip-tests, build-backend-with-test, build-backend-with-noredist, build-backend-with-systemvm, build-backend-combined

Externaliza propriedade nos Agents para permitir criar VMs como _full clone_
  agent/src/main/java/com/cloud/agent/properties/AgentProperties.java
  plugins/hypervisors/kvm/src/main/java/com/cloud/hypervisor/kvm/storage/LibvirtStorageAdaptor.java
Due: build-backend-skip-tests, build-backend-with-test, build-backend-with-noredist, build-backend-with-systemvm, build-backend-combined

Adicionar parâmetro `projectid` nas APIs da quota
  plugins/database/quota/src/main/java/org/apache/cloudstack/api/command/QuotaBalanceCmd.java
  plugins/database/quota/src/main/java/org/apache/cloudstack/api/command/QuotaCreditsCmd.java
  plugins/database/quota/src/main/java/org/apache/cloudstack/api/command/QuotaCreditsListCmd.java
  plugins/database/quota/src/main/java/org/apache/cloudstack/api/command/QuotaStatementCmd.java
  plugins/database/quota/src/main/java/org/apache/cloudstack/api/command/QuotaSummaryCmd.java
  plugins/database/quota/src/main/java/org/apache/cloudstack/api/response/QuotaResponseBuilderImpl.java
  plugins/database/quota/src/main/java/org/apache/cloudstack/quota/QuotaService.java
  plugins/database/quota/src/main/java/org/apache/cloudstack/quota/QuotaServiceImpl.java
  plugins/database/quota/src/test/java/org/apache/cloudstack/api/command/QuotaCreditsCmdTest.java
  plugins/database/quota/src/test/java/org/apache/cloudstack/api/response/QuotaResponseBuilderImplTest.java
  plugins/database/quota/src/test/java/org/apache/cloudstack/quota/QuotaServiceImplTest.java
  ui/src/components/view/ListView.vue
Due: lint-frontend, build-frontend, build-backend-skip-tests, build-backend-with-test, build-backend-with-noredist, build-backend-with-systemvm, build-backend-combined

Período padrão da estimativa de custo do Quota
  ui/src/components/view/stats/EstimatedCost.vue
Due: lint-frontend, build-frontend

Mostrar IOPS da _disk offering_ na UI
  ui/src/config/section/offering.js
Due: lint-frontend, build-frontend

Corrigir exceções no _bootstrap_
  framework/spring/module/src/main/java/org/apache/cloudstack/spring/module/model/impl/DefaultModuleDefinitionSet.java
Due: build-backend-skip-tests, build-backend-with-test, build-backend-with-noredist, build-backend-with-systemvm, build-backend-combined

Remover detalhes da infraestrutura apresentados ao usuário caso ocorra um erro de migração
  plugins/hypervisors/kvm/src/main/java/com/cloud/hypervisor/kvm/resource/wrapper/LibvirtMigrateCommandWrapper.java
Due: build-backend-skip-tests, build-backend-with-test, build-backend-with-noredist, build-backend-with-systemvm, build-backend-combined

Corrigir alteração do dono do volume
  server/src/main/java/com/cloud/storage/VolumeApiServiceImpl.java
  server/src/test/java/com/cloud/storage/VolumeApiServiceImplTest.java
Due: build-backend-skip-tests, build-backend-with-test, build-backend-with-noredist, build-backend-with-systemvm, build-backend-combined

Exibir métricas de rede das _system_ VMs
  ui/src/components/view/StatsTab.vue
Due: lint-frontend, build-frontend

Apresentar _disk offering_ utilizada para o _root disk_ no _wizard_ de _deploy_ de VMs
  ui/src/components/view/InfoCard.vue
  ui/src/views/compute/DeployVM.vue
Due: lint-frontend, build-frontend

Selecionar automaticamente a conta logada na seleção de dono do recurso
  ui/src/views/compute/wizard/OwnershipSelection.vue
  ui/src/views/network/IpAddressesTab.vue
  ui/src/views/network/VpcTiersTab.vue
Due: lint-frontend, build-frontend

Renomeação da API `quotaListPresetVariables` para `quotaPresetVariablesList`
  plugins/database/quota/src/main/java/org/apache/cloudstack/api/command/QuotaPresetVariablesListCmd.java
Due: build-backend-skip-tests, build-backend-with-test, build-backend-with-noredist, build-backend-with-systemvm, build-backend-combined

Corrigir descrição da API `moveUser` e de seus parâmetros
  api/src/main/java/org/apache/cloudstack/api/command/admin/user/MoveUserCmd.java
Due: build-backend-skip-tests, build-backend-with-test, build-backend-with-noredist, build-backend-with-systemvm, build-backend-combined

Habilitação da funcionalidade de _over-provisioning_ para _primary storages_ do tipo `SharedMountPoint`
  api/src/main/java/com/cloud/storage/Storage.java
  api/src/test/java/com/cloud/storage/StorageTest.java
Due: build-backend-skip-tests, build-backend-with-test, build-backend-with-noredist, build-backend-with-systemvm, build-backend-combined

Corrige o uso de _storages_ locais do tipo `VMFS`
  engine/storage/src/main/java/org/apache/cloudstack/storage/allocator/ZoneWideStoragePoolAllocator.java
Due: build-backend-skip-tests, build-backend-with-test, build-backend-with-noredist, build-backend-with-systemvm, build-backend-combined

Melhorar descrição da configuração `vm.allocation.algorithm`
  api/src/main/java/com/cloud/deploy/DeploymentClusterPlanner.java
  server/src/main/java/com/cloud/configuration/Config.java
  server/src/main/java/com/cloud/deploy/FirstFitPlanner.java
  server/src/test/java/com/cloud/vm/FirstFitPlannerTest.java
Due: build-backend-skip-tests, build-backend-with-test, build-backend-with-noredist, build-backend-with-systemvm, build-backend-combined

Adicionar reatividade à estimativa de Quota no _wizard_ de criação de VMs
  ui/src/components/view/stats/EstimatedCost.vue
Due: lint-frontend, build-frontend

Exibir _storage_ no qual o volume está alocado em mais telas
  ui/public/locales/en.json
  ui/public/locales/pt_BR.json
  ui/src/components/view/InstanceVolumesStoragePoolSelectListView.vue
  ui/src/components/view/VolumesTab.vue
  ui/src/views/storage/MigrateVolume.vue
Due: lint-frontend, build-frontend

Permitir que contas com o _plugin_ Quota desabilitado continuem acessando as APIs do Quota
  api/src/main/java/org/apache/cloudstack/api/BaseCmd.java
  api/src/main/java/org/apache/cloudstack/api/BaseListCmd.java
  framework/config/src/main/java/org/apache/cloudstack/framework/config/PluginAccessConfigs.java
  framework/quota/src/main/java/org/apache/cloudstack/quota/constant/QuotaConfig.java
  plugins/api/discovery/src/main/java/org/apache/cloudstack/discovery/ApiDiscoveryServiceImpl.java
  plugins/database/quota/src/main/java/org/apache/cloudstack/api/command/QuotaBalanceCmd.java
  plugins/database/quota/src/main/java/org/apache/cloudstack/api/command/QuotaBaseCmd.java
  plugins/database/quota/src/main/java/org/apache/cloudstack/api/command/QuotaBaseListCmd.java
  plugins/database/quota/src/main/java/org/apache/cloudstack/api/command/QuotaConfigureEmailCmd.java
  plugins/database/quota/src/main/java/org/apache/cloudstack/api/command/QuotaCreditsCmd.java
  plugins/database/quota/src/main/java/org/apache/cloudstack/api/command/QuotaCreditsListCmd.java
  plugins/database/quota/src/main/java/org/apache/cloudstack/api/command/QuotaEmailTemplateListCmd.java
  plugins/database/quota/src/main/java/org/apache/cloudstack/api/command/QuotaEmailTemplateUpdateCmd.java
  plugins/database/quota/src/main/java/org/apache/cloudstack/api/command/QuotaResourceQuotingCmd.java
  plugins/database/quota/src/main/java/org/apache/cloudstack/api/command/QuotaStatementCmd.java
  plugins/database/quota/src/main/java/org/apache/cloudstack/api/command/QuotaStatementDetailsCmd.java
  plugins/database/quota/src/main/java/org/apache/cloudstack/api/command/QuotaSummaryCmd.java
  plugins/database/quota/src/main/java/org/apache/cloudstack/api/command/QuotaTariffCreateCmd.java
  plugins/database/quota/src/main/java/org/apache/cloudstack/api/command/QuotaTariffDeleteCmd.java
  plugins/database/quota/src/main/java/org/apache/cloudstack/api/command/QuotaTariffListCmd.java
  plugins/database/quota/src/main/java/org/apache/cloudstack/api/command/QuotaTariffStatementCmd.java
  plugins/database/quota/src/main/java/org/apache/cloudstack/api/command/QuotaTariffUpdateCmd.java
  plugins/database/quota/src/main/java/org/apache/cloudstack/api/command/QuotaUpdateCmd.java
  server/src/main/java/com/cloud/api/ApiDBUtils.java
  server/src/main/java/com/cloud/api/dispatch/SpecificCmdValidationWorker.java
  server/src/main/java/com/cloud/api/query/dao/ProjectJoinDaoImpl.java
  server/src/test/java/com/cloud/api/dispatch/SpecificCmdValidationWorkerTest.java
Due: build-backend-skip-tests, build-backend-with-test, build-backend-with-noredist, build-backend-with-systemvm, build-backend-combined

Filtrar volumes na UI pelo estado _Migrating_
  ui/src/components/view/SearchView.vue
Due: lint-frontend, build-frontend

Corrigir ordenação de _secondary storages_ com o algoritmo `firstfitleastconsumed`
  engine/storage/image/src/main/java/org/apache/cloudstack/storage/image/manager/ImageStoreProviderManagerImpl.java
Due: build-backend-skip-tests, build-backend-with-test, build-backend-with-noredist, build-backend-with-systemvm, build-backend-combined

Atualizar tarifas do Quota com unidade incorreta
  engine/schema/src/main/resources/META-INF/db/schema-41806to41807.sql
Due: none

Corrigir alocação de VMs com múltiplos _clusters_
  plugins/host-allocators/random/src/main/java/com/cloud/agent/manager/allocator/impl/RandomAllocator.java
  server/src/main/java/com/cloud/agent/manager/allocator/impl/FirstFitAllocator.java
  server/src/main/java/com/cloud/agent/manager/allocator/impl/RecreateHostAllocator.java
  server/src/main/java/com/cloud/deploy/DeploymentPlanningManagerImpl.java
  server/src/main/java/com/cloud/deploy/FirstFitPlanner.java
  server/src/main/java/com/cloud/server/ManagementServerImpl.java
Due: build-backend-skip-tests, build-backend-with-test, build-backend-with-noredist, build-backend-with-systemvm, build-backend-combined

Permitir configuração manual das _flags_ envolvidas em uma migração KVM
  agent/conf/agent.properties
  agent/src/main/java/com/cloud/agent/properties/AgentProperties.java
  plugins/hypervisors/kvm/src/main/java/com/cloud/hypervisor/kvm/resource/MigrateKVMAsync.java
  plugins/hypervisors/kvm/src/test/java/com/cloud/hypervisor/kvm/resource/MigrateKVMAsyncTest.java
Due: build-backend-skip-tests, build-backend-with-test, build-backend-with-noredist, build-backend-with-systemvm, build-backend-combined

Externalize hostname path
  agent/conf/agent.properties
  agent/src/main/java/com/cloud/agent/properties/AgentProperties.java
  plugins/storage/volume/linstor/src/main/java/com/cloud/hypervisor/kvm/storage/LinstorStorageAdaptor.java
Due: build-backend-skip-tests, build-backend-with-test, build-backend-with-noredist, build-backend-with-systemvm, build-backend-combined

Revert "Merge branch 'fix-use-of-vmfs-local-storage' into '4.18.0.0-scclouds'"
  engine/storage/src/main/java/org/apache/cloudstack/storage/allocator/ZoneWideStoragePoolAllocator.java
Due: build-backend-skip-tests, build-backend-with-test, build-backend-with-noredist, build-backend-with-systemvm, build-backend-combined

Fix volume allocation on local VMFS and add logs
  engine/storage/src/main/java/org/apache/cloudstack/storage/allocator/AbstractStoragePoolAllocator.java
Due: build-backend-skip-tests, build-backend-with-test, build-backend-with-noredist, build-backend-with-systemvm, build-backend-combined

Atualizar configuração `vpc.max.networks` e colocá-la à nível de _cluster_
  engine/components-api/src/main/java/com/cloud/network/vpc/VpcManager.java
  server/src/main/java/com/cloud/api/query/dao/DomainRouterJoinDao.java
  server/src/main/java/com/cloud/api/query/dao/DomainRouterJoinDaoImpl.java
  server/src/main/java/com/cloud/configuration/Config.java
  server/src/main/java/com/cloud/network/vpc/VpcManagerImpl.java
  server/src/test/java/com/cloud/network/vpc/VpcManagerImplTest.java
Due: build-backend-skip-tests, build-backend-with-test, build-backend-with-noredist, build-backend-with-systemvm, build-backend-combined

Correção na apresentação da descrição de tarifas do Quota
  ui/src/components/view/DetailsTab.vue
Due: lint-frontend, build-frontend

Adicionar regras de uso de 2FA para _roles_ padrões
  engine/schema/src/main/java/com/cloud/upgrade/DatabaseUpgradeChecker.java
  engine/schema/src/main/java/com/cloud/upgrade/dao/Upgrade41807to41808.java
  engine/schema/src/main/resources/META-INF/db/schema-41807to41808.sql
Due: build-backend-skip-tests, build-backend-with-test, build-backend-with-noredist, build-backend-with-systemvm, build-backend-combined

Correção do erro 404 ao mover VMs para fora de projetos
  ui/src/views/compute/AssignInstance.vue
Due: lint-frontend, build-frontend

Permitir editar redes L2
  api/src/main/java/org/apache/cloudstack/api/ApiConstants.java
  api/src/main/java/org/apache/cloudstack/api/command/user/network/UpdateNetworkCmd.java
  server/src/main/java/com/cloud/network/NetworkServiceImpl.java
  server/src/main/java/com/cloud/vm/UserVmManagerImpl.java
  ui/public/locales/en.json
  ui/public/locales/pt_BR.json
  ui/src/views/compute/InstanceTab.vue
  ui/src/views/compute/wizard/NetworkConfiguration.vue
  ui/src/views/network/CreateL2NetworkForm.vue
  ui/src/views/network/UpdateNetwork.vue
Due: lint-frontend, build-frontend, build-backend-skip-tests, build-backend-with-test, build-backend-with-noredist, build-backend-with-systemvm, build-backend-combined

Limpar VM sem volumes do vCenter ao final do processo de _expunge_
  core/src/main/java/com/cloud/agent/api/CleanupVMCommand.java
  plugins/hypervisors/vmware/src/main/java/com/cloud/hypervisor/guru/VMwareGuru.java
  plugins/hypervisors/vmware/src/main/java/com/cloud/hypervisor/vmware/resource/VmwareResource.java
Due: build-backend-skip-tests, build-backend-with-test, build-backend-with-noredist, build-backend-with-systemvm, build-backend-combined

Limitar visibilidade na API `listRoles`
  plugins/network-elements/juniper-contrail/src/test/java/org/apache/cloudstack/network/contrail/management/MockAccountManager.java
  server/src/main/java/com/cloud/user/AccountManager.java
  server/src/main/java/com/cloud/user/AccountManagerImpl.java
  server/src/main/java/org/apache/cloudstack/acl/RoleManagerImpl.java
  server/src/test/java/com/cloud/user/MockAccountManagerImpl.java
  server/src/test/java/org/apache/cloudstack/acl/RoleManagerImplTest.java
Due: build-backend-skip-tests, build-backend-with-test, build-backend-with-noredist, build-backend-with-systemvm, build-backend-combined

Port das alterações do PR do suporte ao cgroupv2
  engine/storage/datamotion/src/main/java/org/apache/cloudstack/storage/motion/StorageSystemDataMotionStrategy.java
Due: build-backend-skip-tests, build-backend-with-test, build-backend-with-noredist, build-backend-with-systemvm, build-backend-combined

Dados de _burst_ nas _disk offerings_
  ui/public/locales/en.json
  ui/public/locales/pt_BR.json
  ui/src/config/section/offering.js
Due: lint-frontend, build-frontend

_Download_ de _snapshots_
  api/src/main/java/com/cloud/event/EventTypes.java
  api/src/main/java/com/cloud/storage/Upload.java
  api/src/main/java/com/cloud/storage/snapshot/SnapshotApiService.java
  api/src/main/java/org/apache/cloudstack/api/ResponseGenerator.java
  api/src/main/java/org/apache/cloudstack/api/command/user/iso/ExtractIsoCmd.java
  api/src/main/java/org/apache/cloudstack/api/command/user/snapshot/ExtractSnapshotCmd.java
  api/src/main/java/org/apache/cloudstack/api/command/user/template/ExtractTemplateCmd.java
  engine/schema/src/main/java/org/apache/cloudstack/storage/datastore/db/SnapshotDataStoreVO.java
  engine/schema/src/main/resources/META-INF/db/schema-41807to41808.sql
  server/src/main/java/com/cloud/api/ApiResponseHelper.java
  server/src/main/java/com/cloud/configuration/Config.java
  server/src/main/java/com/cloud/server/ManagementServerImpl.java
  server/src/main/java/com/cloud/storage/snapshot/SnapshotManagerImpl.java
  server/src/main/java/com/cloud/template/TemplateManagerImpl.java
  ui/public/locales/en.json
  ui/public/locales/pt_BR.json
  ui/src/config/section/storage.js
Due: lint-frontend, build-frontend, build-backend-skip-tests, build-backend-with-test, build-backend-with-noredist, build-backend-with-systemvm, build-backend-combined

Correção de _link_ para volumes removidos sendo exibido no detalhamento da _snapshot_
  ui/src/components/view/InfoCard.vue
Due: lint-frontend, build-frontend
