Repository scclouds/cloudstack: changes, and which GitLab CI jobs are due for each by the changed paths.
All: lint-frontend, build-frontend, build-backend-skip-tests, build-backend-with-test, build-backend-with-noredist, build-backend-with-systemvm, build-backend-combined

lint-frontend:
  before_script:
  - cd ui
  - npm ci --cache .npm --prefer-offline
  stage: lint
  tags:
  - cloudstack
  script:
  - echo "Starting front-end linting..."
  - npx vue-cli-service lint --no-fix
  - echo "Front-end linting done."

build-frontend:
  before_script:
  - cd ui
  - npm ci --cache .npm --prefer-offline
  stage: build
  needs:
  - lint-frontend
  tags:
  - cloudstack
  script:
  - echo "Building frontend..."
  - npm run build
  - echo "Done building frontend."

build-backend-skip-tests:
  stage: build
  tags:
  - cloudstack
  script:
  - echo "Building backend with 'mvn clean install -DskipTests'..."
  - mvn clean install -DskipTests
  - echo "Done building backend with 'mvn clean install -DskipTests'."

build-backend-with-test:
  stage: build
  tags:
  - cloudstack
  script:
  - echo "Building backend with 'mvn clean install'..."
  - mvn clean install
  - echo "Done building backend with 'mvn clean install'."

build-backend-with-noredist:
  stage: build
  tags:
  - cloudstack
  script:
  - echo "Building backend with 'mvn clean install -Dnoredist'..."
  - mvn clean install -Dnoredist
  - echo "Done building backend with 'mvn clean install -Dnoredist'."

build-backend-with-systemvm:
  stage: build
  tags:
  - cloudstack
  script:
  - echo "Building backend with 'mvn clean install -Psystemvm,developer -Dsystemvm'..."
  - mvn clean install -Psystemvm,developer -Dsystemvm
  - echo "Done building backend with 'mvn clean install -Psystemvm,developer -Dsystemvm'."

build-backend-combined:
  stage: build
  tags:
  - cloudstack
  script:
  - echo "Building backend with 'mvn clean install -Dnoredist -Psystemvm,developer -Dsystemvm'..."
  - mvn clean install -Dnoredist -Psystemvm,developer -Dsystemvm
  - echo "Done building backend with 'mvn clean install -Dnoredist -Psystemvm,developer -Dsystemvm'"

Alteração no valor da configuração `vmSnapshot.strategies.exclude`
  core/src/main/resources/META-INF/cloudstack/core/spring-core-registry-core-context.xml
  engine/schema/src/main/resources/META-INF/db/schema-42002to42003.sql
Due: build-backend-skip-tests, build-backend-with-test, build-backend-with-noredist, build-backend-with-systemvm, build-backend-combined

Alteração da biblioteca padrão de gerenciamento de _pools_ de conexões com o banco de dados
  framework/db/src/main/java/com/cloud/utils/db/TransactionLegacy.java
Due: build-backend-skip-tests, build-backend-with-test, build-backend-with-noredist, build-backend-with-systemvm, build-backend-combined

Fix incorrect query in DB upgrade script
  engine/schema/src/main/resources/META-INF/db/schema-42002to42003.sql
Due: none

Correção do schema do MR !1204
  engine/schema/src/main/resources/META-INF/db/schema-42001to42002.sql
  engine/schema/src/main/resources/META-INF/db/schema-42002to42003.sql
Due: none

Criação de propriedade para definição de CPU _features_ para _system_ VMs com o KVM
  agent/conf/agent.properties
  agent/src/main/java/com/cloud/agent/properties/AgentProperties.java
  plugins/hypervisors/kvm/src/main/java/com/cloud/hypervisor/kvm/resource/LibvirtComputingResource.java
  plugins/hypervisors/kvm/src/test/java/com/cloud/hypervisor/kvm/resource/LibvirtComputingResourceTest.java
Due: build-backend-skip-tests, build-backend-with-test, build-backend-with-noredist, build-backend-with-systemvm, build-backend-combined

Funcionalidade de ofertas de computação segregadas por plano de _clusters_ Kubernetes
  api/src/main/java/com/cloud/kubernetes/cluster/KubernetesServiceHelper.java
  api/src/main/java/com/cloud/vm/VmDetailConstants.java
  api/src/main/java/org/apache/cloudstack/api/ApiConstants.java
  engine/schema/src/main/resources/META-INF/db/schema-42002to42003.sql
  plugins/integrations/kubernetes-service/src/main/java/com/cloud/kubernetes/cluster/KubernetesCluster.java
  plugins/integrations/kubernetes-service/src/main/java/com/cloud/kubernetes/cluster/KubernetesClusterManagerImpl.java
  plugins/integrations/kubernetes-service/src/main/java/com/cloud/kubernetes/cluster/KubernetesClusterVO.java
  plugins/integrations/kubernetes-service/src/main/java/com/cloud/kubernetes/cluster/KubernetesServiceHelperImpl.java
  plugins/integrations/kubernetes-service/src/main/java/com/cloud/kubernetes/cluster/actionworkers/KubernetesClusterActionWorker.java
  plugins/integrations/kubernetes-service/src/main/java/com/cloud/kubernetes/cluster/actionworkers/KubernetesClusterResourceModifierActionWorker.java
  plugins/integrations/kubernetes-service/src/main/java/com/cloud/kubernetes/cluster/actionworkers/KubernetesClusterScaleWorker.java
  plugins/integrations/kubernetes-service/src/main/java/com/cloud/kubernetes/cluster/actionworkers/KubernetesClusterStartWorker.java
  plugins/integrations/kubernetes-service/src/main/java/com/cloud/kubernetes/cluster/dao/KubernetesClusterVmMapDao.java
  plugins/integrations/kubernetes-service/src/main/java/com/cloud/kubernetes/cluster/dao/KubernetesClusterVmMapDaoImpl.java
  plugins/integrations/kubernetes-service/src/main/java/org/apache/cloudstack/api/command/user/kubernetes/cluster/CreateKubernetesClusterCmd.java
  plugins/integrations/kubernetes-service/src/main/java/org/apache/cloudstack/api/command/user/kubernetes/cluster/ScaleKubernetesClusterCmd.java
  plugins/integrations/kubernetes-service/src/main/java/org/apache/cloudstack/api/response/KubernetesClusterResponse.java
  plugins/integrations/kubernetes-service/src/test/java/com/cloud/kubernetes/cluster/KubernetesClusterManagerImplTest.java
  plugins/integrations/kubernetes-service/src/test/java/com/cloud/kubernetes/cluster/KubernetesServiceHelperImplTest.java
  plugins/integrations/kubernetes-service/src/test/java/com/cloud/kubernetes/cluster/actionworkers/KubernetesClusterScaleWorkerTest.java
  ui/public/locales/en.json
  ui/public/locales/pt_BR.json
  ui/src/components/view/InfoCard.vue
  ui/src/views/compute/CreateKubernetesCluster.vue
  ui/src/views/compute/ScaleKubernetesCluster.vue
Due: lint-frontend, build-frontend, build-backend-skip-tests, build-backend-with-test, build-backend-with-noredist, build-backend-with-systemvm, build-backend-combined

Revert "Merge branch 'fix-storage-option-when-migrating-vm-with-volume' into '4.20.0.0-scclouds'"
  ui/src/components/view/StoragePoolSelectView.vue
Due: lint-frontend, build-frontend

Substituição do logotipo kubernetes na interface gráfica
  ui/src/assets/icons/kubernetes.svg
  ui/src/components/header/CreateMenu.vue
  ui/src/config/section/compute.js
  ui/src/config/section/image.js
  ui/src/utils/renderIcon.js
Due: lint-frontend, build-frontend

Correção do processamento de tarifa de tipo `SNAPSHOT` quando a _snapshot_ foi removida
  framework/quota/src/main/java/org/apache/cloudstack/quota/activationrule/presetvariables/PresetVariableHelper.java
  framework/quota/src/test/java/org/apache/cloudstack/quota/activationrule/presetvariables/PresetVariableHelperTest.java
Due: build-backend-skip-tests, build-backend-with-test, build-backend-with-noredist, build-backend-with-systemvm, build-backend-combined

Fix normal user being able to update domain and his account resource limits
  server/src/main/java/com/cloud/resourcelimit/ResourceLimitManagerImpl.java
Due: build-backend-skip-tests, build-backend-with-test, build-backend-with-noredist, build-backend-with-systemvm, build-backend-combined

fix state in VR nic tab
  engine/schema/src/main/resources/META-INF/db/views/cloud.domain_router_view.sql
  server/src/main/java/com/cloud/api/query/dao/DomainRouterJoinDaoImpl.java
  server/src/main/java/com/cloud/api/query/vo/DomainRouterJoinVO.java
Due: build-backend-skip-tests, build-backend-with-test, build-backend-with-noredist, build-backend-with-systemvm, build-backend-combined

Correção no _script_ de _upgrade_
  engine/schema/src/main/resources/META-INF/db/schema-42002to42003.sql
Due: none

ajusta link templates
  api/src/main/java/org/apache/cloudstack/api/response/UserVmResponse.java
  api/src/main/java/org/apache/cloudstack/api/response/VolumeResponse.java
  engine/schema/src/main/resources/META-INF/db/views/cloud.volume_view.sql
  server/src/main/java/com/cloud/api/query/dao/TemplateJoinDaoImpl.java
  server/src/main/java/com/cloud/api/query/dao/UserVmJoinDaoImpl.java
  server/src/main/java/com/cloud/api/query/dao/VolumeJoinDaoImpl.java
  server/src/main/java/com/cloud/api/query/vo/VolumeJoinVO.java
  ui/public/locales/en.json
  ui/public/locales/pt_BR.json
  ui/src/components/view/InfoCard.vue
  ui/src/utils/links.js
Due: lint-frontend, build-frontend, build-backend-skip-tests, build-backend-with-test, build-backend-with-noredist, build-backend-with-systemvm, build-backend-combined

Show ISO URL on Kubernetes ISO details
  api/src/main/java/org/apache/cloudstack/api/ApiConstants.java
  plugins/integrations/kubernetes-service/src/main/java/com/cloud/kubernetes/version/KubernetesVersionManagerImpl.java
  plugins/integrations/kubernetes-service/src/main/java/org/apache/cloudstack/api/response/KubernetesSupportedVersionResponse.java
  plugins/integrations/kubernetes-service/src/test/java/com/cloud/kubernetes/version/KubernetesVersionServiceTest.java
  ui/public/locales/en.json
  ui/public/locales/pt_BR.json
  ui/src/config/section/image.js
Due: lint-frontend, build-frontend, build-backend-skip-tests, build-backend-with-test, build-backend-with-noredist, build-backend-with-systemvm, build-backend-combined

Fix details page of removed tariffs
  ui/src/components/view/ListView.vue
Due: lint-frontend, build-frontend

Correção na população do arquivo de metadados das VMs e `.htaccess` nos VRs
  systemvm/debian/opt/cloud/bin/configure.py
Due: none

Reverte o !1037
  server/src/main/java/org/apache/cloudstack/backup/BackupManagerImpl.java
Due: build-backend-skip-tests, build-backend-with-test, build-backend-with-noredist, build-backend-with-systemvm, build-backend-combined

Correção da validação de acesso a domínios na API `listConsoleSessions`
  api/src/main/java/org/apache/cloudstack/api/command/admin/consoleproxy/ListConsoleSessionsCmd.java
  server/src/main/java/org/apache/cloudstack/consoleproxy/ConsoleAccessManagerImpl.java
  server/src/test/java/org/apache/cloudstack/consoleproxy/ConsoleAccessManagerImplTest.java
Due: build-backend-skip-tests, build-backend-with-test, build-backend-with-noredist, build-backend-with-systemvm, build-backend-combined

Correção de metadados de _backups_ KNIB e desenfileiramento de comandos
  core/src/main/java/org/apache/cloudstack/backup/RestoreKnibBackupCommand.java
  core/src/main/java/org/apache/cloudstack/backup/TakeKnibBackupCommand.java
  engine/schema/src/main/resources/META-INF/db/schema-42003to42004.sql
  plugins/backup/knib/src/main/java/org/apache/cloudstack/backup/KnibBackupProvider.java
Due: build-backend-skip-tests, build-backend-with-test, build-backend-with-noredist, build-backend-with-systemvm, build-backend-combined

Adição de checagens no uso de _bitmaps_
  plugins/hypervisors/kvm/src/main/java/com/cloud/hypervisor/kvm/storage/LibvirtStorageAdaptor.java
  plugins/hypervisors/kvm/src/main/java/org/apache/cloudstack/utils/qemu/QemuImg.java
  services/secondary-storage/server/src/main/java/org/apache/cloudstack/storage/formatinspector/Qcow2Inspector.java
Due: build-backend-skip-tests, build-backend-with-test, build-backend-with-noredist, build-backend-with-systemvm, build-backend-combined

Correção na lógica de _disk-only VM snapshots_
  engine/schema/src/main/java/com/cloud/vm/snapshot/dao/VMSnapshotDao.java
  engine/schema/src/main/java/com/cloud/vm/snapshot/dao/VMSnapshotDaoImpl.java
  engine/storage/snapshot/src/main/java/org/apache/cloudstack/storage/vmsnapshot/KvmFileBasedStorageVmSnapshotStrategy.java
Due: build-backend-skip-tests, build-backend-with-test, build-backend-with-noredist, build-backend-with-systemvm, build-backend-combined

Adição de configuração de _timeout_ em operações de _backup_ com KNIB
  agent/conf/agent.properties
  agent/src/main/java/com/cloud/agent/properties/AgentProperties.java
  core/src/main/java/org/apache/cloudstack/storage/to/BackupDeltaTO.java
  core/src/main/java/org/apache/cloudstack/storage/to/DeltaMergeTreeTO.java
  core/src/main/java/org/apache/cloudstack/storage/to/KnibTO.java
  plugins/backup/knib/src/main/java/org/apache/cloudstack/backup/KnibBackupProvider.java
  plugins/backup/knib/src/test/java/org/apache/cloudstack/backup/KnibBackupProviderTest.java
  plugins/hypervisors/kvm/src/main/java/com/cloud/hypervisor/kvm/resource/BlockCommitListener.java
  plugins/hypervisors/kvm/src/main/java/com/cloud/hypervisor/kvm/resource/LibvirtComputingResource.java
  plugins/hypervisors/kvm/src/main/java/com/cloud/hypervisor/kvm/resource/wrapper/LibvirtRestoreKnibBackupCommandWrapper.java
  plugins/hypervisors/kvm/src/main/java/com/cloud/hypervisor/kvm/resource/wrapper/LibvirtTakeKnibBackupCommandWrapper.java
  plugins/hypervisors/kvm/src/main/java/com/cloud/hypervisor/kvm/storage/KVMStorageProcessor.java
  plugins/hypervisors/kvm/src/test/java/com/cloud/hypervisor/kvm/resource/LibvirtComputingResourceTest.java
Due: build-backend-skip-tests, build-backend-with-test, build-backend-with-noredist, build-backend-with-systemvm, build-backend-combined

Correção da deleção de agendamentos de _backups_
  api/src/main/java/org/apache/cloudstack/api/command/user/backup/DeleteBackupScheduleCmd.java
  api/src/main/java/org/apache/cloudstack/api/response/BackupScheduleResponse.java
  api/src/main/java/org/apache/cloudstack/backup/BackupManager.java
  api/src/main/java/org/apache/cloudstack/backup/BackupSchedule.java
  engine/schema/src/main/java/org/apache/cloudstack/backup/BackupScheduleVO.java
  engine/schema/src/main/java/org/apache/cloudstack/backup/dao/BackupScheduleDaoImpl.java
  engine/schema/src/main/resources/META-INF/db/schema-42003to42004.sql
  server/src/main/java/org/apache/cloudstack/backup/BackupManagerImpl.java
  server/src/test/java/org/apache/cloudstack/backup/BackupManagerTest.java
  ui/src/views/compute/backup/BackupSchedule.vue
Due: lint-frontend, build-frontend, build-backend-skip-tests, build-backend-with-test, build-backend-with-noredist, build-backend-with-systemvm, build-backend-combined

Desenfileiramento de comandos de _disk-only_ VM _snapshot_
  core/src/main/java/com/cloud/agent/api/storage/DeleteDiskOnlyVmSnapshotCommand.java
  core/src/main/java/com/cloud/agent/api/storage/MergeDiskOnlyVmSnapshotCommand.java
  core/src/main/java/com/cloud/agent/api/storage/RevertDiskOnlyVmSnapshotCommand.java
Due: build-backend-skip-tests, build-backend-with-test, build-backend-with-noredist, build-backend-with-systemvm, build-backend-combined

Adição de avisos na GUI ao criar _snapshot_ de volume não incremental e ao deletar _snapshot_ _disk-only_ de VM
  api/src/main/java/org/apache/cloudstack/api/ApiConstants.java
  api/src/main/java/org/apache/cloudstack/api/response/VMSnapshotResponse.java
  server/src/main/java/com/cloud/api/ApiDBUtils.java
  server/src/main/java/com/cloud/api/ApiResponseHelper.java
  ui/public/locales/en.json
  ui/public/locales/pt_BR.json
  ui/src/views/AutogenView.vue
  ui/src/views/storage/TakeSnapshot.vue
Due: lint-frontend, build-frontend, build-backend-skip-tests, build-backend-with-test, build-backend-with-noredist, build-backend-with-systemvm, build-backend-combined

Refatoração dos _logs_ do fluxo de migração de VM no KVM
  engine/orchestration/src/main/java/com/cloud/vm/VirtualMachineManagerImpl.java
  plugins/hypervisors/kvm/src/main/java/com/cloud/hypervisor/kvm/resource/wrapper/LibvirtMigrateCommandWrapper.java
Due: build-backend-skip-tests, build-backend-with-test, build-backend-with-noredist, build-backend-with-systemvm, build-backend-combined

Correção de valores na aba `Backups` de VMs
  ui/src/components/view/ListResourceTable.vue
Due: lint-frontend, build-frontend

Remoção de notificação de nova versão
  ui/src/components/page/GlobalFooter.vue
Due: lint-frontend, build-frontend

Incremento nos eventos gerados ao reverter um _snapshot_
  server/src/main/java/com/cloud/storage/snapshot/SnapshotManagerImpl.java
  server/src/test/java/com/cloud/storage/snapshot/SnapshotManagerTest.java
Due: build-backend-skip-tests, build-backend-with-test, build-backend-with-noredist, build-backend-with-systemvm, build-backend-combined

Adição de suporte aos parâmetros `quickrestore` e `hostid` para as APIs `restoreBackup` e `restoreVolumeFromBackupAndAttachToVM` na GUI
  ui/public/locales/en.json
  ui/public/locales/pt_BR.json
  ui/src/config/section/storage.js
  ui/src/views/AutogenView.vue
  ui/src/views/storage/RestoreAttachBackupVolume.vue
Due: lint-frontend, build-frontend

Adição do parâmetro `quiescevm` para agendamentos de _backups_
  api/src/main/java/org/apache/cloudstack/api/command/user/backup/CreateBackupScheduleCmd.java
  api/src/main/java/org/apache/cloudstack/api/response/BackupScheduleResponse.java
  api/src/main/java/org/apache/cloudstack/backup/BackupSchedule.java
  engine/schema/src/main/java/org/apache/cloudstack/backup/BackupScheduleVO.java
  engine/schema/src/main/java/org/apache/cloudstack/backup/dao/BackupScheduleDaoImpl.java
  engine/schema/src/main/resources/META-INF/db/schema-42003to42004.sql
  server/src/main/java/org/apache/cloudstack/backup/BackupManagerImpl.java
  ui/src/views/compute/backup/BackupSchedule.vue
  ui/src/views/compute/backup/FormSchedule.vue
Due: lint-frontend, build-frontend, build-backend-skip-tests, build-backend-with-test, build-backend-with-noredist, build-backend-with-systemvm, build-backend-combined

Correção da informação de tamanho das _snapshots_ de volumes
  engine/storage/snapshot/src/main/java/org/apache/cloudstack/storage/snapshot/SnapshotObject.java
Due: build-backend-skip-tests, build-backend-with-test, build-backend-with-noredist, build-backend-with-systemvm, build-backend-combined

Correção do fluxo da preset variable `configuration.forceHa`
  framework/quota/src/main/java/org/apache/cloudstack/quota/activationrule/presetvariables/PresetVariableHelper.java
Due: build-backend-skip-tests, build-backend-with-test, build-backend-with-noredist, build-backend-with-systemvm, build-backend-combined

Otimizações na listagem e remoção de eventos
  api/src/main/java/org/apache/cloudstack/api/command/user/event/DeleteEventsCmd.java
  api/src/main/java/org/apache/cloudstack/api/command/user/event/ListEventsCmd.java
  engine/schema/src/main/java/com/cloud/event/dao/EventDao.java
  engine/schema/src/main/java/com/cloud/event/dao/EventDaoImpl.java
  engine/schema/src/main/java/com/cloud/upgrade/dao/Upgrade42003to42004.java
  server/src/main/java/com/cloud/api/query/QueryManagerImpl.java
  server/src/main/java/com/cloud/configuration/ConfigurationManagerImpl.java
  server/src/main/java/com/cloud/server/ManagementServerImpl.java
Due: build-backend-skip-tests, build-backend-with-test, build-backend-with-noredist, build-backend-with-systemvm, build-backend-combined

Add licenses
  engine/schema/src/main/java/org/apache/cloudstack/backup/NativeBackupJoinVO.java
  vmware-base/src/test/java/com/cloud/hypervisor/vmware/mo/VirtualMachineDiskInfoBuilderTest.java
Due: build-backend-skip-tests, build-backend-with-test, build-backend-with-noredist, build-backend-with-systemvm, build-backend-combined

Retenção de _backups_ para políticas de agendamento
  api/src/main/java/org/apache/cloudstack/api/ApiConstants.java
  api/src/main/java/org/apache/cloudstack/api/command/user/backup/CreateBackupCmd.java
  api/src/main/java/org/apache/cloudstack/api/command/user/backup/CreateBackupScheduleCmd.java
  api/src/main/java/org/apache/cloudstack/api/response/BackupScheduleResponse.java
  api/src/main/java/org/apache/cloudstack/backup/Backup.java
  api/src/main/java/org/apache/cloudstack/backup/BackupManager.java
  api/src/main/java/org/apache/cloudstack/backup/BackupProvider.java
  api/src/main/java/org/apache/cloudstack/backup/BackupSchedule.java
  engine/schema/src/main/java/org/apache/cloudstack/backup/BackupScheduleVO.java
  engine/schema/src/main/java/org/apache/cloudstack/backup/BackupVO.java
  engine/schema/src/main/java/org/apache/cloudstack/backup/dao/BackupDao.java
  engine/schema/src/main/java/org/apache/cloudstack/backup/dao/BackupDaoImpl.java
  engine/schema/src/main/java/org/apache/cloudstack/backup/dao/BackupScheduleDaoImpl.java
  engine/schema/src/main/resources/META-INF/db/schema-42003to42004.sql
  plugins/backup/dummy/src/main/java/org/apache/cloudstack/backup/DummyBackupProvider.java
  plugins/backup/knib/src/main/java/org/apache/cloudstack/backup/KnibBackupProvider.java
  plugins/backup/nas/src/main/java/org/apache/cloudstack/backup/NASBackupProvider.java
  plugins/backup/networker/src/main/java/org/apache/cloudstack/backup/NetworkerBackupProvider.java
  plugins/backup/networker/src/main/java/org/apache/cloudstack/backup/networker/NetworkerClient.java
  plugins/backup/networker/src/test/java/org/apache/backup/networker/NetworkerClientTest.java
  plugins/backup/veeam/src/main/java/org/apache/cloudstack/backup/VeeamBackupProvider.java
  server/src/main/java/com/cloud/api/dispatch/ParamGenericValidationWorker.java
  server/src/main/java/org/apache/cloudstack/backup/BackupManagerImpl.java
  server/src/test/java/org/apache/cloudstack/backup/BackupManagerTest.java
  ui/src/views/compute/backup/BackupSchedule.vue
  ui/src/views/compute/backup/FormSchedule.vue
Due: lint-frontend, build-frontend, build-backend-skip-tests, build-backend-with-test, build-backend-with-noredist, build-backend-with-systemvm, build-backend-combined

Correção na cópia de _snapshots_ incrementais entre zonas
  engine/storage/snapshot/src/main/java/org/apache/cloudstack/storage/snapshot/DefaultSnapshotStrategy.java
  engine/storage/snapshot/src/test/java/org/apache/cloudstack/storage/snapshot/DefaultSnapshotStrategyTest.java
  server/src/main/java/com/cloud/storage/snapshot/SnapshotManagerImpl.java
Due: build-backend-skip-tests, build-backend-with-test, build-backend-with-noredist, build-backend-with-systemvm, build-backend-combined

Correção de listagem não autorizada de temas da UI
  api/src/main/java/org/apache/cloudstack/api/command/user/gui/theme/ListGuiThemesCmd.java
  server/src/main/java/org/apache/cloudstack/gui/theme/GuiThemeServiceImpl.java
  server/src/test/java/org/apache/cloudstack/gui/theme/GuiThemeServiceImplTest.java
Due: build-backend-skip-tests, build-backend-with-test, build-backend-with-noredist, build-backend-with-systemvm, build-backend-combined

Path conditions:
  lint-frontend: any of: ui/**/*
  build-frontend: any of: ui/**/*
  build-backend-skip-tests: any of: **/*.java, **/*.xml, **/*.sh
  build-backend-with-test: any of: **/*.java, **/*.xml, **/*.sh
  build-backend-with-noredist: any of: **/*.java, **/*.xml, **/*.sh
  build-backend-with-systemvm: any of: **/*.java, **/*.xml, **/*.sh
  build-backend-combined: any of: **/*.java, **/*.xml, **/*.sh
