Repository scclouds/cloudstack: changes, and which GitLab CI jobs are due for each by the changed paths.
All: lint-frontend, build-frontend, build-backend-skip-tests, build-backend-with-test, build-backend-with-noredist, build-backend-with-systemvm, build-backend-combined

Path conditions:
  lint-frontend: any of: ui/**/*
  build-frontend: any of: ui/**/*
  build-backend-skip-tests: any of: **/*.java, **/*.xml, **/*.sh
  build-backend-with-test: any of: **/*.java, **/*.xml, **/*.sh
  build-backend-with-noredist: any of: **/*.java, **/*.xml, **/*.sh
  build-backend-with-systemvm: any of: **/*.java, **/*.xml, **/*.sh
  build-backend-combined: any of: **/*.java, **/*.xml, **/*.sh

Bloquear remoção e arquivamento de Eventos nas _default roles_
  engine/schema/src/main/resources/META-INF/db/schema-41807to41808.sql
Due: none

Correção no log de estado do _ROOT Volume_
  server/src/main/java/com/cloud/deploy/DeploymentPlanningManagerImpl.java
Due: build-backend-skip-tests, build-backend-with-test, build-backend-with-noredist, build-backend-with-systemvm, build-backend-combined

Adicionar a _preset variable_ `computingResources` à tarifas de tipo `ALLOCATED_VM`
  framework/quota/src/main/java/org/apache/cloudstack/quota/activationrule/presetvariables/PresetVariableHelper.java
  framework/quota/src/main/java/org/apache/cloudstack/quota/activationrule/presetvariables/Value.java
  framework/quota/src/test/java/org/apache/cloudstack/quota/activationrule/presetvariables/PresetVariableHelperTest.java
  ui/src/components/view/stats/EstimatedCost.vue
Due: lint-frontend, build-frontend, build-backend-skip-tests, build-backend-with-test, build-backend-with-noredist, build-backend-with-systemvm, build-backend-combined

Mudança na mensagem de erro ao utilizar _endpoint_ inválido
  api/src/main/java/org/apache/cloudstack/config/ApiServiceConfiguration.java
  api/src/test/java/org/apache/cloudstack/config/ApiServiceConfigurationTest.java
  plugins/integrations/kubernetes-service/src/main/java/com/cloud/kubernetes/cluster/KubernetesClusterManagerImpl.java
  plugins/integrations/kubernetes-service/src/main/java/com/cloud/kubernetes/cluster/actionworkers/KubernetesClusterActionWorker.java
  server/src/main/java/com/cloud/network/as/AutoScaleManagerImpl.java
  server/src/main/java/com/cloud/network/lb/LoadBalancingRulesManagerImpl.java
Due: build-backend-skip-tests, build-backend-with-test, build-backend-with-noredist, build-backend-with-systemvm, build-backend-combined

Fix validate endpoint url message
  api/src/main/java/org/apache/cloudstack/config/ApiServiceConfiguration.java
  plugins/integrations/kubernetes-service/src/main/java/com/cloud/kubernetes/cluster/KubernetesClusterManagerImpl.java
  server/src/main/java/com/cloud/network/as/AutoScaleManagerImpl.java
  server/src/main/java/com/cloud/network/lb/LoadBalancingRulesManagerImpl.java
Due: build-backend-skip-tests, build-backend-with-test, build-backend-with-noredist, build-backend-with-systemvm, build-backend-combined

Fix message and log error
  api/src/main/java/org/apache/cloudstack/config/ApiServiceConfiguration.java
Due: build-backend-skip-tests, build-backend-with-test, build-backend-with-noredist, build-backend-with-systemvm, build-backend-combined

Using new get
  plugins/integrations/kubernetes-service/src/main/java/com/cloud/kubernetes/cluster/actionworkers/KubernetesClusterActionWorker.java
  server/src/main/java/com/cloud/network/lb/LoadBalancingRulesManagerImpl.java
Due: build-backend-skip-tests, build-backend-with-test, build-backend-with-noredist, build-backend-with-systemvm, build-backend-combined

Implement unit tests
  api/src/test/java/org/apache/cloudstack/config/ApiServiceConfigurationTest.java
Due: build-backend-skip-tests, build-backend-with-test, build-backend-with-noredist, build-backend-with-systemvm, build-backend-combined

Add license
  api/src/test/java/org/apache/cloudstack/config/ApiServiceConfigurationTest.java
Due: build-backend-skip-tests, build-backend-with-test, build-backend-with-noredist, build-backend-with-systemvm, build-backend-combined

Add newline at end of file
  api/src/test/java/org/apache/cloudstack/config/ApiServiceConfigurationTest.java
Due: build-backend-skip-tests, build-backend-with-test, build-backend-with-noredist, build-backend-with-systemvm, build-backend-combined

Optimize imports and add containsAny (Wei suggestions)
  api/src/main/java/org/apache/cloudstack/config/ApiServiceConfiguration.java
Due: build-backend-skip-tests, build-backend-with-test, build-backend-with-noredist, build-backend-with-systemvm, build-backend-combined

Change to log4j2
  api/src/main/java/org/apache/cloudstack/config/ApiServiceConfiguration.java
Due: build-backend-skip-tests, build-backend-with-test, build-backend-with-noredist, build-backend-with-systemvm, build-backend-combined

Correção de comportamento da API `deleteUser` para não permitir a deleção do _caller_
  api/src/main/java/org/apache/cloudstack/api/command/admin/user/DeleteUserCmd.java
  server/src/main/java/com/cloud/user/AccountManagerImpl.java
Due: build-backend-skip-tests, build-backend-with-test, build-backend-with-noredist, build-backend-with-systemvm, build-backend-combined

Update vpc.max.networks setting
  engine/components-api/src/main/java/com/cloud/network/vpc/VpcManager.java
  server/src/main/java/com/cloud/api/query/dao/DomainRouterJoinDao.java
  server/src/main/java/com/cloud/api/query/dao/DomainRouterJoinDaoImpl.java
  server/src/main/java/com/cloud/configuration/Config.java
  server/src/main/java/com/cloud/network/vpc/VpcManagerImpl.java
  server/src/test/java/com/cloud/network/vpc/VpcManagerImplTest.java
Due: build-backend-skip-tests, build-backend-with-test, build-backend-with-noredist, build-backend-with-systemvm, build-backend-combined

Refatorar validação de tipo e de _range_ do `updateConfiguration`
  server/src/main/java/com/cloud/configuration/ConfigurationManagerImpl.java
  server/src/test/java/com/cloud/configuration/ConfigurationManagerImplTest.java
Due: build-backend-skip-tests, build-backend-with-test, build-backend-with-noredist, build-backend-with-systemvm, build-backend-combined

Allow editing L2 networks
  api/src/main/java/org/apache/cloudstack/api/ApiConstants.java
  api/src/main/java/org/apache/cloudstack/api/command/user/network/UpdateNetworkCmd.java
  server/src/main/java/com/cloud/network/NetworkServiceImpl.java
  ui/public/locales/en.json
  ui/public/locales/pt_BR.json
  ui/src/views/compute/wizard/NetworkConfiguration.vue
  ui/src/views/network/CreateL2NetworkForm.vue
  ui/src/views/network/UpdateNetwork.vue
Due: lint-frontend, build-frontend, build-backend-skip-tests, build-backend-with-test, build-backend-with-noredist, build-backend-with-systemvm, build-backend-combined

Update api/src/main/java/org/apache/cloudstack/config/ApiServiceConfiguration.java
  api/src/main/java/org/apache/cloudstack/config/ApiServiceConfiguration.java
Due: build-backend-skip-tests, build-backend-with-test, build-backend-with-noredist, build-backend-with-systemvm, build-backend-combined

Migração de _local storage_ para NFS consertada
  engine/storage/datamotion/src/main/java/org/apache/cloudstack/storage/motion/StorageSystemDataMotionStrategy.java
  engine/storage/datamotion/src/test/java/org/apache/cloudstack/storage/motion/StorageSystemDataMotionStrategyTest.java
Due: build-backend-skip-tests, build-backend-with-test, build-backend-with-noredist, build-backend-with-systemvm, build-backend-combined

Correção na seleção de IP _source_ NAT ao criar VPCs
  ui/src/views/network/CreateVpc.vue
Due: lint-frontend, build-frontend

Corrige _restart_ com _clean-up_ em VPCs não aplicando as regras de _load balancer_ de todas as redes
  server/src/main/java/com/cloud/network/router/VirtualNetworkApplianceManagerImpl.java
Due: build-backend-skip-tests, build-backend-with-test, build-backend-with-noredist, build-backend-with-systemvm, build-backend-combined

Adicionada opção _Force_ na remoção de _backups_
  ui/src/config/section/storage.js
Due: lint-frontend, build-frontend

Opção para iniciar VM automáticamente após restaurar volume de _backup_
  ui/src/views/storage/RestoreAttachBackupVolume.vue
Due: lint-frontend, build-frontend

Correção do mapeamento errado de uma coluna no banco
  api/src/main/java/org/apache/cloudstack/api/response/AcquirePodIpCmdResponse.java
  engine/schema/src/main/java/com/cloud/dc/DataCenterIpAddressVO.java
  engine/schema/src/main/java/com/cloud/dc/dao/DataCenterDaoImpl.java
  engine/schema/src/main/java/com/cloud/dc/dao/DataCenterIpAddressDaoImpl.java
  server/src/main/java/com/cloud/network/IpAddressManagerImpl.java
  server/src/main/java/com/cloud/resource/ResourceManagerImpl.java
Due: build-backend-skip-tests, build-backend-with-test, build-backend-with-noredist, build-backend-with-systemvm, build-backend-combined

Correção de comportamento da API `deleteAccount` para não permitir a remoção da própria conta
  server/src/main/java/com/cloud/user/AccountManagerImpl.java
Due: build-backend-skip-tests, build-backend-with-test, build-backend-with-noredist, build-backend-with-systemvm, build-backend-combined

Adicionado autofoco no _input_ da tela de 2FA
  ui/src/views/dashboard/VerifyTwoFa.vue
Due: lint-frontend, build-frontend

Realização do _backport_ da nova mudança na API `deleteTemplate`
  api/src/main/java/org/apache/cloudstack/api/command/user/template/DeleteTemplateCmd.java
  test/integration/component/test_templates.py
Due: build-backend-skip-tests, build-backend-with-test, build-backend-with-noredist, build-backend-with-systemvm, build-backend-combined

Remove a migração desnecessária de volumes ROOT com KVM
  engine/orchestration/src/main/java/com/cloud/vm/VirtualMachineManagerImpl.java
Due: build-backend-skip-tests, build-backend-with-test, build-backend-with-noredist, build-backend-with-systemvm, build-backend-combined

Correção de _tags_ vazias para _network offerings_
  server/src/main/java/com/cloud/configuration/ConfigurationManagerImpl.java
Due: build-backend-skip-tests, build-backend-with-test, build-backend-with-noredist, build-backend-with-systemvm, build-backend-combined

Migração de VM com volumes em NFS consertada
  plugins/hypervisors/kvm/src/main/java/com/cloud/hypervisor/kvm/resource/LibvirtVMDef.java
  plugins/hypervisors/kvm/src/main/java/com/cloud/hypervisor/kvm/resource/MigrateKVMAsync.java
  plugins/hypervisors/kvm/src/main/java/com/cloud/hypervisor/kvm/resource/wrapper/LibvirtMigrateCommandWrapper.java
  plugins/hypervisors/kvm/src/test/java/com/cloud/hypervisor/kvm/resource/MigrateKVMAsyncTest.java
  plugins/hypervisors/kvm/src/test/java/com/cloud/hypervisor/kvm/resource/wrapper/LibvirtMigrateCommandWrapperTest.java
Due: build-backend-skip-tests, build-backend-with-test, build-backend-with-noredist, build-backend-with-systemvm, build-backend-combined

Nova configuração para limitar o número de registros deletados da tabela `vm_stats`
  engine/schema/src/main/java/com/cloud/vm/dao/VmStatsDao.java
  engine/schema/src/main/java/com/cloud/vm/dao/VmStatsDaoImpl.java
  framework/db/src/main/java/com/cloud/utils/db/GenericDao.java
  framework/db/src/main/java/com/cloud/utils/db/GenericDaoBase.java
  server/src/main/java/com/cloud/server/StatsCollector.java
  server/src/test/java/com/cloud/server/StatsCollectorTest.java
  server/src/test/java/com/cloud/user/MockUsageEventDao.java
Due: build-backend-skip-tests, build-backend-with-test, build-backend-with-noredist, build-backend-with-systemvm, build-backend-combined

Refatoração da classe KubernetesClusterResourceModifierActionWorker
  api/src/main/java/org/apache/cloudstack/api/command/user/firewall/CreateFirewallRuleCmd.java
  api/src/main/java/org/apache/cloudstack/api/command/user/vm/StartVMCmd.java
  api/src/main/java/org/apache/cloudstack/api/command/user/volume/ResizeVolumeCmd.java
  plugins/integrations/kubernetes-service/src/main/java/com/cloud/kubernetes/cluster/actionworkers/KubernetesClusterDestroyWorker.java
  plugins/integrations/kubernetes-service/src/main/java/com/cloud/kubernetes/cluster/actionworkers/KubernetesClusterResourceModifierActionWorker.java
  plugins/integrations/kubernetes-service/src/main/java/com/cloud/kubernetes/cluster/actionworkers/KubernetesClusterScaleWorker.java
Due: build-backend-skip-tests, build-backend-with-test, build-backend-with-noredist, build-backend-with-systemvm, build-backend-combined

Correção na alocação do _range_ de VLANs das redes _guest_ no _wizard_ de criação de zona.
  ui/src/views/infra/zone/ZoneWizardLaunchZone.vue
Due: lint-frontend, build-frontend

Melhoria nos _logs_ da remoção de métricas de VMs e de volumes
  engine/schema/src/main/java/com/cloud/storage/dao/VolumeStatsDao.java
  engine/schema/src/main/java/com/cloud/storage/dao/VolumeStatsDaoImpl.java
  engine/schema/src/main/java/com/cloud/vm/dao/VmStatsDao.java
  engine/schema/src/main/java/com/cloud/vm/dao/VmStatsDaoImpl.java
  server/src/main/java/com/cloud/server/StatsCollector.java
  server/src/test/java/com/cloud/server/StatsCollectorTest.java
Due: build-backend-skip-tests, build-backend-with-test, build-backend-with-noredist, build-backend-with-systemvm, build-backend-combined

fix empty tags error
  server/src/main/java/com/cloud/configuration/ConfigurationManagerImpl.java
Due: build-backend-skip-tests, build-backend-with-test, build-backend-with-noredist, build-backend-with-systemvm, build-backend-combined

Consertar agendamento de _snapshots_ com _jobs_ expirados
  engine/schema/src/main/java/com/cloud/storage/SnapshotScheduleVO.java
  engine/schema/src/main/java/com/cloud/storage/dao/SnapshotScheduleDao.java
  engine/schema/src/main/java/com/cloud/storage/dao/SnapshotScheduleDaoImpl.java
  engine/schema/src/main/resources/META-INF/db/schema-41808to41809.sql
  server/src/main/java/com/cloud/storage/snapshot/SnapshotSchedulerImpl.java
  server/src/test/java/com/cloud/storage/snapshot/SnapshotSchedulerImplTest.java
Due: build-backend-skip-tests, build-backend-with-test, build-backend-with-noredist, build-backend-with-systemvm, build-backend-combined

Adicionado limitação de _snapshots_ de VM por domínio e conta
  api/src/main/java/com/cloud/configuration/Resource.java
  api/src/main/java/com/cloud/user/ResourceLimitService.java
  api/src/main/java/org/apache/cloudstack/api/command/user/resource/UpdateResourceLimitCmd.java
  server/src/main/java/com/cloud/resourcelimit/ResourceLimitManagerImpl.java
  server/src/main/java/com/cloud/vm/snapshot/VMSnapshotManagerImpl.java
  server/src/test/java/com/cloud/vm/snapshot/VMSnapshotManagerTest.java
  ui/public/locales/en.json
  ui/public/locales/pt_BR.json
Due: lint-frontend, build-frontend, build-backend-skip-tests, build-backend-with-test, build-backend-with-noredist, build-backend-with-systemvm, build-backend-combined

Normalização da consolidação de volumes na migração à quente
  engine/storage/datamotion/src/main/java/org/apache/cloudstack/storage/motion/KvmNonManagedStorageDataMotionStrategy.java
  engine/storage/datamotion/src/main/java/org/apache/cloudstack/storage/motion/StorageSystemDataMotionStrategy.java
  engine/storage/datamotion/src/test/java/org/apache/cloudstack/storage/motion/KvmNonManagedStorageSystemDataMotionTest.java
  engine/storage/datamotion/src/test/java/org/apache/cloudstack/storage/motion/StorageSystemDataMotionStrategyTest.java
  plugins/hypervisors/kvm/src/main/java/com/cloud/hypervisor/kvm/resource/MigrateKVMAsync.java
  plugins/hypervisors/kvm/src/main/java/com/cloud/hypervisor/kvm/resource/wrapper/LibvirtMigrateCommandWrapper.java
  plugins/hypervisors/kvm/src/test/java/com/cloud/hypervisor/kvm/resource/MigrateKVMAsyncTest.java
Due: build-backend-skip-tests, build-backend-with-test, build-backend-with-noredist, build-backend-with-systemvm, build-backend-combined

Mapeamento de controladoras de disco
  api/src/main/java/com/cloud/storage/DiskControllerMapping.java
  engine/schema/src/main/java/com/cloud/storage/DiskControllerMappingVO.java
  engine/schema/src/main/java/com/cloud/storage/dao/DiskControllerMappingDao.java
  engine/schema/src/main/java/com/cloud/storage/dao/DiskControllerMappingDaoImpl.java
  engine/schema/src/main/resources/META-INF/cloudstack/core/spring-engine-schema-core-daos-context.xml
  engine/schema/src/main/resources/META-INF/db/schema-41808to41809.sql
  plugins/hypervisors/vmware/src/main/java/com/cloud/hypervisor/guru/VmwareVmImplementer.java
  plugins/hypervisors/vmware/src/main/java/com/cloud/hypervisor/vmware/manager/VmwareManagerImpl.java
  plugins/hypervisors/vmware/src/main/java/com/cloud/hypervisor/vmware/resource/VmwareResource.java
  plugins/hypervisors/vmware/src/main/java/com/cloud/storage/resource/VmwareStorageProcessor.java
  plugins/hypervisors/vmware/src/test/java/com/cloud/hypervisor/vmware/VmwareDatacenterApiUnitTest.java
  server/src/main/java/com/cloud/api/query/QueryManagerImpl.java
  vmware-base/pom.xml
  vmware-base/src/main/java/com/cloud/hypervisor/vmware/mo/ClusterMO.java
  vmware-base/src/main/java/com/cloud/hypervisor/vmware/mo/DiskControllerType.java
  vmware-base/src/main/java/com/cloud/hypervisor/vmware/mo/HostMO.java
  vmware-base/src/main/java/com/cloud/hypervisor/vmware/mo/HypervisorHostHelper.java
  vmware-base/src/main/java/com/cloud/hypervisor/vmware/mo/VirtualMachineMO.java
  vmware-base/src/main/java/com/cloud/hypervisor/vmware/mo/VmwareHypervisorHost.java
  vmware-base/src/main/java/com/cloud/hypervisor/vmware/util/VmwareHelper.java
  vmware-base/src/test/java/com/cloud/hypervisor/vmware/mo/VirtualMachineMOTest.java
Due: build-backend-skip-tests, build-backend-with-test, build-backend-with-noredist, build-backend-with-systemvm, build-backend-combined
