Repository scclouds/cloudstack: changes, and which GitLab CI jobs are due for each by the changed paths.
All: lint-frontend, build-frontend, build-backend-skip-tests, build-backend-with-test, build-backend-with-noredist, build-backend-with-systemvm, build-backend-combined

lint-frontend:
  before_script:
  - cd ui
  - npm ci --cache .npm --prefer-offline
  stage: lint
  tags:
  - cloudstack
  script:
  - echo "Starting front-end linting..."
  - npx vue-cli-service lint --no-fix
  - echo "Front-end linting done."

build-frontend:
  before_script:
  - cd ui
  - npm ci --cache .npm --prefer-offline
  stage: build
  needs:
  - lint-frontend
  tags:
  - cloudstack
  script:
  - echo "Building frontend..."
  - npm run build
  - echo "Done building frontend."

build-backend-skip-tests:
  stage: build
  tags:
  - cloudstack
  script:
  - echo "Building backend with 'mvn clean install -DskipTests'..."
  - mvn clean install -DskipTests
  - echo "Done building backend with 'mvn clean install -DskipTests'."

build-backend-with-test:
  stage: build
  tags:
  - cloudstack
  script:
  - echo "Building backend with 'mvn clean install'..."
  - mvn clean install
  - echo "Done building backend with 'mvn clean install'."

build-backend-with-noredist:
  stage: build
  tags:
  - cloudstack
  script:
  - echo "Building backend with 'mvn clean install -Dnoredist'..."
  - mvn clean install -Dnoredist
  - echo "Done building backend with 'mvn clean install -Dnoredist'."

build-backend-with-systemvm:
  stage: build
  tags:
  - cloudstack
  script:
  - echo "Building backend with 'mvn clean install -Psystemvm,developer -Dsystemvm'..."
  - mvn clean install -Psystemvm,developer -Dsystemvm
  - echo "Done building backend with 'mvn clean install -Psystemvm,developer -Dsystemvm'."

build-backend-combined:
  stage: build
  tags:
  - cloudstack
  script:
  - echo "Building backend with 'mvn clean install -Dnoredist -Psystemvm,developer -Dsystemvm'..."
  - mvn clean install -Dnoredist -Psystemvm,developer -Dsystemvm
  - echo "Done building backend with 'mvn clean install -Dnoredist -Psystemvm,developer -Dsystemvm'"

Port 4.20 - Adição do `range` de cpu/memoria para ofertas do tipo `Custom Constrained`
  ui/src/components/view/ListView.vue
Due: lint-frontend, build-frontend

Port 4.20 - Correção no _deploy_ de VMs em _local storage_ do tipo `VMFS`
  engine/storage/src/main/java/org/apache/cloudstack/storage/allocator/AbstractStoragePoolAllocator.java
Due: build-backend-skip-tests, build-backend-with-test, build-backend-with-noredist, build-backend-with-systemvm, build-backend-combined

Port 4.20 - Adição de modificadores de acesso aos atributos da classe `VirtualMachineTO`
  api/src/main/java/com/cloud/agent/api/to/VirtualMachineTO.java
Due: build-backend-skip-tests, build-backend-with-test, build-backend-with-noredist, build-backend-with-systemvm, build-backend-combined

Port 4.20 - Utilização da URI definida na propriedade hypervisor.uri em script do agente
  scripts/vm/network/security_group.py
Due: none

Port 4.20 - Fix NPE during kubernetes cluster creation when network has rules with ports saved as null on DB
  engine/schema/src/main/java/com/cloud/network/dao/FirewallRulesDao.java
  engine/schema/src/main/java/com/cloud/network/dao/FirewallRulesDaoImpl.java
  plugins/integrations/kubernetes-service/src/main/java/com/cloud/kubernetes/cluster/KubernetesClusterManagerImpl.java
  plugins/integrations/kubernetes-service/src/main/java/com/cloud/kubernetes/cluster/actionworkers/KubernetesClusterActionWorker.java
  plugins/integrations/kubernetes-service/src/main/java/com/cloud/kubernetes/cluster/actionworkers/KubernetesClusterResourceModifierActionWorker.java
  plugins/integrations/kubernetes-service/src/test/java/com/cloud/kubernetes/cluster/KubernetesClusterManagerImplTest.java
  server/src/main/java/com/cloud/network/firewall/FirewallManagerImpl.java
Due: build-backend-skip-tests, build-backend-with-test, build-backend-with-noredist, build-backend-with-systemvm, build-backend-combined

Port 4.20 - API quotaStatementDetails
  engine/schema/src/main/resources/META-INF/db/schema-42000to42001.sql
  engine/schema/src/main/resources/META-INF/db/views/cloud_usage.quota_usage_view.sql
  framework/quota/src/main/java/org/apache/cloudstack/quota/QuotaManagerImpl.java
  framework/quota/src/main/java/org/apache/cloudstack/quota/dao/QuotaUsageDetailDao.java
  framework/quota/src/main/java/org/apache/cloudstack/quota/dao/QuotaUsageDetailDaoImpl.java
  framework/quota/src/main/java/org/apache/cloudstack/quota/dao/QuotaUsageJoinDao.java
  framework/quota/src/main/java/org/apache/cloudstack/quota/dao/QuotaUsageJoinDaoImpl.java
  framework/quota/src/main/java/org/apache/cloudstack/quota/vo/QuotaUsageDetailVO.java
  framework/quota/src/main/java/org/apache/cloudstack/quota/vo/QuotaUsageJoinVO.java
  framework/quota/src/main/resources/META-INF/cloudstack/quota/spring-framework-quota-context.xml
  framework/quota/src/test/java/org/apache/cloudstack/quota/QuotaManagerImplTest.java
  plugins/database/quota/src/main/java/org/apache/cloudstack/api/command/QuotaStatementDetailsCmd.java
  plugins/database/quota/src/main/java/org/apache/cloudstack/api/response/QuotaResponseBuilder.java
  plugins/database/quota/src/main/java/org/apache/cloudstack/api/response/QuotaResponseBuilderImpl.java
  plugins/database/quota/src/main/java/org/apache/cloudstack/api/response/QuotaStatementResponse.java
  plugins/database/quota/src/main/java/org/apache/cloudstack/api/response/QuotaUsageDetailsItemResponse.java
  plugins/database/quota/src/main/java/org/apache/cloudstack/api/response/QuotaUsageDetailsResponse.java
  plugins/database/quota/src/main/java/org/apache/cloudstack/quota/QuotaServiceImpl.java
Due: build-backend-skip-tests, build-backend-with-test, build-backend-with-noredist, build-backend-with-systemvm, build-backend-combined

Correções na UI do Usage
  ui/public/locales/en.json
  ui/public/locales/pt_BR.json
  ui/src/components/view/ListView.vue
  ui/src/views/infra/UsageRecords.vue
Due: lint-frontend, build-frontend

Port 4.20 - Ownership selection in VPC tiers and VPC public IPs
  api/src/main/java/org/apache/cloudstack/api/ApiConstants.java
  api/src/main/java/org/apache/cloudstack/api/command/user/network/ListNetworksCmd.java
  api/src/main/java/org/apache/cloudstack/api/response/IPAddressResponse.java
  api/src/main/java/org/apache/cloudstack/api/response/NetworkResponse.java
  server/src/main/java/com/cloud/api/ApiResponseHelper.java
  server/src/test/java/com/cloud/api/ApiResponseHelperTest.java
  ui/src/components/view/InfoCard.vue
  ui/src/components/view/ListView.vue
  ui/src/views/network/IpAddressesTab.vue
  ui/src/views/network/VpcTiersTab.vue
Due: lint-frontend, build-frontend, build-backend-skip-tests, build-backend-with-test, build-backend-with-noredist, build-backend-with-systemvm, build-backend-combined

Port 4.20 - Reversão do _assign_ de VM caso ocorra algum erro no processo
  api/src/main/java/com/cloud/vm/UserVmService.java
  api/src/main/java/org/apache/cloudstack/api/command/admin/vm/AssignVMCmd.java
  server/src/main/java/com/cloud/vm/UserVmManagerImpl.java
  server/src/test/java/com/cloud/vm/UserVmManagerImplTest.java
  server/src/test/java/com/cloud/vm/UserVmManagerTest.java
Due: build-backend-skip-tests, build-backend-with-test, build-backend-with-noredist, build-backend-with-systemvm, build-backend-combined

Port 4.20 - Fix inconsistencies that result in Usage generating usage records when it should not
  engine/schema/src/main/java/com/cloud/usage/dao/UsageNetworksDaoImpl.java
  engine/schema/src/main/java/com/cloud/usage/dao/UsageVpcDaoImpl.java
  usage/src/main/java/com/cloud/usage/UsageManagerImpl.java
Due: build-backend-skip-tests, build-backend-with-test, build-backend-with-noredist, build-backend-with-systemvm, build-backend-combined

Port 4.20 - Copy public templates that have URLs on data migration across secondary storages
  api/src/main/java/com/cloud/agent/api/to/NfsTO.java
  api/src/main/java/com/cloud/storage/VMTemplateStorageResourceAssoc.java
  engine/orchestration/src/main/java/org/apache/cloudstack/engine/orchestration/DataMigrationUtility.java
  engine/orchestration/src/test/java/org/apache/cloudstack/engine/orchestration/DataMigrationUtilityTest.java
  engine/storage/image/src/main/java/org/apache/cloudstack/storage/image/SecondaryStorageServiceImpl.java
  engine/storage/image/src/test/java/org/apache/cloudstack/storage/image/SecondaryStorageServiceImplTest.java
  server/src/main/java/com/cloud/api/query/dao/TemplateJoinDaoImpl.java
Due: build-backend-skip-tests, build-backend-with-test, build-backend-with-noredist, build-backend-with-systemvm, build-backend-combined

Port 4.20 - [VMware] Alterar validação sobre donos da rede ao importar VMs
  server/src/main/java/com/cloud/network/NetworkModelImpl.java
  server/src/test/java/com/cloud/network/NetworkModelTest.java
Due: build-backend-skip-tests, build-backend-with-test, build-backend-with-noredist, build-backend-with-systemvm, build-backend-combined

Port 4.20 - Add new column `last_id` to the table volumes
  engine/schema/src/main/java/com/cloud/storage/VolumeVO.java
  engine/schema/src/main/resources/META-INF/db/schema-42000to42001.sql
  engine/storage/datamotion/src/main/java/org/apache/cloudstack/storage/motion/StorageSystemDataMotionStrategy.java
  engine/storage/volume/src/main/java/org/apache/cloudstack/storage/volume/VolumeServiceImpl.java
Due: build-backend-skip-tests, build-backend-with-test, build-backend-with-noredist, build-backend-with-systemvm, build-backend-combined

Port 4.20 - Injeção de HA e `force.ha` para o tipo `RUNNING_VM`
  framework/quota/src/main/java/org/apache/cloudstack/quota/QuotaManagerImpl.java
  framework/quota/src/main/java/org/apache/cloudstack/quota/activationrule/presetvariables/Configuration.java
  framework/quota/src/main/java/org/apache/cloudstack/quota/activationrule/presetvariables/PresetVariableHelper.java
  framework/quota/src/main/java/org/apache/cloudstack/quota/activationrule/presetvariables/PresetVariables.java
  framework/quota/src/test/java/org/apache/cloudstack/quota/QuotaManagerImplTest.java
  framework/quota/src/test/java/org/apache/cloudstack/quota/activationrule/presetvariables/PresetVariableHelperTest.java
Due: build-backend-skip-tests, build-backend-with-test, build-backend-with-noredist, build-backend-with-systemvm, build-backend-combined

Port de correção do _login_ SAML sem _logout_
  plugins/user-authenticators/saml2/src/main/java/org/apache/cloudstack/saml/SAMLUtils.java
Due: build-backend-skip-tests, build-backend-with-test, build-backend-with-noredist, build-backend-with-systemvm, build-backend-combined

Port 4.20 - Externalização das _flags_ de migração de VM no KVM
  agent/conf/agent.properties
  agent/src/main/java/com/cloud/agent/properties/AgentProperties.java
  plugins/hypervisors/kvm/src/main/java/com/cloud/hypervisor/kvm/resource/MigrateKVMAsync.java
  plugins/hypervisors/kvm/src/test/java/com/cloud/hypervisor/kvm/resource/MigrateKVMAsyncTest.java
Due: build-backend-skip-tests, build-backend-with-test, build-backend-with-noredist, build-backend-with-systemvm, build-backend-combined

Port 4.20 - Refatoração das classes Allocators
  api/src/main/java/com/cloud/agent/manager/allocator/HostAllocator.java
  api/src/main/java/com/cloud/deploy/DeploymentPlanner.java
  api/src/main/java/org/apache/cloudstack/api/command/admin/host/FindHostsForMigrationCmd.java
  api/src/main/java/org/apache/cloudstack/api/command/admin/host/ListHostsCmd.java
  client/pom.xml
  engine/api/src/main/java/com/cloud/vm/VirtualMachineManager.java
  engine/orchestration/src/main/java/com/cloud/vm/VirtualMachineManagerImpl.java
  engine/schema/src/main/java/com/cloud/host/dao/HostDao.java
  engine/schema/src/main/java/com/cloud/host/dao/HostDaoImpl.java
  plugins/host-allocators/random/pom.xml
  plugins/host-allocators/random/src/main/java/com/cloud/agent/manager/allocator/impl/RandomAllocator.java
  plugins/host-allocators/random/src/main/resources/META-INF/cloudstack/host-allocator-random/module.properties
  plugins/host-allocators/random/src/main/resources/META-INF/cloudstack/host-allocator-random/spring-host-allocator-random-context.xml
  plugins/host-allocators/random/src/test/java/com/cloud/agent/manager/allocator/impl/RandomAllocatorTest.java
  plugins/pom.xml
  server/src/main/java/com/cloud/agent/manager/allocator/impl/BaseAllocator.java
  server/src/main/java/com/cloud/agent/manager/allocator/impl/FirstFitAllocator.java
  server/src/main/java/com/cloud/agent/manager/allocator/impl/RandomAllocator.java
  server/src/main/java/com/cloud/agent/manager/allocator/impl/TestingAllocator.java
  server/src/main/java/com/cloud/server/ManagementServerImpl.java
  server/src/main/resources/META-INF/cloudstack/server-allocator/spring-server-allocator-context.xml
  server/src/test/java/com/cloud/agent/manager/allocator/impl/BaseAllocatorTest.java
  server/src/test/java/com/cloud/agent/manager/allocator/impl/FirstFitAllocatorTest.java
  server/src/test/java/com/cloud/agent/manager/allocator/impl/RandomAllocatorTest.java
  test/integration/smoke/test_vm_strict_host_tags.py
Due: build-backend-skip-tests, build-backend-with-test, build-backend-with-noredist, build-backend-with-systemvm, build-backend-combined

Port 4.20 - Permitir editar redes L2
  api/src/main/java/org/apache/cloudstack/api/ApiConstants.java
  api/src/main/java/org/apache/cloudstack/api/command/user/network/UpdateNetworkCmd.java
  server/src/main/java/com/cloud/network/NetworkServiceImpl.java
  server/src/main/java/com/cloud/network/guru/GuestNetworkGuru.java
  server/src/main/java/com/cloud/vm/UserVmManagerImpl.java
  ui/public/locales/en.json
  ui/public/locales/pt_BR.json
  ui/src/views/compute/wizard/NetworkConfiguration.vue
  ui/src/views/network/CreateL2NetworkForm.vue
  ui/src/views/network/NicsTab.vue
  ui/src/views/network/UpdateNetwork.vue
Due: lint-frontend, build-frontend, build-backend-skip-tests, build-backend-with-test, build-backend-with-noredist, build-backend-with-systemvm, build-backend-combined

Port 4.20 - Fix VMware memory retrieval
  plugins/hypervisors/vmware/src/main/java/com/cloud/hypervisor/vmware/resource/VmwareResource.java
Due: build-backend-skip-tests, build-backend-with-test, build-backend-with-noredist, build-backend-with-systemvm, build-backend-combined

Correção do componente _slider_ das configurações globais do tipo `Range`
  ui/src/views/setting/ConfigurationValue.vue
Due: lint-frontend, build-frontend

Port 4.20 - Permitir definição de *source* CIDR em regras de *port forwarding* em VPCs
  api/src/main/java/com/cloud/agent/api/to/PortForwardingRuleTO.java
  api/src/main/java/com/cloud/network/rules/RulesService.java
  api/src/main/java/org/apache/cloudstack/api/command/user/firewall/CreatePortForwardingRuleCmd.java
  api/src/main/java/org/apache/cloudstack/api/command/user/firewall/UpdatePortForwardingRuleCmd.java
  api/src/main/java/org/apache/cloudstack/api/command/user/loadbalancer/CreateLoadBalancerRuleCmd.java
  core/src/main/java/com/cloud/agent/resource/virtualnetwork/facade/SetPortForwardingRulesConfigItem.java
  core/src/main/java/com/cloud/agent/resource/virtualnetwork/model/ForwardingRule.java
  engine/schema/src/main/java/com/cloud/network/dao/FirewallRulesCidrsDao.java
  engine/schema/src/main/java/com/cloud/network/dao/FirewallRulesCidrsDaoImpl.java
  engine/schema/src/main/java/com/cloud/network/dao/FirewallRulesDaoImpl.java
  engine/schema/src/main/java/com/cloud/network/rules/PortForwardingRuleVO.java
  engine/schema/src/main/java/com/cloud/network/rules/dao/PortForwardingRulesDaoImpl.java
  plugins/integrations/kubernetes-service/src/main/java/com/cloud/kubernetes/cluster/actionworkers/KubernetesClusterResourceModifierActionWorker.java
  plugins/network-elements/nsx/src/test/java/org/apache/cloudstack/service/NsxElementTest.java
  server/src/main/java/com/cloud/network/firewall/FirewallManagerImpl.java
  server/src/main/java/com/cloud/network/router/CommandSetupHelper.java
  server/src/main/java/com/cloud/network/rules/RulesManagerImpl.java
  server/src/test/java/com/cloud/network/firewall/FirewallManagerTest.java
  systemvm/debian/opt/cloud/bin/configure.py
  systemvm/debian/opt/cloud/bin/cs/CsNetfilter.py
  systemvm/debian/opt/cloud/bin/cs_forwardingrules.py
  ui/public/locales/en.json
  ui/public/locales/pt_BR.json
  ui/src/views/network/LoadBalancing.vue
  ui/src/views/network/PortForwarding.vue
Due: lint-frontend, build-frontend, build-backend-skip-tests, build-backend-with-test, build-backend-with-noredist, build-backend-with-systemvm, build-backend-combined

Port 4.20 - Permitir fazer _deploy_ de VRs em recursos dedicados
  engine/schema/src/main/java/com/cloud/capacity/dao/CapacityDao.java
  engine/schema/src/main/java/com/cloud/capacity/dao/CapacityDaoImpl.java
  plugins/deployment-planners/implicit-dedication/src/test/java/org/apache/cloudstack/implicitplanner/ImplicitPlannerTest.java
  server/src/main/java/com/cloud/deploy/FirstFitPlanner.java
  server/src/test/java/com/cloud/vm/FirstFitPlannerTest.java
Due: build-backend-skip-tests, build-backend-with-test, build-backend-with-noredist, build-backend-with-systemvm, build-backend-combined

Port 4.20 - Exibição exata da frequência no InfoCard
  ui/src/components/view/InfoCard.vue
Due: lint-frontend, build-frontend

Port 4.20 - Exibição das dicas nas _labels_ do _form_ `Create a SSH key pair`
  ui/src/views/compute/CreateSSHKeyPair.vue
Due: lint-frontend, build-frontend

Port 4.20 - Adição do nome da VM no _pop-up_ de exclusão de uma única VM
  ui/public/locales/en.json
  ui/public/locales/pt_BR.json
  ui/src/views/compute/DestroyVM.vue
Due: lint-frontend, build-frontend

Port 4.20 - Funcionalidade para criação de regras de _guest_ OS para _hosts_ na alocação de VMs
  api/src/main/java/com/cloud/host/Host.java
  api/src/main/java/org/apache/cloudstack/api/ApiConstants.java
  api/src/main/java/org/apache/cloudstack/api/command/admin/host/UpdateHostCmd.java
  api/src/main/java/org/apache/cloudstack/api/response/HostResponse.java
  engine/schema/src/main/java/com/cloud/host/HostVO.java
  engine/schema/src/main/java/com/cloud/host/dao/HostDao.java
  engine/schema/src/main/java/com/cloud/host/dao/HostDaoImpl.java
  engine/schema/src/main/resources/META-INF/db/views/cloud.host_view.sql
  framework/quota/src/main/java/org/apache/cloudstack/quota/QuotaManagerImpl.java
  plugins/database/quota/src/main/java/org/apache/cloudstack/api/response/QuotaResponseBuilderImpl.java
  server/src/main/java/com/cloud/agent/manager/allocator/impl/BaseAllocator.java
  server/src/main/java/com/cloud/agent/manager/allocator/impl/FirstFitAllocator.java
  server/src/main/java/com/cloud/agent/manager/allocator/impl/RandomAllocator.java
  server/src/main/java/com/cloud/api/ApiDBUtils.java
  server/src/main/java/com/cloud/api/query/dao/HostJoinDaoImpl.java
  server/src/main/java/com/cloud/api/query/dao/StoragePoolJoinDaoImpl.java
  server/src/main/java/com/cloud/api/query/vo/HostJoinVO.java
  server/src/main/java/com/cloud/configuration/ConfigurationManagerImpl.java
  server/src/main/java/com/cloud/deploy/DeploymentPlanningManagerImpl.java
  server/src/main/java/com/cloud/resource/ResourceManagerImpl.java
  server/src/main/java/com/cloud/storage/VolumeApiServiceImpl.java
  server/src/main/java/org/apache/cloudstack/storage/heuristics/HeuristicRuleHelper.java
  server/src/test/java/com/cloud/agent/manager/allocator/impl/FirstFitAllocatorTest.java
  server/src/test/java/com/cloud/agent/manager/allocator/impl/RandomAllocatorTest.java
  ui/public/locales/en.json
  ui/public/locales/pt_BR.json
  ui/src/views/infra/HostUpdate.vue
  utils/src/main/java/org/apache/cloudstack/utils/jsinterpreter/GenericRuleHelper.java
  utils/src/main/java/org/apache/cloudstack/utils/jsinterpreter/JsInterpreter.java
Due: lint-frontend, build-frontend, build-backend-skip-tests, build-backend-with-test, build-backend-with-noredist, build-backend-with-systemvm, build-backend-combined

Port 4.20 - Criação de _rating_ de _backup objects_ no Usage e Quota
  api/src/main/java/com/cloud/event/EventTypes.java
  api/src/main/java/org/apache/cloudstack/usage/UsageTypes.java
  engine/schema/src/main/java/com/cloud/event/UsageEventVO.java
  engine/schema/src/main/java/com/cloud/usage/UsageBackupObjectVO.java
  engine/schema/src/main/java/com/cloud/usage/dao/UsageBackupObjectDao.java
  engine/schema/src/main/java/com/cloud/usage/dao/UsageBackupObjectDaoImpl.java
  engine/schema/src/main/resources/META-INF/cloudstack/core/spring-engine-schema-core-common-daos-between-management-and-usage-context.xml
  engine/schema/src/main/resources/META-INF/cloudstack/core/spring-engine-schema-core-daos-context.xml
  engine/schema/src/main/resources/META-INF/db/schema-42000to42001.sql
  framework/quota/src/main/java/org/apache/cloudstack/quota/activationrule/presetvariables/PresetVariableHelper.java
  framework/quota/src/main/java/org/apache/cloudstack/quota/activationrule/presetvariables/Value.java
  framework/quota/src/main/java/org/apache/cloudstack/quota/constant/QuotaTypes.java
  framework/quota/src/test/java/org/apache/cloudstack/quota/activationrule/presetvariables/PresetVariableHelperTest.java
  plugins/backup/dummy/src/main/java/org/apache/cloudstack/backup/DummyBackupProvider.java
  plugins/backup/veeam/src/main/java/org/apache/cloudstack/backup/VeeamBackupProvider.java
  server/src/main/java/org/apache/cloudstack/backup/BackupManagerImpl.java
  ui/public/locales/pt_BR.json
  ui/src/utils/quota.js
  usage/src/main/java/com/cloud/usage/UsageManagerImpl.java
  usage/src/main/java/com/cloud/usage/parser/BackupObjectUsageParser.java
Due: lint-frontend, build-frontend, build-backend-skip-tests, build-backend-with-test, build-backend-with-noredist, build-backend-with-systemvm, build-backend-combined

Port 4.20 - Bloqueio da migração de volumes anexados às VMs em estado de inicialização
  server/src/main/java/com/cloud/storage/VolumeApiServiceImpl.java
Due: build-backend-skip-tests, build-backend-with-test, build-backend-with-noredist, build-backend-with-systemvm, build-backend-combined

Restauração das configurações `usage.execution.timezone` e `usage.aggregation.timezone`
  engine/schema/src/main/resources/META-INF/db/schema-42000to42001.sql
Due: none

Port 4.20 Alteração no nível de requisições do método `AgentHandler#processRequest()`
  engine/orchestration/src/main/java/com/cloud/agent/manager/AgentManagerImpl.java
Due: build-backend-skip-tests, build-backend-with-test, build-backend-with-noredist, build-backend-with-systemvm, build-backend-combined

Port 4.20 - Correção do acesso ao console após migração/reinício de VM KVM e posterior restauração de _snapshot_ com memória
  plugins/hypervisors/kvm/src/main/java/com/cloud/hypervisor/kvm/resource/LibvirtComputingResource.java
  plugins/hypervisors/kvm/src/main/java/com/cloud/hypervisor/kvm/resource/LibvirtXMLParser.java
  plugins/hypervisors/kvm/src/main/java/com/cloud/hypervisor/kvm/resource/wrapper/LibvirtMigrateCommandWrapper.java
  plugins/hypervisors/kvm/src/main/java/com/cloud/hypervisor/kvm/resource/wrapper/LibvirtRestoreVMSnapshotCommandWrapper.java
Due: build-backend-skip-tests, build-backend-with-test, build-backend-with-noredist, build-backend-with-systemvm, build-backend-combined

Port 4.20 - Funcionalidade de _disk-only_ VM snapshot com KVM como virtualizador
  agent/src/main/java/com/cloud/agent/properties/AgentProperties.java
  api/src/main/java/com/cloud/vm/snapshot/VMSnapshot.java
  core/src/main/java/com/cloud/agent/api/storage/CreateDiskOnlyVmSnapshotAnswer.java
  core/src/main/java/com/cloud/agent/api/storage/CreateDiskOnlyVmSnapshotCommand.java
  core/src/main/java/com/cloud/agent/api/storage/DeleteDiskOnlyVmSnapshotCommand.java
  core/src/main/java/com/cloud/agent/api/storage/MergeDiskOnlyVmSnapshotCommand.java
  core/src/main/java/com/cloud/agent/api/storage/RevertDiskOnlyVmSnapshotAnswer.java
  core/src/main/java/com/cloud/agent/api/storage/RevertDiskOnlyVmSnapshotCommand.java
  core/src/main/java/com/cloud/agent/api/storage/SnapshotMergeTreeTO.java
  engine/schema/src/main/java/com/cloud/vm/snapshot/dao/VMSnapshotDao.java
  engine/schema/src/main/java/com/cloud/vm/snapshot/dao/VMSnapshotDaoImpl.java
  engine/schema/src/main/java/org/apache/cloudstack/storage/datastore/db/SnapshotDataStoreDao.java
  engine/schema/src/main/java/org/apache/cloudstack/storage/datastore/db/SnapshotDataStoreDaoImpl.java
  engine/storage/snapshot/src/main/java/org/apache/cloudstack/storage/vmsnapshot/DefaultVMSnapshotStrategy.java
  engine/storage/snapshot/src/main/java/org/apache/cloudstack/storage/vmsnapshot/KvmFileBasedStorageVmSnapshotStrategy.java
  engine/storage/snapshot/src/main/java/org/apache/cloudstack/storage/vmsnapshot/StorageVMSnapshotStrategy.java
  engine/storage/snapshot/src/main/resources/META-INF/cloudstack/storage/spring-engine-storage-snapshot-storage-context.xml
  engine/storage/snapshot/src/test/java/org/apache/cloudstack/storage/vmsnapshot/VMSnapshotStrategyTest.java
  plugins/hypervisors/kvm/src/main/java/com/cloud/hypervisor/kvm/resource/BlockCommitListener.java
  plugins/hypervisors/kvm/src/main/java/com/cloud/hypervisor/kvm/resource/LibvirtComputingResource.java
  plugins/hypervisors/kvm/src/main/java/com/cloud/hypervisor/kvm/resource/wrapper/LibvirtCreateDiskOnlyVMSnapshotCommandWrapper.java
  plugins/hypervisors/kvm/src/main/java/com/cloud/hypervisor/kvm/resource/wrapper/LibvirtDeleteDiskOnlyVMSnapshotCommandWrapper.java
  plugins/hypervisors/kvm/src/main/java/com/cloud/hypervisor/kvm/resource/wrapper/LibvirtMergeDiskOnlyVMSnapshotCommandWrapper.java
  plugins/hypervisors/kvm/src/main/java/com/cloud/hypervisor/kvm/resource/wrapper/LibvirtRevertDiskOnlyVMSnapshotCommandWrapper.java
  plugins/hypervisors/kvm/src/main/java/com/cloud/hypervisor/kvm/resource/wrapper/LibvirtUtilitiesHelper.java
  plugins/hypervisors/kvm/src/main/java/com/cloud/hypervisor/kvm/storage/KVMStoragePool.java
  plugins/hypervisors/kvm/src/main/java/com/cloud/hypervisor/kvm/storage/KVMStorageProcessor.java
  plugins/hypervisors/kvm/src/main/java/org/apache/cloudstack/utils/qemu/QemuImg.java
  plugins/hypervisors/kvm/src/main/java/org/apache/cloudstack/utils/qemu/QemuImgFile.java
  plugins/hypervisors/kvm/src/test/java/com/cloud/hypervisor/kvm/resource/LibvirtComputingResourceTest.java
  plugins/hypervisors/kvm/src/test/java/com/cloud/hypervisor/kvm/storage/KVMStorageProcessorTest.java
  server/src/main/java/com/cloud/storage/VolumeApiServiceImpl.java
  server/src/main/java/com/cloud/vm/snapshot/VMSnapshotManagerImpl.java
  server/src/test/java/com/cloud/storage/VolumeApiServiceImplTest.java
  ui/src/config/section/compute.js
Due: lint-frontend, build-frontend, build-backend-skip-tests, build-backend-with-test, build-backend-with-noredist, build-backend-with-systemvm, build-backend-combined

Port 4.20 - Atualizar configuração `vpc.max.networks` e colocá-la à nível de _cluster_
  engine/components-api/src/main/java/com/cloud/network/vpc/VpcManager.java
  server/src/main/java/com/cloud/api/query/dao/DomainRouterJoinDao.java
  server/src/main/java/com/cloud/api/query/dao/DomainRouterJoinDaoImpl.java
  server/src/main/java/com/cloud/configuration/Config.java
  server/src/main/java/com/cloud/network/vpc/VpcManagerImpl.java
  server/src/test/java/com/cloud/network/vpc/VpcManagerImplTest.java
Due: build-backend-skip-tests, build-backend-with-test, build-backend-with-noredist, build-backend-with-systemvm, build-backend-combined

Port 4.20 - Create API to list Quota credits
  api/src/main/java/org/apache/cloudstack/api/ApiConstants.java
  engine/schema/src/main/java/com/cloud/domain/dao/DomainDaoImpl.java
  engine/schema/src/main/resources/META-INF/db/schema-42000to42001.sql
  framework/quota/src/main/java/org/apache/cloudstack/quota/dao/QuotaCreditsDao.java
  framework/quota/src/main/java/org/apache/cloudstack/quota/dao/QuotaCreditsDaoImpl.java
  framework/quota/src/main/java/org/apache/cloudstack/quota/vo/QuotaCreditsVO.java
  plugins/database/quota/src/main/java/org/apache/cloudstack/api/command/QuotaCreditsListCmd.java
  plugins/database/quota/src/main/java/org/apache/cloudstack/api/response/QuotaBalanceResponse.java
  plugins/database/quota/src/main/java/org/apache/cloudstack/api/response/QuotaCreditsResponse.java
  plugins/database/quota/src/main/java/org/apache/cloudstack/api/response/QuotaResponseBuilder.java
  plugins/database/quota/src/main/java/org/apache/cloudstack/api/response/QuotaResponseBuilderImpl.java
  plugins/database/quota/src/main/java/org/apache/cloudstack/quota/QuotaServiceImpl.java
  plugins/database/quota/src/test/java/org/apache/cloudstack/api/command/QuotaCreditsListCmdTest.java
  plugins/database/quota/src/test/java/org/apache/cloudstack/api/response/QuotaResponseBuilderImplTest.java
  server/src/main/java/com/cloud/api/dispatch/ParamProcessWorker.java
Due: build-backend-skip-tests, build-backend-with-test, build-backend-with-noredist, build-backend-with-systemvm, build-backend-combined

Port 4.20 - Fix deploy windows vm secure boot
  plugins/hypervisors/vmware/src/main/java/com/cloud/hypervisor/guru/VmwareVmImplementer.java
  plugins/hypervisors/vmware/src/main/java/com/cloud/hypervisor/vmware/resource/VmwareResource.java
  vmware-base/src/main/java/com/cloud/hypervisor/vmware/mo/VirtualMachineMO.java
  vmware-base/src/main/java/com/cloud/hypervisor/vmware/util/VmwareHelper.java
Due: build-backend-skip-tests, build-backend-with-test, build-backend-with-noredist, build-backend-with-systemvm, build-backend-combined

Port 4.20 - Fix VMWare leftovers when deleting VM without root disk
  core/src/main/java/com/cloud/agent/api/CleanupVMCommand.java
  plugins/hypervisors/vmware/src/main/java/com/cloud/hypervisor/guru/VMwareGuru.java
  plugins/hypervisors/vmware/src/main/java/com/cloud/hypervisor/vmware/resource/VmwareResource.java
Due: build-backend-skip-tests, build-backend-with-test, build-backend-with-noredist, build-backend-with-systemvm, build-backend-combined

Port 4.20 - Adicionar a preset variable computingResources às tarifas de tipo ALLOCATED_VM
  framework/quota/src/main/java/org/apache/cloudstack/quota/activationrule/presetvariables/PresetVariableHelper.java
  framework/quota/src/main/java/org/apache/cloudstack/quota/activationrule/presetvariables/Value.java
  framework/quota/src/test/java/org/apache/cloudstack/quota/activationrule/presetvariables/PresetVariableHelperTest.java
Due: build-backend-skip-tests, build-backend-with-test, build-backend-with-noredist, build-backend-with-systemvm, build-backend-combined

Port 4.20 - Quota UI
  ui/package-lock.json
  ui/package.json
  ui/public/locales/en.json
  ui/public/locales/pt_BR.json
  ui/src/components/view/DetailsTab.vue
  ui/src/components/view/InfoCard.vue
  ui/src/components/view/ListView.vue
  ui/src/components/view/buttons/ExportToCsvButton.vue
  ui/src/components/view/charts/BarChart.vue
  ui/src/config/section/plugin/quota.js
  ui/src/style/common/common.scss
  ui/src/utils/chart.js
  ui/src/utils/export.js
  ui/src/utils/quota.js
  ui/src/utils/units.js
  ui/src/views/AutogenView.vue
  ui/src/views/plugins/quota/AddQuotaCredit.vue
  ui/src/views/plugins/quota/CreateQuotaTariff.vue
  ui/src/views/plugins/quota/EditQuotaTariff.vue
  ui/src/views/plugins/quota/EditTariffValueWizard.vue
  ui/src/views/plugins/quota/FilterQuotaDataByPeriodView.vue
  ui/src/views/plugins/quota/QuotaBalance.vue
  ui/src/views/plugins/quota/QuotaBalanceTab.vue
  ui/src/views/plugins/quota/QuotaCreditTab.vue
  ui/src/views/plugins/quota/QuotaSummary.vue
  ui/src/views/plugins/quota/QuotaSummaryResource.vue
  ui/src/views/plugins/quota/QuotaUsage.vue
  ui/src/views/plugins/quota/QuotaUsageTab.vue
Due: lint-frontend, build-frontend

Remoção do bloqueio na UI para acessar a API `changeOfferingForVolume`
  ui/src/config/section/storage.js
Due: lint-frontend, build-frontend

Port 4.20 - Bloquear remoção e arquivamento de Eventos nas _default roles_
  engine/schema/src/main/resources/META-INF/db/schema-42000to42001.sql
Due: none

Path conditions:
  lint-frontend: any of: ui/**/*
  build-frontend: any of: ui/**/*
  build-backend-skip-tests: any of: **/*.java, **/*.xml, **/*.sh
  build-backend-with-test: any of: **/*.java, **/*.xml, **/*.sh
  build-backend-with-noredist: any of: **/*.java, **/*.xml, **/*.sh
  build-backend-with-systemvm: any of: **/*.java, **/*.xml, **/*.sh
  build-backend-combined: any of: **/*.java, **/*.xml, **/*.sh
