Repository scclouds/cloudstack: changes, and which GitLab CI jobs are due for each by the changed paths.
All: lint-frontend, build-frontend, build-backend-skip-tests, build-backend-with-test, build-backend-with-noredist, build-backend-with-systemvm, build-backend-combined

lint-frontend:
  before_script:
  - cd ui
  - npm ci --cache .npm --prefer-offline
  stage: lint
  tags:
  - cloudstack
  script:
  - echo "Starting front-end linting..."
  - npx vue-cli-service lint --no-fix
  - echo "Front-end linting done."

build-frontend:
  before_script:
  - cd ui
  - npm ci --cache .npm --prefer-offline
  stage: build
  needs:
  - lint-frontend
  tags:
  - cloudstack
  script:
  - echo "Building frontend..."
  - npm run build
  - echo "Done building frontend."

build-backend-skip-tests:
  stage: build
  tags:
  - cloudstack
  script:
  - echo "Building backend with 'mvn clean install -DskipTests'..."
  - mvn clean install -DskipTests
  - echo "Done building backend with 'mvn clean install -DskipTests'."

build-backend-with-test:
  stage: build
  tags:
  - cloudstack
  script:
  - echo "Building backend with 'mvn clean install'..."
  - mvn clean install
  - echo "Done building backend with 'mvn clean install'."

build-backend-with-noredist:
  stage: build
  tags:
  - cloudstack
  script:
  - echo "Building backend with 'mvn clean install -Dnoredist'..."
  - mvn clean install -Dnoredist
  - echo "Done building backend with 'mvn clean install -Dnoredist'."

build-backend-with-systemvm:
  stage: build
  tags:
  - cloudstack
  script:
  - echo "Building backend with 'mvn clean install -Psystemvm,developer -Dsystemvm'..."
  - mvn clean install -Psystemvm,developer -Dsystemvm
  - echo "Done building backend with 'mvn clean install -Psystemvm,developer -Dsystemvm'."

build-backend-combined:
  stage: build
  tags:
  - cloudstack
  script:
  - echo "Building backend with 'mvn clean install -Dnoredist -Psystemvm,developer -Dsystemvm'..."
  - mvn clean install -Dnoredist -Psystemvm,developer -Dsystemvm
  - echo "Done building backend with 'mvn clean install -Dnoredist -Psystemvm,developer -Dsystemvm'"

Veeam fix restored backup vm without nics
  engine/schema/src/main/java/com/cloud/vm/NicVO.java
  engine/schema/src/main/java/com/cloud/vm/dao/NicDao.java
  engine/schema/src/main/java/com/cloud/vm/dao/NicDaoImpl.java
  plugins/hypervisors/vmware/src/main/java/com/cloud/hypervisor/guru/VMwareGuru.java
Due: build-backend-skip-tests, build-backend-with-test, build-backend-with-noredist, build-backend-with-systemvm, build-backend-combined

Allow user define password during reset
  api/src/main/java/org/apache/cloudstack/api/command/user/vm/ResetVMPasswordCmd.java
  ui/src/config/section/compute.js
Due: lint-frontend, build-frontend, build-backend-skip-tests, build-backend-with-test, build-backend-with-noredist, build-backend-with-systemvm, build-backend-combined

Veeam disable jobs keep backups
  api/src/main/java/com/cloud/vm/VirtualMachine.java
  api/src/main/java/org/apache/cloudstack/api/command/user/volume/DetachVolumeCmd.java
  api/src/main/java/org/apache/cloudstack/backup/Backup.java
  api/src/main/java/org/apache/cloudstack/backup/BackupProvider.java
  engine/schema/src/main/java/com/cloud/storage/dao/VolumeDao.java
  engine/schema/src/main/java/com/cloud/storage/dao/VolumeDaoImpl.java
  engine/schema/src/main/java/com/cloud/vm/NicVO.java
  engine/schema/src/main/java/com/cloud/vm/VMInstanceVO.java
  engine/schema/src/main/java/com/cloud/vm/dao/NicDaoImpl.java
  engine/schema/src/main/java/org/apache/cloudstack/backup/BackupVO.java
  engine/schema/src/main/java/org/apache/cloudstack/backup/dao/BackupDaoImpl.java
  engine/schema/src/main/java/org/apache/cloudstack/engine/cloud/entity/api/db/VMEntityVO.java
  engine/schema/src/main/java/org/apache/cloudstack/storage/datastore/db/PrimaryDataStoreDao.java
  engine/schema/src/main/java/org/apache/cloudstack/storage/datastore/db/PrimaryDataStoreDaoImpl.java
  engine/schema/src/main/resources/META-INF/db/schema-41720to41800.sql
  plugins/backup/dummy/src/main/java/org/apache/cloudstack/backup/DummyBackupProvider.java
  plugins/backup/networker/src/main/java/org/apache/cloudstack/backup/NetworkerBackupProvider.java
  plugins/backup/veeam/src/main/java/org/apache/cloudstack/backup/VeeamBackupProvider.java
  plugins/backup/veeam/src/main/java/org/apache/cloudstack/backup/veeam/VeeamClient.java
  plugins/hypervisors/vmware/src/main/java/com/cloud/hypervisor/guru/VMwareGuru.java
  plugins/hypervisors/vmware/src/test/java/com/cloud/hypervisor/guru/VMwareGuruTest.java
  server/src/main/java/com/cloud/storage/VolumeApiServiceImpl.java
  server/src/main/java/com/cloud/vm/UserVmManagerImpl.java
  server/src/main/java/org/apache/cloudstack/backup/BackupManagerImpl.java
  server/src/test/java/com/cloud/storage/VolumeApiServiceImplTest.java
  server/src/test/java/com/cloud/vm/UserVmManagerImplTest.java
Due: build-backend-skip-tests, build-backend-with-test, build-backend-with-noredist, build-backend-with-systemvm, build-backend-combined

Add and improve logs in ACS bootstrap process
  framework/spring/module/src/main/java/org/apache/cloudstack/spring/module/model/impl/DefaultModuleDefinitionSet.java
Due: build-backend-skip-tests, build-backend-with-test, build-backend-with-noredist, build-backend-with-systemvm, build-backend-combined

Externalize kvm ha heartbeat frequency
  agent/conf/agent.properties
  agent/src/main/java/com/cloud/agent/properties/AgentProperties.java
  plugins/hypervisors/kvm/src/main/java/com/cloud/hypervisor/kvm/resource/KVMHABase.java
  plugins/hypervisors/kvm/src/main/java/com/cloud/hypervisor/kvm/resource/KVMHAChecker.java
  plugins/hypervisors/kvm/src/main/java/com/cloud/hypervisor/kvm/resource/KVMHAMonitor.java
Due: build-backend-skip-tests, build-backend-with-test, build-backend-with-noredist, build-backend-with-systemvm, build-backend-combined

create parameter to determine whether roles are public or private
  api/src/main/java/org/apache/cloudstack/acl/Role.java
  api/src/main/java/org/apache/cloudstack/acl/RoleService.java
  api/src/main/java/org/apache/cloudstack/api/command/admin/acl/CreateRoleCmd.java
  api/src/main/java/org/apache/cloudstack/api/command/admin/acl/ImportRoleCmd.java
  api/src/main/java/org/apache/cloudstack/api/command/admin/acl/ListRolesCmd.java
  api/src/main/java/org/apache/cloudstack/api/command/admin/acl/RoleCmd.java
  api/src/main/java/org/apache/cloudstack/api/command/admin/acl/UpdateRoleCmd.java
  api/src/main/java/org/apache/cloudstack/api/response/BaseRoleResponse.java
  api/src/test/java/org/apache/cloudstack/api/command/test/CreateRoleCmdTest.java
  api/src/test/java/org/apache/cloudstack/api/command/test/ImportRoleCmdTest.java
  api/src/test/java/org/apache/cloudstack/api/command/test/UpdateRoleCmdTest.java
  engine/schema/src/main/java/org/apache/cloudstack/acl/RoleVO.java
  engine/schema/src/main/java/org/apache/cloudstack/acl/dao/RoleDao.java
  engine/schema/src/main/java/org/apache/cloudstack/acl/dao/RoleDaoImpl.java
  engine/schema/src/main/resources/META-INF/db/schema-41720to41800.sql
  server/src/main/java/org/apache/cloudstack/acl/RoleManagerImpl.java
  server/src/test/java/org/apache/cloudstack/acl/RoleManagerImplTest.java
Due: build-backend-skip-tests, build-backend-with-test, build-backend-with-noredist, build-backend-with-systemvm, build-backend-combined

Allow password definition during VM deploy
  api/src/main/java/org/apache/cloudstack/api/command/user/vm/DeployVMCmd.java
  server/src/main/java/com/cloud/network/as/AutoScaleManagerImpl.java
  server/src/main/java/com/cloud/vm/UserVmManagerImpl.java
  server/src/test/java/com/cloud/vm/UserVmManagerImplTest.java
Due: build-backend-skip-tests, build-backend-with-test, build-backend-with-noredist, build-backend-with-systemvm, build-backend-combined

Add and improve logs in snapshot scheduling
  server/src/main/java/com/cloud/storage/snapshot/SnapshotSchedulerImpl.java
  server/src/test/java/com/cloud/storage/snapshot/SnapshotSchedulerImplTest.java
Due: build-backend-skip-tests, build-backend-with-test, build-backend-with-noredist, build-backend-with-systemvm, build-backend-combined

UI: Add button to copy VM console URL to clipboard
  ui/public/locales/en.json
  ui/src/components/view/ActionButton.vue
  ui/src/components/view/InfoCard.vue
  ui/src/components/widgets/Console.vue
Due: lint-frontend, build-frontend

Set number of hours per month with actual number in Quota
  framework/quota/src/main/java/org/apache/cloudstack/quota/QuotaManagerImpl.java
  framework/quota/src/test/java/org/apache/cloudstack/quota/QuotaManagerImplTest.java
Due: build-backend-skip-tests, build-backend-with-test, build-backend-with-noredist, build-backend-with-systemvm, build-backend-combined

Veeam fix restore of reimported vm
  engine/schema/src/main/java/com/cloud/vm/dao/VMInstanceDao.java
  engine/schema/src/main/java/com/cloud/vm/dao/VMInstanceDaoImpl.java
  plugins/hypervisors/vmware/src/main/java/com/cloud/hypervisor/guru/VMwareGuru.java
Due: build-backend-skip-tests, build-backend-with-test, build-backend-with-noredist, build-backend-with-systemvm, build-backend-combined

Veeam block operations in restoring vms
  api/src/main/java/com/cloud/storage/Volume.java
  api/src/main/java/com/cloud/storage/VolumeApiService.java
  api/src/main/java/com/cloud/vm/VirtualMachine.java
  server/src/main/java/com/cloud/capacity/CapacityManagerImpl.java
  server/src/main/java/com/cloud/storage/VolumeApiServiceImpl.java
  server/src/main/java/org/apache/cloudstack/backup/BackupManagerImpl.java
  server/src/test/java/org/apache/cloudstack/backup/BackupManagerTest.java
Due: build-backend-skip-tests, build-backend-with-test, build-backend-with-noredist, build-backend-with-systemvm, build-backend-combined

Usage network billing
  api/src/main/java/com/cloud/event/EventTypes.java
  api/src/main/java/org/apache/cloudstack/usage/UsageTypes.java
  engine/orchestration/src/main/java/org/apache/cloudstack/engine/orchestration/NetworkOrchestrator.java
  engine/schema/src/main/java/com/cloud/usage/UsageNetworksVO.java
  engine/schema/src/main/java/com/cloud/usage/UsageVO.java
  engine/schema/src/main/java/com/cloud/usage/dao/UsageNetworksDao.java
  engine/schema/src/main/java/com/cloud/usage/dao/UsageNetworksDaoImpl.java
  engine/schema/src/main/resources/META-INF/cloudstack/core/spring-engine-schema-core-common-daos-between-management-and-usage-context.xml
  engine/schema/src/main/resources/META-INF/cloudstack/core/spring-engine-schema-core-daos-context.xml
  engine/schema/src/main/resources/META-INF/db/schema-41720to41800.sql
  framework/quota/src/main/java/org/apache/cloudstack/quota/activationrule/presetvariables/PresetVariableHelper.java
  framework/quota/src/main/java/org/apache/cloudstack/quota/activationrule/presetvariables/Value.java
  framework/quota/src/main/java/org/apache/cloudstack/quota/constant/QuotaTypes.java
  framework/quota/src/main/java/org/apache/cloudstack/quota/dao/NetworkDao.java
  framework/quota/src/main/java/org/apache/cloudstack/quota/dao/NetworkDaoImpl.java
  framework/quota/src/test/java/org/apache/cloudstack/quota/activationrule/presetvariables/PresetVariableHelperTest.java
  framework/quota/src/test/java/org/apache/cloudstack/quota/activationrule/presetvariables/ValueTest.java
  server/src/main/java/com/cloud/network/NetworkServiceImpl.java
  usage/src/main/java/com/cloud/usage/UsageManagerImpl.java
  usage/src/main/java/com/cloud/usage/parser/NetworksUsageParser.java
Due: build-backend-skip-tests, build-backend-with-test, build-backend-with-noredist, build-backend-with-systemvm, build-backend-combined

Usage vpc billing
  api/src/main/java/com/cloud/event/EventTypes.java
  api/src/main/java/org/apache/cloudstack/usage/UsageTypes.java
  engine/schema/src/main/java/com/cloud/usage/UsageVpcVO.java
  engine/schema/src/main/java/com/cloud/usage/dao/UsageVpcDao.java
  engine/schema/src/main/java/com/cloud/usage/dao/UsageVpcDaoImpl.java
  engine/schema/src/main/resources/META-INF/cloudstack/core/spring-engine-schema-core-common-daos-between-management-and-usage-context.xml
  engine/schema/src/main/resources/META-INF/cloudstack/core/spring-engine-schema-core-daos-context.xml
  engine/schema/src/main/resources/META-INF/db/schema-41720to41800.sql
  framework/quota/src/main/java/org/apache/cloudstack/quota/activationrule/presetvariables/PresetVariableHelper.java
  framework/quota/src/main/java/org/apache/cloudstack/quota/constant/QuotaTypes.java
  framework/quota/src/main/java/org/apache/cloudstack/quota/dao/VpcDao.java
  framework/quota/src/main/java/org/apache/cloudstack/quota/dao/VpcDaoImpl.java
  framework/quota/src/test/java/org/apache/cloudstack/quota/activationrule/presetvariables/PresetVariableHelperTest.java
  server/src/main/java/com/cloud/network/vpc/VpcManagerImpl.java
  usage/src/main/java/com/cloud/usage/UsageManagerImpl.java
  usage/src/main/java/com/cloud/usage/parser/VpcUsageParser.java
Due: build-backend-skip-tests, build-backend-with-test, build-backend-with-noredist, build-backend-with-systemvm, build-backend-combined

Logutils decrease log verbosity
  utils/src/main/java/com/cloud/utils/LogUtils.java
Due: build-backend-skip-tests, build-backend-with-test, build-backend-with-noredist, build-backend-with-systemvm, build-backend-combined

Veeam don't interrupt backup sincronization
  server/src/main/java/org/apache/cloudstack/backup/BackupManagerImpl.java
Due: build-backend-skip-tests, build-backend-with-test, build-backend-with-noredist, build-backend-with-systemvm, build-backend-combined

Veeam check failure when restoring
  plugins/backup/veeam/src/main/java/org/apache/cloudstack/backup/veeam/VeeamClient.java
  plugins/backup/veeam/src/test/java/org/apache/cloudstack/backup/veeam/VeeamClientTest.java
Due: build-backend-skip-tests, build-backend-with-test, build-backend-with-noredist, build-backend-with-systemvm, build-backend-combined

Veeam restore only specified volume
  api/src/main/java/com/cloud/hypervisor/HypervisorGuru.java
  api/src/main/java/org/apache/cloudstack/api/command/user/backup/RestoreVolumeFromBackupAndAttachToVMCmd.java
  api/src/main/java/org/apache/cloudstack/backup/BackupManager.java
  api/src/main/java/org/apache/cloudstack/backup/BackupProvider.java
  plugins/backup/dummy/src/main/java/org/apache/cloudstack/backup/DummyBackupProvider.java
  plugins/backup/networker/src/main/java/org/apache/cloudstack/backup/NetworkerBackupProvider.java
  plugins/backup/veeam/src/main/java/org/apache/cloudstack/backup/VeeamBackupProvider.java
  plugins/backup/veeam/src/main/java/org/apache/cloudstack/backup/veeam/VeeamClient.java
  plugins/backup/veeam/src/test/java/org/apache/cloudstack/backup/veeam/VeeamClientTest.java
  plugins/hypervisors/vmware/src/main/java/com/cloud/hypervisor/guru/VMwareGuru.java
  plugins/hypervisors/vmware/src/test/java/com/cloud/hypervisor/guru/VMwareGuruTest.java
  server/src/main/java/com/cloud/hypervisor/HypervisorGuruBase.java
  server/src/main/java/org/apache/cloudstack/backup/BackupManagerImpl.java
  server/src/test/java/org/apache/cloudstack/backup/BackupManagerTest.java
  utils/src/main/java/com/cloud/utils/UuidUtils.java
  vmware-base/src/main/java/com/cloud/hypervisor/vmware/mo/VirtualMachineDiskInfoBuilder.java
  vmware-base/src/test/java/com/cloud/hypervisor/vmware/mo/VirtualMachineDiskInfoBuilderTest.java
Due: build-backend-skip-tests, build-backend-with-test, build-backend-with-noredist, build-backend-with-systemvm, build-backend-combined

Improve logs in NfsSecondaryStorageResource class
  services/secondary-storage/server/src/main/java/org/apache/cloudstack/storage/resource/NfsSecondaryStorageResource.java
Due: build-backend-skip-tests, build-backend-with-test, build-backend-with-noredist, build-backend-with-systemvm, build-backend-combined

Global ACL for VPCs
  api/src/main/java/org/apache/cloudstack/api/command/user/network/CreateNetworkACLListCmd.java
  engine/schema/src/main/java/com/cloud/network/vpc/NetworkACLVO.java
  server/src/main/java/com/cloud/network/NetworkServiceImpl.java
  server/src/main/java/com/cloud/network/vpc/NetworkACLServiceImpl.java
  server/src/test/java/com/cloud/network/vpc/NetworkACLServiceImplTest.java
  test/integration/smoke/test_global_acls.py
Due: build-backend-skip-tests, build-backend-with-test, build-backend-with-noredist, build-backend-with-systemvm, build-backend-combined

Rollback on assign vm error
  api/src/main/java/com/cloud/vm/UserVmService.java
  api/src/main/java/org/apache/cloudstack/api/command/admin/vm/AssignVMCmd.java
  server/src/main/java/com/cloud/vm/UserVmManagerImpl.java
  server/src/test/java/com/cloud/vm/UserVmManagerImplTest.java
  server/src/test/java/com/cloud/vm/UserVmManagerTest.java
Due: build-backend-skip-tests, build-backend-with-test, build-backend-with-noredist, build-backend-with-systemvm, build-backend-combined

Redundant networks
  ui/src/config/section/network.js
Due: lint-frontend, build-frontend

Fix backup dates
  api/src/main/java/org/apache/cloudstack/api/response/BackupResponse.java
  api/src/main/java/org/apache/cloudstack/api/response/BackupRestorePointResponse.java
  api/src/main/java/org/apache/cloudstack/backup/Backup.java
  engine/schema/src/main/java/org/apache/cloudstack/backup/BackupVO.java
  engine/schema/src/main/resources/META-INF/db/schema-41710to41800.sql
  plugins/backup/dummy/src/main/java/org/apache/cloudstack/backup/DummyBackupProvider.java
  plugins/backup/veeam/src/main/java/org/apache/cloudstack/backup/veeam/VeeamClient.java
  ui/src/components/view/ListResourceTable.vue
Due: lint-frontend, build-frontend, build-backend-skip-tests, build-backend-with-test, build-backend-with-noredist, build-backend-with-systemvm, build-backend-combined

Make `addGuestOs` `details` parameter optional
  api/src/main/java/org/apache/cloudstack/api/command/admin/guest/AddGuestOsCmd.java
Due: build-backend-skip-tests, build-backend-with-test, build-backend-with-noredist, build-backend-with-systemvm, build-backend-combined

Consertar SQLs dos backports
  engine/schema/src/main/resources/META-INF/db/schema-416014to416015.sql
  engine/schema/src/main/resources/META-INF/db/schema-41710to41800.sql
  engine/schema/src/main/resources/META-INF/db/schema-41720to41800.sql
Due: none

Conserta o processamento dos headers https no _upload_
  services/secondary-storage/server/src/main/java/org/apache/cloudstack/storage/resource/HttpUploadServerHandler.java
Due: build-backend-skip-tests, build-backend-with-test, build-backend-with-noredist, build-backend-with-systemvm, build-backend-combined

Use max secondary storage defined on the account during the upload of volume, template, and ISOs.
  server/src/main/java/com/cloud/storage/VolumeApiServiceImpl.java
  server/src/main/java/com/cloud/template/HypervisorTemplateAdapter.java
Due: build-backend-skip-tests, build-backend-with-test, build-backend-with-noredist, build-backend-with-systemvm, build-backend-combined

Public IP quarantine feature
  api/src/main/java/com/cloud/network/NetworkService.java
  api/src/main/java/com/cloud/network/PublicIpQuarantine.java
  api/src/main/java/org/apache/cloudstack/api/ApiConstants.java
  api/src/main/java/org/apache/cloudstack/api/ResponseGenerator.java
  api/src/main/java/org/apache/cloudstack/api/command/user/address/ListQuarantinedIpsCmd.java
  api/src/main/java/org/apache/cloudstack/api/command/user/address/RemoveQuarantinedIpCmd.java
  api/src/main/java/org/apache/cloudstack/api/command/user/address/UpdateQuarantinedIpCmd.java
  api/src/main/java/org/apache/cloudstack/api/response/IpQuarantineResponse.java
  api/src/main/java/org/apache/cloudstack/query/QueryService.java
  engine/components-api/src/main/java/com/cloud/network/IpAddressManager.java
  engine/schema/src/main/java/com/cloud/network/dao/IPAddressVO.java
  engine/schema/src/main/java/com/cloud/network/dao/PublicIpQuarantineDao.java
  engine/schema/src/main/java/com/cloud/network/dao/PublicIpQuarantineDaoImpl.java
  engine/schema/src/main/java/com/cloud/network/vo/PublicIpQuarantineVO.java
  engine/schema/src/main/resources/META-INF/cloudstack/core/spring-engine-schema-core-daos-context.xml
  framework/db/src/main/java/com/cloud/utils/db/Filter.java
  framework/db/src/main/java/com/cloud/utils/db/GenericDao.java
  framework/db/src/main/java/com/cloud/utils/db/GenericDaoBase.java
  server/src/main/java/com/cloud/api/ApiResponseHelper.java
  server/src/main/java/com/cloud/api/query/QueryManagerImpl.java
  server/src/main/java/com/cloud/network/IpAddressManagerImpl.java
  server/src/main/java/com/cloud/network/NetworkServiceImpl.java
  server/src/main/java/com/cloud/server/ManagementServerImpl.java
  server/src/test/java/com/cloud/network/IpAddressManagerTest.java
  server/src/test/java/com/cloud/network/NetworkServiceImplTest.java
  server/src/test/java/com/cloud/user/MockUsageEventDao.java
  server/src/test/java/com/cloud/vpc/MockNetworkManagerImpl.java
  tools/apidoc/gen_toc.py
  ui/src/views/network/IpAddressesTab.vue
Due: lint-frontend, build-frontend, build-backend-skip-tests, build-backend-with-test, build-backend-with-noredist, build-backend-with-systemvm, build-backend-combined

Hide option to upload volume when user does not have permission
  ui/src/config/section/storage.js
Due: lint-frontend, build-frontend

Move subdomains between domains
  api/src/main/java/com/cloud/event/EventTypes.java
  api/src/main/java/com/cloud/user/DomainService.java
  api/src/main/java/org/apache/cloudstack/api/command/admin/domain/MoveDomainCmd.java
  engine/schema/src/main/java/com/cloud/network/dao/NetworkDomainDao.java
  engine/schema/src/main/java/com/cloud/network/dao/NetworkDomainDaoImpl.java
  engine/schema/src/main/java/org/apache/cloudstack/affinity/dao/AffinityGroupDomainMapDao.java
  engine/schema/src/main/java/org/apache/cloudstack/affinity/dao/AffinityGroupDomainMapDaoImpl.java
  server/src/main/java/com/cloud/server/ManagementServerImpl.java
  server/src/main/java/com/cloud/user/DomainManagerImpl.java
Due: build-backend-skip-tests, build-backend-with-test, build-backend-with-noredist, build-backend-with-systemvm, build-backend-combined

remove supportsOwner from Resource.ResourceType
  api/src/main/java/com/cloud/configuration/Resource.java
  engine/schema/src/main/java/com/cloud/configuration/dao/ResourceCountDaoImpl.java
  server/src/main/java/com/cloud/resourcelimit/ResourceLimitManagerImpl.java
  server/src/main/java/com/cloud/server/ConfigurationServerImpl.java
Due: build-backend-skip-tests, build-backend-with-test, build-backend-with-noredist, build-backend-with-systemvm, build-backend-combined

Port 4.18 fix build errors
  .gitlab-ci.yml
  engine/schema/src/main/java/com/cloud/upgrade/DatabaseUpgradeChecker.java
  engine/schema/src/main/java/com/cloud/upgrade/dao/Upgrade41800to41801.java
  engine/schema/src/main/resources/META-INF/db/schema-41800to41801.sql
  plugins/backup/networker/src/main/java/org/apache/cloudstack/backup/NetworkerBackupProvider.java
  plugins/backup/networker/src/main/java/org/apache/cloudstack/backup/networker/NetworkerClient.java
  ui/src/components/view/ListResourceTable.vue
Due: lint-frontend, build-frontend, build-backend-skip-tests, build-backend-with-test, build-backend-with-noredist, build-backend-with-systemvm, build-backend-combined

Adiciona sqls de backports feitos
  engine/schema/src/main/resources/META-INF/db/schema-41800to41801.sql
Due: none

Correcao de log do NetworksUsageParser
  usage/src/main/java/com/cloud/usage/parser/NetworksUsageParser.java
Due: build-backend-skip-tests, build-backend-with-test, build-backend-with-noredist, build-backend-with-systemvm, build-backend-combined

Não remover ACLs globais ao remover VPC
  server/src/main/java/com/cloud/network/vpc/VpcManagerImpl.java
Due: build-backend-skip-tests, build-backend-with-test, build-backend-with-noredist, build-backend-with-systemvm, build-backend-combined

Fix variable not injected and usage type
  framework/quota/src/main/java/org/apache/cloudstack/quota/constant/QuotaTypes.java
Due: build-backend-skip-tests, build-backend-with-test, build-backend-with-noredist, build-backend-with-systemvm, build-backend-combined

Conserta cast indevido no logging do inicio de vms
  engine/orchestration/src/main/java/com/cloud/vm/VirtualMachineManagerImpl.java
Due: build-backend-skip-tests, build-backend-with-test, build-backend-with-noredist, build-backend-with-systemvm, build-backend-combined

Port 4.18 - Refatoração dos processos e adição de logs na updateResourceCount
  api/src/main/java/org/apache/cloudstack/api/command/user/resource/UpdateResourceCountCmd.java
  engine/orchestration/src/main/java/com/cloud/vm/VirtualMachineManagerImpl.java
  engine/schema/src/main/java/com/cloud/configuration/ResourceCountVO.java
  engine/schema/src/main/java/com/cloud/network/vpc/dao/VpcDaoImpl.java
  engine/schema/src/main/java/com/cloud/storage/dao/VolumeDaoImpl.java
  engine/schema/src/main/java/com/cloud/vm/dao/UserVmDao.java
  engine/schema/src/main/java/com/cloud/vm/dao/UserVmDaoImpl.java
  server/src/main/java/com/cloud/resourcelimit/ResourceLimitManagerImpl.java
  server/src/test/java/com/cloud/resourcelimit/ResourceLimitManagerImplTest.java
  server/src/test/java/com/cloud/vpc/MockResourceLimitManagerImpl.java
Due: build-backend-skip-tests, build-backend-with-test, build-backend-with-noredist, build-backend-with-systemvm, build-backend-combined

Port 4.18 - Escolher o IP _source_ NAT ao criar VPCs
  api/src/main/java/com/cloud/network/vpc/VpcService.java
  api/src/main/java/org/apache/cloudstack/api/ApiConstants.java
  api/src/main/java/org/apache/cloudstack/api/command/user/vpc/CreateVPCCmd.java
  server/src/main/java/com/cloud/network/vpc/VpcManagerImpl.java
  ui/public/locales/en.json
  ui/public/locales/pt_BR.json
  ui/src/utils/network.js
  ui/src/views/network/CreateVpc.vue
  ui/src/views/network/IpAddressesTab.vue
Due: lint-frontend, build-frontend, build-backend-skip-tests, build-backend-with-test, build-backend-with-noredist, build-backend-with-systemvm, build-backend-combined

Path conditions:
  lint-frontend: any of: ui/**/*
  build-frontend: any of: ui/**/*
  build-backend-skip-tests: any of: **/*.java, **/*.xml, **/*.sh
  build-backend-with-test: any of: **/*.java, **/*.xml, **/*.sh
  build-backend-with-noredist: any of: **/*.java, **/*.xml, **/*.sh
  build-backend-with-systemvm: any of: **/*.java, **/*.xml, **/*.sh
  build-backend-combined: any of: **/*.java, **/*.xml, **/*.sh
