Repository scclouds/cloudstack: changes, and which GitLab CI jobs are due for each by the changed paths.
All: lint-frontend, build-frontend, build-backend-skip-tests, build-backend-with-test, build-backend-with-noredist, build-backend-with-systemvm, build-backend-combined

lint-frontend:
  before_script:
  - cd ui
  - npm ci --cache .npm --prefer-offline
  stage: lint
  tags:
  - cloudstack
  script:
  - echo "Starting front-end linting..."
  - npx vue-cli-service lint --no-fix
  - echo "Front-end linting done."

build-frontend:
  before_script:
  - cd ui
  - npm ci --cache .npm --prefer-offline
  stage: build
  needs:
  - lint-frontend
  tags:
  - cloudstack
  script:
  - echo "Building frontend..."
  - npm run build
  - echo "Done building frontend."

build-backend-skip-tests:
  stage: build
  tags:
  - cloudstack
  script:
  - echo "Building backend with 'mvn clean install -DskipTests'..."
  - mvn clean install -DskipTests
  - echo "Done building backend with 'mvn clean install -DskipTests'."

build-backend-with-test:
  stage: build
  tags:
  - cloudstack
  script:
  - echo "Building backend with 'mvn clean install'..."
  - mvn clean install
  - echo "Done building backend with 'mvn clean install'."

build-backend-with-noredist:
  stage: build
  tags:
  - cloudstack
  script:
  - echo "Building backend with 'mvn clean install -Dnoredist'..."
  - mvn clean install -Dnoredist
  - echo "Done building backend with 'mvn clean install -Dnoredist'."

build-backend-with-systemvm:
  stage: build
  tags:
  - cloudstack
  script:
  - echo "Building backend with 'mvn clean install -Psystemvm,developer -Dsystemvm'..."
  - mvn clean install -Psystemvm,developer -Dsystemvm
  - echo "Done building backend with 'mvn clean install -Psystemvm,developer -Dsystemvm'."

build-backend-combined:
  stage: build
  tags:
  - cloudstack
  script:
  - echo "Building backend with 'mvn clean install -Dnoredist -Psystemvm,developer -Dsystemvm'..."
  - mvn clean install -Dnoredist -Psystemvm,developer -Dsystemvm
  - echo "Done building backend with 'mvn clean install -Dnoredist -Psystemvm,developer -Dsystemvm'"

Add support for erasure code pools
  api/src/main/java/org/apache/cloudstack/api/response/StoragePoolResponse.java
  engine/storage/volume/src/main/java/org/apache/cloudstack/storage/datastore/provider/DefaultHostListener.java
  plugins/hypervisors/kvm/src/main/java/com/cloud/hypervisor/kvm/resource/wrapper/LibvirtCreatePrivateTemplateFromVolumeCommandWrapper.java
  plugins/hypervisors/kvm/src/main/java/com/cloud/hypervisor/kvm/resource/wrapper/LibvirtGetVolumesOnStorageCommandWrapper.java
  plugins/hypervisors/kvm/src/main/java/com/cloud/hypervisor/kvm/storage/IscsiAdmStorageAdaptor.java
  plugins/hypervisors/kvm/src/main/java/com/cloud/hypervisor/kvm/storage/KVMPhysicalDisk.java
  plugins/hypervisors/kvm/src/main/java/com/cloud/hypervisor/kvm/storage/KVMStoragePoolManager.java
  plugins/hypervisors/kvm/src/main/java/com/cloud/hypervisor/kvm/storage/KVMStorageProcessor.java
  plugins/hypervisors/kvm/src/main/java/com/cloud/hypervisor/kvm/storage/LibvirtStorageAdaptor.java
  plugins/hypervisors/kvm/src/main/java/com/cloud/hypervisor/kvm/storage/LibvirtStoragePool.java
  plugins/hypervisors/kvm/src/main/java/com/cloud/hypervisor/kvm/storage/StoragePoolInformation.java
  plugins/hypervisors/kvm/src/test/java/com/cloud/hypervisor/kvm/storage/KVMPhysicalDiskTest.java
  plugins/storage/volume/storpool/src/main/java/com/cloud/hypervisor/kvm/resource/wrapper/StorPoolDownloadVolumeCommandWrapper.java
  server/src/main/java/com/cloud/api/query/QueryManagerImpl.java
  ui/public/locales/en.json
  ui/public/locales/pt_BR.json
  ui/src/components/view/DetailsTab.vue
  ui/src/config/section/infra/primaryStorages.js
  ui/src/views/infra/AddPrimaryStorage.vue
  ui/src/views/infra/zone/ZoneWizardAddResources.vue
  ui/src/views/infra/zone/ZoneWizardLaunchZone.vue
Due: lint-frontend, build-frontend, build-backend-skip-tests, build-backend-with-test, build-backend-with-noredist, build-backend-with-systemvm, build-backend-combined

Fix null on putAll
  engine/storage/volume/src/main/java/org/apache/cloudstack/storage/datastore/provider/DefaultHostListener.java
Due: build-backend-skip-tests, build-backend-with-test, build-backend-with-noredist, build-backend-with-systemvm, build-backend-combined

Readd filename string on qemuimg create
  plugins/hypervisors/kvm/src/main/java/com/cloud/hypervisor/kvm/storage/LibvirtStorageAdaptor.java
Due: build-backend-skip-tests, build-backend-with-test, build-backend-with-noredist, build-backend-with-systemvm, build-backend-combined

Remove empty object on the data pool details of storage pools with no data pool
  ui/src/components/view/DetailsTab.vue
Due: lint-frontend, build-frontend

Add first version
  api/pom.xml
  api/src/main/java/com/cloud/event/EventTypes.java
  api/src/main/java/org/apache/cloudstack/api/ApiConstants.java
  api/src/main/java/org/apache/cloudstack/api/ResponseGenerator.java
  api/src/main/java/org/apache/cloudstack/api/command/user/gui/themes/CreateGuiThemeCmd.java
  api/src/main/java/org/apache/cloudstack/api/command/user/gui/themes/ListGuiThemesCmd.java
  api/src/main/java/org/apache/cloudstack/api/command/user/gui/themes/RemoveGuiThemeCmd.java
  api/src/main/java/org/apache/cloudstack/api/command/user/gui/themes/UpdateGuiThemeCmd.java
  api/src/main/java/org/apache/cloudstack/api/response/GuiThemeResponse.java
  api/src/main/java/org/apache/cloudstack/gui/themes/GuiThemeService.java
  api/src/main/java/org/apache/cloudstack/gui/themes/GuiThemeVO.java
  engine/schema/src/main/java/org/apache/cloudstack/gui/theme/dao/GuiThemeDao.java
  engine/schema/src/main/java/org/apache/cloudstack/gui/theme/dao/GuiThemeDaoImpl.java
  engine/schema/src/main/resources/META-INF/cloudstack/core/spring-engine-schema-core-daos-context.xml
  engine/schema/src/main/resources/META-INF/db/schema-41900to42000.sql
  server/src/main/java/com/cloud/api/ApiResponseHelper.java
  server/src/main/java/com/cloud/api/ApiServer.java
  server/src/main/java/com/cloud/api/ApiServlet.java
  server/src/main/java/com/cloud/server/ManagementServerImpl.java
  server/src/main/java/org/apache/cloudstack/gui/theme/GuiThemeServiceImpl.java
  server/src/main/resources/META-INF/cloudstack/core/spring-server-core-managers-context.xml
  server/src/test/java/org/apache/cloudstack/gui/theme/GuiThemeServiceImplTest.java
  tools/apidoc/gen_toc.py
  ui/public/config.json
  ui/src/api/index.js
  ui/src/components/header/UserMenu.vue
  ui/src/main.js
  ui/src/store/modules/user.js
  ui/src/utils/guiTheme.js
Due: lint-frontend, build-frontend, build-backend-skip-tests, build-backend-with-test, build-backend-with-noredist, build-backend-with-systemvm, build-backend-combined

Revert cookie check
  ui/src/main.js
Due: lint-frontend, build-frontend

Add base files for preset themes
  ui/public/assets/asf-logo.svg
  ui/public/assets/feather.svg
  ui/public/css/apache-theme.css
  ui/public/css/dark-theme.css
  ui/public/index.html
  ui/src/main.js
Due: lint-frontend, build-frontend

Fix imports
  server/src/main/java/org/apache/cloudstack/gui/theme/GuiThemeServiceImpl.java
Due: build-backend-skip-tests, build-backend-with-test, build-backend-with-noredist, build-backend-with-systemvm, build-backend-combined

Add miising license
  api/src/main/java/org/apache/cloudstack/gui/themes/GuiThemeService.java
  engine/schema/src/main/java/org/apache/cloudstack/gui/theme/dao/GuiThemeDao.java
Due: build-backend-skip-tests, build-backend-with-test, build-backend-with-noredist, build-backend-with-systemvm, build-backend-combined

Fix create table SQL
  engine/schema/src/main/resources/META-INF/db/schema-41910to42000.sql
Due: none

Move event details to service implementation
  api/src/main/java/org/apache/cloudstack/api/command/user/gui/themes/CreateGuiThemeCmd.java
  api/src/main/java/org/apache/cloudstack/api/command/user/gui/themes/RemoveGuiThemeCmd.java
  api/src/main/java/org/apache/cloudstack/api/command/user/gui/themes/UpdateGuiThemeCmd.java
  server/src/main/java/org/apache/cloudstack/gui/theme/GuiThemeServiceImpl.java
Due: build-backend-skip-tests, build-backend-with-test, build-backend-with-noredist, build-backend-with-systemvm, build-backend-combined

Update since and remove extra line
  api/src/main/java/org/apache/cloudstack/api/command/user/gui/themes/CreateGuiThemeCmd.java
  api/src/main/java/org/apache/cloudstack/api/command/user/gui/themes/ListGuiThemesCmd.java
  api/src/main/java/org/apache/cloudstack/api/command/user/gui/themes/RemoveGuiThemeCmd.java
  api/src/main/java/org/apache/cloudstack/api/command/user/gui/themes/UpdateGuiThemeCmd.java
  ui/src/main.js
Due: lint-frontend, build-frontend, build-backend-skip-tests, build-backend-with-test, build-backend-with-noredist, build-backend-with-systemvm, build-backend-combined

Address log4j2 string to format review and add license to css files
  server/src/main/java/org/apache/cloudstack/gui/theme/GuiThemeServiceImpl.java
  ui/public/css/apache-theme.css
  ui/public/css/dark-theme.css
Due: lint-frontend, build-frontend, build-backend-skip-tests, build-backend-with-test, build-backend-with-noredist, build-backend-with-systemvm, build-backend-combined

Fix pre-commit
  engine/schema/src/main/resources/META-INF/db/schema-41900to42000.sql
  ui/public/assets/asf-logo.svg
  ui/public/assets/feather.svg
  ui/public/css/apache-theme.css
  ui/public/css/dark-theme.css
Due: lint-frontend, build-frontend

Refactoring gui theme classes
  api/pom.xml
  api/src/main/java/org/apache/cloudstack/api/ResponseGenerator.java
  api/src/main/java/org/apache/cloudstack/api/command/user/gui/themes/CreateGuiThemeCmd.java
  api/src/main/java/org/apache/cloudstack/api/command/user/gui/themes/ListGuiThemesCmd.java
  api/src/main/java/org/apache/cloudstack/api/command/user/gui/themes/RemoveGuiThemeCmd.java
  api/src/main/java/org/apache/cloudstack/api/command/user/gui/themes/UpdateGuiThemeCmd.java
  api/src/main/java/org/apache/cloudstack/api/response/GuiThemeResponse.java
  api/src/main/java/org/apache/cloudstack/gui/themes/GuiTheme.java
  api/src/main/java/org/apache/cloudstack/gui/themes/GuiThemeDetails.java
  api/src/main/java/org/apache/cloudstack/gui/themes/GuiThemeJoin.java
  engine/schema/src/main/java/org/apache/cloudstack/gui/theme/dao/GuiThemeDaoImpl.java
  engine/schema/src/main/java/org/apache/cloudstack/gui/themes/GuiThemeDetailsVO.java
  engine/schema/src/main/java/org/apache/cloudstack/gui/themes/GuiThemeJoinVO.java
  engine/schema/src/main/java/org/apache/cloudstack/gui/themes/GuiThemeVO.java
  engine/schema/src/main/java/org/apache/cloudstack/gui/themes/dao/GuiThemeDaoImpl.java
  engine/schema/src/main/java/org/apache/cloudstack/gui/themes/dao/GuiThemeDetailsDaoImpl.java
  engine/schema/src/main/java/org/apache/cloudstack/gui/themes/dao/GuiThemeJoinDaoImpl.java
  engine/schema/src/main/resources/META-INF/db/schema-41900to42000.sql
  engine/schema/src/main/resources/META-INF/db/schema-41910to42000.sql
  server/src/main/java/com/cloud/api/ApiResponseHelper.java
  server/src/main/java/org/apache/cloudstack/gui/themes/GuiThemeServiceImpl.java
  server/src/test/java/org/apache/cloudstack/gui/themes/GuiThemeServiceImplTest.java
Due: build-backend-skip-tests, build-backend-with-test, build-backend-with-noredist, build-backend-with-systemvm, build-backend-combined

Fix infinite loading
  ui/src/main.js
Due: lint-frontend, build-frontend

Add guithemedetails join
  api/src/main/java/org/apache/cloudstack/api/ApiConstants.java
  api/src/main/java/org/apache/cloudstack/api/ResponseGenerator.java
  api/src/main/java/org/apache/cloudstack/api/command/user/gui/themes/CreateGuiThemeCmd.java
  api/src/main/java/org/apache/cloudstack/api/command/user/gui/themes/UpdateGuiThemeCmd.java
  api/src/main/java/org/apache/cloudstack/api/response/GuiThemeResponse.java
  api/src/main/java/org/apache/cloudstack/gui/themes/GuiThemeDetailsVO.java
  api/src/main/java/org/apache/cloudstack/gui/themes/GuiThemeJoinVO.java
  api/src/main/java/org/apache/cloudstack/gui/themes/GuiThemeService.java
  engine/schema/src/main/java/org/apache/cloudstack/gui/theme/dao/GuiThemeDao.java
  engine/schema/src/main/java/org/apache/cloudstack/gui/theme/dao/GuiThemeDetailsDao.java
  engine/schema/src/main/java/org/apache/cloudstack/gui/theme/dao/GuiThemeDetailsDaoImpl.java
  engine/schema/src/main/java/org/apache/cloudstack/gui/theme/dao/GuiThemeJoinDao.java
  engine/schema/src/main/java/org/apache/cloudstack/gui/theme/dao/GuiThemeJoinDaoImpl.java
  engine/schema/src/main/resources/META-INF/cloudstack/core/spring-engine-schema-core-daos-context.xml
  engine/schema/src/main/resources/META-INF/db/schema-41900to42000.sql
  framework/db/src/main/java/com/cloud/utils/db/SearchBase.java
  framework/db/src/main/java/com/cloud/utils/db/SearchCriteria.java
  server/src/main/java/com/cloud/api/ApiResponseHelper.java
  server/src/main/java/org/apache/cloudstack/gui/theme/GuiThemeServiceImpl.java
  server/src/test/java/org/apache/cloudstack/gui/theme/GuiThemeServiceImplTest.java
Due: build-backend-skip-tests, build-backend-with-test, build-backend-with-noredist, build-backend-with-systemvm, build-backend-combined

Address Henrique review
  engine/schema/src/main/java/org/apache/cloudstack/gui/theme/GuiThemeVO.java
  engine/schema/src/main/resources/META-INF/db/schema-41910to42000.sql
  ui/public/css/apache-theme.css
  ui/public/css/dark-theme.css
Due: lint-frontend, build-frontend, build-backend-skip-tests, build-backend-with-test, build-backend-with-noredist, build-backend-with-systemvm, build-backend-combined

Limit information on API response for non admin users
  server/src/main/java/com/cloud/api/ApiResponseHelper.java
Due: build-backend-skip-tests, build-backend-with-test, build-backend-with-noredist, build-backend-with-systemvm, build-backend-combined

Remove extra tabs
  server/src/main/java/com/cloud/api/ApiResponseHelper.java
Due: build-backend-skip-tests, build-backend-with-test, build-backend-with-noredist, build-backend-with-systemvm, build-backend-combined

Normalize package name
  api/src/main/java/org/apache/cloudstack/api/ResponseGenerator.java
  api/src/main/java/org/apache/cloudstack/api/command/user/gui/theme/CreateGuiThemeCmd.java
  api/src/main/java/org/apache/cloudstack/api/command/user/gui/theme/ListGuiThemesCmd.java
  api/src/main/java/org/apache/cloudstack/api/command/user/gui/theme/RemoveGuiThemeCmd.java
  api/src/main/java/org/apache/cloudstack/api/command/user/gui/theme/UpdateGuiThemeCmd.java
  api/src/main/java/org/apache/cloudstack/api/response/GuiThemeResponse.java
  api/src/main/java/org/apache/cloudstack/gui/theme/GuiTheme.java
  api/src/main/java/org/apache/cloudstack/gui/theme/GuiThemeDetails.java
  api/src/main/java/org/apache/cloudstack/gui/theme/GuiThemeJoin.java
  api/src/main/java/org/apache/cloudstack/gui/theme/GuiThemeService.java
  engine/schema/src/main/java/org/apache/cloudstack/gui/theme/GuiThemeDetailsVO.java
  engine/schema/src/main/java/org/apache/cloudstack/gui/theme/GuiThemeJoinVO.java
  engine/schema/src/main/java/org/apache/cloudstack/gui/theme/GuiThemeVO.java
  engine/schema/src/main/java/org/apache/cloudstack/gui/theme/dao/GuiThemeDaoImpl.java
  engine/schema/src/main/java/org/apache/cloudstack/gui/theme/dao/GuiThemeDetailsDaoImpl.java
  engine/schema/src/main/java/org/apache/cloudstack/gui/theme/dao/GuiThemeJoinDaoImpl.java
  server/src/main/java/com/cloud/api/ApiResponseHelper.java
  server/src/main/java/com/cloud/api/ApiServer.java
  server/src/main/java/com/cloud/api/ApiServlet.java
  server/src/main/java/com/cloud/server/ManagementServerImpl.java
  server/src/main/java/org/apache/cloudstack/gui/theme/GuiThemeServiceImpl.java
  server/src/test/java/org/apache/cloudstack/gui/theme/GuiThemeServiceImplTest.java
Due: build-backend-skip-tests, build-backend-with-test, build-backend-with-noredist, build-backend-with-systemvm, build-backend-combined

Move view to a specific view file
  engine/schema/src/main/resources/META-INF/db/schema-41900to42000.sql
  engine/schema/src/main/resources/META-INF/db/views/cloud.gui_themes_view.sql
Due: none

Add interface for Dao classes
  engine/schema/src/main/java/org/apache/cloudstack/gui/theme/dao/GuiThemeDao.java
  engine/schema/src/main/java/org/apache/cloudstack/gui/theme/dao/GuiThemeDetailsDao.java
  engine/schema/src/main/java/org/apache/cloudstack/gui/theme/dao/GuiThemeDetailsDaoImpl.java
  engine/schema/src/main/java/org/apache/cloudstack/gui/theme/dao/GuiThemeJoinDao.java
  engine/schema/src/main/java/org/apache/cloudstack/gui/theme/dao/GuiThemeJoinDaoImpl.java
  server/src/main/java/org/apache/cloudstack/gui/theme/GuiThemeServiceImpl.java
Due: build-backend-skip-tests, build-backend-with-test, build-backend-with-noredist, build-backend-with-systemvm, build-backend-combined

fixing asterisk, refactoring apikey permissions check
  api/src/main/java/com/cloud/user/AccountService.java
  api/src/main/java/com/cloud/user/ApiKeyPairState.java
  api/src/main/java/org/apache/cloudstack/acl/RoleService.java
  api/src/main/java/org/apache/cloudstack/acl/Rule.java
  api/src/main/java/org/apache/cloudstack/acl/apikeypair/ApiKeyPair.java
  api/src/main/java/org/apache/cloudstack/acl/apikeypair/ApiKeyPairService.java
  api/src/main/java/org/apache/cloudstack/api/ApiConstants.java
  api/src/main/java/org/apache/cloudstack/api/command/admin/user/DeleteUserKeysCmd.java
  api/src/main/java/org/apache/cloudstack/api/command/admin/user/ListUserKeyRulesCmd.java
  api/src/main/java/org/apache/cloudstack/api/command/admin/user/ListUserKeysCmd.java
  api/src/main/java/org/apache/cloudstack/api/command/admin/user/RegisterUserKeysCmd.java
  api/src/main/java/org/apache/cloudstack/api/response/ApiKeyPairResponse.java
  engine/schema/src/main/java/com/cloud/user/dao/AccountDaoImpl.java
  engine/schema/src/main/java/org/apache/cloudstack/acl/ApiKeyPairPermissionVO.java
  engine/schema/src/main/java/org/apache/cloudstack/acl/ApiKeyPairVO.java
  plugins/api/discovery/pom.xml
  plugins/api/discovery/src/main/java/org/apache/cloudstack/api/command/user/discovery/ListApisCmd.java
  plugins/api/discovery/src/main/java/org/apache/cloudstack/discovery/ApiDiscoveryServiceImpl.java
  plugins/api/discovery/src/test/java/org/apache/cloudstack/discovery/ApiDiscoveryTest.java
  plugins/database/quota/src/main/java/org/apache/cloudstack/api/response/QuotaResponseBuilderImpl.java
  plugins/database/quota/src/test/java/org/apache/cloudstack/api/response/QuotaResponseBuilderImplTest.java
  server/src/main/java/com/cloud/api/ApiResponseHelper.java
  server/src/main/java/com/cloud/api/ApiServer.java
  server/src/main/java/com/cloud/user/AccountManager.java
  server/src/main/java/com/cloud/user/AccountManagerImpl.java
  server/src/main/java/org/apache/cloudstack/acl/ApiKeyPairManagerImpl.java
  server/src/main/java/org/apache/cloudstack/acl/RoleManagerImpl.java
  server/src/test/java/com/cloud/user/AccountManagerImplTest.java
  server/src/test/java/com/cloud/user/MockAccountManagerImpl.java
  server/src/test/java/org/apache/cloudstack/acl/ApiKeyPairManagerImplTest.java
  server/src/test/java/org/apache/cloudstack/acl/RoleManagerImplTest.java
Due: build-backend-skip-tests, build-backend-with-test, build-backend-with-noredist, build-backend-with-systemvm, build-backend-combined

fix db migration logic, list permissions with keys
  api/src/main/java/org/apache/cloudstack/api/command/admin/user/DeleteUserKeysCmd.java
  engine/schema/src/main/java/com/cloud/upgrade/dao/Upgrade41910to42000.java
  server/src/main/java/com/cloud/user/AccountManagerImpl.java
Due: build-backend-skip-tests, build-backend-with-test, build-backend-with-noredist, build-backend-with-systemvm, build-backend-combined

fixing tests
  server/src/test/java/com/cloud/user/AccountManagerImplTest.java
  server/src/test/java/org/apache/cloudstack/acl/RoleManagerImplTest.java
Due: build-backend-skip-tests, build-backend-with-test, build-backend-with-noredist, build-backend-with-systemvm, build-backend-combined

fix noredist
  plugins/network-elements/juniper-contrail/src/test/java/org/apache/cloudstack/network/contrail/management/MockAccountManager.java
Due: build-backend-skip-tests, build-backend-with-test, build-backend-with-noredist, build-backend-with-systemvm, build-backend-combined

Create global setting
  engine/components-api/src/main/java/com/cloud/template/TemplateManager.java
  server/src/main/java/com/cloud/template/TemplateManagerImpl.java
Due: build-backend-skip-tests, build-backend-with-test, build-backend-with-noredist, build-backend-with-systemvm, build-backend-combined

Conserta update pra 4.20
  .gitlab-ci.yml
  engine/schema/src/main/resources/META-INF/db/schema-418015to41810.sql
  engine/schema/src/main/resources/META-INF/db/schema-41810to41900.sql
  engine/schema/src/main/resources/META-INF/db/views/cloud.user_view.sql
Due: none

Realmente conserta o update pra 4.20
  engine/schema/src/main/java/com/cloud/upgrade/dao/Upgrade418015to41810.java
  engine/schema/src/main/resources/META-INF/db/schema-418015to41810.sql
  engine/schema/src/main/resources/META-INF/db/schema-41810to41900.sql
Due: build-backend-skip-tests, build-backend-with-test, build-backend-with-noredist, build-backend-with-systemvm, build-backend-combined

Puxa as mudanças na main
  engine/storage/datamotion/src/main/java/org/apache/cloudstack/storage/motion/StorageSystemDataMotionStrategy.java
  engine/storage/image/src/main/java/org/apache/cloudstack/storage/image/TemplateServiceImpl.java
  plugins/hypervisors/kvm/src/main/java/com/cloud/hypervisor/kvm/resource/LibvirtComputingResource.java
  plugins/hypervisors/kvm/src/main/java/com/cloud/hypervisor/kvm/resource/LibvirtStoragePoolDef.java
  plugins/hypervisors/kvm/src/main/java/com/cloud/hypervisor/kvm/resource/wrapper/LibvirtOvsFetchInterfaceCommandWrapper.java
  plugins/hypervisors/kvm/src/main/java/com/cloud/hypervisor/kvm/storage/IscsiAdmStorageAdaptor.java
  plugins/hypervisors/kvm/src/main/java/com/cloud/hypervisor/kvm/storage/KVMStoragePoolManager.java
  plugins/hypervisors/kvm/src/main/java/com/cloud/hypervisor/kvm/storage/KVMStorageProcessor.java
  plugins/hypervisors/kvm/src/main/java/com/cloud/hypervisor/kvm/storage/LibvirtStorageAdaptor.java
  plugins/hypervisors/kvm/src/main/java/com/cloud/hypervisor/kvm/storage/ManagedNfsStorageAdaptor.java
  plugins/hypervisors/kvm/src/main/java/com/cloud/hypervisor/kvm/storage/MultipathSCSIAdapterBase.java
  plugins/hypervisors/kvm/src/main/java/com/cloud/hypervisor/kvm/storage/ScaleIOStorageAdaptor.java
  plugins/hypervisors/kvm/src/main/java/com/cloud/hypervisor/kvm/storage/StorageAdaptor.java
  plugins/hypervisors/kvm/src/test/java/com/cloud/hypervisor/kvm/resource/LibvirtComputingResourceTest.java
  plugins/hypervisors/kvm/src/test/java/com/cloud/hypervisor/kvm/storage/LibvirtStorageAdaptorTest.java
  plugins/storage/volume/linstor/CHANGELOG.md
  plugins/storage/volume/linstor/src/main/java/com/cloud/hypervisor/kvm/storage/LinstorStorageAdaptor.java
  plugins/storage/volume/linstor/src/main/java/org/apache/cloudstack/storage/datastore/util/LinstorUtil.java
  plugins/storage/volume/storpool/src/main/java/com/cloud/hypervisor/kvm/storage/StorPoolStorageAdaptor.java
  plugins/storage/volume/storpool/src/main/java/org/apache/cloudstack/storage/datastore/util/StorPoolUtil.java
  plugins/storage/volume/storpool/src/main/java/org/apache/cloudstack/storage/snapshot/StorPoolSnapshotStrategy.java
  server/src/main/java/com/cloud/api/query/QueryManagerImpl.java
  systemvm/debian/opt/cloud/bin/cs/CsFile.py
  tools/build/build_asf.sh
  ui/src/components/view/DetailSettings.vue
  ui/src/config/section/compute.js
  ui/src/views/compute/KubernetesServiceTab.vue
  ui/src/views/compute/StartVirtualMachine.vue
  ui/src/views/infra/UpdatePrimaryStorage.vue
  utils/src/main/java/com/cloud/utils/HttpUtils.java
  utils/src/test/java/com/cloud/utils/HttpUtilsTest.java
Due: lint-frontend, build-frontend, build-backend-skip-tests, build-backend-with-test, build-backend-with-noredist, build-backend-with-systemvm, build-backend-combined

Add .gitlab/merge_request_templates/ dir
  .gitlab/merge_request_templates/.gitkeep
Due: none

Add default MR description
  .gitlab/merge_request_templates/default.md
Due: none

Atualiza o CI da 4.20 com as mudanças realizadas na 4.18
  .gitlab-ci.yml
Due: none

Adiciona data de criação de conta no quota
  framework/quota/src/main/java/org/apache/cloudstack/quota/activationrule/presetvariables/Account.java
  framework/quota/src/main/java/org/apache/cloudstack/quota/activationrule/presetvariables/PresetVariableHelper.java
Due: build-backend-skip-tests, build-backend-with-test, build-backend-with-noredist, build-backend-with-systemvm, build-backend-combined

Adiciona variável created no PresetVariableAccountTest
  framework/quota/src/test/java/org/apache/cloudstack/quota/activationrule/presetvariables/PresetVariableHelperTest.java
Due: build-backend-skip-tests, build-backend-with-test, build-backend-with-noredist, build-backend-with-systemvm, build-backend-combined

Altera método para aderir as convenções de código do ACS
  framework/quota/src/main/java/org/apache/cloudstack/quota/activationrule/presetvariables/Account.java
Due: build-backend-skip-tests, build-backend-with-test, build-backend-with-noredist, build-backend-with-systemvm, build-backend-combined

Altera TZ para o formato GMT utilizado pelo BD
  framework/quota/src/main/java/org/apache/cloudstack/quota/activationrule/presetvariables/Account.java
Due: build-backend-skip-tests, build-backend-with-test, build-backend-with-noredist, build-backend-with-systemvm, build-backend-combined

Adiciona timezone em que a data de criação é retornada
  framework/quota/src/main/java/org/apache/cloudstack/quota/activationrule/presetvariables/Account.java
Due: build-backend-skip-tests, build-backend-with-test, build-backend-with-noredist, build-backend-with-systemvm, build-backend-combined

Path conditions:
  lint-frontend: any of: ui/**/*
  build-frontend: any of: ui/**/*
  build-backend-skip-tests: any of: **/*.java, **/*.xml, **/*.sh
  build-backend-with-test: any of: **/*.java, **/*.xml, **/*.sh
  build-backend-with-noredist: any of: **/*.java, **/*.xml, **/*.sh
  build-backend-with-systemvm: any of: **/*.java, **/*.xml, **/*.sh
  build-backend-combined: any of: **/*.java, **/*.xml, **/*.sh
