Repository scclouds/cloudstack: changes, and which GitLab CI jobs are due for each by the changed paths.
All: lint-frontend, build-frontend, build-backend-skip-tests, build-backend-with-test, build-backend-with-noredist, build-backend-with-systemvm, build-backend-combined

Path conditions:
  lint-frontend: any of: ui/**/*
  build-frontend: any of: ui/**/*
  build-backend-skip-tests: any of: **/*.java, **/*.xml, **/*.sh
  build-backend-with-test: any of: **/*.java, **/*.xml, **/*.sh
  build-backend-with-noredist: any of: **/*.java, **/*.xml, **/*.sh
  build-backend-with-systemvm: any of: **/*.java, **/*.xml, **/*.sh
  build-backend-combined: any of: **/*.java, **/*.xml, **/*.sh

Aplicar regras de IP ao reiniciar VRs
  server/src/main/java/com/cloud/network/router/VirtualNetworkApplianceManagerImpl.java
  server/src/main/java/com/cloud/network/router/VpcVirtualNetworkApplianceManagerImpl.java
Due: build-backend-skip-tests, build-backend-with-test, build-backend-with-noredist, build-backend-with-systemvm, build-backend-combined

Ajustes na funcionalidade de gerenciamento de temas
  api/src/main/java/org/apache/cloudstack/api/ApiConstants.java
  api/src/main/java/org/apache/cloudstack/api/ResponseGenerator.java
  api/src/main/java/org/apache/cloudstack/api/command/user/gui/themes/CreateGuiThemeCmd.java
  api/src/main/java/org/apache/cloudstack/api/command/user/gui/themes/UpdateGuiThemeCmd.java
  api/src/main/java/org/apache/cloudstack/api/response/GuiThemeResponse.java
  api/src/main/java/org/apache/cloudstack/gui/themes/GuiThemeDetailsVO.java
  api/src/main/java/org/apache/cloudstack/gui/themes/GuiThemeJoinVO.java
  api/src/main/java/org/apache/cloudstack/gui/themes/GuiThemeService.java
  engine/schema/src/main/java/com/cloud/upgrade/dao/Upgrade41804to41805.java
  engine/schema/src/main/java/org/apache/cloudstack/gui/theme/dao/GuiThemeDaoImpl.java
  engine/schema/src/main/java/org/apache/cloudstack/gui/theme/dao/GuiThemeDetailsDao.java
  engine/schema/src/main/java/org/apache/cloudstack/gui/theme/dao/GuiThemeDetailsDaoImpl.java
  engine/schema/src/main/java/org/apache/cloudstack/gui/theme/dao/GuiThemeJoinDao.java
  engine/schema/src/main/java/org/apache/cloudstack/gui/theme/dao/GuiThemeJoinDaoImpl.java
  engine/schema/src/main/resources/META-INF/cloudstack/core/spring-engine-schema-core-daos-context.xml
  engine/schema/src/main/resources/META-INF/db/schema-41804to41805.sql
  framework/db/src/main/java/com/cloud/utils/db/SearchBase.java
  framework/db/src/main/java/com/cloud/utils/db/SearchCriteria.java
  server/src/main/java/com/cloud/api/ApiResponseHelper.java
  server/src/main/java/org/apache/cloudstack/gui/theme/GuiThemeServiceImpl.java
  server/src/test/java/org/apache/cloudstack/gui/theme/GuiThemeServiceImplTest.java
Due: build-backend-skip-tests, build-backend-with-test, build-backend-with-noredist, build-backend-with-systemvm, build-backend-combined

Corrigir null na listagem de preset variables no Quota
  plugins/database/quota/src/main/java/org/apache/cloudstack/api/response/QuotaPresetVariablesItemResponse.java
Due: build-backend-skip-tests, build-backend-with-test, build-backend-with-noredist, build-backend-with-systemvm, build-backend-combined

Buscar por VM rodando antes de desalocar a NIC no processo de _Network Garbage Collector_
  engine/schema/src/main/java/com/cloud/vm/dao/NicDao.java
  engine/schema/src/main/java/com/cloud/vm/dao/NicDaoImpl.java
  server/src/main/java/com/cloud/network/NetworkModelImpl.java
Due: build-backend-skip-tests, build-backend-with-test, build-backend-with-noredist, build-backend-with-systemvm, build-backend-combined

Converter volume a outro diretório em vez de copiá-lo ao tirar snapshots de volume no KVM
  plugins/hypervisors/kvm/src/main/java/com/cloud/hypervisor/kvm/storage/KVMStorageProcessor.java
  plugins/hypervisors/kvm/src/test/java/com/cloud/hypervisor/kvm/storage/KVMStorageProcessorTest.java
Due: build-backend-skip-tests, build-backend-with-test, build-backend-with-noredist, build-backend-with-systemvm, build-backend-combined

Fix network garbage collector not cleaning running vrs without vms
  engine/schema/src/main/java/com/cloud/vm/dao/NicDaoImpl.java
Due: build-backend-skip-tests, build-backend-with-test, build-backend-with-noredist, build-backend-with-systemvm, build-backend-combined

Estimar uso de Quota durante criação de instância pela UI
  api/src/main/java/org/apache/cloudstack/api/ApiConstants.java
  api/src/main/java/org/apache/cloudstack/api/response/AccountResponse.java
  api/src/main/java/org/apache/cloudstack/api/response/ProjectResponse.java
  engine/schema/src/main/resources/META-INF/db/schema-41804to41805.sql
  framework/quota/src/main/java/org/apache/cloudstack/quota/activationrule/presetvariables/Domain.java
  plugins/database/quota/src/main/java/org/apache/cloudstack/api/command/QuotaResourceQuotingCmd.java
  plugins/database/quota/src/main/java/org/apache/cloudstack/api/response/QuotaResourceQuotingResponse.java
  server/pom.xml
  server/src/main/java/com/cloud/api/ApiDBUtils.java
  server/src/main/java/com/cloud/api/query/dao/ProjectJoinDaoImpl.java
  ui/public/locales/en.json
  ui/public/locales/pt_BR.json
  ui/src/components/view/InfoCard.vue
  ui/src/components/view/stats/EstimatedCost.vue
  ui/src/views/compute/DeployVM.vue
Due: lint-frontend, build-frontend, build-backend-skip-tests, build-backend-with-test, build-backend-with-noredist, build-backend-with-systemvm, build-backend-combined

Suporte a cgroup versão 2
  core/src/main/java/com/cloud/agent/api/MigrateCommand.java
  core/src/main/java/com/cloud/agent/api/PrepareForMigrationAnswer.java
  engine/orchestration/src/main/java/com/cloud/vm/VirtualMachineManagerImpl.java
  plugins/hypervisors/kvm/src/main/java/com/cloud/hypervisor/kvm/resource/LibvirtComputingResource.java
  plugins/hypervisors/kvm/src/main/java/com/cloud/hypervisor/kvm/resource/wrapper/LibvirtMigrateCommandWrapper.java
  plugins/hypervisors/kvm/src/main/java/com/cloud/hypervisor/kvm/resource/wrapper/LibvirtPrepareForMigrationCommandWrapper.java
  plugins/hypervisors/kvm/src/main/java/com/cloud/hypervisor/kvm/resource/wrapper/LibvirtScaleVmCommandWrapper.java
  plugins/hypervisors/kvm/src/test/java/com/cloud/hypervisor/kvm/resource/LibvirtComputingResourceTest.java
  plugins/hypervisors/kvm/src/test/java/com/cloud/hypervisor/kvm/resource/wrapper/LibvirtMigrateCommandWrapperTest.java
  plugins/hypervisors/kvm/src/test/java/com/cloud/hypervisor/kvm/resource/wrapper/LibvirtPrepareForMigrationCommandWrapperTest.java
  plugins/hypervisors/kvm/src/test/java/com/cloud/hypervisor/kvm/resource/wrapper/LibvirtScaleVmCommandWrapperTest.java
Due: build-backend-skip-tests, build-backend-with-test, build-backend-with-noredist, build-backend-with-systemvm, build-backend-combined

Correção no processo do primeiro balanço de contas do Quota
  framework/quota/src/main/java/org/apache/cloudstack/quota/QuotaManagerImpl.java
Due: build-backend-skip-tests, build-backend-with-test, build-backend-with-noredist, build-backend-with-systemvm, build-backend-combined

Consertar !660
  framework/quota/src/main/java/org/apache/cloudstack/quota/dao/QuotaBalanceDaoImpl.java
  plugins/database/quota/src/main/java/org/apache/cloudstack/api/response/QuotaResponseBuilderImpl.java
  plugins/database/quota/src/main/java/org/apache/cloudstack/quota/QuotaServiceImpl.java
  plugins/database/quota/src/test/java/org/apache/cloudstack/quota/QuotaServiceImplTest.java
Due: build-backend-skip-tests, build-backend-with-test, build-backend-with-noredist, build-backend-with-systemvm, build-backend-combined

Associar _tier_ e IP público de VPC para outra conta pela UI
  api/src/main/java/org/apache/cloudstack/api/ApiConstants.java
  api/src/main/java/org/apache/cloudstack/api/command/user/network/ListNetworksCmd.java
  api/src/main/java/org/apache/cloudstack/api/response/IPAddressResponse.java
  api/src/main/java/org/apache/cloudstack/api/response/NetworkResponse.java
  server/src/main/java/com/cloud/api/ApiResponseHelper.java
  server/src/test/java/com/cloud/api/ApiResponseHelperTest.java
  ui/src/components/view/InfoCard.vue
  ui/src/components/view/ListView.vue
  ui/src/views/compute/DeployVM.vue
  ui/src/views/compute/wizard/OwnershipSelection.vue
  ui/src/views/network/IpAddressesTab.vue
  ui/src/views/network/VpcTiersTab.vue
Due: lint-frontend, build-frontend, build-backend-skip-tests, build-backend-with-test, build-backend-with-noredist, build-backend-with-systemvm, build-backend-combined

Ajustes versão 4.18.0.5-scclouds
  plugins/database/quota/src/main/java/org/apache/cloudstack/api/response/QuotaResponseBuilderImpl.java
  server/src/main/java/com/cloud/api/ApiResponseHelper.java
  ui/src/views/network/IpAddressesTab.vue
  ui/src/views/network/VpcTiersTab.vue
Due: lint-frontend, build-frontend, build-backend-skip-tests, build-backend-with-test, build-backend-with-noredist, build-backend-with-systemvm, build-backend-combined

Update Mockito to 3.12.4
  pom.xml
Due: build-backend-skip-tests, build-backend-with-test, build-backend-with-noredist, build-backend-with-systemvm, build-backend-combined

Fix disk size on ISO VM deploy
  ui/src/views/compute/DeployVM.vue
Due: lint-frontend, build-frontend

Conserta erros de checkstyle introduzidos no !680
  engine/schema/src/main/java/com/cloud/upgrade/DatabaseUpgradeChecker.java
  engine/schema/src/main/java/com/cloud/upgrade/dao/Upgrade41805to41806.java
Due: build-backend-skip-tests, build-backend-with-test, build-backend-with-noredist, build-backend-with-systemvm, build-backend-combined

Possibilitar bloqueio e desbloqueio de usuário via UI
  ui/public/locales/en.json
  ui/public/locales/pt_BR.json
  ui/src/config/section/user.js
  ui/src/views/iam/LockUser.vue
Due: lint-frontend, build-frontend

Melhorar logs no processo de remoção de primary storage
  server/src/main/java/com/cloud/storage/StorageManagerImpl.java
  server/src/test/java/com/cloud/storage/StorageManagerImplTest.java
Due: build-backend-skip-tests, build-backend-with-test, build-backend-with-noredist, build-backend-with-systemvm, build-backend-combined

Arrumar listagem de volumes para migração
  api/src/main/java/org/apache/cloudstack/api/command/admin/storage/FindStoragePoolsForMigrationCmd.java
Due: build-backend-skip-tests, build-backend-with-test, build-backend-with-noredist, build-backend-with-systemvm, build-backend-combined

Permitir a criação de _private gateway_ especificando uma ACL global
  server/src/main/java/com/cloud/network/vpc/NetworkACLServiceImpl.java
  server/src/main/java/com/cloud/network/vpc/VpcManagerImpl.java
  server/src/test/java/com/cloud/network/vpc/VpcManagerImplTest.java
Due: build-backend-skip-tests, build-backend-with-test, build-backend-with-noredist, build-backend-with-systemvm, build-backend-combined

Melhorar logs e refatorar API assignVirtualMachine
  api/src/main/java/org/apache/cloudstack/api/command/admin/vm/AssignVMCmd.java
  server/src/main/java/com/cloud/vm/UserVmManagerImpl.java
Due: build-backend-skip-tests, build-backend-with-test, build-backend-with-noredist, build-backend-with-systemvm, build-backend-combined

Refatorar e corrigir comportamento da API `quotaValidateactivationrule`
  framework/quota/src/main/java/org/apache/cloudstack/quota/activationrule/presetvariables/PresetVariables.java
  framework/quota/src/test/java/org/apache/cloudstack/quota/QuotaManagerImplTest.java
  plugins/database/quota/src/main/java/org/apache/cloudstack/api/response/QuotaResponseBuilderImpl.java
  plugins/database/quota/src/test/java/org/apache/cloudstack/api/response/QuotaResponseBuilderImplTest.java
  server/src/main/java/org/apache/cloudstack/jsinterpreter/JsInterpreterHelper.java
  server/src/test/java/org/apache/cloudstack/jsinterpreter/JsInterpreterHelperTest.java
Due: build-backend-skip-tests, build-backend-with-test, build-backend-with-noredist, build-backend-with-systemvm, build-backend-combined

Fazer _escape_ dos caracteres especiais nas mensagens do MR !678
  ui/public/locales/pt_BR.json
Due: lint-frontend, build-frontend

Alterar visibilidade de _default roles_ pela GUI
  ui/src/config/section/role.js
Due: lint-frontend, build-frontend

Aprimorar _logs_ da classe `LibvirtComputingResource`
  plugins/hypervisors/kvm/src/main/java/com/cloud/hypervisor/kvm/resource/LibvirtComputingResource.java
  plugins/hypervisors/kvm/src/main/java/com/cloud/hypervisor/kvm/resource/LibvirtExtendedVmStatsEntry.java
  plugins/hypervisors/kvm/src/test/java/com/cloud/hypervisor/kvm/resource/LibvirtComputingResourceTest.java
Due: build-backend-skip-tests, build-backend-with-test, build-backend-with-noredist, build-backend-with-systemvm, build-backend-combined

Corrigir erro ao subir VM XenServer com configurações extras
  plugins/hypervisors/xenserver/src/main/java/com/cloud/hypervisor/xenserver/resource/CitrixResourceBase.java
  plugins/hypervisors/xenserver/src/main/java/org/apache/cloudstack/hypervisor/xenserver/ExtraConfigurationUtility.java
Due: build-backend-skip-tests, build-backend-with-test, build-backend-with-noredist, build-backend-with-systemvm, build-backend-combined

Utilizar as configurações do Quota da conta
  engine/schema/src/main/resources/META-INF/cloudstack/core/spring-engine-schema-core-common-daos-between-management-and-usage-context.xml
  framework/quota/src/main/java/org/apache/cloudstack/quota/QuotaAlertManagerImpl.java
  framework/quota/src/main/java/org/apache/cloudstack/quota/QuotaManager.java
  framework/quota/src/main/java/org/apache/cloudstack/quota/QuotaManagerImpl.java
  framework/quota/src/test/java/org/apache/cloudstack/quota/QuotaAlertManagerImplTest.java
Due: build-backend-skip-tests, build-backend-with-test, build-backend-with-noredist, build-backend-with-systemvm, build-backend-combined

Evitar regra de ACL com protocolo ICMP e `icmptype` ou `icmpcode` nulo
  server/src/main/java/com/cloud/network/vpc/NetworkACLServiceImpl.java
  server/src/test/java/com/cloud/network/vpc/NetworkACLServiceImplTest.java
Due: build-backend-skip-tests, build-backend-with-test, build-backend-with-noredist, build-backend-with-systemvm, build-backend-combined

Ocultar aba de volumes caso a conta não possua permissão de listagem
  ui/src/views/compute/InstanceTab.vue
Due: lint-frontend, build-frontend

Normalização dos caracteres especiais na localização em português brasileiro da UI
  ui/public/locales/pt_BR.json
Due: lint-frontend, build-frontend

Corrigir confirmação da conta na mensagem de crédito adicionado no Quota
  ui/src/views/plugins/quota/AddQuotaCredit.vue
Due: lint-frontend, build-frontend

Correção de NPE durante o _deploy_ de VMs caso a configuração `implicit.host.tags` esteja vazia
  server/src/main/java/com/cloud/deploy/FirstFitPlanner.java
Due: build-backend-skip-tests, build-backend-with-test, build-backend-with-noredist, build-backend-with-systemvm, build-backend-combined

Alterado método para verificação da existência do comando cryptsetup
  plugins/hypervisors/kvm/src/main/java/org/apache/cloudstack/utils/cryptsetup/CryptSetup.java
Due: build-backend-skip-tests, build-backend-with-test, build-backend-with-noredist, build-backend-with-systemvm, build-backend-combined

Refatorar método `updateDiskOfferings`
  server/src/main/java/com/cloud/configuration/ConfigurationManagerImpl.java
  server/src/test/java/com/cloud/configuration/ConfigurationManagerImplTest.java
Due: build-backend-skip-tests, build-backend-with-test, build-backend-with-noredist, build-backend-with-systemvm, build-backend-combined

Habilitar botão de reconectar _hosts_ em alerta na UI
  ui/src/config/section/infra/hosts.js
Due: lint-frontend, build-frontend

Conserta NPE no _attach_ de volume _allocated_ em VM sem disco
  server/src/main/java/com/cloud/storage/VolumeApiServiceImpl.java
Due: build-backend-skip-tests, build-backend-with-test, build-backend-with-noredist, build-backend-with-systemvm, build-backend-combined

Consertar erro 404 ao tentar acessar volume de _system_ VMs
  ui/src/views/AutogenView.vue
Due: lint-frontend, build-frontend

Limitar informações da response da API `listGuiThemes`
  server/src/main/java/com/cloud/api/ApiResponseHelper.java
Due: build-backend-skip-tests, build-backend-with-test, build-backend-with-noredist, build-backend-with-systemvm, build-backend-combined

Alterar nível de visibilidade dos _logs_ da API `quotaStatement`
  plugins/database/quota/src/main/java/org/apache/cloudstack/api/response/QuotaResponseBuilderImpl.java
Due: build-backend-skip-tests, build-backend-with-test, build-backend-with-noredist, build-backend-with-systemvm, build-backend-combined
