Repository scclouds/cloudstack: changes, and which GitLab CI jobs are due for each by the changed paths.
All: lint-frontend, build-frontend, build-backend-skip-tests, build-backend-with-test, build-backend-with-noredist, build-backend-with-systemvm, build-backend-combined

Path conditions:
  lint-frontend: any of: ui/**/*
  build-frontend: any of: ui/**/*
  build-backend-skip-tests: any of: **/*.java, **/*.xml, **/*.sh
  build-backend-with-test: any of: **/*.java, **/*.xml, **/*.sh
  build-backend-with-noredist: any of: **/*.java, **/*.xml, **/*.sh
  build-backend-with-systemvm: any of: **/*.java, **/*.xml, **/*.sh
  build-backend-combined: any of: **/*.java, **/*.xml, **/*.sh

Create templates for 4.18
  .gitlab/issue_templates/descricao_issue_pr.md
  .gitlab/issue_templates/meeting_minutes.md
  .gitlab/issue_templates/relatorio_reuniao.md
  .gitlab/merge_request_templates/descricao_mr.md
Due: none

Fechamento mensal de fatura do Quota
  api/src/main/java/org/apache/cloudstack/api/ApiConstants.java
  engine/schema/src/main/java/com/cloud/usage/dao/UsageDao.java
  engine/schema/src/main/java/com/cloud/usage/dao/UsageDaoImpl.java
  engine/schema/src/main/resources/META-INF/db/schema-41802to41803.sql
  framework/quota/src/main/java/org/apache/cloudstack/quota/QuotaManagerImpl.java
  framework/quota/src/main/java/org/apache/cloudstack/quota/activationrule/presetvariables/PresetVariables.java
  framework/quota/src/main/java/org/apache/cloudstack/quota/activationrule/presetvariables/ProcessedData.java
  framework/quota/src/main/java/org/apache/cloudstack/quota/constant/ProcessingPeriod.java
  framework/quota/src/main/java/org/apache/cloudstack/quota/dao/QuotaTariffDao.java
  framework/quota/src/main/java/org/apache/cloudstack/quota/dao/QuotaTariffDaoImpl.java
  framework/quota/src/main/java/org/apache/cloudstack/quota/dao/QuotaUsageDao.java
  framework/quota/src/main/java/org/apache/cloudstack/quota/dao/QuotaUsageDaoImpl.java
  framework/quota/src/main/java/org/apache/cloudstack/quota/vo/QuotaTariffVO.java
  framework/quota/src/main/java/org/apache/cloudstack/quota/vo/QuotaUsageVO.java
  framework/quota/src/test/java/org/apache/cloudstack/quota/QuotaManagerImplTest.java
  framework/quota/src/test/java/org/apache/cloudstack/quota/vo/QuotaTariffVOTest.java
  plugins/database/quota/src/main/java/org/apache/cloudstack/api/command/QuotaTariffCreateCmd.java
  plugins/database/quota/src/main/java/org/apache/cloudstack/api/command/QuotaTariffListCmd.java
  plugins/database/quota/src/main/java/org/apache/cloudstack/api/response/QuotaResponseBuilderImpl.java
  plugins/database/quota/src/main/java/org/apache/cloudstack/api/response/QuotaTariffResponse.java
  plugins/database/quota/src/test/java/org/apache/cloudstack/api/response/QuotaResponseBuilderImplTest.java
  ui/public/locales/en.json
  ui/public/locales/pt_BR.json
  ui/src/config/section/plugin/quota.js
  ui/src/views/plugins/quota/CreateQuotaTariff.vue
  ui/src/views/plugins/quota/QuotaUsageTab.vue
Due: lint-frontend, build-frontend, build-backend-skip-tests, build-backend-with-test, build-backend-with-noredist, build-backend-with-systemvm, build-backend-combined

Fix deb not being copied
  .gitlab-ci.yml
Due: none

Adicionar parâmetro `isPublic` ao importar e editar *roles* via UI
  ui/src/config/section/role.js
  ui/src/views/iam/ImportRole.vue
Due: lint-frontend, build-frontend

Criar configuração global para alterar o adaptador de rede padrão do VMware
  plugins/hypervisors/vmware/src/main/java/com/cloud/hypervisor/guru/VmwareVmImplementer.java
  plugins/hypervisors/vmware/src/main/java/com/cloud/hypervisor/vmware/manager/VmwareManager.java
  plugins/hypervisors/vmware/src/main/java/com/cloud/hypervisor/vmware/manager/VmwareManagerImpl.java
Due: build-backend-skip-tests, build-backend-with-test, build-backend-with-noredist, build-backend-with-systemvm, build-backend-combined

Externalizar caminho do binário `hostname`
  agent/conf/agent.properties
  agent/src/main/java/com/cloud/agent/properties/AgentProperties.java
  plugins/storage/volume/linstor/src/main/java/com/cloud/hypervisor/kvm/storage/LinstorStorageAdaptor.java
Due: build-backend-skip-tests, build-backend-with-test, build-backend-with-noredist, build-backend-with-systemvm, build-backend-combined

Apresentar redes L2 em estado `Setup` ao importar VMs
  ui/src/views/compute/wizard/MultiNetworkSelection.vue
Due: lint-frontend, build-frontend

Extensão do Quota para gerar extrato por tarifa
  api/src/main/java/org/apache/cloudstack/api/ApiConstants.java
  framework/db/src/main/java/com/cloud/utils/db/SearchCriteria.java
  framework/quota/src/main/java/org/apache/cloudstack/quota/dao/QuotaTariffDao.java
  framework/quota/src/main/java/org/apache/cloudstack/quota/dao/QuotaTariffDaoImpl.java
  framework/quota/src/main/java/org/apache/cloudstack/quota/dao/QuotaUsageDetailDao.java
  framework/quota/src/main/java/org/apache/cloudstack/quota/dao/QuotaUsageDetailDaoImpl.java
  framework/quota/src/main/java/org/apache/cloudstack/quota/dao/QuotaUsageJoinDao.java
  framework/quota/src/main/java/org/apache/cloudstack/quota/dao/QuotaUsageJoinDaoImpl.java
  plugins/database/quota/src/main/java/org/apache/cloudstack/api/command/QuotaTariffStatementCmd.java
  plugins/database/quota/src/main/java/org/apache/cloudstack/api/response/QuotaResponseBuilder.java
  plugins/database/quota/src/main/java/org/apache/cloudstack/api/response/QuotaResponseBuilderImpl.java
  plugins/database/quota/src/main/java/org/apache/cloudstack/api/response/QuotaStatementItemResourceResponse.java
  plugins/database/quota/src/main/java/org/apache/cloudstack/api/response/QuotaTariffStatementItemResponse.java
  plugins/database/quota/src/main/java/org/apache/cloudstack/api/response/QuotaTariffStatementResponse.java
  plugins/database/quota/src/main/java/org/apache/cloudstack/quota/QuotaServiceImpl.java
  plugins/database/quota/src/test/java/org/apache/cloudstack/api/command/QuotaTariffStatementCmdTest.java
  plugins/database/quota/src/test/java/org/apache/cloudstack/api/response/QuotaResponseBuilderImplTest.java
  plugins/database/quota/src/test/java/org/apache/cloudstack/quota/QuotaServiceImplTest.java
Due: build-backend-skip-tests, build-backend-with-test, build-backend-with-noredist, build-backend-with-systemvm, build-backend-combined

Correções na sobrescrita da _root disk offering_ durante o _deploy_ de VMs
  ui/src/views/compute/DeployVM.vue
  ui/src/views/compute/wizard/DiskOfferingSelection.vue
Due: lint-frontend, build-frontend

API para listagem de variavéis utilizadas nas regras de ativação do Quota.
  framework/quota/src/main/java/org/apache/cloudstack/quota/activationrule/presetvariables/Account.java
  framework/quota/src/main/java/org/apache/cloudstack/quota/activationrule/presetvariables/BackupOffering.java
  framework/quota/src/main/java/org/apache/cloudstack/quota/activationrule/presetvariables/ComputeOffering.java
  framework/quota/src/main/java/org/apache/cloudstack/quota/activationrule/presetvariables/ComputingResources.java
  framework/quota/src/main/java/org/apache/cloudstack/quota/activationrule/presetvariables/Domain.java
  framework/quota/src/main/java/org/apache/cloudstack/quota/activationrule/presetvariables/GenericPresetVariable.java
  framework/quota/src/main/java/org/apache/cloudstack/quota/activationrule/presetvariables/Host.java
  framework/quota/src/main/java/org/apache/cloudstack/quota/activationrule/presetvariables/PresetVariableDefinition.java
  framework/quota/src/main/java/org/apache/cloudstack/quota/activationrule/presetvariables/PresetVariableHelper.java
  framework/quota/src/main/java/org/apache/cloudstack/quota/activationrule/presetvariables/PresetVariables.java
  framework/quota/src/main/java/org/apache/cloudstack/quota/activationrule/presetvariables/ProcessedData.java
  framework/quota/src/main/java/org/apache/cloudstack/quota/activationrule/presetvariables/Role.java
  framework/quota/src/main/java/org/apache/cloudstack/quota/activationrule/presetvariables/Storage.java
  framework/quota/src/main/java/org/apache/cloudstack/quota/activationrule/presetvariables/Tariff.java
  framework/quota/src/main/java/org/apache/cloudstack/quota/activationrule/presetvariables/Value.java
  framework/quota/src/test/java/org/apache/cloudstack/quota/activationrule/presetvariables/ValueTest.java
  plugins/database/quota/src/main/java/org/apache/cloudstack/api/command/QuotaPresetVariablesListCmd.java
  plugins/database/quota/src/main/java/org/apache/cloudstack/api/response/QuotaPresetVariablesItemResponse.java
  plugins/database/quota/src/main/java/org/apache/cloudstack/api/response/QuotaResponseBuilder.java
  plugins/database/quota/src/main/java/org/apache/cloudstack/api/response/QuotaResponseBuilderImpl.java
  plugins/database/quota/src/main/java/org/apache/cloudstack/quota/QuotaServiceImpl.java
  plugins/database/quota/src/test/java/org/apache/cloudstack/api/response/QuotaResponseBuilderImplTest.java
Due: build-backend-skip-tests, build-backend-with-test, build-backend-with-noredist, build-backend-with-systemvm, build-backend-combined

Data de lançamento do pagamento na adição de créditos do Quota
  api/src/main/java/org/apache/cloudstack/api/ApiConstants.java
  engine/schema/src/main/java/com/cloud/upgrade/DatabaseUpgradeChecker.java
  engine/schema/src/main/java/com/cloud/upgrade/dao/Upgrade41803to41804.java
  engine/schema/src/main/resources/META-INF/db/schema-41803to41804.sql
  framework/quota/src/main/java/org/apache/cloudstack/quota/vo/QuotaCreditsVO.java
  plugins/database/quota/src/main/java/org/apache/cloudstack/api/command/QuotaCreditsCmd.java
  plugins/database/quota/src/main/java/org/apache/cloudstack/api/response/QuotaCreditsResponse.java
  plugins/database/quota/src/main/java/org/apache/cloudstack/api/response/QuotaResponseBuilder.java
  plugins/database/quota/src/main/java/org/apache/cloudstack/api/response/QuotaResponseBuilderImpl.java
  plugins/database/quota/src/test/java/org/apache/cloudstack/api/command/QuotaCreditsCmdTest.java
  plugins/database/quota/src/test/java/org/apache/cloudstack/api/response/QuotaResponseBuilderImplTest.java
  ui/public/locales/en.json
  ui/public/locales/pt_BR.json
  ui/src/views/plugins/quota/AddQuotaCredit.vue
  ui/src/views/plugins/quota/QuotaCreditTab.vue
Due: lint-frontend, build-frontend, build-backend-skip-tests, build-backend-with-test, build-backend-with-noredist, build-backend-with-systemvm, build-backend-combined

Ajustes na funcionalidade de _Domain_ VPCs
  server/src/main/java/com/cloud/api/ApiResponseHelper.java
  server/src/main/java/com/cloud/network/IpAddressManagerImpl.java
  server/src/main/java/com/cloud/network/NetworkModelImpl.java
  server/src/test/java/com/cloud/api/ApiResponseHelperTest.java
  server/src/test/java/com/cloud/network/IpAddressManagerTest.java
  ui/src/views/network/PortForwarding.vue
Due: lint-frontend, build-frontend, build-backend-skip-tests, build-backend-with-test, build-backend-with-noredist, build-backend-with-systemvm, build-backend-combined

Configuração para desabilitar o envio dos e-mails do Quota por padrão
  framework/quota/src/main/java/org/apache/cloudstack/quota/QuotaAlertManager.java
  framework/quota/src/main/java/org/apache/cloudstack/quota/QuotaAlertManagerImpl.java
  framework/quota/src/main/java/org/apache/cloudstack/quota/QuotaStatementImpl.java
  framework/quota/src/main/java/org/apache/cloudstack/quota/constant/QuotaConfig.java
  framework/quota/src/test/java/org/apache/cloudstack/quota/QuotaAlertManagerImplTest.java
  framework/quota/src/test/java/org/apache/cloudstack/quota/QuotaStatementTest.java
  plugins/database/quota/src/main/java/org/apache/cloudstack/quota/QuotaServiceImpl.java
Due: build-backend-skip-tests, build-backend-with-test, build-backend-with-noredist, build-backend-with-systemvm, build-backend-combined

Remover NPE de migração de VM com volume _data_
  engine/storage/datamotion/src/main/java/org/apache/cloudstack/storage/motion/KvmNonManagedStorageDataMotionStrategy.java
  engine/storage/datamotion/src/test/java/org/apache/cloudstack/storage/motion/KvmNonManagedStorageSystemDataMotionTest.java
Due: build-backend-skip-tests, build-backend-with-test, build-backend-with-noredist, build-backend-with-systemvm, build-backend-combined

Configuração de DB flexível
  client/conf/db.properties.in
  framework/db/pom.xml
  framework/db/src/main/java/com/cloud/utils/db/DriverLoader.java
  framework/db/src/main/java/com/cloud/utils/db/TransactionLegacy.java
  framework/db/src/test/java/com/cloud/utils/db/TransactionLegacyTest.java
Due: build-backend-skip-tests, build-backend-with-test, build-backend-with-noredist, build-backend-with-systemvm, build-backend-combined

Adicionar logs durante a remoção de _snapshots_
  engine/storage/snapshot/src/main/java/org/apache/cloudstack/storage/snapshot/SnapshotServiceImpl.java
  server/src/main/java/com/cloud/storage/StorageManagerImpl.java
Due: build-backend-skip-tests, build-backend-with-test, build-backend-with-noredist, build-backend-with-systemvm, build-backend-combined

Sistema de gerenciamento de temas
  api/pom.xml
  api/src/main/java/com/cloud/event/EventTypes.java
  api/src/main/java/org/apache/cloudstack/api/ApiConstants.java
  api/src/main/java/org/apache/cloudstack/api/ResponseGenerator.java
  api/src/main/java/org/apache/cloudstack/api/command/user/gui/themes/CreateGuiThemeCmd.java
  api/src/main/java/org/apache/cloudstack/api/command/user/gui/themes/ListGuiThemesCmd.java
  api/src/main/java/org/apache/cloudstack/api/command/user/gui/themes/RemoveGuiThemeCmd.java
  api/src/main/java/org/apache/cloudstack/api/command/user/gui/themes/UpdateGuiThemeCmd.java
  api/src/main/java/org/apache/cloudstack/api/response/GuiThemeResponse.java
  api/src/main/java/org/apache/cloudstack/gui/themes/GuiThemeService.java
  api/src/main/java/org/apache/cloudstack/gui/themes/GuiThemeVO.java
  engine/schema/src/main/java/org/apache/cloudstack/gui/theme/dao/GuiThemeDao.java
  engine/schema/src/main/java/org/apache/cloudstack/gui/theme/dao/GuiThemeDaoImpl.java
  engine/schema/src/main/resources/META-INF/cloudstack/core/spring-engine-schema-core-daos-context.xml
  engine/schema/src/main/resources/META-INF/db/schema-41803to41804.sql
  server/src/main/java/com/cloud/api/ApiResponseHelper.java
  server/src/main/java/com/cloud/api/ApiServer.java
  server/src/main/java/com/cloud/api/ApiServlet.java
  server/src/main/java/com/cloud/server/ManagementServerImpl.java
  server/src/main/java/org/apache/cloudstack/gui/theme/GuiThemeServiceImpl.java
  server/src/main/resources/META-INF/cloudstack/core/spring-server-core-managers-context.xml
  server/src/test/java/org/apache/cloudstack/gui/theme/GuiThemeServiceImplTest.java
  tools/apidoc/gen_toc.py
  ui/public/config.json
  ui/public/index.html
  ui/src/api/index.js
  ui/src/components/header/UserMenu.vue
  ui/src/main.js
  ui/src/store/modules/user.js
  ui/src/utils/guiTheme.js
Due: lint-frontend, build-frontend, build-backend-skip-tests, build-backend-with-test, build-backend-with-noredist, build-backend-with-systemvm, build-backend-combined

Validador de regras de ativação
  framework/quota/src/main/java/org/apache/cloudstack/quota/activationrule/presetvariables/Storage.java
  plugins/database/quota/src/main/java/org/apache/cloudstack/api/command/QuotaValidateActivationRuleCmd.java
  plugins/database/quota/src/main/java/org/apache/cloudstack/api/response/QuotaResponseBuilder.java
  plugins/database/quota/src/main/java/org/apache/cloudstack/api/response/QuotaResponseBuilderImpl.java
  plugins/database/quota/src/main/java/org/apache/cloudstack/api/response/QuotaValidateActivationRuleResponse.java
  plugins/database/quota/src/main/java/org/apache/cloudstack/quota/QuotaServiceImpl.java
  plugins/database/quota/src/test/java/org/apache/cloudstack/api/command/QuotaValidateActivationRuleCmdTest.java
  plugins/database/quota/src/test/java/org/apache/cloudstack/api/response/QuotaResponseBuilderImplTest.java
  server/src/main/java/org/apache/cloudstack/jsinterpreter/JsInterpreterHelper.java
  server/src/main/resources/META-INF/cloudstack/core/spring-server-core-managers-context.xml
  server/src/test/java/org/apache/cloudstack/jsinterpreter/JsInterpreterHelperTest.java
  ui/public/locales/en.json
  ui/public/locales/pt_BR.json
  ui/src/style/objects/form.scss
  ui/src/views/plugins/quota/CreateQuotaTariff.vue
  ui/src/views/plugins/quota/EditQuotaTariff.vue
Due: lint-frontend, build-frontend, build-backend-skip-tests, build-backend-with-test, build-backend-with-noredist, build-backend-with-systemvm, build-backend-combined

Corrigir paginação incorreta na listagem de templates e de ISOs
  server/src/main/java/com/cloud/api/query/QueryManagerImpl.java
  server/src/main/java/com/cloud/api/query/dao/TemplateJoinDao.java
  server/src/main/java/com/cloud/api/query/dao/TemplateJoinDaoImpl.java
  server/src/test/java/com/cloud/api/query/QueryManagerImplTest.java
Due: build-backend-skip-tests, build-backend-with-test, build-backend-with-noredist, build-backend-with-systemvm, build-backend-combined

Renomeando parâmetros das APIs `quotaValidateactivationrule` e `quotaListpresetvariables` e consertando UI na edição de tarifas
  plugins/database/quota/src/main/java/org/apache/cloudstack/api/command/QuotaPresetVariablesListCmd.java
  plugins/database/quota/src/main/java/org/apache/cloudstack/api/command/QuotaValidateActivationRuleCmd.java
  plugins/database/quota/src/main/java/org/apache/cloudstack/api/response/QuotaResponseBuilderImpl.java
  plugins/database/quota/src/test/java/org/apache/cloudstack/api/response/QuotaResponseBuilderImplTest.java
  server/src/main/java/org/apache/cloudstack/jsinterpreter/JsInterpreterHelper.java
  ui/src/views/plugins/quota/EditQuotaTariff.vue
Due: lint-frontend, build-frontend, build-backend-skip-tests, build-backend-with-test, build-backend-with-noredist, build-backend-with-systemvm, build-backend-combined

Fix quota usage type from name to int
  ui/src/views/plugins/quota/CreateQuotaTariff.vue
Due: lint-frontend, build-frontend

Fix errors 4.18.0.4 scclouds
  framework/quota/src/main/java/org/apache/cloudstack/quota/dao/QuotaUsageDetailDaoImpl.java
  ui/src/store/modules/user.js
Due: lint-frontend, build-frontend, build-backend-skip-tests, build-backend-with-test, build-backend-with-noredist, build-backend-with-systemvm, build-backend-combined

fix ListResourceTable columns
  ui/src/components/view/ListResourceTable.vue
Due: lint-frontend, build-frontend

Remoção da confirmação de existência do domínio no login incorreto
  server/src/main/java/com/cloud/api/ApiServer.java
  server/src/main/java/com/cloud/api/auth/DefaultLoginAPIAuthenticatorCmd.java
  server/src/main/java/com/cloud/user/AccountManagerImpl.java
Due: build-backend-skip-tests, build-backend-with-test, build-backend-with-noredist, build-backend-with-systemvm, build-backend-combined

Add Rat license
  .gitlab-ci.yml
  api/src/main/java/org/apache/cloudstack/gui/themes/GuiThemeService.java
  api/src/main/java/org/apache/cloudstack/secstorage/heuristics/HeuristicPurpose.java
  engine/schema/src/main/java/org/apache/cloudstack/gui/theme/dao/GuiThemeDao.java
  engine/schema/src/main/java/org/apache/cloudstack/gui/theme/dao/GuiThemeDaoImpl.java
  framework/config/src/main/java/org/apache/cloudstack/framework/config/PluginAccessConfigs.java
  pom.xml
  server/src/main/java/org/apache/cloudstack/gui/theme/GuiThemeServiceImpl.java
  server/src/test/java/org/apache/cloudstack/gui/theme/GuiThemeServiceImplTest.java
  ui/src/utils/date.js
  ui/src/utils/network.js
  ui/src/utils/quota.js
  vmware-base/src/test/java/com/cloud/hypervisor/vmware/mo/VirtualMachineDiskInfoBuilderTest.java
Due: lint-frontend, build-frontend, build-backend-skip-tests, build-backend-with-test, build-backend-with-noredist, build-backend-with-systemvm, build-backend-combined

Adicionar seleção de conta à criação de volume na UI
  ui/src/views/storage/CreateVolume.vue
Due: lint-frontend, build-frontend

Adiciona mudanças faltantes do backport da comunidade
  engine/schema/src/main/java/org/apache/cloudstack/backup/dao/BackupDaoImpl.java
  plugins/backup/veeam/src/main/java/org/apache/cloudstack/backup/VeeamBackupProvider.java
  plugins/backup/veeam/src/main/java/org/apache/cloudstack/backup/veeam/VeeamClient.java
  plugins/hypervisors/vmware/src/main/java/com/cloud/hypervisor/guru/VMwareGuru.java
  plugins/hypervisors/vmware/src/test/java/com/cloud/hypervisor/guru/VMwareGuruTest.java
  server/src/main/java/org/apache/cloudstack/backup/BackupManagerImpl.java
  utils/src/main/java/com/cloud/utils/UuidUtils.java
Due: build-backend-skip-tests, build-backend-with-test, build-backend-with-noredist, build-backend-with-systemvm, build-backend-combined

_Preset variables_ de quantidade de VMs para tarifas de rede
  engine/schema/src/main/java/com/cloud/vm/dao/VMInstanceDaoImpl.java
  framework/quota/src/main/java/org/apache/cloudstack/quota/activationrule/presetvariables/PresetVariableHelper.java
  framework/quota/src/main/java/org/apache/cloudstack/quota/activationrule/presetvariables/ResourceCounting.java
  framework/quota/src/main/java/org/apache/cloudstack/quota/activationrule/presetvariables/Value.java
  plugins/database/quota/src/main/java/org/apache/cloudstack/api/response/QuotaResponseBuilderImpl.java
Due: build-backend-skip-tests, build-backend-with-test, build-backend-with-noredist, build-backend-with-systemvm, build-backend-combined

Priorizar configuração `hypervisor.uri` nas conexões do Libvirt
  plugins/hypervisors/kvm/src/main/java/com/cloud/hypervisor/kvm/resource/LibvirtComputingResource.java
  plugins/hypervisors/kvm/src/main/java/com/cloud/hypervisor/kvm/resource/LibvirtConnection.java
Due: build-backend-skip-tests, build-backend-with-test, build-backend-with-noredist, build-backend-with-systemvm, build-backend-combined

Consertar o uso do protocolo HTTP no _upload_
  services/secondary-storage/server/src/main/java/org/apache/cloudstack/storage/resource/NfsSecondaryStorageResource.java
  services/secondary-storage/server/src/test/java/org/apache/cloudstack/storage/resource/NfsSecondaryStorageResourceTest.java
Due: build-backend-skip-tests, build-backend-with-test, build-backend-with-noredist, build-backend-with-systemvm, build-backend-combined

Consertar rollback durante a criação de um _private gateway_
  server/src/main/java/com/cloud/network/vpc/VpcManagerImpl.java
  server/src/test/java/com/cloud/network/vpc/VpcManagerImplTest.java
Due: build-backend-skip-tests, build-backend-with-test, build-backend-with-noredist, build-backend-with-systemvm, build-backend-combined

Corrigir _deploy_ de VM não aplicando as configurações corretas da `disk offering`
  ui/src/views/compute/DeployVM.vue
Due: lint-frontend, build-frontend

Permitir alterar apenas CPU ou memória ao dar _scale_ em uma VM
  server/src/main/java/com/cloud/vm/UserVmManagerImpl.java
  server/src/test/java/com/cloud/vm/UserVmManagerImplTest.java
Due: build-backend-skip-tests, build-backend-with-test, build-backend-with-noredist, build-backend-with-systemvm, build-backend-combined

Aplicar filtragem e paginação na API `findStoragePoolsForMigration`
  api/src/main/java/com/cloud/server/ManagementService.java
  api/src/main/java/org/apache/cloudstack/api/command/admin/storage/FindStoragePoolsForMigrationCmd.java
  engine/api/src/main/java/org/apache/cloudstack/engine/subsystem/api/storage/StoragePoolAllocator.java
  engine/schema/src/main/java/org/apache/cloudstack/storage/datastore/db/PrimaryDataStoreDao.java
  engine/schema/src/main/java/org/apache/cloudstack/storage/datastore/db/PrimaryDataStoreDaoImpl.java
  engine/storage/src/main/java/org/apache/cloudstack/storage/allocator/AbstractStoragePoolAllocator.java
  engine/storage/src/main/java/org/apache/cloudstack/storage/allocator/ClusterScopeStoragePoolAllocator.java
  engine/storage/src/main/java/org/apache/cloudstack/storage/allocator/GarbageCollectingStoragePoolAllocator.java
  engine/storage/src/main/java/org/apache/cloudstack/storage/allocator/LocalStoragePoolAllocator.java
  engine/storage/src/main/java/org/apache/cloudstack/storage/allocator/ZoneWideStoragePoolAllocator.java
  engine/storage/src/test/java/org/apache/cloudstack/storage/allocator/AbstractStoragePoolAllocatorTest.java
  plugins/storage-allocators/random/src/main/java/org/apache/cloudstack/storage/allocator/RandomStoragePoolAllocator.java
  server/src/main/java/com/cloud/server/ManagementServerImpl.java
Due: build-backend-skip-tests, build-backend-with-test, build-backend-with-noredist, build-backend-with-systemvm, build-backend-combined

Adicionar restrição de role ao parâmetro `expunge` da chamada de API `destroyVirtualMachine`
  plugins/network-elements/juniper-contrail/src/test/java/org/apache/cloudstack/network/contrail/management/MockAccountManager.java
  server/src/main/java/com/cloud/user/AccountManager.java
  server/src/main/java/com/cloud/user/AccountManagerImpl.java
  server/src/main/java/com/cloud/vm/UserVmManagerImpl.java
  server/src/test/java/com/cloud/user/MockAccountManagerImpl.java
  server/src/test/java/com/cloud/vm/UserVmManagerImplTest.java
  ui/src/views/compute/DestroyVM.vue
Due: lint-frontend, build-frontend, build-backend-skip-tests, build-backend-with-test, build-backend-with-noredist, build-backend-with-systemvm, build-backend-combined

Adicionar gráficos de linha para os recursos da Quota
  api/src/main/java/org/apache/cloudstack/api/ApiConstants.java
  plugins/database/quota/src/main/java/org/apache/cloudstack/api/command/QuotaStatementCmd.java
  plugins/database/quota/src/main/java/org/apache/cloudstack/api/response/QuotaResponseBuilderImpl.java
  plugins/database/quota/src/main/java/org/apache/cloudstack/api/response/QuotaStatementItemResourceResponse.java
  plugins/database/quota/src/main/java/org/apache/cloudstack/api/response/QuotaStatementItemResponse.java
  plugins/database/quota/src/test/java/org/apache/cloudstack/api/response/QuotaResponseBuilderImplTest.java
  ui/public/locales/en.json
  ui/public/locales/pt_BR.json
  ui/src/components/view/stats/ResourceStatsLineChart.vue
  ui/src/utils/date.js
  ui/src/views/plugins/quota/QuotaUsageTab.vue
  utils/src/main/java/com/cloud/utils/DateUtil.java
Due: lint-frontend, build-frontend, build-backend-skip-tests, build-backend-with-test, build-backend-with-noredist, build-backend-with-systemvm, build-backend-combined

Corrigir filtro de contas no Quota Summary
  plugins/database/quota/src/main/java/org/apache/cloudstack/api/command/QuotaBalanceCmd.java
  plugins/database/quota/src/main/java/org/apache/cloudstack/api/command/QuotaCreditsCmd.java
  plugins/database/quota/src/main/java/org/apache/cloudstack/api/command/QuotaStatementCmd.java
  plugins/database/quota/src/main/java/org/apache/cloudstack/api/command/QuotaSummaryCmd.java
  plugins/database/quota/src/main/java/org/apache/cloudstack/api/response/QuotaResponseBuilder.java
  plugins/database/quota/src/main/java/org/apache/cloudstack/api/response/QuotaResponseBuilderImpl.java
  plugins/database/quota/src/test/java/org/apache/cloudstack/api/command/QuotaCreditsCmdTest.java
  plugins/database/quota/src/test/java/org/apache/cloudstack/api/response/QuotaResponseBuilderImplTest.java
  ui/src/views/plugins/quota/AddQuotaCredit.vue
  ui/src/views/plugins/quota/QuotaBalanceTab.vue
  ui/src/views/plugins/quota/QuotaUsageTab.vue
Due: lint-frontend, build-frontend, build-backend-skip-tests, build-backend-with-test, build-backend-with-noredist, build-backend-with-systemvm, build-backend-combined

Apresentar nome do projeto em seus respectivos recursos na UI
  ui/src/components/view/ListView.vue
  ui/src/config/section/compute.js
  ui/src/config/section/event.js
  ui/src/config/section/image.js
  ui/src/config/section/network.js
  ui/src/config/section/storage.js
Due: lint-frontend, build-frontend
