Repository scclouds/cloudstack: changes, and which GitLab CI jobs are due for each by the changed paths.
All: lint-frontend, build-frontend, build-backend-skip-tests, build-backend-with-test, build-backend-with-noredist, build-backend-with-systemvm, build-backend-combined

Path conditions:
  lint-frontend: any of: ui/**/*
  build-frontend: any of: ui/**/*
  build-backend-skip-tests: any of: **/*.java, **/*.xml, **/*.sh
  build-backend-with-test: any of: **/*.java, **/*.xml, **/*.sh
  build-backend-with-noredist: any of: **/*.java, **/*.xml, **/*.sh
  build-backend-with-systemvm: any of: **/*.java, **/*.xml, **/*.sh
  build-backend-combined: any of: **/*.java, **/*.xml, **/*.sh

Adiciona templates de issues
  .gitlab/issue_templates/descricao_issue_pr.md
  .gitlab/issue_templates/meeting_minutes.md
  .gitlab/issue_templates/relatorio_reuniao.md
  .gitlab/merge_request_templates/.gitkeep
Due: none

Adiciona upgrade para 4.20.0.1
  engine/schema/src/main/java/com/cloud/upgrade/DatabaseUpgradeChecker.java
  engine/schema/src/main/java/com/cloud/upgrade/dao/Upgrade42000to42001.java
  engine/schema/src/main/resources/META-INF/db/schema-42000to42001-cleanup.sql
  engine/schema/src/main/resources/META-INF/db/schema-42000to42001.sql
Due: build-backend-skip-tests, build-backend-with-test, build-backend-with-noredist, build-backend-with-systemvm, build-backend-combined

Atualização do estágio de instalação dos pacotes via npm
  .gitignore
  .gitlab-ci.yml
Due: none

update ci to 4.20
  .gitlab-ci.yml
  pom.xml
Due: build-backend-skip-tests, build-backend-with-test, build-backend-with-noredist, build-backend-with-systemvm, build-backend-combined

Port 4.20 - Correção de NPE no envio de emails de alerta
  server/src/main/java/com/cloud/alert/AlertManagerImpl.java
Due: build-backend-skip-tests, build-backend-with-test, build-backend-with-noredist, build-backend-with-systemvm, build-backend-combined

Fix CI
  .gitlab-ci.yml
Due: none

Alteração para mostrar se a oferta de sistema possui HA habilitado
  ui/src/components/view/ListView.vue
  ui/src/config/section/offering.js
Due: lint-frontend, build-frontend

Port 4.20 - Mudança na mensagem de erro ao utilizar _endpoint_ inválido
  api/src/main/java/org/apache/cloudstack/config/ApiServiceConfiguration.java
  api/src/test/java/org/apache/cloudstack/config/ApiServiceConfigurationTest.java
  plugins/integrations/kubernetes-service/src/main/java/com/cloud/kubernetes/cluster/KubernetesClusterManagerImpl.java
  plugins/integrations/kubernetes-service/src/main/java/com/cloud/kubernetes/cluster/actionworkers/KubernetesClusterActionWorker.java
  server/src/main/java/com/cloud/network/as/AutoScaleManagerImpl.java
  server/src/main/java/com/cloud/network/lb/LoadBalancingRulesManagerImpl.java
Due: build-backend-skip-tests, build-backend-with-test, build-backend-with-noredist, build-backend-with-systemvm, build-backend-combined

Extensão no formulário de adição de contas e usuários a projetos para permitir que contas do tipo `User` possam adicionar outros integrantes aos projetos
  ui/src/views/project/AddAccountOrUserToProject.vue
Due: lint-frontend, build-frontend

Port 4.20 - Simplificação da validação para criar _templates_ de volumes via UI
  ui/src/config/section/storage.js
Due: lint-frontend, build-frontend

Port 4.20 - Correção na deleção de _primary storage_ com `DATADISK` desanexado
  server/src/main/java/com/cloud/storage/StorageManagerImpl.java
  server/src/test/java/com/cloud/storage/StorageManagerImplTest.java
Due: build-backend-skip-tests, build-backend-with-test, build-backend-with-noredist, build-backend-with-systemvm, build-backend-combined

Port 4.20 - Validador de regras de ativação do Quota
  framework/quota/src/main/java/org/apache/cloudstack/quota/activationrule/presetvariables/PresetVariables.java
  framework/quota/src/main/java/org/apache/cloudstack/quota/constant/QuotaTypes.java
  plugins/database/quota/src/main/java/org/apache/cloudstack/api/command/QuotaValidateActivationRuleCmd.java
  plugins/database/quota/src/main/java/org/apache/cloudstack/api/response/QuotaResponseBuilder.java
  plugins/database/quota/src/main/java/org/apache/cloudstack/api/response/QuotaResponseBuilderImpl.java
  plugins/database/quota/src/main/java/org/apache/cloudstack/api/response/QuotaValidateActivationRuleResponse.java
  plugins/database/quota/src/main/java/org/apache/cloudstack/quota/QuotaServiceImpl.java
  plugins/database/quota/src/test/java/org/apache/cloudstack/api/command/QuotaValidateActivationRuleCmdTest.java
  plugins/database/quota/src/test/java/org/apache/cloudstack/api/response/QuotaResponseBuilderImplTest.java
  server/src/main/java/org/apache/cloudstack/jsinterpreter/JsInterpreterHelper.java
  server/src/main/resources/META-INF/cloudstack/core/spring-server-core-managers-context.xml
  server/src/test/java/org/apache/cloudstack/jsinterpreter/JsInterpreterHelperTest.java
  ui/public/locales/en.json
  ui/public/locales/pt_BR.json
  ui/src/style/objects/form.scss
  ui/src/views/plugins/quota/CreateQuotaTariff.vue
  ui/src/views/plugins/quota/EditQuotaTariff.vue
Due: lint-frontend, build-frontend, build-backend-skip-tests, build-backend-with-test, build-backend-with-noredist, build-backend-with-systemvm, build-backend-combined

Port 4.20 - Quantidade de VMs rodando e paradas como _preset variables_ para tarifas do tipo `Network`
  framework/quota/src/main/java/org/apache/cloudstack/quota/activationrule/presetvariables/PresetVariableHelper.java
  framework/quota/src/main/java/org/apache/cloudstack/quota/activationrule/presetvariables/ResourceCounting.java
  framework/quota/src/main/java/org/apache/cloudstack/quota/activationrule/presetvariables/Value.java
  plugins/database/quota/src/main/java/org/apache/cloudstack/api/response/QuotaResponseBuilderImpl.java
Due: build-backend-skip-tests, build-backend-with-test, build-backend-with-noredist, build-backend-with-systemvm, build-backend-combined

Port 4.20 - Persistência do IP de quem acessou o console de uma VM e API para listagem de sessões do console
  agent/src/main/java/com/cloud/agent/resource/consoleproxy/ConsoleProxyResource.java
  api/src/main/java/org/apache/cloudstack/api/ApiConstants.java
  api/src/main/java/org/apache/cloudstack/api/ResponseGenerator.java
  api/src/main/java/org/apache/cloudstack/api/command/admin/consoleproxy/ListConsoleSessionsCmd.java
  api/src/main/java/org/apache/cloudstack/api/response/ConsoleSessionResponse.java
  api/src/main/java/org/apache/cloudstack/consoleproxy/ConsoleAccessManager.java
  api/src/main/java/org/apache/cloudstack/consoleproxy/ConsoleSession.java
  api/src/test/java/org/apache/cloudstack/api/command/admin/consoleproxy/ListConsoleSessionsCmdTest.java
  core/src/main/java/com/cloud/agent/api/ConsoleAccessAuthenticationCommand.java
  engine/schema/src/main/java/com/cloud/domain/dao/DomainDao.java
  engine/schema/src/main/java/com/cloud/domain/dao/DomainDaoImpl.java
  engine/schema/src/main/java/com/cloud/vm/ConsoleSessionVO.java
  engine/schema/src/main/java/com/cloud/vm/dao/ConsoleSessionDao.java
  engine/schema/src/main/java/com/cloud/vm/dao/ConsoleSessionDaoImpl.java
  engine/schema/src/main/resources/META-INF/db/schema-41910to42000.sql
  server/src/main/java/com/cloud/api/ApiResponseHelper.java
  server/src/main/java/com/cloud/consoleproxy/AgentHookBase.java
  server/src/main/java/com/cloud/server/ManagementServerImpl.java
  server/src/main/java/org/apache/cloudstack/consoleproxy/ConsoleAccessManagerImpl.java
  server/src/test/java/com/cloud/api/ApiResponseHelperTest.java
  server/src/test/java/org/apache/cloudstack/consoleproxy/ConsoleAccessManagerImplTest.java
  services/console-proxy/server/src/main/java/com/cloud/consoleproxy/ConsoleProxy.java
  tools/apidoc/gen_toc.py
Due: build-backend-skip-tests, build-backend-with-test, build-backend-with-noredist, build-backend-with-systemvm, build-backend-combined

Port 4.20 - Alteração na configuração `vmsnapshot.max` para que seja dinâmica
  engine/components-api/src/main/java/com/cloud/vm/snapshot/VMSnapshotManager.java
  server/src/main/java/com/cloud/configuration/Config.java
  server/src/main/java/com/cloud/vm/snapshot/VMSnapshotManagerImpl.java
  server/src/test/java/com/cloud/vm/snapshot/VMSnapshotManagerTest.java
Due: build-backend-skip-tests, build-backend-with-test, build-backend-with-noredist, build-backend-with-systemvm, build-backend-combined

Adição da variável predefinida `account.created` no quota
  framework/quota/src/main/java/org/apache/cloudstack/quota/activationrule/presetvariables/Account.java
  framework/quota/src/main/java/org/apache/cloudstack/quota/activationrule/presetvariables/PresetVariableHelper.java
  framework/quota/src/test/java/org/apache/cloudstack/quota/activationrule/presetvariables/PresetVariableHelperTest.java
Due: build-backend-skip-tests, build-backend-with-test, build-backend-with-noredist, build-backend-with-systemvm, build-backend-combined

Port 4.20 - Adição da opção de início da VM após restaurar volume de _backup_
  ui/src/views/storage/RestoreAttachBackupVolume.vue
Due: lint-frontend, build-frontend

Port 4.20 - Alteração na mensagem de erro ao tentar reverter _snapshot_ de VM
  engine/storage/snapshot/src/main/java/org/apache/cloudstack/storage/vmsnapshot/DefaultVMSnapshotStrategy.java
Due: build-backend-skip-tests, build-backend-with-test, build-backend-with-noredist, build-backend-with-systemvm, build-backend-combined

Port 4.20 - Configurações para expor ou esconder a versão do CloudStack
  server/src/main/java/com/cloud/api/response/ApiResponseSerializer.java
  server/src/main/java/com/cloud/server/ManagementServerImpl.java
Due: build-backend-skip-tests, build-backend-with-test, build-backend-with-noredist, build-backend-with-systemvm, build-backend-combined

Port 4.20 - Verificação ao inserir valores não numéricos nos campos de _input_ de configurações globais
  ui/src/views/setting/ConfigurationValue.vue
Due: lint-frontend, build-frontend

Port 4.20 - Adicionar regras de uso de 2FA para _roles_ padrões
  engine/schema/src/main/resources/META-INF/db/schema-42000to42001.sql
Due: none

Altera comando no upgrade para manter compatibilidade
  engine/schema/src/main/resources/META-INF/db/schema-418015to41810.sql
Due: none

Port 4.20 - Validação de nomenclatura de _clusters_ Kubernetes
  api/src/main/java/org/apache/cloudstack/api/ApiConstants.java
  plugins/integrations/kubernetes-service/src/main/java/com/cloud/kubernetes/cluster/KubernetesClusterManagerImpl.java
  plugins/integrations/kubernetes-service/src/main/java/com/cloud/kubernetes/cluster/actionworkers/KubernetesClusterResourceModifierActionWorker.java
  plugins/integrations/kubernetes-service/src/main/java/org/apache/cloudstack/api/command/user/kubernetes/cluster/CreateKubernetesClusterCmd.java
  plugins/integrations/kubernetes-service/src/test/java/com/cloud/kubernetes/cluster/KubernetesClusterManagerImplTest.java
Due: build-backend-skip-tests, build-backend-with-test, build-backend-with-noredist, build-backend-with-systemvm, build-backend-combined

Port 4.20 - Ocultar informação do domínio em caso de tentativa incorreta de _login_
  server/src/main/java/com/cloud/api/ApiServer.java
  server/src/main/java/com/cloud/api/auth/DefaultLoginAPIAuthenticatorCmd.java
  server/src/main/java/com/cloud/user/AccountManagerImpl.java
Due: build-backend-skip-tests, build-backend-with-test, build-backend-with-noredist, build-backend-with-systemvm, build-backend-combined

Port 4.20 - UI: Fix assign instance translation issue
  ui/src/views/compute/DeployVM.vue
  ui/src/views/compute/wizard/OwnershipSelection.vue
  ui/src/views/network/CreateIsolatedNetworkForm.vue
  ui/src/views/network/CreateL2NetworkForm.vue
  ui/src/views/storage/CreateSharedFS.vue
  ui/src/views/storage/CreateVolume.vue
Due: lint-frontend, build-frontend

Port 4.20 - Adição de parâmetro ao `cloudstack-setup-databases` para não criar usuários
  setup/bindir/cloud-setup-databases.in
Due: none

Port 4.20 - Correção dos _logs_ de alocação de volumes
  engine/storage/src/main/java/org/apache/cloudstack/storage/allocator/ClusterScopeStoragePoolAllocator.java
  engine/storage/src/main/java/org/apache/cloudstack/storage/allocator/ZoneWideStoragePoolAllocator.java
  plugins/storage-allocators/random/src/main/java/org/apache/cloudstack/storage/allocator/RandomStoragePoolAllocator.java
Due: build-backend-skip-tests, build-backend-with-test, build-backend-with-noredist, build-backend-with-systemvm, build-backend-combined

Port 4.20 - Correção da descrição da API _attachVolume_
  tools/apidoc/generatecommands.xsl
Due: none

Port 4.20 - Adição da _preset variable_ de oferta para tarifas do tipo `NETWORK` e `VPC`
  engine/schema/src/main/resources/META-INF/cloudstack/core/spring-engine-schema-core-common-daos-between-management-and-usage-context.xml
  engine/schema/src/main/resources/META-INF/cloudstack/core/spring-engine-schema-core-daos-context.xml
  framework/quota/src/main/java/org/apache/cloudstack/quota/activationrule/presetvariables/PresetVariableHelper.java
  framework/quota/src/main/java/org/apache/cloudstack/quota/activationrule/presetvariables/Value.java
  framework/quota/src/test/java/org/apache/cloudstack/quota/activationrule/presetvariables/PresetVariableHelperTest.java
Due: build-backend-skip-tests, build-backend-with-test, build-backend-with-noredist, build-backend-with-systemvm, build-backend-combined

Port 4.20 - Enable defining a network as redundant during restart through the UI
  ui/src/config/section/network.js
Due: lint-frontend, build-frontend

Port 4.20 - Configuração para desconsiderar _settings_ durante a criação de templates
  engine/components-api/src/main/java/com/cloud/template/TemplateManager.java
  server/src/main/java/com/cloud/template/TemplateManagerImpl.java
Due: build-backend-skip-tests, build-backend-with-test, build-backend-with-noredist, build-backend-with-systemvm, build-backend-combined

Port 4.20 - Refactor configuration `system.vm.default.hypervisor`
  engine/components-api/src/main/java/com/cloud/resource/ResourceManager.java
  server/src/main/java/com/cloud/configuration/Config.java
  server/src/main/java/com/cloud/resource/ResourceManagerImpl.java
Due: build-backend-skip-tests, build-backend-with-test, build-backend-with-noredist, build-backend-with-systemvm, build-backend-combined

Port 4.20 - Add access modifier to VolumeVO #9394
  engine/schema/src/main/java/com/cloud/storage/VolumeVO.java
  server/src/main/java/com/cloud/storage/VolumeApiServiceImpl.java
Due: build-backend-skip-tests, build-backend-with-test, build-backend-with-noredist, build-backend-with-systemvm, build-backend-combined

Port 4.20 - Funcionalidade de _full clone_ VMs com KVM
  agent/src/main/java/com/cloud/agent/properties/AgentProperties.java
  plugins/hypervisors/kvm/src/main/java/com/cloud/hypervisor/kvm/storage/LibvirtStorageAdaptor.java
Due: build-backend-skip-tests, build-backend-with-test, build-backend-with-noredist, build-backend-with-systemvm, build-backend-combined

Port 4.20 - Validação de acesso a recursos removidos
  server/src/main/java/com/cloud/api/dispatch/ParamProcessWorker.java
Due: build-backend-skip-tests, build-backend-with-test, build-backend-with-noredist, build-backend-with-systemvm, build-backend-combined

Port 4.20 - Remoção do parâmetro `isMirrored` ao criar uma oferta de disco pela UI
  ui/src/views/offering/AddDiskOffering.vue
Due: lint-frontend, build-frontend

Port 4.20 - Suporte a _storage pools_ RBD do tipo _erasure code_
  api/src/main/java/org/apache/cloudstack/api/response/StoragePoolResponse.java
  engine/storage/volume/src/main/java/org/apache/cloudstack/storage/datastore/provider/DefaultHostListener.java
  plugins/hypervisors/kvm/src/main/java/com/cloud/hypervisor/kvm/resource/wrapper/LibvirtCreatePrivateTemplateFromVolumeCommandWrapper.java
  plugins/hypervisors/kvm/src/main/java/com/cloud/hypervisor/kvm/resource/wrapper/LibvirtGetVolumesOnStorageCommandWrapper.java
  plugins/hypervisors/kvm/src/main/java/com/cloud/hypervisor/kvm/storage/IscsiAdmStorageAdaptor.java
  plugins/hypervisors/kvm/src/main/java/com/cloud/hypervisor/kvm/storage/KVMPhysicalDisk.java
  plugins/hypervisors/kvm/src/main/java/com/cloud/hypervisor/kvm/storage/KVMStoragePoolManager.java
  plugins/hypervisors/kvm/src/main/java/com/cloud/hypervisor/kvm/storage/KVMStorageProcessor.java
  plugins/hypervisors/kvm/src/main/java/com/cloud/hypervisor/kvm/storage/LibvirtStorageAdaptor.java
  plugins/hypervisors/kvm/src/main/java/com/cloud/hypervisor/kvm/storage/LibvirtStoragePool.java
  plugins/hypervisors/kvm/src/main/java/com/cloud/hypervisor/kvm/storage/StoragePoolInformation.java
  plugins/hypervisors/kvm/src/test/java/com/cloud/hypervisor/kvm/storage/KVMPhysicalDiskTest.java
  plugins/storage/volume/storpool/src/main/java/com/cloud/hypervisor/kvm/resource/wrapper/StorPoolDownloadVolumeCommandWrapper.java
  server/src/main/java/com/cloud/api/query/QueryManagerImpl.java
  ui/public/locales/en.json
  ui/public/locales/pt_BR.json
  ui/src/components/view/DetailsTab.vue
  ui/src/config/section/infra/primaryStorages.js
  ui/src/views/infra/AddPrimaryStorage.vue
  ui/src/views/infra/zone/ZoneWizardAddResources.vue
  ui/src/views/infra/zone/ZoneWizardLaunchZone.vue
Due: lint-frontend, build-frontend, build-backend-skip-tests, build-backend-with-test, build-backend-with-noredist, build-backend-with-systemvm, build-backend-combined

Port 4.20 - Cota/limite de _snapshots_ de VM por domínio e conta
  api/src/main/java/com/cloud/configuration/Resource.java
  api/src/main/java/com/cloud/user/ResourceLimitService.java
  api/src/main/java/org/apache/cloudstack/api/command/user/resource/UpdateResourceLimitCmd.java
  server/src/main/java/com/cloud/resourcelimit/ResourceLimitManagerImpl.java
  server/src/main/java/com/cloud/vm/snapshot/VMSnapshotManagerImpl.java
  server/src/test/java/com/cloud/vm/snapshot/VMSnapshotManagerTest.java
  ui/public/locales/en.json
  ui/public/locales/pt_BR.json
Due: lint-frontend, build-frontend, build-backend-skip-tests, build-backend-with-test, build-backend-with-noredist, build-backend-with-systemvm, build-backend-combined

Port 4.20 - Fix ordering of secondary storages with the algorithm `firstfitleastconsumed`
  engine/storage/image/src/main/java/org/apache/cloudstack/storage/image/manager/ImageStoreProviderManagerImpl.java
  engine/storage/image/src/test/java/org/apache/cloudstack/storage/image/manager/ImageStoreProviderManagerImplTest.java
Due: build-backend-skip-tests, build-backend-with-test, build-backend-with-noredist, build-backend-with-systemvm, build-backend-combined

Port 4.20 - Permitir especificar conta durante criação de VPC através da UI
  ui/src/views/network/CreateVpc.vue
Due: lint-frontend, build-frontend
