Repository scclouds/cloudstack: changes, and which GitLab CI jobs are due for each by the changed paths.
All: lint-frontend, build-frontend, build-backend-skip-tests, build-backend-with-test, build-backend-with-noredist, build-backend-with-systemvm, build-backend-combined

Path conditions:
  lint-frontend: any of: ui/**/*
  build-frontend: any of: ui/**/*
  build-backend-skip-tests: any of: **/*.java, **/*.xml, **/*.sh
  build-backend-with-test: any of: **/*.java, **/*.xml, **/*.sh
  build-backend-with-noredist: any of: **/*.java, **/*.xml, **/*.sh
  build-backend-with-systemvm: any of: **/*.java, **/*.xml, **/*.sh
  build-backend-combined: any of: **/*.java, **/*.xml, **/*.sh

Não listar APIs do Quota para contas com o Quota desabilitado
  api/src/main/java/org/apache/cloudstack/api/BaseCmd.java
  api/src/main/java/org/apache/cloudstack/api/BaseListCmd.java
  framework/config/src/main/java/org/apache/cloudstack/framework/config/PluginAccessConfigs.java
  framework/quota/src/main/java/org/apache/cloudstack/quota/constant/QuotaConfig.java
  plugins/api/discovery/src/main/java/org/apache/cloudstack/discovery/ApiDiscoveryServiceImpl.java
  plugins/database/quota/src/main/java/org/apache/cloudstack/api/command/QuotaBalanceCmd.java
  plugins/database/quota/src/main/java/org/apache/cloudstack/api/command/QuotaBaseCmd.java
  plugins/database/quota/src/main/java/org/apache/cloudstack/api/command/QuotaBaseListCmd.java
  plugins/database/quota/src/main/java/org/apache/cloudstack/api/command/QuotaCreditsCmd.java
  plugins/database/quota/src/main/java/org/apache/cloudstack/api/command/QuotaEmailTemplateListCmd.java
  plugins/database/quota/src/main/java/org/apache/cloudstack/api/command/QuotaEmailTemplateUpdateCmd.java
  plugins/database/quota/src/main/java/org/apache/cloudstack/api/command/QuotaStatementCmd.java
  plugins/database/quota/src/main/java/org/apache/cloudstack/api/command/QuotaSummaryCmd.java
  plugins/database/quota/src/main/java/org/apache/cloudstack/api/command/QuotaTariffCreateCmd.java
  plugins/database/quota/src/main/java/org/apache/cloudstack/api/command/QuotaTariffDeleteCmd.java
  plugins/database/quota/src/main/java/org/apache/cloudstack/api/command/QuotaTariffListCmd.java
  plugins/database/quota/src/main/java/org/apache/cloudstack/api/command/QuotaTariffUpdateCmd.java
  plugins/database/quota/src/main/java/org/apache/cloudstack/api/command/QuotaUpdateCmd.java
  server/src/main/java/com/cloud/api/dispatch/SpecificCmdValidationWorker.java
  server/src/test/java/com/cloud/api/dispatch/SpecificCmdValidationWorkerTest.java
Due: build-backend-skip-tests, build-backend-with-test, build-backend-with-noredist, build-backend-with-systemvm, build-backend-combined

Funcionalidade de configuração de e-mails do quota
  engine/schema/src/main/resources/META-INF/db/schema-41800to41801.sql
  framework/quota/src/main/java/org/apache/cloudstack/quota/QuotaAlertManagerImpl.java
  framework/quota/src/main/java/org/apache/cloudstack/quota/QuotaStatementImpl.java
  framework/quota/src/main/java/org/apache/cloudstack/quota/dao/QuotaEmailConfigurationDao.java
  framework/quota/src/main/java/org/apache/cloudstack/quota/dao/QuotaEmailConfigurationDaoImpl.java
  framework/quota/src/main/java/org/apache/cloudstack/quota/dao/QuotaEmailTemplatesDao.java
  framework/quota/src/main/java/org/apache/cloudstack/quota/dao/QuotaEmailTemplatesDaoImpl.java
  framework/quota/src/main/java/org/apache/cloudstack/quota/vo/QuotaEmailConfigurationVO.java
  framework/quota/src/main/resources/META-INF/cloudstack/quota/spring-framework-quota-context.xml
  framework/quota/src/test/java/org/apache/cloudstack/quota/QuotaAlertManagerImplTest.java
  framework/quota/src/test/java/org/apache/cloudstack/quota/QuotaStatementTest.java
  plugins/database/quota/src/main/java/org/apache/cloudstack/api/command/QuotaConfigureEmailCmd.java
  plugins/database/quota/src/main/java/org/apache/cloudstack/api/command/QuotaListEmailConfigurationCmd.java
  plugins/database/quota/src/main/java/org/apache/cloudstack/api/response/QuotaConfigureEmailResponse.java
  plugins/database/quota/src/main/java/org/apache/cloudstack/api/response/QuotaResponseBuilder.java
  plugins/database/quota/src/main/java/org/apache/cloudstack/api/response/QuotaResponseBuilderImpl.java
  plugins/database/quota/src/main/java/org/apache/cloudstack/quota/QuotaServiceImpl.java
  plugins/database/quota/src/test/java/org/apache/cloudstack/api/response/QuotaResponseBuilderImplTest.java
Due: build-backend-skip-tests, build-backend-with-test, build-backend-with-noredist, build-backend-with-systemvm, build-backend-combined

Port 4.18 - Carregar somente contagem de recursos no dashboard de usuário
  api/src/main/java/org/apache/cloudstack/api/ApiConstants.java
  api/src/main/java/org/apache/cloudstack/api/command/user/address/ListPublicIpAddressesCmd.java
  api/src/main/java/org/apache/cloudstack/api/command/user/network/ListNetworksCmd.java
  api/src/main/java/org/apache/cloudstack/api/command/user/vm/ListVMsCmd.java
  api/src/main/java/org/apache/cloudstack/api/command/user/volume/ListVolumesCmd.java
  server/src/main/java/com/cloud/api/query/QueryManagerImpl.java
  ui/src/views/dashboard/UsageDashboard.vue
Due: lint-frontend, build-frontend, build-backend-skip-tests, build-backend-with-test, build-backend-with-noredist, build-backend-with-systemvm, build-backend-combined

Port 4.18 - Reescrita dos checks no UsageSanityCheck
  engine/orchestration/src/main/java/com/cloud/vm/VirtualMachineManagerImpl.java
  usage/src/main/java/com/cloud/usage/UsageSanityChecker.java
Due: build-backend-skip-tests, build-backend-with-test, build-backend-with-noredist, build-backend-with-systemvm, build-backend-combined

Port 4.18 - Adição de logs na API listLoadBalancerRuleInstances
  api/src/main/java/org/apache/cloudstack/api/command/user/loadbalancer/ListLoadBalancerRuleInstancesCmd.java
  server/src/main/java/com/cloud/network/lb/LoadBalancingRulesManagerImpl.java
Due: build-backend-skip-tests, build-backend-with-test, build-backend-with-noredist, build-backend-with-systemvm, build-backend-combined

Port 4.18 - Normalização dos _time zone_ nos _plugins_ Usage e Quota
  api/src/main/java/org/apache/cloudstack/usage/UsageService.java
  engine/schema/src/main/java/com/cloud/usage/UsageVO.java
  engine/schema/src/main/resources/META-INF/db/schema-41800to41801.sql
  framework/quota/src/main/java/org/apache/cloudstack/quota/QuotaManagerImpl.java
  framework/quota/src/main/java/org/apache/cloudstack/quota/vo/QuotaTariffVO.java
  plugins/database/quota/src/main/java/org/apache/cloudstack/quota/QuotaServiceImpl.java
  plugins/database/quota/src/test/java/org/apache/cloudstack/quota/QuotaServiceImplTest.java
  server/src/main/java/com/cloud/api/ApiResponseHelper.java
  server/src/main/java/com/cloud/configuration/Config.java
  server/src/main/java/com/cloud/network/router/VirtualNetworkApplianceManagerImpl.java
  server/src/main/java/com/cloud/server/StatsCollector.java
  server/src/main/java/com/cloud/usage/UsageServiceImpl.java
  server/src/test/java/com/cloud/api/ApiResponseHelperTest.java
  setup/db/server-setup.xml
  test/integration/testpaths/testpath_usage.py
  usage/src/main/java/com/cloud/usage/UsageManagerImpl.java
  usage/src/main/java/com/cloud/usage/parser/IPAddressUsageParser.java
  usage/src/main/java/com/cloud/usage/parser/LoadBalancerUsageParser.java
  usage/src/main/java/com/cloud/usage/parser/NetworkOfferingUsageParser.java
  usage/src/main/java/com/cloud/usage/parser/NetworkUsageParser.java
  usage/src/main/java/com/cloud/usage/parser/NetworksUsageParser.java
  usage/src/main/java/com/cloud/usage/parser/PortForwardingUsageParser.java
  usage/src/main/java/com/cloud/usage/parser/SecurityGroupUsageParser.java
  usage/src/main/java/com/cloud/usage/parser/StorageUsageParser.java
  usage/src/main/java/com/cloud/usage/parser/VMInstanceUsageParser.java
  usage/src/main/java/com/cloud/usage/parser/VMSnapshotOnPrimaryParser.java
  usage/src/main/java/com/cloud/usage/parser/VMSnapshotUsageParser.java
  usage/src/main/java/com/cloud/usage/parser/VPNUserUsageParser.java
  usage/src/main/java/com/cloud/usage/parser/VmDiskUsageParser.java
  usage/src/main/java/com/cloud/usage/parser/VolumeUsageParser.java
  usage/src/main/java/com/cloud/usage/parser/VpcUsageParser.java
  utils/src/main/java/com/cloud/utils/DateUtil.java
Due: build-backend-skip-tests, build-backend-with-test, build-backend-with-noredist, build-backend-with-systemvm, build-backend-combined

Quota email currency formating
  framework/quota/src/main/java/org/apache/cloudstack/quota/QuotaAlertManagerImpl.java
  framework/quota/src/main/java/org/apache/cloudstack/quota/constant/QuotaConfig.java
  plugins/database/quota/src/main/java/org/apache/cloudstack/quota/QuotaServiceImpl.java
  utils/src/main/java/com/cloud/utils/NumbersUtil.java
Due: build-backend-skip-tests, build-backend-with-test, build-backend-with-noredist, build-backend-with-systemvm, build-backend-combined

Port 4.18 - Sincronizar backups em VMs que não possuem Backup Offerings
  api/src/main/java/org/apache/cloudstack/backup/Backup.java
  engine/schema/src/main/java/com/cloud/vm/dao/VMInstanceDao.java
  engine/schema/src/main/java/com/cloud/vm/dao/VMInstanceDaoImpl.java
  plugins/backup/veeam/src/main/java/org/apache/cloudstack/backup/VeeamBackupProvider.java
  plugins/backup/veeam/src/main/java/org/apache/cloudstack/backup/veeam/VeeamClient.java
  server/src/main/java/org/apache/cloudstack/backup/BackupManagerImpl.java
Due: build-backend-skip-tests, build-backend-with-test, build-backend-with-noredist, build-backend-with-systemvm, build-backend-combined

Port 4.18 - Correção na restauração de _backups_ do Veeam de volumes em _zone-wide storages_ que tenham o nome no ACS diferente do nome no VMware
  plugins/hypervisors/vmware/src/main/java/com/cloud/hypervisor/guru/VMwareGuru.java
Due: build-backend-skip-tests, build-backend-with-test, build-backend-with-noredist, build-backend-with-systemvm, build-backend-combined

Port 4.18 - Inject hypervisor type and volume format on quota tariffs
  framework/quota/src/main/java/org/apache/cloudstack/quota/activationrule/presetvariables/PresetVariableHelper.java
  framework/quota/src/main/java/org/apache/cloudstack/quota/activationrule/presetvariables/Value.java
  framework/quota/src/test/java/org/apache/cloudstack/quota/activationrule/presetvariables/PresetVariableHelperTest.java
  framework/quota/src/test/java/org/apache/cloudstack/quota/activationrule/presetvariables/ValueTest.java
Due: build-backend-skip-tests, build-backend-with-test, build-backend-with-noredist, build-backend-with-systemvm, build-backend-combined

Permitir filtrar as APIs `listDiskOffering` e `listServiceOffering` por conta ou projeto
  api/src/main/java/org/apache/cloudstack/api/command/user/offering/ListDiskOfferingsCmd.java
  api/src/main/java/org/apache/cloudstack/api/command/user/offering/ListServiceOfferingsCmd.java
  server/src/main/java/com/cloud/api/query/QueryManagerImpl.java
  server/src/test/java/com/cloud/api/query/QueryManagerImplTest.java
Due: build-backend-skip-tests, build-backend-with-test, build-backend-with-noredist, build-backend-with-systemvm, build-backend-combined

Permitir definição de *source* CIDR em regras de *port forwarding* em VPCs
  api/src/main/java/com/cloud/agent/api/to/PortForwardingRuleTO.java
  api/src/main/java/org/apache/cloudstack/api/command/user/firewall/CreatePortForwardingRuleCmd.java
  core/src/main/java/com/cloud/agent/resource/virtualnetwork/facade/SetPortForwardingRulesConfigItem.java
  core/src/main/java/com/cloud/agent/resource/virtualnetwork/model/ForwardingRule.java
  engine/schema/src/main/java/com/cloud/network/rules/PortForwardingRuleVO.java
  engine/schema/src/main/java/com/cloud/network/rules/dao/PortForwardingRulesDaoImpl.java
  plugins/integrations/kubernetes-service/src/main/java/com/cloud/kubernetes/cluster/actionworkers/KubernetesClusterResourceModifierActionWorker.java
  server/src/main/java/com/cloud/network/rules/RulesManagerImpl.java
  systemvm/debian/opt/cloud/bin/configure.py
  systemvm/debian/opt/cloud/bin/cs/CsNetfilter.py
  systemvm/debian/opt/cloud/bin/cs_forwardingrules.py
Due: build-backend-skip-tests, build-backend-with-test, build-backend-with-noredist, build-backend-with-systemvm, build-backend-combined

Correção no fluxo para aplicar regras de _port fowarding_ durante o _restart_...
  server/src/main/java/com/cloud/network/router/CommandSetupHelper.java
  server/src/main/java/com/cloud/network/rules/RulesManagerImpl.java
  systemvm/debian/opt/cloud/bin/configure.py
  systemvm/debian/opt/cloud/bin/cs_forwardingrules.py
Due: build-backend-skip-tests, build-backend-with-test, build-backend-with-noredist, build-backend-with-systemvm, build-backend-combined

Suporte ao parâmetro `cidrlist` adicionado à UI de criação de regras de _port forwarding_
  ui/src/views/network/PortForwarding.vue
Due: lint-frontend, build-frontend

Permitir que contas *root* e *domain admins* possam realizar *deploy* de VMs para outras contas via UI
  ui/src/views/compute/AssignInstance.vue
  ui/src/views/compute/DeployVM.vue
  ui/src/views/compute/wizard/OwnershipSelection.vue
Due: lint-frontend, build-frontend

Introducing concept of domain VPCs
  api/src/main/java/org/apache/cloudstack/api/command/user/network/ListNetworksCmd.java
  engine/schema/src/main/java/com/cloud/vm/dao/UserVmDao.java
  engine/schema/src/main/java/com/cloud/vm/dao/UserVmDaoImpl.java
  server/src/main/java/com/cloud/api/ApiResponseHelper.java
  server/src/main/java/com/cloud/network/IpAddressManagerImpl.java
  server/src/main/java/com/cloud/network/NetworkModelImpl.java
  server/src/main/java/com/cloud/network/lb/LoadBalancingRulesManagerImpl.java
  server/src/main/java/com/cloud/network/vpc/VpcManagerImpl.java
  ui/src/components/view/ListView.vue
  ui/src/config/section/network.js
  ui/src/views/network/EnableStaticNat.vue
  ui/src/views/network/LoadBalancing.vue
  ui/src/views/network/PortForwarding.vue
Due: lint-frontend, build-frontend, build-backend-skip-tests, build-backend-with-test, build-backend-with-noredist, build-backend-with-systemvm, build-backend-combined

Port 4.18 quota backup object billing
  api/src/main/java/com/cloud/event/EventTypes.java
  api/src/main/java/org/apache/cloudstack/usage/UsageTypes.java
  engine/schema/src/main/java/com/cloud/event/UsageEventVO.java
  engine/schema/src/main/java/com/cloud/upgrade/DatabaseUpgradeChecker.java
  engine/schema/src/main/java/com/cloud/upgrade/dao/Upgrade416014to416015.java
  engine/schema/src/main/java/com/cloud/usage/UsageBackupObjectVO.java
  engine/schema/src/main/java/com/cloud/usage/dao/UsageBackupObjectDao.java
  engine/schema/src/main/java/com/cloud/usage/dao/UsageBackupObjectDaoImpl.java
  engine/schema/src/main/resources/META-INF/cloudstack/core/spring-engine-schema-core-common-daos-between-management-and-usage-context.xml
  engine/schema/src/main/resources/META-INF/cloudstack/core/spring-engine-schema-core-daos-context.xml
  engine/schema/src/main/resources/META-INF/db/schema-416014to416015.sql
  framework/quota/src/main/java/org/apache/cloudstack/quota/activationrule/presetvariables/PresetVariableHelper.java
  framework/quota/src/main/java/org/apache/cloudstack/quota/activationrule/presetvariables/Value.java
  framework/quota/src/main/java/org/apache/cloudstack/quota/constant/QuotaTypes.java
  framework/quota/src/test/java/org/apache/cloudstack/quota/activationrule/presetvariables/PresetVariableHelperTest.java
  plugins/backup/dummy/src/main/java/org/apache/cloudstack/backup/DummyBackupProvider.java
  plugins/backup/veeam/src/main/java/org/apache/cloudstack/backup/VeeamBackupProvider.java
  server/src/main/java/org/apache/cloudstack/backup/BackupManagerImpl.java
  ui/public/locales/pt_BR.json
  ui/src/utils/quota.js
  usage/src/main/java/com/cloud/usage/UsageManagerImpl.java
  usage/src/main/java/com/cloud/usage/parser/BackupObjectUsageParser.java
Due: lint-frontend, build-frontend, build-backend-skip-tests, build-backend-with-test, build-backend-with-noredist, build-backend-with-systemvm, build-backend-combined

Fix build errors
  api/src/main/java/com/cloud/agent/api/to/PortForwardingRuleTO.java
  server/src/test/java/com/cloud/api/query/QueryManagerImplTest.java
Due: build-backend-skip-tests, build-backend-with-test, build-backend-with-noredist, build-backend-with-systemvm, build-backend-combined

Port 4.18 - Create API to list account's quota credits
  api/src/main/java/org/apache/cloudstack/api/ApiConstants.java
  framework/quota/src/main/java/org/apache/cloudstack/quota/vo/QuotaCreditsVO.java
  plugins/database/quota/src/main/java/org/apache/cloudstack/api/command/QuotaCreditsListCmd.java
  plugins/database/quota/src/main/java/org/apache/cloudstack/api/response/QuotaBalanceResponse.java
  plugins/database/quota/src/main/java/org/apache/cloudstack/api/response/QuotaCreditsResponse.java
  plugins/database/quota/src/main/java/org/apache/cloudstack/api/response/QuotaResponseBuilder.java
  plugins/database/quota/src/main/java/org/apache/cloudstack/api/response/QuotaResponseBuilderImpl.java
  plugins/database/quota/src/main/java/org/apache/cloudstack/quota/QuotaServiceImpl.java
  plugins/database/quota/src/test/java/org/apache/cloudstack/api/command/QuotaCreditsListCmdTest.java
  plugins/database/quota/src/test/java/org/apache/cloudstack/api/response/QuotaResponseBuilderImplTest.java
Due: build-backend-skip-tests, build-backend-with-test, build-backend-with-noredist, build-backend-with-systemvm, build-backend-combined

Port 4.18 - Não retornar estatísticas de VMs por padrão na API `listVirtualMachines`
  api/src/main/java/org/apache/cloudstack/api/command/user/vm/ListVMsCmd.java
  api/src/main/java/org/apache/cloudstack/api/response/UserVmResponse.java
  plugins/metrics/src/main/java/org/apache/cloudstack/api/ListVMsMetricsCmd.java
  plugins/metrics/src/main/java/org/apache/cloudstack/metrics/MetricsServiceImpl.java
  plugins/metrics/src/main/java/org/apache/cloudstack/response/VmMetricsResponse.java
  server/src/main/java/com/cloud/api/query/ViewResponseHelper.java
  ui/src/config/router.js
  ui/src/config/section/compute.js
  ui/src/views/AutogenView.vue
Due: lint-frontend, build-frontend, build-backend-skip-tests, build-backend-with-test, build-backend-with-noredist, build-backend-with-systemvm, build-backend-combined

Port 4.18 - refactor quota summary api
  api/src/main/java/org/apache/cloudstack/api/ApiConstants.java
  engine/schema/src/main/java/com/cloud/domain/dao/DomainDaoImpl.java
  engine/schema/src/main/resources/META-INF/db/schema-41800to41801.sql
  framework/quota/src/main/java/org/apache/cloudstack/quota/QuotaAccountStateFilter.java
  framework/quota/src/main/java/org/apache/cloudstack/quota/dao/QuotaSummaryDao.java
  framework/quota/src/main/java/org/apache/cloudstack/quota/dao/QuotaSummaryDaoImpl.java
  framework/quota/src/main/java/org/apache/cloudstack/quota/vo/QuotaSummaryVO.java
  framework/quota/src/main/resources/META-INF/cloudstack/quota/spring-framework-quota-context.xml
  plugins/database/quota/src/main/java/org/apache/cloudstack/api/command/QuotaSummaryCmd.java
  plugins/database/quota/src/main/java/org/apache/cloudstack/api/response/QuotaResponseBuilder.java
  plugins/database/quota/src/main/java/org/apache/cloudstack/api/response/QuotaResponseBuilderImpl.java
  plugins/database/quota/src/main/java/org/apache/cloudstack/api/response/QuotaSummaryResponse.java
  plugins/database/quota/src/test/java/org/apache/cloudstack/api/command/QuotaSummaryCmdTest.java
  plugins/database/quota/src/test/java/org/apache/cloudstack/api/response/QuotaResponseBuilderImplTest.java
Due: build-backend-skip-tests, build-backend-with-test, build-backend-with-noredist, build-backend-with-systemvm, build-backend-combined

Refactor quota balance API processes
  framework/quota/src/main/java/org/apache/cloudstack/quota/QuotaManagerImpl.java
  framework/quota/src/main/java/org/apache/cloudstack/quota/dao/QuotaBalanceDao.java
  framework/quota/src/main/java/org/apache/cloudstack/quota/dao/QuotaBalanceDaoImpl.java
  framework/quota/src/test/java/org/apache/cloudstack/quota/dao/QuotaBalanceDaoImplTest.java
  plugins/database/quota/src/main/java/org/apache/cloudstack/api/command/QuotaBalanceCmd.java
  plugins/database/quota/src/main/java/org/apache/cloudstack/api/response/QuotaBalanceResponse.java
  plugins/database/quota/src/main/java/org/apache/cloudstack/api/response/QuotaResponseBuilder.java
  plugins/database/quota/src/main/java/org/apache/cloudstack/api/response/QuotaResponseBuilderImpl.java
  plugins/database/quota/src/main/java/org/apache/cloudstack/quota/QuotaService.java
  plugins/database/quota/src/main/java/org/apache/cloudstack/quota/QuotaServiceImpl.java
  plugins/database/quota/src/test/java/org/apache/cloudstack/api/command/QuotaBalanceCmdTest.java
  plugins/database/quota/src/test/java/org/apache/cloudstack/api/response/QuotaResponseBuilderImplTest.java
  plugins/database/quota/src/test/java/org/apache/cloudstack/quota/QuotaServiceImplTest.java
Due: build-backend-skip-tests, build-backend-with-test, build-backend-with-noredist, build-backend-with-systemvm, build-backend-combined

Port 4.18 - improvements on quota tariffs apis and processes
  api/src/main/java/org/apache/cloudstack/api/ApiConstants.java
  framework/quota/src/main/java/org/apache/cloudstack/quota/dao/QuotaTariffDao.java
  framework/quota/src/main/java/org/apache/cloudstack/quota/dao/QuotaTariffDaoImpl.java
  plugins/database/quota/pom.xml
  plugins/database/quota/src/main/java/org/apache/cloudstack/api/command/QuotaTariffCreateCmd.java
  plugins/database/quota/src/main/java/org/apache/cloudstack/api/command/QuotaTariffListCmd.java
  plugins/database/quota/src/main/java/org/apache/cloudstack/api/command/QuotaTariffUpdateCmd.java
  plugins/database/quota/src/main/java/org/apache/cloudstack/api/response/QuotaResponseBuilder.java
  plugins/database/quota/src/main/java/org/apache/cloudstack/api/response/QuotaResponseBuilderImpl.java
  plugins/database/quota/src/test/java/org/apache/cloudstack/api/command/QuotaTariffListCmdTest.java
  plugins/database/quota/src/test/java/org/apache/cloudstack/api/command/QuotaTariffUpdateCmdTest.java
  plugins/database/quota/src/test/java/org/apache/cloudstack/api/response/QuotaResponseBuilderImplTest.java
  utils/src/main/java/org/apache/cloudstack/utils/jsinterpreter/JsInterpreter.java
  utils/src/test/java/org/apache/cloudstack/utils/jsinterpreter/JsInterpreterTest.java
Due: build-backend-skip-tests, build-backend-with-test, build-backend-with-noredist, build-backend-with-systemvm, build-backend-combined

Atualizar SQLs da versão
  engine/schema/src/main/java/com/cloud/upgrade/DatabaseUpgradeChecker.java
  engine/schema/src/main/java/com/cloud/upgrade/dao/Upgrade416014to416015.java
  engine/schema/src/main/java/com/cloud/upgrade/dao/Upgrade41800to41801.java
  engine/schema/src/main/resources/META-INF/db/schema-416014to416015.sql
  engine/schema/src/main/resources/META-INF/db/schema-41800to41801.sql
Due: build-backend-skip-tests, build-backend-with-test, build-backend-with-noredist, build-backend-with-systemvm, build-backend-combined

Port 4.18 improve quota statement
  api/src/main/java/org/apache/cloudstack/api/ApiConstants.java
  engine/schema/src/main/java/com/cloud/user/dao/AccountDao.java
  engine/schema/src/main/java/com/cloud/user/dao/AccountDaoImpl.java
  engine/schema/src/main/resources/META-INF/db/schema-41800to41801.sql
  framework/quota/src/main/java/org/apache/cloudstack/quota/dao/QuotaUsageJoinDao.java
  framework/quota/src/main/java/org/apache/cloudstack/quota/dao/QuotaUsageJoinDaoImpl.java
  framework/quota/src/main/java/org/apache/cloudstack/quota/vo/QuotaUsageJoinVO.java
  framework/quota/src/main/java/org/apache/cloudstack/quota/vo/QuotaUsageResourceVO.java
  framework/quota/src/main/resources/META-INF/cloudstack/quota/spring-framework-quota-context.xml
  plugins/database/quota/src/main/java/org/apache/cloudstack/api/command/QuotaStatementCmd.java
  plugins/database/quota/src/main/java/org/apache/cloudstack/api/response/QuotaResponseBuilder.java
  plugins/database/quota/src/main/java/org/apache/cloudstack/api/response/QuotaResponseBuilderImpl.java
  plugins/database/quota/src/main/java/org/apache/cloudstack/api/response/QuotaStatementItemResourceResponse.java
  plugins/database/quota/src/main/java/org/apache/cloudstack/api/response/QuotaStatementItemResponse.java
  plugins/database/quota/src/main/java/org/apache/cloudstack/api/response/QuotaStatementResponse.java
  plugins/database/quota/src/main/java/org/apache/cloudstack/quota/QuotaService.java
  plugins/database/quota/src/main/java/org/apache/cloudstack/quota/QuotaServiceImpl.java
  plugins/database/quota/src/test/java/org/apache/cloudstack/api/command/QuotaStatementCmdTest.java
  plugins/database/quota/src/test/java/org/apache/cloudstack/api/response/QuotaResponseBuilderImplTest.java
  plugins/database/quota/src/test/java/org/apache/cloudstack/quota/QuotaServiceImplTest.java
Due: build-backend-skip-tests, build-backend-with-test, build-backend-with-noredist, build-backend-with-systemvm, build-backend-combined

Port 4.18 - Normalize usage and quota APIs
  api/src/main/java/org/apache/cloudstack/api/command/admin/usage/ListUsageRecordsCmd.java
  api/src/main/java/org/apache/cloudstack/api/response/UsageRecordResponse.java
  plugins/database/quota/src/main/java/org/apache/cloudstack/api/command/QuotaStatementCmd.java
  plugins/database/quota/src/main/java/org/apache/cloudstack/api/command/QuotaTariffCreateCmd.java
  plugins/database/quota/src/main/java/org/apache/cloudstack/api/command/QuotaTariffListCmd.java
  plugins/database/quota/src/main/java/org/apache/cloudstack/api/command/QuotaTariffUpdateCmd.java
  plugins/database/quota/src/main/java/org/apache/cloudstack/api/response/QuotaResponseBuilderImpl.java
  plugins/database/quota/src/main/java/org/apache/cloudstack/api/response/QuotaTariffResponse.java
  plugins/database/quota/src/main/java/org/apache/cloudstack/quota/QuotaService.java
  plugins/database/quota/src/main/java/org/apache/cloudstack/quota/QuotaServiceImpl.java
  plugins/database/quota/src/test/java/org/apache/cloudstack/api/response/QuotaResponseBuilderImplTest.java
  server/src/main/java/com/cloud/api/ApiResponseHelper.java
  server/src/main/java/com/cloud/usage/UsageServiceImpl.java
Due: build-backend-skip-tests, build-backend-with-test, build-backend-with-noredist, build-backend-with-systemvm, build-backend-combined

Port 4.18 - API quotaStatementDetails
  engine/schema/src/main/resources/META-INF/db/schema-41800to41801.sql
  framework/quota/src/main/java/org/apache/cloudstack/quota/QuotaManagerImpl.java
  framework/quota/src/main/java/org/apache/cloudstack/quota/constant/QuotaTypes.java
  framework/quota/src/main/java/org/apache/cloudstack/quota/dao/QuotaUsageDetailDao.java
  framework/quota/src/main/java/org/apache/cloudstack/quota/dao/QuotaUsageDetailDaoImpl.java
  framework/quota/src/main/java/org/apache/cloudstack/quota/dao/QuotaUsageJoinDao.java
  framework/quota/src/main/java/org/apache/cloudstack/quota/vo/QuotaUsageDetailVO.java
  framework/quota/src/main/resources/META-INF/cloudstack/quota/spring-framework-quota-context.xml
  framework/quota/src/test/java/org/apache/cloudstack/quota/QuotaManagerImplTest.java
  plugins/database/quota/src/main/java/org/apache/cloudstack/api/command/QuotaStatementDetailsCmd.java
  plugins/database/quota/src/main/java/org/apache/cloudstack/api/response/QuotaResponseBuilder.java
  plugins/database/quota/src/main/java/org/apache/cloudstack/api/response/QuotaResponseBuilderImpl.java
  plugins/database/quota/src/main/java/org/apache/cloudstack/api/response/QuotaStatementResponse.java
  plugins/database/quota/src/main/java/org/apache/cloudstack/api/response/QuotaUsageDetailsItemResponse.java
  plugins/database/quota/src/main/java/org/apache/cloudstack/api/response/QuotaUsageDetailsResponse.java
  plugins/database/quota/src/main/java/org/apache/cloudstack/quota/QuotaServiceImpl.java
Due: build-backend-skip-tests, build-backend-with-test, build-backend-with-noredist, build-backend-with-systemvm, build-backend-combined

Port 4.18 - API for quoting resources
  api/src/main/java/org/apache/cloudstack/api/ApiConstants.java
  engine/schema/src/main/java/com/cloud/domain/DomainVO.java
  engine/schema/src/main/java/com/cloud/user/AccountVO.java
  framework/quota/src/main/java/org/apache/cloudstack/quota/QuotaManager.java
  framework/quota/src/main/java/org/apache/cloudstack/quota/QuotaManagerImpl.java
  framework/quota/src/main/java/org/apache/cloudstack/quota/activationrule/presetvariables/GenericPresetVariable.java
  framework/quota/src/main/java/org/apache/cloudstack/quota/constant/QuotaTypes.java
  framework/quota/src/main/java/org/apache/cloudstack/quota/dao/QuotaTariffDao.java
  framework/quota/src/main/java/org/apache/cloudstack/quota/dao/QuotaTariffDaoImpl.java
  framework/quota/src/main/java/org/apache/cloudstack/quota/vo/ResourcesToQuoteVO.java
  framework/quota/src/test/java/org/apache/cloudstack/quota/QuotaManagerImplTest.java
  framework/quota/src/test/java/org/apache/cloudstack/quota/activationrule/presetvariables/GenericPresetVariableTest.java
  framework/quota/src/test/java/org/apache/cloudstack/quota/constant/QuotaTypesTest.java
  plugins/database/quota/src/main/java/org/apache/cloudstack/api/command/QuotaResourceQuotingCmd.java
  plugins/database/quota/src/main/java/org/apache/cloudstack/api/response/QuotaResourceQuotingResponse.java
  plugins/database/quota/src/main/java/org/apache/cloudstack/api/response/QuotaResponseBuilder.java
  plugins/database/quota/src/main/java/org/apache/cloudstack/api/response/QuotaResponseBuilderImpl.java
  plugins/database/quota/src/main/java/org/apache/cloudstack/api/response/ResourcesQuotingResultResponse.java
  plugins/database/quota/src/main/java/org/apache/cloudstack/quota/QuotaServiceImpl.java
  plugins/database/quota/src/test/java/org/apache/cloudstack/api/response/QuotaResponseBuilderImplTest.java
  utils/src/main/java/org/apache/cloudstack/utils/jsinterpreter/JsInterpreter.java
Due: build-backend-skip-tests, build-backend-with-test, build-backend-with-noredist, build-backend-with-systemvm, build-backend-combined

Conserta listagem de storage pools sem pool ID
  server/src/main/java/com/cloud/api/query/dao/StoragePoolJoinDaoImpl.java
Due: build-backend-skip-tests, build-backend-with-test, build-backend-with-noredist, build-backend-with-systemvm, build-backend-combined

Remove o uso de `add column if not exists`
  engine/schema/src/main/resources/META-INF/db/schema-41800to41801.sql
Due: none

Possibilitar a escolha do IP do MS no certificado autoassinado
  plugins/ca/root-ca/src/main/java/org/apache/cloudstack/ca/provider/RootCAProvider.java
Due: build-backend-skip-tests, build-backend-with-test, build-backend-with-noredist, build-backend-with-systemvm, build-backend-combined

Conserta listagem de storage pools com escopo de zona com tags flexiveis
  engine/storage/src/main/java/org/apache/cloudstack/storage/allocator/ZoneWideStoragePoolAllocator.java
  server/src/main/java/com/cloud/api/query/dao/StoragePoolJoinDaoImpl.java
Due: build-backend-skip-tests, build-backend-with-test, build-backend-with-noredist, build-backend-with-systemvm, build-backend-combined

Fixes 4.18
  engine/schema/src/main/resources/META-INF/db/schema-41720to41800.sql
  engine/schema/src/main/resources/META-INF/db/schema-41800to41801.sql
  framework/quota/src/main/java/org/apache/cloudstack/quota/QuotaManagerImpl.java
  framework/quota/src/test/java/org/apache/cloudstack/quota/QuotaManagerImplTest.java
  plugins/database/quota/src/main/java/org/apache/cloudstack/api/response/QuotaBalanceResponse.java
  server/src/main/java/com/cloud/network/lb/LoadBalancingRulesManagerImpl.java
  ui/src/views/compute/DeployVM.vue
  usage/src/main/java/com/cloud/usage/UsageManagerImpl.java
  utils/src/main/java/com/cloud/utils/DateUtil.java
  utils/src/main/java/org/apache/cloudstack/utils/jsinterpreter/JsInterpreter.java
  utils/src/test/java/org/apache/cloudstack/utils/jsinterpreter/JsInterpreterTest.java
Due: lint-frontend, build-frontend, build-backend-skip-tests, build-backend-with-test, build-backend-with-noredist, build-backend-with-systemvm, build-backend-combined

Fix powershell scapes when finding Veeam repository name
  plugins/backup/veeam/src/main/java/org/apache/cloudstack/backup/VeeamBackupProvider.java
  plugins/backup/veeam/src/main/java/org/apache/cloudstack/backup/veeam/VeeamClient.java
Due: build-backend-skip-tests, build-backend-with-test, build-backend-with-noredist, build-backend-with-systemvm, build-backend-combined

Corrigir NullPointerException ao migrar VM com template removido
  engine/storage/datamotion/src/main/java/org/apache/cloudstack/storage/motion/KvmNonManagedStorageDataMotionStrategy.java
  engine/storage/datamotion/src/main/java/org/apache/cloudstack/storage/motion/StorageSystemDataMotionStrategy.java
  engine/storage/datamotion/src/test/java/org/apache/cloudstack/storage/motion/KvmNonManagedStorageSystemDataMotionTest.java
  engine/storage/datamotion/src/test/java/org/apache/cloudstack/storage/motion/StorageSystemDataMotionStrategyTest.java
Due: build-backend-skip-tests, build-backend-with-test, build-backend-with-noredist, build-backend-with-systemvm, build-backend-combined

Fiz VM deploy wizard resetting when changing account
  ui/src/views/compute/DeployVM.vue
Due: lint-frontend, build-frontend

Fix volume heuristic presetvariable injection
  server/src/main/java/com/cloud/storage/VolumeApiServiceImpl.java
  server/src/main/java/org/apache/cloudstack/storage/heuristics/presetvariables/Volume.java
Due: build-backend-skip-tests, build-backend-with-test, build-backend-with-noredist, build-backend-with-systemvm, build-backend-combined
