Repository scclouds/cloudstack: changes, and which GitLab CI jobs are due for each by the changed paths.
All: lint-frontend, build-frontend, build-backend-skip-tests, build-backend-with-test, build-backend-with-noredist, build-backend-with-systemvm, build-backend-combined

Path conditions:
  lint-frontend: any of: ui/**/*
  build-frontend: any of: ui/**/*
  build-backend-skip-tests: any of: **/*.java, **/*.xml, **/*.sh
  build-backend-with-test: any of: **/*.java, **/*.xml, **/*.sh
  build-backend-with-noredist: any of: **/*.java, **/*.xml, **/*.sh
  build-backend-with-systemvm: any of: **/*.java, **/*.xml, **/*.sh
  build-backend-combined: any of: **/*.java, **/*.xml, **/*.sh

Alteração de nível padrão de logs para _DEBUG_
  agent/conf/log4j-cloud.xml.in
  server/conf/log4j-cloud.xml.in
  usage/conf/log4j-cloud_usage.xml.in
Due: none

Remover migração das keypairs do arquivo java de upgrade da 4.20.0.0 pra 4.20.0.1
  engine/schema/src/main/java/com/cloud/upgrade/dao/Upgrade42000to42001.java
Due: build-backend-skip-tests, build-backend-with-test, build-backend-with-noredist, build-backend-with-systemvm, build-backend-combined

Port 4.20 - Criação de interface gráfica para expor reestruturação dos pares de chave de API
  ui/public/locales/en.json
  ui/public/locales/pt_BR.json
  ui/src/components/view/DetailsTab.vue
  ui/src/components/view/InfoCard.vue
  ui/src/components/view/KeypairsTab.vue
  ui/src/components/view/ListView.vue
  ui/src/config/router.js
  ui/src/config/section/keypair.js
  ui/src/config/section/user.js
  ui/src/views/AutogenView.vue
  ui/src/views/iam/GenerateApiKeyPair.vue
  ui/src/views/iam/KeyPermissionTable.vue
Due: lint-frontend, build-frontend

Remoção da criação de tarifas no SQL
  engine/schema/src/main/resources/META-INF/db/schema-461to470.sql
Due: none

Port 4.20 - Tarifas mensais no Quota
  api/src/main/java/org/apache/cloudstack/api/ApiConstants.java
  engine/schema/src/main/java/com/cloud/usage/dao/UsageDao.java
  engine/schema/src/main/java/com/cloud/usage/dao/UsageDaoImpl.java
  engine/schema/src/main/resources/META-INF/db/schema-42000to42001.sql
  engine/schema/src/main/resources/META-INF/db/views/cloud_usage.quota_usage_view.sql
  framework/quota/src/main/java/org/apache/cloudstack/quota/QuotaManagerImpl.java
  framework/quota/src/main/java/org/apache/cloudstack/quota/activationrule/presetvariables/PresetVariables.java
  framework/quota/src/main/java/org/apache/cloudstack/quota/activationrule/presetvariables/ProcessedData.java
  framework/quota/src/main/java/org/apache/cloudstack/quota/constant/ProcessingPeriod.java
  framework/quota/src/main/java/org/apache/cloudstack/quota/dao/QuotaTariffDao.java
  framework/quota/src/main/java/org/apache/cloudstack/quota/dao/QuotaTariffDaoImpl.java
  framework/quota/src/main/java/org/apache/cloudstack/quota/dao/QuotaUsageDao.java
  framework/quota/src/main/java/org/apache/cloudstack/quota/dao/QuotaUsageDaoImpl.java
  framework/quota/src/main/java/org/apache/cloudstack/quota/vo/QuotaTariffVO.java
  framework/quota/src/main/java/org/apache/cloudstack/quota/vo/QuotaUsageVO.java
  framework/quota/src/test/java/org/apache/cloudstack/quota/QuotaManagerImplTest.java
  framework/quota/src/test/java/org/apache/cloudstack/quota/vo/QuotaTariffVOTest.java
  plugins/database/quota/src/main/java/org/apache/cloudstack/api/command/QuotaTariffCreateCmd.java
  plugins/database/quota/src/main/java/org/apache/cloudstack/api/command/QuotaTariffListCmd.java
  plugins/database/quota/src/main/java/org/apache/cloudstack/api/response/QuotaResponseBuilderImpl.java
  plugins/database/quota/src/main/java/org/apache/cloudstack/api/response/QuotaTariffResponse.java
  plugins/database/quota/src/test/java/org/apache/cloudstack/api/response/QuotaResponseBuilderImplTest.java
  ui/public/locales/en.json
  ui/public/locales/pt_BR.json
  ui/src/config/section/plugin/quota.js
  ui/src/views/plugins/quota/CreateQuotaTariff.vue
  ui/src/views/plugins/quota/QuotaUsageTab.vue
Due: lint-frontend, build-frontend, build-backend-skip-tests, build-backend-with-test, build-backend-with-noredist, build-backend-with-systemvm, build-backend-combined

Port 4.20 - Adição de gráficos de linha para recursos no Quota
  api/src/main/java/org/apache/cloudstack/api/ApiConstants.java
  plugins/database/quota/src/main/java/org/apache/cloudstack/api/command/QuotaStatementCmd.java
  plugins/database/quota/src/main/java/org/apache/cloudstack/api/command/QuotaSummaryCmd.java
  plugins/database/quota/src/main/java/org/apache/cloudstack/api/response/QuotaResponseBuilderImpl.java
  plugins/database/quota/src/main/java/org/apache/cloudstack/api/response/QuotaStatementItemResourceResponse.java
  plugins/database/quota/src/main/java/org/apache/cloudstack/api/response/QuotaStatementItemResponse.java
  plugins/database/quota/src/test/java/org/apache/cloudstack/api/response/QuotaResponseBuilderImplTest.java
  ui/public/locales/en.json
  ui/public/locales/pt_BR.json
  ui/src/components/view/stats/ResourceStatsLineChart.vue
  ui/src/utils/date.js
  ui/src/views/plugins/quota/QuotaUsageTab.vue
  utils/src/main/java/com/cloud/utils/DateUtil.java
Due: lint-frontend, build-frontend, build-backend-skip-tests, build-backend-with-test, build-backend-with-noredist, build-backend-with-systemvm, build-backend-combined

Fix cloud_usage.quota_usage_view.sql
  engine/schema/src/main/resources/META-INF/db/views/cloud_usage.quota_usage_view.sql
  framework/quota/src/main/java/org/apache/cloudstack/quota/vo/QuotaTariffVO.java
Due: build-backend-skip-tests, build-backend-with-test, build-backend-with-noredist, build-backend-with-systemvm, build-backend-combined

Port 4.20 - Fixes 4.18
  api/src/main/java/org/apache/cloudstack/api/ApiConstants.java
  plugins/database/quota/src/main/java/org/apache/cloudstack/api/response/QuotaBalanceResponse.java
  ui/src/views/compute/DeployVM.vue
Due: lint-frontend, build-frontend, build-backend-skip-tests, build-backend-with-test, build-backend-with-noredist, build-backend-with-systemvm, build-backend-combined

fix get backup metrics
  plugins/backup/veeam/src/main/java/org/apache/cloudstack/backup/VeeamBackupProvider.java
Due: build-backend-skip-tests, build-backend-with-test, build-backend-with-noredist, build-backend-with-systemvm, build-backend-combined

Fix VMSnapshotDetailsDao injection
  server/src/main/java/com/cloud/storage/VolumeApiServiceImpl.java
Due: build-backend-skip-tests, build-backend-with-test, build-backend-with-noredist, build-backend-with-systemvm, build-backend-combined

Fixes 4.20.0.1-scclouds
  ui/public/locales/en.json
  ui/public/locales/pt_BR.json
  ui/src/views/network/IpAddressesTab.vue
  ui/src/views/plugins/quota/AddQuotaCredit.vue
Due: lint-frontend, build-frontend

Adiciona comando removeManagementServer na API
  api/src/main/java/com/cloud/event/EventTypes.java
  api/src/main/java/com/cloud/server/ManagementService.java
  api/src/main/java/org/apache/cloudstack/api/command/admin/management/RemoveMgmtCmd.java
  server/src/main/java/com/cloud/api/query/vo/ManagementServerJoinVO.java
  server/src/main/java/com/cloud/server/ManagementServerImpl.java
Due: build-backend-skip-tests, build-backend-with-test, build-backend-with-noredist, build-backend-with-systemvm, build-backend-combined

Injeção de IOPS e _bytes_ para o _usage type_ `VOLUME`
  framework/quota/src/main/java/org/apache/cloudstack/quota/activationrule/presetvariables/DiskOffering.java
  framework/quota/src/main/java/org/apache/cloudstack/quota/activationrule/presetvariables/PresetVariableHelper.java
  framework/quota/src/main/java/org/apache/cloudstack/quota/activationrule/presetvariables/Value.java
  framework/quota/src/test/java/org/apache/cloudstack/quota/activationrule/presetvariables/PresetVariableHelperTest.java
Due: build-backend-skip-tests, build-backend-with-test, build-backend-with-noredist, build-backend-with-systemvm, build-backend-combined

Correção de _login_ com 2FA
  ui/src/store/modules/user.js
Due: lint-frontend, build-frontend

Correção do lançamento de uma `NullPointerException` ao criar novas contas
  server/src/main/java/com/cloud/user/AccountManagerImpl.java
Due: build-backend-skip-tests, build-backend-with-test, build-backend-with-noredist, build-backend-with-systemvm, build-backend-combined

Adição de _logs_ na reordenação de _storage pools_
  engine/storage/src/main/java/org/apache/cloudstack/storage/allocator/AbstractStoragePoolAllocator.java
Due: build-backend-skip-tests, build-backend-with-test, build-backend-with-noredist, build-backend-with-systemvm, build-backend-combined

Adição de estado da VM à listagem de volumes
  ui/public/locales/en.json
  ui/src/components/view/ListView.vue
  ui/src/components/widgets/Status.vue
  ui/src/config/section/storage.js
Due: lint-frontend, build-frontend

Correção de `NullPointerException` ao executar a api `isAccountAllowedToCreateOfferingsWithTags` sem o parâmetro `id`
  api/src/main/java/org/apache/cloudstack/api/command/admin/offering/IsAccountAllowedToCreateOfferingsWithTagsCmd.java
Due: build-backend-skip-tests, build-backend-with-test, build-backend-with-noredist, build-backend-with-systemvm, build-backend-combined

Adição do _link_ de _download_ de _templates_, ISOs e volumes nos detalhes dos eventos de _download_
  api/src/main/java/org/apache/cloudstack/api/command/user/iso/ExtractIsoCmd.java
  api/src/main/java/org/apache/cloudstack/api/command/user/template/ExtractTemplateCmd.java
  api/src/main/java/org/apache/cloudstack/api/command/user/volume/ExtractVolumeCmd.java
  server/src/main/java/com/cloud/storage/VolumeApiServiceImpl.java
  server/src/main/java/com/cloud/template/TemplateManagerImpl.java
Due: build-backend-skip-tests, build-backend-with-test, build-backend-with-noredist, build-backend-with-systemvm, build-backend-combined

Change Debian packages maintainer
  debian/control
Due: none

Adição de troca de senha do _host_ via UI
  ui/public/locales/en.json
  ui/public/locales/pt_BR.json
  ui/src/config/section/infra/hosts.js
  ui/src/views/infra/ChangeHostPassword.vue
Due: lint-frontend, build-frontend

Extensão na validação de configurações booleanas para aceitar valores _case insensitive_
  server/src/main/java/com/cloud/configuration/ConfigurationManagerImpl.java
  server/src/test/java/com/cloud/configuration/ConfigurationManagerImplTest.java
Due: build-backend-skip-tests, build-backend-with-test, build-backend-with-noredist, build-backend-with-systemvm, build-backend-combined

Modificação na API `updateConfiguration` para tornar o parâmetro `value` obrigatório
  api/src/main/java/org/apache/cloudstack/api/command/admin/config/UpdateCfgCmd.java
  server/src/main/java/com/cloud/configuration/ConfigurationManagerImpl.java
Due: build-backend-skip-tests, build-backend-with-test, build-backend-with-noredist, build-backend-with-systemvm, build-backend-combined

Remoção da validação da quantidade de IPs públicos alocados para uma conta durante a adição de regras de _port forwarding_, _load balancing_ e ativação de _static_ NAT
  server/src/main/java/com/cloud/network/IpAddressManagerImpl.java
  server/src/main/java/com/cloud/network/vpc/VpcManagerImpl.java
Due: build-backend-skip-tests, build-backend-with-test, build-backend-with-noredist, build-backend-with-systemvm, build-backend-combined

Habilitação do _login_ para usuarios que possuem a autenticação via SAML desabilitada
  server/src/main/java/com/cloud/user/AccountManagerImpl.java
Due: build-backend-skip-tests, build-backend-with-test, build-backend-with-noredist, build-backend-with-systemvm, build-backend-combined

Correção dos _paths_ de _templates_ de _system_ VMs armazenados incorretamente ao introduzir o primeiro _secondary storage_ em uma nova zona
  engine/storage/image/src/main/java/org/apache/cloudstack/storage/image/TemplateServiceImpl.java
Due: build-backend-skip-tests, build-backend-with-test, build-backend-with-noredist, build-backend-with-systemvm, build-backend-combined

Correção do cálculo do horário de execução do Usage na API `removeRawUsageRecords`
  server/src/main/java/com/cloud/usage/UsageServiceImpl.java
  usage/src/main/java/com/cloud/usage/UsageManagerImpl.java
  utils/src/main/java/org/apache/cloudstack/utils/usage/UsageUtils.java
  utils/src/test/java/org/apache/cloudstack/utils/usage/UsageUtilsTest.java
Due: build-backend-skip-tests, build-backend-with-test, build-backend-with-noredist, build-backend-with-systemvm, build-backend-combined

Correção em valores considerados válidos para a configuração `secstorage.allowed.internal.sites`
  services/secondary-storage/controller/src/main/java/org/apache/cloudstack/secondarystorage/SecondaryStorageManagerImpl.java
Due: build-backend-skip-tests, build-backend-with-test, build-backend-with-noredist, build-backend-with-systemvm, build-backend-combined

Adição de _logs_ na remoção de _hosts_
  engine/schema/src/main/java/com/cloud/storage/StoragePoolHostVO.java
  server/src/main/java/com/cloud/resource/ResourceManagerImpl.java
Due: build-backend-skip-tests, build-backend-with-test, build-backend-with-noredist, build-backend-with-systemvm, build-backend-combined

Exibição da URL da ISO no detalhes de uma ISO Kubernetes
  api/src/main/java/org/apache/cloudstack/api/ApiConstants.java
  plugins/integrations/kubernetes-service/src/main/java/com/cloud/kubernetes/version/KubernetesVersionManagerImpl.java
  plugins/integrations/kubernetes-service/src/main/java/org/apache/cloudstack/api/response/KubernetesSupportedVersionResponse.java
  plugins/integrations/kubernetes-service/src/test/java/com/cloud/kubernetes/version/KubernetesVersionServiceTest.java
  ui/public/locales/en.json
  ui/public/locales/pt_BR.json
  ui/src/config/section/image.js
Due: lint-frontend, build-frontend, build-backend-skip-tests, build-backend-with-test, build-backend-with-noredist, build-backend-with-systemvm, build-backend-combined

Correção para que o `StatsCollector` não realize divisão por zero
  server/src/main/java/com/cloud/server/StatsCollector.java
Due: build-backend-skip-tests, build-backend-with-test, build-backend-with-noredist, build-backend-with-systemvm, build-backend-combined

Adição do campo de busca para _rules_ das _roles_
  ui/src/views/iam/RolePermissionTab.vue
Due: lint-frontend, build-frontend

Correção na validação de nomenclatura de _clusters_ Kubernetes
  plugins/integrations/kubernetes-service/src/main/java/com/cloud/kubernetes/cluster/KubernetesClusterManagerImpl.java
  plugins/integrations/kubernetes-service/src/test/java/com/cloud/kubernetes/cluster/KubernetesClusterManagerImplTest.java
Due: build-backend-skip-tests, build-backend-with-test, build-backend-with-noredist, build-backend-with-systemvm, build-backend-combined

Conserto do _typo_ em `SnapshotManagerImpl`
  server/src/main/java/com/cloud/storage/snapshot/SnapshotManagerImpl.java
Due: build-backend-skip-tests, build-backend-with-test, build-backend-with-noredist, build-backend-with-systemvm, build-backend-combined

Disable over provisioning division
  server/src/main/java/com/cloud/hypervisor/HypervisorGuruBase.java
Due: build-backend-skip-tests, build-backend-with-test, build-backend-with-noredist, build-backend-with-systemvm, build-backend-combined

Remoção do campo _compute offering_ no formulário de criação de _network offerings_ do tipo L2 na UI
  ui/public/locales/el_GR.json
  ui/public/locales/en.json
  ui/public/locales/pt_BR.json
  ui/src/views/offering/AddNetworkOffering.vue
Due: lint-frontend, build-frontend

Criar nova cadeia de _snapshots_ ao trocar a configuração de _snapshots_ incrementais
  server/src/main/java/com/cloud/storage/snapshot/SnapshotManagerImpl.java
Due: build-backend-skip-tests, build-backend-with-test, build-backend-with-noredist, build-backend-with-systemvm, build-backend-combined

Adição do _link_ para VPC no _infoCard_ do _router_
  ui/src/components/view/InfoCard.vue
Due: lint-frontend, build-frontend

Remoção do _link_ para _Templates_ e Volumes inexistentes no InfoCard
  api/src/main/java/org/apache/cloudstack/api/response/UserVmResponse.java
  api/src/main/java/org/apache/cloudstack/api/response/VolumeResponse.java
  engine/schema/src/main/resources/META-INF/db/views/cloud.volume_view.sql
  server/src/main/java/com/cloud/api/query/dao/TemplateJoinDaoImpl.java
  server/src/main/java/com/cloud/api/query/dao/UserVmJoinDaoImpl.java
  server/src/main/java/com/cloud/api/query/dao/VolumeJoinDaoImpl.java
  server/src/main/java/com/cloud/api/query/vo/VolumeJoinVO.java
  ui/public/locales/en.json
  ui/public/locales/pt_BR.json
  ui/src/components/view/InfoCard.vue
  ui/src/utils/links.js
Due: lint-frontend, build-frontend, build-backend-skip-tests, build-backend-with-test, build-backend-with-noredist, build-backend-with-systemvm, build-backend-combined
