Repository scclouds/cloudstack: changes, and which GitLab CI jobs are due for each by the changed paths.
All: lint-frontend, build-frontend, build-backend-skip-tests, build-backend-with-test, build-backend-with-noredist, build-backend-with-systemvm, build-backend-combined

Path conditions:
  lint-frontend: any of: ui/**/*
  build-frontend: any of: ui/**/*
  build-backend-skip-tests: any of: **/*.java, **/*.xml, **/*.sh
  build-backend-with-test: any of: **/*.java, **/*.xml, **/*.sh
  build-backend-with-noredist: any of: **/*.java, **/*.xml, **/*.sh
  build-backend-with-systemvm: any of: **/*.java, **/*.xml, **/*.sh
  build-backend-combined: any of: **/*.java, **/*.xml, **/*.sh

Conserta upgrade das versões 4.18.0.8+ pra 4.20
  engine/schema/src/main/resources/META-INF/db/schema-42000to42001.sql
Due: none

Port 4.20 - Permitir a criação de _port groups_ de redes persistentes em paralelo durante o _bootstrap_ do ACS
  plugins/hypervisors/vmware/src/main/java/com/cloud/hypervisor/vmware/resource/VmwareResource.java
Due: build-backend-skip-tests, build-backend-with-test, build-backend-with-noredist, build-backend-with-systemvm, build-backend-combined

Port 4.20 - Utilizar as configurações do Quota da conta
  engine/schema/src/main/resources/META-INF/cloudstack/core/spring-engine-schema-core-common-daos-between-management-and-usage-context.xml
  framework/quota/src/main/java/org/apache/cloudstack/quota/QuotaAlertManagerImpl.java
  framework/quota/src/main/java/org/apache/cloudstack/quota/QuotaManager.java
  framework/quota/src/main/java/org/apache/cloudstack/quota/QuotaManagerImpl.java
  framework/quota/src/test/java/org/apache/cloudstack/quota/QuotaAlertManagerImplTest.java
Due: build-backend-skip-tests, build-backend-with-test, build-backend-with-noredist, build-backend-with-systemvm, build-backend-combined

Port 4.20 - Adição da _flag_ `quickRollback` na restauração de um _backup_
  plugins/backup/veeam/src/main/java/org/apache/cloudstack/backup/VeeamBackupProvider.java
  plugins/backup/veeam/src/main/java/org/apache/cloudstack/backup/veeam/VeeamClient.java
  plugins/backup/veeam/src/main/java/org/apache/cloudstack/backup/veeam/api/RestoreSpec.java
  plugins/backup/veeam/src/main/java/org/apache/cloudstack/backup/veeam/api/VmRestoreSpec.java
  plugins/backup/veeam/src/test/java/org/apache/cloudstack/backup/veeam/VeeamClientTest.java
Due: build-backend-skip-tests, build-backend-with-test, build-backend-with-noredist, build-backend-with-systemvm, build-backend-combined

Port 4.20 - Corrigir estado da instância ao ocorrer uma exceção na API `restoreVolumeFromBackupAndAttachToVM`
  server/src/main/java/org/apache/cloudstack/backup/BackupManagerImpl.java
Due: build-backend-skip-tests, build-backend-with-test, build-backend-with-noredist, build-backend-with-systemvm, build-backend-combined

Port 4.20 - Try to fix assign and volume restore
  api/src/main/java/org/apache/cloudstack/backup/BackupProvider.java
  plugins/backup/veeam/src/main/java/org/apache/cloudstack/backup/veeam/VeeamClient.java
  plugins/backup/veeam/src/test/java/org/apache/cloudstack/backup/veeam/VeeamClientTest.java
Due: build-backend-skip-tests, build-backend-with-test, build-backend-with-noredist, build-backend-with-systemvm, build-backend-combined

Port 4.20 - Quota credits posting date
  api/src/main/java/org/apache/cloudstack/api/ApiConstants.java
  engine/schema/src/main/resources/META-INF/db/schema-42000to42001.sql
  framework/quota/src/main/java/org/apache/cloudstack/quota/vo/QuotaCreditsVO.java
  plugins/database/quota/src/main/java/org/apache/cloudstack/api/command/QuotaCreditsCmd.java
  plugins/database/quota/src/main/java/org/apache/cloudstack/api/response/QuotaCreditsResponse.java
  plugins/database/quota/src/main/java/org/apache/cloudstack/api/response/QuotaResponseBuilder.java
  plugins/database/quota/src/main/java/org/apache/cloudstack/api/response/QuotaResponseBuilderImpl.java
  plugins/database/quota/src/test/java/org/apache/cloudstack/api/command/QuotaCreditsCmdTest.java
  plugins/database/quota/src/test/java/org/apache/cloudstack/api/response/QuotaResponseBuilderImplTest.java
  ui/src/views/plugins/quota/AddQuotaCredit.vue
  ui/src/views/plugins/quota/QuotaCreditTab.vue
Due: lint-frontend, build-frontend, build-backend-skip-tests, build-backend-with-test, build-backend-with-noredist, build-backend-with-systemvm, build-backend-combined

Port 4.20 - Bloquear criação de VM _snapshots_, volume _snapshots_ e _backups_ em conjunto
  api/src/main/java/com/cloud/storage/VolumeApiService.java
  api/src/main/java/org/apache/cloudstack/api/command/user/snapshot/CreateSnapshotFromVMSnapshotCmd.java
  engine/schema/src/main/java/com/cloud/storage/dao/SnapshotDao.java
  engine/schema/src/main/java/com/cloud/storage/dao/SnapshotDaoImpl.java
  server/src/main/java/com/cloud/storage/VolumeApiServiceImpl.java
  server/src/main/java/com/cloud/storage/snapshot/SnapshotManagerImpl.java
  server/src/main/java/com/cloud/vm/UserVmManager.java
  server/src/main/java/com/cloud/vm/UserVmManagerImpl.java
  server/src/main/java/com/cloud/vm/snapshot/VMSnapshotManagerImpl.java
  server/src/main/java/org/apache/cloudstack/backup/BackupManagerImpl.java
Due: build-backend-skip-tests, build-backend-with-test, build-backend-with-noredist, build-backend-with-systemvm, build-backend-combined

Port 4.20 - Funcionalidade para escolher o IP _source_ NAT ao criar VPCs
  ui/public/locales/en.json
  ui/public/locales/pt_BR.json
  ui/src/utils/network.js
  ui/src/views/network/CreateVpc.vue
  ui/src/views/network/IpAddressesTab.vue
Due: lint-frontend, build-frontend

Port 4.20 - [Veeam] Allow users to delete job but keep the backups
  api/src/main/java/com/cloud/vm/VirtualMachine.java
  api/src/main/java/org/apache/cloudstack/api/command/user/volume/DetachVolumeCmd.java
  api/src/main/java/org/apache/cloudstack/backup/Backup.java
  api/src/main/java/org/apache/cloudstack/backup/BackupProvider.java
  engine/schema/src/main/java/com/cloud/storage/dao/VolumeDao.java
  engine/schema/src/main/java/com/cloud/storage/dao/VolumeDaoImpl.java
  engine/schema/src/main/java/com/cloud/vm/VMInstanceVO.java
  engine/schema/src/main/java/org/apache/cloudstack/backup/dao/BackupDaoImpl.java
  engine/schema/src/main/java/org/apache/cloudstack/engine/cloud/entity/api/db/VMEntityVO.java
  engine/schema/src/main/java/org/apache/cloudstack/storage/datastore/db/PrimaryDataStoreDao.java
  engine/schema/src/main/java/org/apache/cloudstack/storage/datastore/db/PrimaryDataStoreDaoImpl.java
  engine/schema/src/main/resources/META-INF/db/schema-42000to42001.sql
  plugins/backup/dummy/src/main/java/org/apache/cloudstack/backup/DummyBackupProvider.java
  plugins/backup/nas/src/main/java/org/apache/cloudstack/backup/NASBackupProvider.java
  plugins/backup/networker/src/main/java/org/apache/cloudstack/backup/NetworkerBackupProvider.java
  plugins/backup/veeam/src/main/java/org/apache/cloudstack/backup/VeeamBackupProvider.java
  plugins/backup/veeam/src/main/java/org/apache/cloudstack/backup/veeam/VeeamClient.java
  plugins/backup/veeam/src/test/java/org/apache/cloudstack/backup/veeam/VeeamClientTest.java
  plugins/hypervisors/vmware/src/main/java/com/cloud/hypervisor/guru/VMwareGuru.java
  plugins/hypervisors/vmware/src/test/java/com/cloud/hypervisor/guru/VMwareGuruTest.java
  server/src/main/java/com/cloud/storage/VolumeApiServiceImpl.java
  server/src/main/java/com/cloud/vm/UserVmManagerImpl.java
  server/src/main/java/org/apache/cloudstack/backup/BackupManagerImpl.java
  server/src/test/java/com/cloud/storage/VolumeApiServiceImplTest.java
  server/src/test/java/com/cloud/vm/UserVmManagerImplTest.java
  utils/src/main/java/com/cloud/utils/UuidUtils.java
Due: build-backend-skip-tests, build-backend-with-test, build-backend-with-noredist, build-backend-with-systemvm, build-backend-combined

Port 4.20 - API for quoting resources
  api/src/main/java/org/apache/cloudstack/api/ApiConstants.java
  engine/schema/src/main/java/com/cloud/domain/DomainVO.java
  engine/schema/src/main/java/com/cloud/user/AccountVO.java
  framework/quota/src/main/java/org/apache/cloudstack/quota/QuotaManager.java
  framework/quota/src/main/java/org/apache/cloudstack/quota/QuotaManagerImpl.java
  framework/quota/src/main/java/org/apache/cloudstack/quota/activationrule/presetvariables/GenericPresetVariable.java
  framework/quota/src/main/java/org/apache/cloudstack/quota/dao/QuotaTariffDao.java
  framework/quota/src/main/java/org/apache/cloudstack/quota/dao/QuotaTariffDaoImpl.java
  framework/quota/src/main/java/org/apache/cloudstack/quota/vo/ResourcesToQuoteVO.java
  framework/quota/src/test/java/org/apache/cloudstack/quota/QuotaManagerImplTest.java
  framework/quota/src/test/java/org/apache/cloudstack/quota/activationrule/presetvariables/GenericPresetVariableTest.java
  framework/quota/src/test/java/org/apache/cloudstack/quota/constant/QuotaTypesTest.java
  framework/quota/src/test/java/org/apache/cloudstack/quota/vo/QuotaUsageDetailVO.java
  plugins/database/quota/src/main/java/org/apache/cloudstack/api/command/QuotaResourceQuotingCmd.java
  plugins/database/quota/src/main/java/org/apache/cloudstack/api/response/QuotaResourceQuotingResponse.java
  plugins/database/quota/src/main/java/org/apache/cloudstack/api/response/QuotaResponseBuilder.java
  plugins/database/quota/src/main/java/org/apache/cloudstack/api/response/QuotaResponseBuilderImpl.java
  plugins/database/quota/src/main/java/org/apache/cloudstack/api/response/ResourcesQuotingResultResponse.java
  plugins/database/quota/src/main/java/org/apache/cloudstack/quota/QuotaServiceImpl.java
  plugins/database/quota/src/test/java/org/apache/cloudstack/api/response/QuotaResponseBuilderImplTest.java
  utils/src/main/java/org/apache/cloudstack/utils/jsinterpreter/JsInterpreter.java
Due: build-backend-skip-tests, build-backend-with-test, build-backend-with-noredist, build-backend-with-systemvm, build-backend-combined

Port 4.20 - Vmware apply iops in resize migrate
  core/src/main/java/com/cloud/agent/api/storage/MigrateVolumeCommand.java
  core/src/main/java/com/cloud/agent/api/storage/ResizeVolumeCommand.java
  engine/api/src/main/java/org/apache/cloudstack/engine/orchestration/service/VolumeOrchestrationService.java
  engine/orchestration/src/main/java/org/apache/cloudstack/engine/orchestration/VolumeOrchestrator.java
  plugins/hypervisors/vmware/src/main/java/com/cloud/hypervisor/vmware/resource/VmwareResource.java
  plugins/hypervisors/vmware/src/main/java/org/apache/cloudstack/storage/motion/VmwareStorageMotionStrategy.java
  plugins/storage/volume/default/src/main/java/org/apache/cloudstack/storage/datastore/driver/CloudStackPrimaryDataStoreDriverImpl.java
  server/src/main/java/com/cloud/storage/VolumeApiServiceImpl.java
  server/src/main/java/org/apache/cloudstack/vm/UnmanagedVMsManagerImpl.java
  vmware-base/src/main/java/com/cloud/hypervisor/vmware/mo/VirtualMachineMO.java
Due: build-backend-skip-tests, build-backend-with-test, build-backend-with-noredist, build-backend-with-systemvm, build-backend-combined

Port 4.20 - Configuração para forçar troca de MAC _address_ de NICs públicas de VRs ao recriá-los
  engine/api/src/main/java/org/apache/cloudstack/engine/orchestration/service/NetworkOrchestrationService.java
  engine/orchestration/src/main/java/org/apache/cloudstack/engine/orchestration/NetworkOrchestrator.java
  server/src/main/java/com/cloud/network/router/NetworkHelperImpl.java
  server/src/test/java/com/cloud/network/router/NetworkHelperImplTest.java
Due: build-backend-skip-tests, build-backend-with-test, build-backend-with-noredist, build-backend-with-systemvm, build-backend-combined

Port 4.20 - Correção na restauração de _backups_ do Veeam de volumes em _zone-wide storages_ que tenham o nome no ACS diferente do nome no VMware
  plugins/hypervisors/vmware/src/main/java/com/cloud/hypervisor/guru/VMwareGuru.java
Due: build-backend-skip-tests, build-backend-with-test, build-backend-with-noredist, build-backend-with-systemvm, build-backend-combined

Port 4.20 - Destruir VM clone após finalizar a conversão de um volume em template
  plugins/hypervisors/vmware/src/main/java/com/cloud/hypervisor/vmware/manager/VmwareStorageManagerImpl.java
Due: build-backend-skip-tests, build-backend-with-test, build-backend-with-noredist, build-backend-with-systemvm, build-backend-combined

Port 4.20 - Sincronizar backups em VMs que não possuem Backup Offerings
  api/src/main/java/org/apache/cloudstack/backup/Backup.java
  engine/schema/src/main/java/com/cloud/vm/dao/VMInstanceDao.java
  engine/schema/src/main/java/com/cloud/vm/dao/VMInstanceDaoImpl.java
  plugins/backup/veeam/src/main/java/org/apache/cloudstack/backup/VeeamBackupProvider.java
  plugins/backup/veeam/src/main/java/org/apache/cloudstack/backup/veeam/VeeamClient.java
  server/src/main/java/org/apache/cloudstack/backup/BackupManagerImpl.java
Due: build-backend-skip-tests, build-backend-with-test, build-backend-with-noredist, build-backend-with-systemvm, build-backend-combined

Port 4.20 - [Veeam] Restauração de apenas um volume em específico
  api/src/main/java/com/cloud/hypervisor/HypervisorGuru.java
  api/src/main/java/org/apache/cloudstack/api/command/user/backup/RestoreVolumeFromBackupAndAttachToVMCmd.java
  api/src/main/java/org/apache/cloudstack/backup/BackupManager.java
  api/src/main/java/org/apache/cloudstack/backup/BackupProvider.java
  plugins/backup/dummy/src/main/java/org/apache/cloudstack/backup/DummyBackupProvider.java
  plugins/backup/nas/src/main/java/org/apache/cloudstack/backup/NASBackupProvider.java
  plugins/backup/networker/src/main/java/org/apache/cloudstack/backup/NetworkerBackupProvider.java
  plugins/backup/veeam/src/main/java/org/apache/cloudstack/backup/VeeamBackupProvider.java
  plugins/backup/veeam/src/main/java/org/apache/cloudstack/backup/veeam/VeeamClient.java
  plugins/backup/veeam/src/test/java/org/apache/cloudstack/backup/veeam/VeeamClientTest.java
  plugins/hypervisors/vmware/src/main/java/com/cloud/hypervisor/guru/VMwareGuru.java
  plugins/hypervisors/vmware/src/test/java/com/cloud/hypervisor/guru/VMwareGuruTest.java
  server/src/main/java/com/cloud/hypervisor/HypervisorGuruBase.java
  server/src/main/java/org/apache/cloudstack/backup/BackupManagerImpl.java
  server/src/test/java/org/apache/cloudstack/backup/BackupManagerTest.java
  utils/src/main/java/com/cloud/utils/UuidUtils.java
  vmware-base/src/main/java/com/cloud/hypervisor/vmware/mo/VirtualMachineDiskInfoBuilder.java
  vmware-base/src/test/java/com/cloud/hypervisor/vmware/mo/VirtualMachineDiskInfoBuilderTest.java
Due: build-backend-skip-tests, build-backend-with-test, build-backend-with-noredist, build-backend-with-systemvm, build-backend-combined

Port 4.20 - Adicionar _labels_ da UI ao gerenciamento de temas
  api/src/main/java/org/apache/cloudstack/api/ApiConstants.java
  api/src/main/java/org/apache/cloudstack/api/command/user/gui/theme/CreateGuiThemeCmd.java
  api/src/main/java/org/apache/cloudstack/api/command/user/gui/theme/UpdateGuiThemeCmd.java
  api/src/main/java/org/apache/cloudstack/api/response/GuiThemeResponse.java
  api/src/main/java/org/apache/cloudstack/gui/theme/GuiTheme.java
  api/src/main/java/org/apache/cloudstack/gui/theme/GuiThemeJoin.java
  engine/schema/src/main/java/org/apache/cloudstack/gui/theme/GuiThemeJoinVO.java
  engine/schema/src/main/java/org/apache/cloudstack/gui/theme/GuiThemeVO.java
  engine/schema/src/main/resources/META-INF/db/schema-42000to42001.sql
  engine/schema/src/main/resources/META-INF/db/views/cloud.gui_themes_view.sql
  server/src/main/java/com/cloud/api/ApiResponseHelper.java
  server/src/main/java/org/apache/cloudstack/gui/theme/GuiThemeServiceImpl.java
  ui/src/locales/index.js
  ui/src/main.js
  ui/src/utils/guiTheme.js
Due: lint-frontend, build-frontend, build-backend-skip-tests, build-backend-with-test, build-backend-with-noredist, build-backend-with-systemvm, build-backend-combined

Corrige compilação com Java 17
  engine/components-api/src/main/java/com/cloud/network/vpc/VpcManager.java
  server/src/main/java/com/cloud/network/vpc/VpcManagerImpl.java
  server/src/test/java/com/cloud/network/vpc/VpcManagerImplTest.java
Due: build-backend-skip-tests, build-backend-with-test, build-backend-with-noredist, build-backend-with-systemvm, build-backend-combined

Port 4.20 - Improve Quota Statement
  api/src/main/java/org/apache/cloudstack/api/ApiConstants.java
  engine/schema/src/main/java/com/cloud/user/dao/AccountDao.java
  engine/schema/src/main/java/com/cloud/user/dao/AccountDaoImpl.java
  framework/quota/src/main/java/org/apache/cloudstack/quota/vo/QuotaUsageResourceVO.java
  plugins/database/quota/src/main/java/org/apache/cloudstack/api/command/QuotaStatementCmd.java
  plugins/database/quota/src/main/java/org/apache/cloudstack/api/response/QuotaResponseBuilder.java
  plugins/database/quota/src/main/java/org/apache/cloudstack/api/response/QuotaResponseBuilderImpl.java
  plugins/database/quota/src/main/java/org/apache/cloudstack/api/response/QuotaStatementItemResourceResponse.java
  plugins/database/quota/src/main/java/org/apache/cloudstack/api/response/QuotaStatementItemResponse.java
  plugins/database/quota/src/main/java/org/apache/cloudstack/api/response/QuotaStatementResponse.java
  plugins/database/quota/src/main/java/org/apache/cloudstack/quota/QuotaService.java
  plugins/database/quota/src/main/java/org/apache/cloudstack/quota/QuotaServiceImpl.java
  plugins/database/quota/src/test/java/org/apache/cloudstack/api/command/QuotaStatementCmdTest.java
  plugins/database/quota/src/test/java/org/apache/cloudstack/api/response/QuotaResponseBuilderImplTest.java
  plugins/database/quota/src/test/java/org/apache/cloudstack/quota/QuotaServiceImplTest.java
Due: build-backend-skip-tests, build-backend-with-test, build-backend-with-noredist, build-backend-with-systemvm, build-backend-combined

Port 4.20 - Adição de informações sobre limites de `vm_snapshots` na aba `Resources`
  api/src/main/java/org/apache/cloudstack/api/ApiConstants.java
  api/src/main/java/org/apache/cloudstack/api/command/user/resource/ListResourceLimitsCmd.java
  api/src/main/java/org/apache/cloudstack/api/command/user/resource/UpdateResourceCountCmd.java
  api/src/main/java/org/apache/cloudstack/api/response/AccountResponse.java
  api/src/main/java/org/apache/cloudstack/api/response/DomainResponse.java
  api/src/main/java/org/apache/cloudstack/api/response/ProjectResponse.java
  api/src/main/java/org/apache/cloudstack/api/response/ResourceLimitAndCountResponse.java
  engine/schema/src/main/resources/META-INF/db/views/cloud.account_view.sql
  engine/schema/src/main/resources/META-INF/db/views/cloud.domain_view.sql
  server/src/main/java/com/cloud/api/query/dao/AccountJoinDaoImpl.java
  server/src/main/java/com/cloud/api/query/dao/DomainJoinDaoImpl.java
  server/src/main/java/com/cloud/api/query/vo/AccountJoinVO.java
  server/src/main/java/com/cloud/api/query/vo/DomainJoinVO.java
  ui/public/locales/en.json
  ui/public/locales/pt_BR.json
  ui/src/components/view/ResourceCountUsage.vue
Due: lint-frontend, build-frontend, build-backend-skip-tests, build-backend-with-test, build-backend-with-noredist, build-backend-with-systemvm, build-backend-combined

Port 4.20 - Lançamento de evento de _resize_ durante _revert_ de _snapshot_
  server/src/main/java/com/cloud/storage/snapshot/SnapshotManagerImpl.java
  server/src/test/java/com/cloud/storage/snapshot/SnapshotManagerTest.java
  utils/src/test/java/com/cloud/utils/UriUtilsTest.java
Due: build-backend-skip-tests, build-backend-with-test, build-backend-with-noredist, build-backend-with-systemvm, build-backend-combined

Port 4.20 - Refactor Quota balance
  api/src/main/java/org/apache/cloudstack/api/ApiConstants.java
  framework/quota/src/main/java/org/apache/cloudstack/quota/QuotaManagerImpl.java
  framework/quota/src/main/java/org/apache/cloudstack/quota/dao/QuotaBalanceDao.java
  framework/quota/src/main/java/org/apache/cloudstack/quota/dao/QuotaBalanceDaoImpl.java
  framework/quota/src/test/java/org/apache/cloudstack/quota/dao/QuotaBalanceDaoImplTest.java
  plugins/database/quota/src/main/java/org/apache/cloudstack/api/command/QuotaBalanceCmd.java
  plugins/database/quota/src/main/java/org/apache/cloudstack/api/command/QuotaSummaryCmd.java
  plugins/database/quota/src/main/java/org/apache/cloudstack/api/command/QuotaTariffUpdateCmd.java
  plugins/database/quota/src/main/java/org/apache/cloudstack/api/response/QuotaBalanceResponse.java
  plugins/database/quota/src/main/java/org/apache/cloudstack/api/response/QuotaResponseBuilder.java
  plugins/database/quota/src/main/java/org/apache/cloudstack/api/response/QuotaResponseBuilderImpl.java
  plugins/database/quota/src/main/java/org/apache/cloudstack/quota/QuotaService.java
  plugins/database/quota/src/main/java/org/apache/cloudstack/quota/QuotaServiceImpl.java
  plugins/database/quota/src/test/java/org/apache/cloudstack/api/command/QuotaBalanceCmdTest.java
  plugins/database/quota/src/test/java/org/apache/cloudstack/api/response/QuotaResponseBuilderImplTest.java
  plugins/database/quota/src/test/java/org/apache/cloudstack/quota/QuotaServiceImplTest.java
Due: build-backend-skip-tests, build-backend-with-test, build-backend-with-noredist, build-backend-with-systemvm, build-backend-combined

Port 4.20 - Apresentação do tema padrão ao usuário não-autorizado
  engine/schema/src/main/java/org/apache/cloudstack/gui/theme/dao/GuiThemeJoinDao.java
  engine/schema/src/main/java/org/apache/cloudstack/gui/theme/dao/GuiThemeJoinDaoImpl.java
  server/src/main/java/com/cloud/api/ApiServer.java
  server/src/main/java/com/cloud/api/ApiServlet.java
  server/src/main/java/org/apache/cloudstack/gui/theme/GuiThemeServiceImpl.java
  server/src/test/java/org/apache/cloudstack/gui/theme/GuiThemeServiceImplTest.java
  ui/src/main.js
Due: lint-frontend, build-frontend, build-backend-skip-tests, build-backend-with-test, build-backend-with-noredist, build-backend-with-systemvm, build-backend-combined

Correção da estimativa do custo dos _root_ e _data disks_ no formulário de criação de VMs
  api/src/main/java/org/apache/cloudstack/api/ApiConstants.java
  api/src/main/java/org/apache/cloudstack/api/response/AccountResponse.java
  api/src/main/java/org/apache/cloudstack/api/response/ProjectResponse.java
  engine/schema/src/main/resources/META-INF/db/schema-42000to42001.sql
  framework/quota/src/main/java/org/apache/cloudstack/quota/activationrule/presetvariables/Domain.java
  plugins/database/quota/src/main/java/org/apache/cloudstack/api/command/QuotaResourceQuotingCmd.java
  plugins/database/quota/src/main/java/org/apache/cloudstack/api/response/QuotaResourceQuotingResponse.java
  server/pom.xml
  server/src/main/java/com/cloud/api/query/dao/AccountJoinDaoImpl.java
  server/src/main/java/com/cloud/api/query/dao/ProjectJoinDaoImpl.java
  ui/public/locales/en.json
  ui/public/locales/pt_BR.json
  ui/src/components/view/InfoCard.vue
  ui/src/components/view/stats/EstimatedCost.vue
  ui/src/views/compute/DeployVM.vue
Due: lint-frontend, build-frontend, build-backend-skip-tests, build-backend-with-test, build-backend-with-noredist, build-backend-with-systemvm, build-backend-combined

Port 4.20 - Quota - 660 672
  framework/quota/src/main/java/org/apache/cloudstack/quota/dao/QuotaBalanceDaoImpl.java
  plugins/database/quota/src/main/java/org/apache/cloudstack/api/command/QuotaBalanceCmd.java
  plugins/database/quota/src/main/java/org/apache/cloudstack/api/command/QuotaCreditsCmd.java
  plugins/database/quota/src/main/java/org/apache/cloudstack/api/command/QuotaStatementCmd.java
  plugins/database/quota/src/main/java/org/apache/cloudstack/api/command/QuotaSummaryCmd.java
  plugins/database/quota/src/main/java/org/apache/cloudstack/api/response/QuotaResponseBuilder.java
  plugins/database/quota/src/main/java/org/apache/cloudstack/api/response/QuotaResponseBuilderImpl.java
  plugins/database/quota/src/main/java/org/apache/cloudstack/quota/QuotaServiceImpl.java
  plugins/database/quota/src/test/java/org/apache/cloudstack/api/command/QuotaCreditsCmdTest.java
  plugins/database/quota/src/test/java/org/apache/cloudstack/api/response/QuotaResponseBuilderImplTest.java
  plugins/database/quota/src/test/java/org/apache/cloudstack/quota/QuotaServiceImplTest.java
Due: build-backend-skip-tests, build-backend-with-test, build-backend-with-noredist, build-backend-with-systemvm, build-backend-combined

Port 4.20 - Add response for VPC and NETWORK types on QuotaStatementDetails
  plugins/database/quota/src/main/java/org/apache/cloudstack/api/response/QuotaResponseBuilderImpl.java
Due: build-backend-skip-tests, build-backend-with-test, build-backend-with-noredist, build-backend-with-systemvm, build-backend-combined

Port 4.20 - Refactor Quota Summary API
  api/src/main/java/org/apache/cloudstack/api/ApiConstants.java
  engine/schema/src/main/java/com/cloud/domain/dao/DomainDaoImpl.java
  engine/schema/src/main/resources/META-INF/db/views/cloud_usage.quota_summary_view.sql
  framework/quota/src/main/java/org/apache/cloudstack/quota/QuotaAccountStateFilter.java
  framework/quota/src/main/java/org/apache/cloudstack/quota/dao/QuotaSummaryDao.java
  framework/quota/src/main/java/org/apache/cloudstack/quota/dao/QuotaSummaryDaoImpl.java
  framework/quota/src/main/java/org/apache/cloudstack/quota/vo/QuotaSummaryVO.java
  framework/quota/src/main/resources/META-INF/cloudstack/quota/spring-framework-quota-context.xml
  plugins/database/quota/src/main/java/org/apache/cloudstack/api/command/QuotaSummaryCmd.java
  plugins/database/quota/src/main/java/org/apache/cloudstack/api/response/QuotaResponseBuilder.java
  plugins/database/quota/src/main/java/org/apache/cloudstack/api/response/QuotaResponseBuilderImpl.java
  plugins/database/quota/src/main/java/org/apache/cloudstack/api/response/QuotaSummaryResponse.java
  plugins/database/quota/src/main/java/org/apache/cloudstack/quota/QuotaServiceImpl.java
  plugins/database/quota/src/test/java/org/apache/cloudstack/api/command/QuotaSummaryCmdTest.java
  plugins/database/quota/src/test/java/org/apache/cloudstack/api/response/QuotaResponseBuilderImplTest.java
  plugins/database/quota/src/test/java/org/apache/cloudstack/quota/QuotaServiceImplTest.java
Due: build-backend-skip-tests, build-backend-with-test, build-backend-with-noredist, build-backend-with-systemvm, build-backend-combined

Port 4.20 - Incrementação dos detalhes nos alertas de falha na criação de VMs
  server/src/main/java/com/cloud/vm/UserVmManagerImpl.java
Due: build-backend-skip-tests, build-backend-with-test, build-backend-with-noredist, build-backend-with-systemvm, build-backend-combined

Port 4.20 - Quota tariff statement
  api/src/main/java/org/apache/cloudstack/api/ApiConstants.java
  framework/db/src/main/java/com/cloud/utils/db/SearchCriteria.java
  framework/quota/src/main/java/org/apache/cloudstack/quota/dao/QuotaTariffDao.java
  framework/quota/src/main/java/org/apache/cloudstack/quota/dao/QuotaTariffDaoImpl.java
  framework/quota/src/main/java/org/apache/cloudstack/quota/dao/QuotaUsageDetailDao.java
  framework/quota/src/main/java/org/apache/cloudstack/quota/dao/QuotaUsageDetailDaoImpl.java
  framework/quota/src/main/java/org/apache/cloudstack/quota/dao/QuotaUsageJoinDao.java
  framework/quota/src/main/java/org/apache/cloudstack/quota/dao/QuotaUsageJoinDaoImpl.java
  plugins/database/quota/src/main/java/org/apache/cloudstack/api/command/QuotaTariffStatementCmd.java
  plugins/database/quota/src/main/java/org/apache/cloudstack/api/response/QuotaResponseBuilder.java
  plugins/database/quota/src/main/java/org/apache/cloudstack/api/response/QuotaResponseBuilderImpl.java
  plugins/database/quota/src/main/java/org/apache/cloudstack/api/response/QuotaStatementItemResourceResponse.java
  plugins/database/quota/src/main/java/org/apache/cloudstack/api/response/QuotaTariffStatementItemResponse.java
  plugins/database/quota/src/main/java/org/apache/cloudstack/api/response/QuotaTariffStatementResponse.java
  plugins/database/quota/src/main/java/org/apache/cloudstack/quota/QuotaServiceImpl.java
  plugins/database/quota/src/test/java/org/apache/cloudstack/api/command/QuotaTariffStatementCmdTest.java
  plugins/database/quota/src/test/java/org/apache/cloudstack/api/response/QuotaResponseBuilderImplTest.java
  plugins/database/quota/src/test/java/org/apache/cloudstack/quota/QuotaServiceImplTest.java
Due: build-backend-skip-tests, build-backend-with-test, build-backend-with-noredist, build-backend-with-systemvm, build-backend-combined

Port 4.20 - Mapeamento de controladoras de disco
  api/src/main/java/org/apache/cloudstack/storage/DiskControllerMapping.java
  core/src/main/java/com/cloud/agent/api/SecStorageSetupCommand.java
  engine/schema/src/main/java/org/apache/cloudstack/storage/DiskControllerMappingVO.java
  engine/schema/src/main/java/org/apache/cloudstack/storage/dao/DiskControllerMappingDao.java
  engine/schema/src/main/java/org/apache/cloudstack/storage/dao/DiskControllerMappingDaoImpl.java
  engine/schema/src/main/resources/META-INF/cloudstack/core/spring-engine-schema-core-daos-context.xml
  engine/schema/src/main/resources/META-INF/db/procedures/cloud.add_disk_controller_mapping.sql
  engine/schema/src/main/resources/META-INF/db/schema-42000to42001.sql
  plugins/hypervisors/vmware/src/main/java/com/cloud/hypervisor/guru/VmwareVmImplementer.java
  plugins/hypervisors/vmware/src/main/java/com/cloud/hypervisor/vmware/manager/VmwareManagerImpl.java
  plugins/hypervisors/vmware/src/main/java/com/cloud/hypervisor/vmware/resource/VmwareResource.java
  plugins/hypervisors/vmware/src/main/java/com/cloud/storage/resource/VmwareSecondaryStorageResourceHandler.java
  plugins/hypervisors/vmware/src/main/java/com/cloud/storage/resource/VmwareStorageProcessor.java
  plugins/hypervisors/vmware/src/test/java/com/cloud/hypervisor/vmware/VmwareDatacenterApiUnitTest.java
  plugins/hypervisors/vmware/src/test/java/com/cloud/hypervisor/vmware/manager/VmwareManagerImplTest.java
  plugins/hypervisors/vmware/src/test/java/com/cloud/hypervisor/vmware/resource/VmwareResourceTest.java
  server/src/main/java/com/cloud/api/query/QueryManagerImpl.java
  services/secondary-storage/controller/src/main/java/org/apache/cloudstack/secondarystorage/SecondaryStorageManagerImpl.java
  vmware-base/pom.xml
  vmware-base/src/main/java/com/cloud/hypervisor/vmware/mo/BaseMO.java
  vmware-base/src/main/java/com/cloud/hypervisor/vmware/mo/ClusterMO.java
  vmware-base/src/main/java/com/cloud/hypervisor/vmware/mo/HostMO.java
  vmware-base/src/main/java/com/cloud/hypervisor/vmware/mo/HypervisorHostHelper.java
  vmware-base/src/main/java/com/cloud/hypervisor/vmware/mo/VirtualMachineMO.java
  vmware-base/src/main/java/com/cloud/hypervisor/vmware/mo/VmdkAdapterType.java
  vmware-base/src/main/java/com/cloud/hypervisor/vmware/mo/VmwareHypervisorHost.java
  vmware-base/src/main/java/com/cloud/hypervisor/vmware/util/VmwareHelper.java
  vmware-base/src/test/java/com/cloud/hypervisor/vmware/mo/VirtualMachineMOTest.java
  vmware-base/src/test/java/com/cloud/hypervisor/vmware/util/VmwareHelperTest.java
Due: build-backend-skip-tests, build-backend-with-test, build-backend-with-noredist, build-backend-with-systemvm, build-backend-combined

Port 4.20 - Adição do parâmetro `projectid` às APIs do Quota
  plugins/database/quota/src/main/java/org/apache/cloudstack/api/command/QuotaBalanceCmd.java
  plugins/database/quota/src/main/java/org/apache/cloudstack/api/command/QuotaCreditsCmd.java
  plugins/database/quota/src/main/java/org/apache/cloudstack/api/command/QuotaCreditsListCmd.java
  plugins/database/quota/src/main/java/org/apache/cloudstack/api/command/QuotaStatementCmd.java
  plugins/database/quota/src/main/java/org/apache/cloudstack/api/command/QuotaSummaryCmd.java
  plugins/database/quota/src/main/java/org/apache/cloudstack/api/response/QuotaResponseBuilderImpl.java
  plugins/database/quota/src/main/java/org/apache/cloudstack/quota/QuotaService.java
  plugins/database/quota/src/main/java/org/apache/cloudstack/quota/QuotaServiceImpl.java
  plugins/database/quota/src/test/java/org/apache/cloudstack/api/command/QuotaCreditsCmdTest.java
  plugins/database/quota/src/test/java/org/apache/cloudstack/api/response/QuotaResponseBuilderImplTest.java
  plugins/database/quota/src/test/java/org/apache/cloudstack/quota/QuotaServiceImplTest.java
  ui/src/components/view/ListView.vue
Due: lint-frontend, build-frontend, build-backend-skip-tests, build-backend-with-test, build-backend-with-noredist, build-backend-with-systemvm, build-backend-combined

Port 4.20 - Refatoração dos processos e adição de logs na updateResourceCount
  api/src/main/java/org/apache/cloudstack/api/command/user/resource/UpdateResourceCountCmd.java
  engine/schema/src/main/java/com/cloud/configuration/ResourceCountVO.java
  engine/schema/src/main/java/com/cloud/network/vpc/dao/VpcDaoImpl.java
  engine/schema/src/main/java/com/cloud/storage/dao/VolumeDaoImpl.java
  engine/schema/src/main/java/com/cloud/vm/dao/UserVmDao.java
  engine/schema/src/main/java/com/cloud/vm/dao/UserVmDaoImpl.java
  server/src/main/java/com/cloud/resourcelimit/ResourceLimitManagerImpl.java
  server/src/test/java/com/cloud/resourcelimit/ResourceLimitManagerImplTest.java
Due: build-backend-skip-tests, build-backend-with-test, build-backend-with-noredist, build-backend-with-systemvm, build-backend-combined

Port 4.20 - Fix Quota resource access validation
  plugins/database/quota/src/main/java/org/apache/cloudstack/api/command/QuotaBalanceCmd.java
  plugins/database/quota/src/main/java/org/apache/cloudstack/api/command/QuotaConfigureEmailCmd.java
  plugins/database/quota/src/main/java/org/apache/cloudstack/api/command/QuotaCreditsCmd.java
  plugins/database/quota/src/main/java/org/apache/cloudstack/api/command/QuotaListEmailConfigurationCmd.java
  plugins/database/quota/src/main/java/org/apache/cloudstack/api/command/QuotaSummaryCmd.java
  plugins/database/quota/src/main/java/org/apache/cloudstack/api/command/QuotaTariffStatementCmd.java
  plugins/database/quota/src/test/java/org/apache/cloudstack/api/response/QuotaResponseBuilderImplTest.java
Due: build-backend-skip-tests, build-backend-with-test, build-backend-with-noredist, build-backend-with-systemvm, build-backend-combined

Adição da opção `hypervisor default` para _cache mode_ de ofertas de disco
  api/src/main/java/com/cloud/offering/DiskOffering.java
  core/src/main/java/org/apache/cloudstack/storage/to/VolumeObjectTO.java
  engine/schema/src/main/resources/META-INF/db/schema-42000to42001.sql
  plugins/hypervisors/kvm/src/main/java/com/cloud/hypervisor/kvm/resource/LibvirtVMDef.java
  plugins/storage/volume/adaptive/src/main/java/org/apache/cloudstack/storage/datastore/adapter/ProviderAdapterDiskOffering.java
  server/src/main/java/com/cloud/configuration/ConfigurationManagerImpl.java
  ui/public/locales/en.json
  ui/public/locales/pt_BR.json
  ui/src/views/offering/AddComputeOffering.vue
  ui/src/views/offering/AddDiskOffering.vue
Due: lint-frontend, build-frontend, build-backend-skip-tests, build-backend-with-test, build-backend-with-noredist, build-backend-with-systemvm, build-backend-combined

Add migration path from `4.18.0.16` to `4.18.1.0`
  engine/schema/src/main/java/com/cloud/upgrade/DatabaseUpgradeChecker.java
  engine/schema/src/main/java/com/cloud/upgrade/dao/Upgrade418015to41810.java
  engine/schema/src/main/java/com/cloud/upgrade/dao/Upgrade418016to41810.java
  engine/schema/src/main/resources/META-INF/db/schema-418016to41810.sql
  engine/schema/src/main/resources/META-INF/db/schema-42000to42001.sql
Due: build-backend-skip-tests, build-backend-with-test, build-backend-with-noredist, build-backend-with-systemvm, build-backend-combined
