Repository scclouds/cloudstack: changes, and which GitLab CI jobs are due for each by the changed paths.
All: lint-frontend, build-frontend, build-backend-skip-tests, build-backend-with-test, build-backend-with-noredist, build-backend-with-systemvm, build-backend-combined

lint-frontend:
  before_script:
  - cd ui
  - npm ci --cache .npm --prefer-offline
  stage: lint
  tags:
  - cloudstack
  script:
  - echo "Starting front-end linting..."
  - npx vue-cli-service lint --no-fix
  - echo "Front-end linting done."

build-frontend:
  before_script:
  - cd ui
  - npm ci --cache .npm --prefer-offline
  stage: build
  needs:
  - lint-frontend
  tags:
  - cloudstack
  script:
  - echo "Building frontend..."
  - npm run build
  - echo "Done building frontend."

build-backend-skip-tests:
  stage: build
  tags:
  - cloudstack
  script:
  - echo "Building backend with 'mvn clean install -DskipTests'..."
  - mvn clean install -DskipTests
  - echo "Done building backend with 'mvn clean install -DskipTests'."

build-backend-with-test:
  stage: build
  tags:
  - cloudstack
  script:
  - echo "Building backend with 'mvn clean install'..."
  - mvn clean install
  - echo "Done building backend with 'mvn clean install'."

build-backend-with-noredist:
  stage: build
  tags:
  - cloudstack
  script:
  - echo "Building backend with 'mvn clean install -Dnoredist'..."
  - mvn clean install -Dnoredist
  - echo "Done building backend with 'mvn clean install -Dnoredist'."

build-backend-with-systemvm:
  stage: build
  tags:
  - cloudstack
  script:
  - echo "Building backend with 'mvn clean install -Psystemvm,developer -Dsystemvm'..."
  - mvn clean install -Psystemvm,developer -Dsystemvm
  - echo "Done building backend with 'mvn clean install -Psystemvm,developer -Dsystemvm'."

build-backend-combined:
  stage: build
  tags:
  - cloudstack
  script:
  - echo "Building backend with 'mvn clean install -Dnoredist -Psystemvm,developer -Dsystemvm'..."
  - mvn clean install -Dnoredist -Psystemvm,developer -Dsystemvm
  - echo "Done building backend with 'mvn clean install -Dnoredist -Psystemvm,developer -Dsystemvm'"

Fix upgrade from 4.20.0.1
  engine/schema/src/main/resources/META-INF/db/schema-42003to42004.sql
Due: none

Backport da correção da CVE-2025-26521
  api/src/main/java/com/cloud/kubernetes/cluster/KubernetesServiceHelper.java
  engine/schema/src/main/java/com/cloud/user/dao/AccountDao.java
  engine/schema/src/main/java/com/cloud/user/dao/AccountDaoImpl.java
  plugins/integrations/kubernetes-service/src/main/java/com/cloud/kubernetes/cluster/KubernetesClusterManagerImpl.java
  plugins/integrations/kubernetes-service/src/main/java/com/cloud/kubernetes/cluster/KubernetesClusterService.java
  plugins/integrations/kubernetes-service/src/main/java/com/cloud/kubernetes/cluster/KubernetesServiceHelperImpl.java
  plugins/integrations/kubernetes-service/src/main/java/com/cloud/kubernetes/cluster/dao/KubernetesClusterDao.java
  plugins/integrations/kubernetes-service/src/main/java/com/cloud/kubernetes/cluster/dao/KubernetesClusterDaoImpl.java
  server/src/main/java/com/cloud/user/AccountManagerImpl.java
Due: build-backend-skip-tests, build-backend-with-test, build-backend-with-noredist, build-backend-with-systemvm, build-backend-combined

Fix identifier too large in events index
  engine/schema/src/main/java/com/cloud/upgrade/dao/DbUpgradeUtils.java
  engine/schema/src/main/java/com/cloud/upgrade/dao/Upgrade42003to42004.java
Due: build-backend-skip-tests, build-backend-with-test, build-backend-with-noredist, build-backend-with-systemvm, build-backend-combined

Backport das correções da CVE-2025-47713 e CVE-2025-47849
  api/src/main/java/com/cloud/user/Account.java
  plugins/network-elements/juniper-contrail/src/test/java/org/apache/cloudstack/network/contrail/management/MockAccountManager.java
  server/src/main/java/com/cloud/api/query/QueryManagerImpl.java
  server/src/main/java/com/cloud/api/query/dao/UserAccountJoinDaoImpl.java
  server/src/main/java/com/cloud/configuration/ConfigurationManagerImpl.java
  server/src/main/java/com/cloud/resourcelimit/ResourceLimitManagerImpl.java
  server/src/main/java/com/cloud/user/AccountManager.java
  server/src/main/java/com/cloud/user/AccountManagerImpl.java
  server/src/test/java/com/cloud/configuration/ConfigurationManagerImplTest.java
  server/src/test/java/com/cloud/user/AccountManagerImplTest.java
  server/src/test/java/com/cloud/user/AccountManagerImplVolumeDeleteEventTest.java
  server/src/test/java/com/cloud/user/MockAccountManagerImpl.java
Due: build-backend-skip-tests, build-backend-with-test, build-backend-with-noredist, build-backend-with-systemvm, build-backend-combined

Revert !1209
  api/src/main/java/org/apache/cloudstack/api/ApiConstants.java
  api/src/main/java/org/apache/cloudstack/api/response/VMSnapshotResponse.java
  server/src/main/java/com/cloud/api/ApiDBUtils.java
  server/src/main/java/com/cloud/api/ApiResponseHelper.java
  ui/public/locales/en.json
  ui/public/locales/pt_BR.json
  ui/src/views/AutogenView.vue
  ui/src/views/storage/TakeSnapshot.vue
Due: lint-frontend, build-frontend, build-backend-skip-tests, build-backend-with-test, build-backend-with-noredist, build-backend-with-systemvm, build-backend-combined

Corrige limites de recurso de projetos
  server/src/main/java/com/cloud/user/AccountManagerImpl.java
Due: build-backend-skip-tests, build-backend-with-test, build-backend-with-noredist, build-backend-with-systemvm, build-backend-combined

Atualiza template de MR para adicionar tag de descrição em inglês
  .gitlab/merge_request_templates/default.md
Due: none

Mudança no valor padrão da configuração `reboot.host.and.alert.management.on.heartbeat.timeout`
  agent/conf/agent.properties
  agent/src/main/java/com/cloud/agent/properties/AgentProperties.java
Due: build-backend-skip-tests, build-backend-with-test, build-backend-with-noredist, build-backend-with-systemvm, build-backend-combined

Alteração para mostrar na aba `Public` se IPs públicos são reservados
  ui/src/views/infra/network/IpRangesTabPublic.vue
Due: lint-frontend, build-frontend

Adição de filtro de parâmetros das configurações de VM e _templates_
  ui/src/components/view/DetailSettings.vue
Due: lint-frontend, build-frontend

Atualizar _labels_ automaticamente ao atualizar entre versões
  ui/public/index.html
  ui/public/locales/pt_BR.json
  ui/src/locales/index.js
  ui/src/main.js
Due: lint-frontend, build-frontend

Correção de carregamento infinito nos filtros da página de volumes
  ui/src/components/view/SearchView.vue
Due: lint-frontend, build-frontend

Correção no mapeamento de _usage types_ na UI
  ui/src/utils/quota.js
Due: lint-frontend, build-frontend

Adição de suporte ao parâmetro `quiescevm` no formulário de criação de _backups ad-hoc_
  ui/src/config/section/compute.js
Due: lint-frontend, build-frontend

Change default.ui.page.size configuration scope from Global to Account
  api/src/main/java/org/apache/cloudstack/config/ApiServiceConfiguration.java
  server/src/main/java/com/cloud/server/ManagementServerImpl.java
Due: build-backend-skip-tests, build-backend-with-test, build-backend-with-noredist, build-backend-with-systemvm, build-backend-combined

Fix SSH key pairs listing on VM deploy formulary
  ui/src/views/compute/DeployVM.vue
Due: lint-frontend, build-frontend

Default call context account to ADMIN type in tests
  server/src/test/java/com/cloud/resourcelimit/ResourceLimitManagerImplTest.java
Due: build-backend-skip-tests, build-backend-with-test, build-backend-with-noredist, build-backend-with-systemvm, build-backend-combined

Use the console with VM in state
  server/src/main/java/com/cloud/consoleproxy/ConsoleProxyManagerImpl.java
Due: build-backend-skip-tests, build-backend-with-test, build-backend-with-noredist, build-backend-with-systemvm, build-backend-combined

Fix creation of backups of VMs using a removed template
  server/src/main/java/org/apache/cloudstack/backup/BackupManagerImpl.java
  server/src/test/java/org/apache/cloudstack/backup/BackupManagerTest.java
Due: build-backend-skip-tests, build-backend-with-test, build-backend-with-noredist, build-backend-with-systemvm, build-backend-combined

Address reviews
  core/src/main/java/com/cloud/agent/api/storage/MigrateVolumeCommand.java
  engine/storage/datamotion/src/main/java/org/apache/cloudstack/storage/motion/AncientDataMotionStrategy.java
  plugins/hypervisors/vmware/src/main/java/com/cloud/hypervisor/vmware/resource/VmwareResource.java
  plugins/hypervisors/vmware/src/main/java/org/apache/cloudstack/storage/motion/VmwareStorageMotionStrategy.java
  server/src/main/java/com/cloud/storage/VolumeApiServiceImpl.java
  setup/dev/demo.cfg
Due: build-backend-skip-tests, build-backend-with-test, build-backend-with-noredist, build-backend-with-systemvm, build-backend-combined

change-kvm-metrics-collection-process
  agent/src/main/java/com/cloud/agent/properties/AgentProperties.java
  core/src/main/java/com/cloud/agent/api/GetVmStatsForMetricCollectionAnswer.java
  core/src/main/java/com/cloud/agent/api/GetVmStatsForMetricCollectionCommand.java
  core/src/main/java/com/cloud/agent/api/VmStatsEntry.java
  engine/api/src/main/java/com/cloud/vm/VirtualMachineManager.java
  engine/orchestration/src/main/java/com/cloud/agent/manager/AgentManagerImpl.java
  engine/orchestration/src/main/java/com/cloud/vm/VirtualMachineManagerImpl.java
  plugins/hypervisors/kvm/src/main/java/com/cloud/hypervisor/kvm/resource/LibvirtComputingResource.java
  plugins/hypervisors/kvm/src/main/java/com/cloud/hypervisor/kvm/resource/StatCollector.java
  plugins/hypervisors/kvm/src/main/java/com/cloud/hypervisor/kvm/resource/wrapper/LibvirtGetVmStatsForMetricColletionCommandWrapper.java
  plugins/hypervisors/kvm/src/test/java/com/cloud/hypervisor/kvm/resource/LibvirtComputingResourceTest.java
  plugins/hypervisors/kvm/src/test/java/com/cloud/hypervisor/kvm/resource/StatCollectorTest.java
  server/src/main/java/com/cloud/server/StatsCollector.java
Due: build-backend-skip-tests, build-backend-with-test, build-backend-with-noredist, build-backend-with-systemvm, build-backend-combined

Refactor listSnapshotPolicies and listBackupSchedules APIs
  api/src/main/java/org/apache/cloudstack/api/command/user/backup/ListBackupScheduleCmd.java
  api/src/main/java/org/apache/cloudstack/api/command/user/snapshot/ListSnapshotPoliciesCmd.java
  api/src/main/java/org/apache/cloudstack/api/response/BackupScheduleResponse.java
  api/src/main/java/org/apache/cloudstack/api/response/SnapshotPolicyResponse.java
  api/src/main/java/org/apache/cloudstack/backup/BackupManager.java
  engine/schema/src/main/java/com/cloud/storage/dao/SnapshotPolicyDao.java
  engine/schema/src/main/java/com/cloud/storage/dao/SnapshotPolicyDaoImpl.java
  engine/schema/src/main/java/org/apache/cloudstack/backup/dao/BackupScheduleDao.java
  engine/schema/src/main/java/org/apache/cloudstack/backup/dao/BackupScheduleDaoImpl.java
  plugins/network-elements/juniper-contrail/src/test/java/org/apache/cloudstack/network/contrail/management/MockAccountManager.java
  server/src/main/java/com/cloud/api/ApiResponseHelper.java
  server/src/main/java/com/cloud/storage/snapshot/SnapshotManagerImpl.java
  server/src/main/java/com/cloud/user/AccountManager.java
  server/src/main/java/com/cloud/user/AccountManagerImpl.java
  server/src/main/java/org/apache/cloudstack/backup/BackupManagerImpl.java
  ui/public/locales/en.json
  ui/public/locales/pt_BR.json
  ui/src/components/view/ListView.vue
  ui/src/components/view/SearchView.vue
  ui/src/config/section/storage.js
  ui/src/views/compute/BackupScheduleWizard.vue
  ui/src/views/compute/backup/CreateBackupSchedule.vue
  ui/src/views/storage/RecurringSnapshotVolume.vue
Due: lint-frontend, build-frontend, build-backend-skip-tests, build-backend-with-test, build-backend-with-noredist, build-backend-with-systemvm, build-backend-combined

Refactor access control flow to AccountManager class
  server/src/main/java/com/cloud/user/AccountManager.java
  server/src/main/java/com/cloud/user/AccountManagerImpl.java
  server/src/main/java/org/apache/cloudstack/backup/BackupManagerImpl.java
Due: build-backend-skip-tests, build-backend-with-test, build-backend-with-noredist, build-backend-with-systemvm, build-backend-combined

Refactor listSnapshotPolicies to use new AccountManager ACL method
  server/src/main/java/com/cloud/storage/snapshot/SnapshotManagerImpl.java
Due: build-backend-skip-tests, build-backend-with-test, build-backend-with-noredist, build-backend-with-systemvm, build-backend-combined

Fix last commit
  packaging/build-deb.sh
Due: build-backend-skip-tests, build-backend-with-test, build-backend-with-noredist, build-backend-with-systemvm, build-backend-combined

Call methods to build packages files
  debian/rules
Due: none

modularize debian package building
  debian/rules
Due: none

Enforce common package build
  debian/rules
Due: none

Allow skipping maven and packages via build profiles
  debian/control
  debian/rules
  packaging/build-deb.sh
Due: build-backend-skip-tests, build-backend-with-test, build-backend-with-noredist, build-backend-with-systemvm, build-backend-combined

Update debian rules
  debian/rules
  packaging/build-deb.sh
Due: build-backend-skip-tests, build-backend-with-test, build-backend-with-noredist, build-backend-with-systemvm, build-backend-combined

Remove default build profiles
  packaging/build-deb.sh
Due: build-backend-skip-tests, build-backend-with-test, build-backend-with-noredist, build-backend-with-systemvm, build-backend-combined

Force maven build by default
  packaging/build-deb.sh
Due: build-backend-skip-tests, build-backend-with-test, build-backend-with-noredist, build-backend-with-systemvm, build-backend-combined

Refactor GUI FormSchedules to prevent same interval type creation
  ui/src/utils/util.js
  ui/src/views/compute/BackupScheduleWizard.vue
  ui/src/views/compute/backup/FormSchedule.vue
  ui/src/views/compute/wizard/DeployInstanceBackupSelection.vue
  ui/src/views/storage/FormSchedule.vue
  ui/src/views/storage/RecurringSnapshotVolume.vue
  ui/src/views/storage/ScheduledSnapshots.vue
Due: lint-frontend, build-frontend

Remove isolated parameter from filters
  ui/src/config/section/storage.js
Due: lint-frontend, build-frontend

Generalize listing access control methods
  engine/schema/src/main/java/com/cloud/storage/dao/SnapshotPolicyDao.java
  engine/schema/src/main/java/com/cloud/storage/dao/SnapshotPolicyDaoImpl.java
  engine/schema/src/main/java/org/apache/cloudstack/backup/dao/BackupScheduleDao.java
  engine/schema/src/main/java/org/apache/cloudstack/backup/dao/BackupScheduleDaoImpl.java
  server/src/main/java/com/cloud/storage/snapshot/SnapshotManagerImpl.java
  server/src/main/java/com/cloud/user/AccountManager.java
  server/src/main/java/com/cloud/user/AccountManagerImpl.java
  server/src/main/java/org/apache/cloudstack/backup/BackupManagerImpl.java
Due: build-backend-skip-tests, build-backend-with-test, build-backend-with-noredist, build-backend-with-systemvm, build-backend-combined

Rollback ordinal change to snapshot policy response and add interval type name
  api/src/main/java/org/apache/cloudstack/api/ApiConstants.java
  api/src/main/java/org/apache/cloudstack/api/response/SnapshotPolicyResponse.java
  server/src/main/java/com/cloud/api/ApiResponseHelper.java
Due: build-backend-skip-tests, build-backend-with-test, build-backend-with-noredist, build-backend-with-systemvm, build-backend-combined

Refactor listAll and recursive filtering logic and add javadoc
  server/src/main/java/com/cloud/storage/snapshot/SnapshotManagerImpl.java
  server/src/main/java/com/cloud/user/AccountManager.java
  server/src/main/java/com/cloud/user/AccountManagerImpl.java
  server/src/main/java/org/apache/cloudstack/backup/BackupManagerImpl.java
Due: build-backend-skip-tests, build-backend-with-test, build-backend-with-noredist, build-backend-with-systemvm, build-backend-combined

Path conditions:
  lint-frontend: any of: ui/**/*
  build-frontend: any of: ui/**/*
  build-backend-skip-tests: any of: **/*.java, **/*.xml, **/*.sh
  build-backend-with-test: any of: **/*.java, **/*.xml, **/*.sh
  build-backend-with-noredist: any of: **/*.java, **/*.xml, **/*.sh
  build-backend-with-systemvm: any of: **/*.java, **/*.xml, **/*.sh
  build-backend-combined: any of: **/*.java, **/*.xml, **/*.sh
