Repository scclouds/cloudstack: changes, and which GitLab CI jobs are due for each by the changed paths.
All: lint-frontend, build-frontend, build-backend-skip-tests, build-backend-with-test, build-backend-with-noredist, build-backend-with-systemvm, build-backend-combined

lint-frontend:
  before_script:
  - cd ui
  - npm ci --cache .npm --prefer-offline
  stage: lint
  tags:
  - cloudstack
  script:
  - echo "Starting front-end linting..."
  - npx vue-cli-service lint --no-fix
  - echo "Front-end linting done."

build-frontend:
  before_script:
  - cd ui
  - npm ci --cache .npm --prefer-offline
  stage: build
  needs:
  - lint-frontend
  tags:
  - cloudstack
  script:
  - echo "Building frontend..."
  - npm run build
  - echo "Done building frontend."

build-backend-skip-tests:
  stage: build
  tags:
  - cloudstack
  script:
  - echo "Building backend with 'mvn clean install -DskipTests'..."
  - mvn clean install -DskipTests
  - echo "Done building backend with 'mvn clean install -DskipTests'."

build-backend-with-test:
  stage: build
  tags:
  - cloudstack
  script:
  - echo "Building backend with 'mvn clean install'..."
  - mvn clean install
  - echo "Done building backend with 'mvn clean install'."

build-backend-with-noredist:
  stage: build
  tags:
  - cloudstack
  script:
  - echo "Building backend with 'mvn clean install -Dnoredist'..."
  - mvn clean install -Dnoredist
  - echo "Done building backend with 'mvn clean install -Dnoredist'."

build-backend-with-systemvm:
  stage: build
  tags:
  - cloudstack
  script:
  - echo "Building backend with 'mvn clean install -Psystemvm,developer -Dsystemvm'..."
  - mvn clean install -Psystemvm,developer -Dsystemvm
  - echo "Done building backend with 'mvn clean install -Psystemvm,developer -Dsystemvm'."

build-backend-combined:
  stage: build
  tags:
  - cloudstack
  script:
  - echo "Building backend with 'mvn clean install -Dnoredist -Psystemvm,developer -Dsystemvm'..."
  - mvn clean install -Dnoredist -Psystemvm,developer -Dsystemvm
  - echo "Done building backend with 'mvn clean install -Dnoredist -Psystemvm,developer -Dsystemvm'"

Bloquear funcionalidade de _shrink_ de volumes no XenServer
  plugins/hypervisors/xenserver/src/main/java/com/cloud/hypervisor/xenserver/resource/wrapper/xenbase/CitrixResizeVolumeCommandWrapper.java
  server/src/main/java/com/cloud/storage/VolumeApiServiceImpl.java
  ui/src/views/storage/ChangeOfferingForVolume.vue
Due: lint-frontend, build-frontend, build-backend-skip-tests, build-backend-with-test, build-backend-with-noredist, build-backend-with-systemvm, build-backend-combined

Alteração de roles através da GUI
  ui/src/views/iam/EditAccount.vue
Due: lint-frontend, build-frontend

Mudança na visualização de _compute offering_ para contas do tipo _user_
  ui/src/config/section/offering.js
Due: lint-frontend, build-frontend

Tipo selecionado no _update traffic type_ usa como base o escolhido na aba _Traffic types_
  ui/src/config/section/infra/phynetworks.js
  ui/src/views/infra/network/EditTrafficLabel.vue
  ui/src/views/infra/network/TrafficTypesTab.vue
Due: lint-frontend, build-frontend

Desativação do botão de adição de volume para VMs no estado de Erro
  ui/src/views/compute/InstanceTab.vue
Due: lint-frontend, build-frontend

Remoção de aba de _PortForwarding_ quando _static_ NAT está habilitado
  ui/src/views/network/PublicIpResource.vue
Due: lint-frontend, build-frontend

Correção na prévia de custo na criação de VMs
  ui/src/components/view/stats/EstimatedCost.vue
  ui/src/views/compute/DeployVM.vue
Due: lint-frontend, build-frontend

Modifica escopo da configuração default.ui.page.size
  api/src/main/java/org/apache/cloudstack/config/ApiServiceConfiguration.java
  server/src/main/java/com/cloud/server/ManagementServerImpl.java
  ui/src/store/modules/user.js
Due: lint-frontend, build-frontend, build-backend-skip-tests, build-backend-with-test, build-backend-with-noredist, build-backend-with-systemvm, build-backend-combined

Mudança na mensagem de erro quando é criado um template a partir de volume
  server/src/main/java/com/cloud/template/TemplateManagerImpl.java
Due: build-backend-skip-tests, build-backend-with-test, build-backend-with-noredist, build-backend-with-systemvm, build-backend-combined

Correção na migração de VMs com ISO anexada
  plugins/hypervisors/kvm/src/main/java/com/cloud/hypervisor/kvm/storage/LibvirtStorageAdaptor.java
Due: build-backend-skip-tests, build-backend-with-test, build-backend-with-noredist, build-backend-with-systemvm, build-backend-combined

Persistência de registros de _port forwarding_, _load balancing_ e _firewall_ que não estejam em utilização
  engine/schema/src/main/java/com/cloud/network/LBHealthCheckPolicyVO.java
  engine/schema/src/main/java/com/cloud/network/dao/FirewallRulesDaoImpl.java
  engine/schema/src/main/java/com/cloud/network/dao/LBHealthCheckPolicyDaoImpl.java
  engine/schema/src/main/java/com/cloud/network/dao/LBStickinessPolicyDao.java
  engine/schema/src/main/java/com/cloud/network/dao/LBStickinessPolicyDaoImpl.java
  engine/schema/src/main/java/com/cloud/network/dao/LBStickinessPolicyVO.java
  engine/schema/src/main/java/com/cloud/network/dao/LoadBalancerCertMapVO.java
  engine/schema/src/main/java/com/cloud/network/dao/LoadBalancerVMMapDaoImpl.java
  engine/schema/src/main/java/com/cloud/network/dao/LoadBalancerVMMapVO.java
  engine/schema/src/main/java/com/cloud/network/rules/FirewallRuleVO.java
  engine/schema/src/main/java/org/apache/cloudstack/region/gslb/GlobalLoadBalancerLbRuleMapVO.java
  engine/schema/src/main/resources/META-INF/db/schema-42002to42003.sql
  plugins/network-elements/elastic-loadbalancer/src/main/java/com/cloud/network/ElasticLbVmMapVO.java
  plugins/network-elements/tungsten/src/main/java/org/apache/cloudstack/network/tungsten/dao/TungstenFabricLBHealthMonitorVO.java
  server/src/main/java/com/cloud/network/lb/LoadBalancingRulesManagerImpl.java
Due: build-backend-skip-tests, build-backend-with-test, build-backend-with-noredist, build-backend-with-systemvm, build-backend-combined

Remoção do _storage pool_ atual da listagem da UI quando migrando VM com volume
  ui/src/components/view/StoragePoolSelectView.vue
Due: lint-frontend, build-frontend

Seletores de _secondary storage_ na migração de volumes a frio
  engine/storage/datamotion/src/main/java/org/apache/cloudstack/storage/motion/AncientDataMotionStrategy.java
  server/src/main/java/org/apache/cloudstack/storage/heuristics/HeuristicRuleHelper.java
Due: build-backend-skip-tests, build-backend-with-test, build-backend-with-noredist, build-backend-with-systemvm, build-backend-combined

Correção do nome de _jobs_ do Veeam
  engine/schema/src/main/resources/META-INF/db/schema-42001to42002.sql
  plugins/backup/veeam/src/main/java/org/apache/cloudstack/backup/VeeamBackupProvider.java
  plugins/backup/veeam/src/main/java/org/apache/cloudstack/backup/veeam/VeeamClient.java
  plugins/backup/veeam/src/test/java/org/apache/cloudstack/backup/veeam/VeeamClientTest.java
Due: build-backend-skip-tests, build-backend-with-test, build-backend-with-noredist, build-backend-with-systemvm, build-backend-combined

Correção em operações sobre _snapshots_ de volumes desanexados
  engine/api/src/main/java/org/apache/cloudstack/engine/subsystem/api/storage/EndPointSelector.java
  engine/storage/snapshot/src/main/java/org/apache/cloudstack/storage/snapshot/SnapshotServiceImpl.java
  engine/storage/src/main/java/org/apache/cloudstack/storage/endpoint/DefaultEndPointSelector.java
  engine/storage/src/test/java/org/apache/cloudstack/storage/endpoint/DefaultEndPointSelectorTest.java
Due: build-backend-skip-tests, build-backend-with-test, build-backend-with-noredist, build-backend-with-systemvm, build-backend-combined

Correção na criação de _snapshots_ incrementais ao alterar a configuração `snapshot.backup.to.secondary`
  engine/schema/src/main/java/org/apache/cloudstack/storage/datastore/db/SnapshotDataStoreDaoImpl.java
  engine/storage/src/main/java/org/apache/cloudstack/storage/datastore/ObjectInDataStoreManagerImpl.java
Due: build-backend-skip-tests, build-backend-with-test, build-backend-with-noredist, build-backend-with-systemvm, build-backend-combined

Modificação de nome da classe `CreteConditionCmd` para `CreateConditionForVmAutoScalingCmd`
  api/src/main/java/com/cloud/network/as/AutoScaleService.java
  api/src/main/java/org/apache/cloudstack/api/command/user/autoscale/CreateConditionForVmAutoScalingCmd.java
  server/src/main/java/com/cloud/network/as/AutoScaleManagerImpl.java
  server/src/main/java/com/cloud/server/ManagementServerImpl.java
  server/src/test/java/com/cloud/network/as/AutoScaleManagerImplTest.java
Due: build-backend-skip-tests, build-backend-with-test, build-backend-with-noredist, build-backend-with-systemvm, build-backend-combined

Alteração de escopo da configuração `vmsnapshot.max` para ser a nível de _account_
  engine/components-api/src/main/java/com/cloud/vm/snapshot/VMSnapshotManager.java
  server/src/main/java/com/cloud/vm/snapshot/VMSnapshotManagerImpl.java
Due: build-backend-skip-tests, build-backend-with-test, build-backend-with-noredist, build-backend-with-systemvm, build-backend-combined

Habilitação para a listagem das tarifas removidas na UI
  ui/src/components/view/ListView.vue
Due: lint-frontend, build-frontend

Exibição da `serviceoffering` na listagem de `NetworkOfferings`
  api/src/main/java/org/apache/cloudstack/api/ApiConstants.java
  api/src/main/java/org/apache/cloudstack/api/response/NetworkOfferingResponse.java
  server/src/main/java/com/cloud/api/ApiResponseHelper.java
  ui/public/locales/en.json
  ui/public/locales/pt_BR.json
  ui/src/components/view/ListView.vue
  ui/src/config/section/offering.js
Due: lint-frontend, build-frontend, build-backend-skip-tests, build-backend-with-test, build-backend-with-noredist, build-backend-with-systemvm, build-backend-combined

Extensão do sistema de gerenciamento de temas à GUI
  api/src/main/java/com/cloud/event/EventTypes.java
  api/src/main/java/org/apache/cloudstack/api/ApiCommandResourceType.java
  api/src/main/java/org/apache/cloudstack/api/command/admin/domain/ListDomainsCmd.java
  api/src/main/java/org/apache/cloudstack/api/command/user/account/ListAccountsCmd.java
  api/src/main/java/org/apache/cloudstack/api/command/user/gui/theme/CreateGuiThemeCmd.java
  api/src/main/java/org/apache/cloudstack/api/command/user/gui/theme/RemoveGuiThemeCmd.java
  api/src/main/java/org/apache/cloudstack/api/command/user/gui/theme/UpdateGuiThemeCmd.java
  engine/schema/src/main/java/com/cloud/domain/dao/DomainDao.java
  engine/schema/src/main/java/com/cloud/domain/dao/DomainDaoImpl.java
  engine/schema/src/main/java/com/cloud/user/dao/AccountDao.java
  engine/schema/src/main/java/com/cloud/user/dao/AccountDaoImpl.java
  server/src/main/java/com/cloud/api/query/QueryManagerImpl.java
  server/src/main/java/org/apache/cloudstack/gui/theme/GuiThemeServiceImpl.java
  ui/public/locales/en.json
  ui/public/locales/pt_BR.json
  ui/src/components/view/DetailsTab.vue
  ui/src/components/view/InfoCard.vue
  ui/src/components/view/ListView.vue
  ui/src/components/view/SearchView.vue
  ui/src/config/section/config.js
  ui/src/core/lazy_lib/icons_use.js
  ui/src/main.js
  ui/src/utils/guiTheme.js
  ui/src/utils/plugins.js
  ui/src/views/AutogenView.vue
  ui/src/views/iam/DomainView.vue
  ui/src/views/theme/CreateGuiTheme.vue
  ui/src/views/theme/UpdateGuiTheme.vue
Due: lint-frontend, build-frontend, build-backend-skip-tests, build-backend-with-test, build-backend-with-noredist, build-backend-with-systemvm, build-backend-combined

Adição de informação do endereço IP da SSVM na rede de _storage_
  api/src/main/java/org/apache/cloudstack/api/response/SystemVmResponse.java
  server/src/main/java/com/cloud/api/ApiResponseHelper.java
  ui/public/locales/en.json
  ui/public/locales/pt_BR.json
  ui/src/config/section/infra/systemVms.js
Due: lint-frontend, build-frontend, build-backend-skip-tests, build-backend-with-test, build-backend-with-noredist, build-backend-with-systemvm, build-backend-combined

Correção do _leak_ de conexões com o banco de dados
  framework/quota/src/main/java/org/apache/cloudstack/quota/dao/QuotaAccountDao.java
  framework/quota/src/main/java/org/apache/cloudstack/quota/dao/QuotaAccountDaoImpl.java
  plugins/database/quota/src/main/java/org/apache/cloudstack/api/response/QuotaResponseBuilderImpl.java
Due: build-backend-skip-tests, build-backend-with-test, build-backend-with-noredist, build-backend-with-systemvm, build-backend-combined

Habilitação de suporte a SNI para as _system_ VMs
  systemvm/agent/scripts/_run.sh
Due: build-backend-skip-tests, build-backend-with-test, build-backend-with-noredist, build-backend-with-systemvm, build-backend-combined

Correção na listagem de VMs por rede
  server/src/main/java/com/cloud/api/query/QueryManagerImpl.java
Due: build-backend-skip-tests, build-backend-with-test, build-backend-with-noredist, build-backend-with-systemvm, build-backend-combined

Aceitar pacotes relacionados e de conexões estabelecidas ao utilizar IPv6
  systemvm/debian/opt/cloud/bin/cs/CsNetfilter.py
Due: none

Seletores de _secondary storage_ na sincronização de templates
  engine/components-api/src/main/java/com/cloud/template/TemplateManager.java
  engine/storage/image/src/main/java/org/apache/cloudstack/storage/image/TemplateServiceImpl.java
  engine/storage/image/src/test/java/org/apache/cloudstack/storage/image/TemplateServiceImplTest.java
  server/src/main/java/com/cloud/template/HypervisorTemplateAdapter.java
  server/src/main/java/com/cloud/template/TemplateManagerImpl.java
  server/src/main/java/org/apache/cloudstack/storage/heuristics/HeuristicRuleHelper.java
  server/src/test/java/com/cloud/template/HypervisorTemplateAdapterTest.java
  server/src/test/java/com/cloud/template/TemplateManagerImplTest.java
  server/src/test/java/org/apache/cloudstack/storage/heuristics/HeuristicRuleHelperTest.java
Due: build-backend-skip-tests, build-backend-with-test, build-backend-with-noredist, build-backend-with-systemvm, build-backend-combined

Normalização dos valores das configurações globais relacionadas à deleção em _batch_ de registros do banco de dados
  engine/schema/src/main/resources/META-INF/db/schema-42002to42003.sql
Due: none

Correção de permissões da API Keypair para considerar alterações na permissão da role
  server/src/main/java/org/apache/cloudstack/acl/ApiKeyPairManagerImpl.java
Due: build-backend-skip-tests, build-backend-with-test, build-backend-with-noredist, build-backend-with-systemvm, build-backend-combined

Adição de propriedade a redes e VPCs para forçar a troca do MAC _address_ de NICs públicas de VRs
  api/src/main/java/com/cloud/network/Network.java
  api/src/main/java/com/cloud/network/NetworkProfile.java
  api/src/main/java/com/cloud/network/vpc/Vpc.java
  api/src/main/java/com/cloud/network/vpc/VpcService.java
  api/src/main/java/org/apache/cloudstack/api/ApiConstants.java
  api/src/main/java/org/apache/cloudstack/api/command/user/network/CreateNetworkCmd.java
  api/src/main/java/org/apache/cloudstack/api/command/user/network/UpdateNetworkCmd.java
  api/src/main/java/org/apache/cloudstack/api/command/user/vpc/CreateVPCCmd.java
  api/src/main/java/org/apache/cloudstack/api/command/user/vpc/UpdateVPCCmd.java
  api/src/main/java/org/apache/cloudstack/api/response/NetworkResponse.java
  api/src/main/java/org/apache/cloudstack/api/response/VpcResponse.java
  api/src/test/java/org/apache/cloudstack/api/command/user/vpc/UpdateVPCCmdTest.java
  engine/api/src/main/java/org/apache/cloudstack/engine/orchestration/service/NetworkOrchestrationService.java
  engine/orchestration/src/main/java/org/apache/cloudstack/engine/orchestration/NetworkOrchestrator.java
  engine/schema/src/main/java/com/cloud/network/dao/NetworkVO.java
  engine/schema/src/main/java/com/cloud/network/vpc/VpcVO.java
  engine/schema/src/main/resources/META-INF/db/schema-42002to42003.sql
  server/src/main/java/com/cloud/api/ApiResponseHelper.java
  server/src/main/java/com/cloud/network/NetworkMigrationManagerImpl.java
  server/src/main/java/com/cloud/network/NetworkServiceImpl.java
  server/src/main/java/com/cloud/network/router/NetworkHelperImpl.java
  server/src/main/java/com/cloud/network/vpc/VpcManagerImpl.java
  server/src/main/java/org/apache/cloudstack/network/router/deployment/RouterDeploymentDefinition.java
  server/src/main/java/org/apache/cloudstack/network/router/deployment/VpcRouterDeploymentDefinition.java
  server/src/test/java/com/cloud/network/NetworkServiceImplTest.java
  server/src/test/java/com/cloud/network/router/NetworkHelperImplTest.java
  server/src/test/java/com/cloud/network/vpc/VpcManagerImplTest.java
  server/src/test/java/com/cloud/vpc/MockNetworkManagerImpl.java
  ui/public/locales/en.json
  ui/public/locales/pt_BR.json
  ui/src/config/section/network.js
  ui/src/views/AutogenView.vue
  ui/src/views/network/CreateIsolatedNetworkForm.vue
  ui/src/views/network/CreateVpc.vue
  ui/src/views/network/UpdateNetwork.vue
Due: lint-frontend, build-frontend, build-backend-skip-tests, build-backend-with-test, build-backend-with-noredist, build-backend-with-systemvm, build-backend-combined

Correção na criação de VPN S2S com `Split Connections`
  systemvm/debian/opt/cloud/bin/configure.py
Due: none

Correção da remoção de _snapshots_ incrementais em _secondary storages_ diferentes
  engine/storage/snapshot/src/main/java/org/apache/cloudstack/storage/snapshot/SnapshotObject.java
Due: build-backend-skip-tests, build-backend-with-test, build-backend-with-noredist, build-backend-with-systemvm, build-backend-combined

Adição de campo de descrição para IPs secundários
  api/src/main/java/com/cloud/network/NetworkService.java
  api/src/main/java/com/cloud/vm/NicSecondaryIp.java
  api/src/main/java/org/apache/cloudstack/api/command/user/vm/AddIpToVmNicCmd.java
  api/src/main/java/org/apache/cloudstack/api/response/NicSecondaryIpResponse.java
  api/src/test/java/org/apache/cloudstack/api/command/test/AddIpToVmNicTest.java
  engine/schema/src/main/java/com/cloud/vm/dao/NicSecondaryIpVO.java
  engine/schema/src/main/resources/META-INF/db/schema-42002to42003.sql
  server/src/main/java/com/cloud/api/query/dao/UserVmJoinDaoImpl.java
  server/src/main/java/com/cloud/network/NetworkServiceImpl.java
  server/src/test/java/com/cloud/vpc/MockNetworkManagerImpl.java
  ui/public/locales/en.json
  ui/public/locales/pt_BR.json
  ui/src/views/network/NicsTab.vue
  ui/src/views/network/NicsTable.vue
Due: lint-frontend, build-frontend, build-backend-skip-tests, build-backend-with-test, build-backend-with-noredist, build-backend-with-systemvm, build-backend-combined

Correção da validação de acesso nas APIs `listGuiThemes` e `destroyVirtualMachine` para considerar as permissões da API Keypair
  plugins/network-elements/juniper-contrail/src/test/java/org/apache/cloudstack/network/contrail/management/MockAccountManager.java
  server/src/main/java/com/cloud/user/AccountManager.java
  server/src/main/java/com/cloud/user/AccountManagerImpl.java
  server/src/main/java/com/cloud/vm/UserVmManagerImpl.java
  server/src/main/java/org/apache/cloudstack/gui/theme/GuiThemeServiceImpl.java
  server/src/test/java/com/cloud/user/MockAccountManagerImpl.java
  server/src/test/java/com/cloud/vm/UserVmManagerImplTest.java
  server/src/test/java/org/apache/cloudstack/gui/theme/GuiThemeServiceImplTest.java
Due: build-backend-skip-tests, build-backend-with-test, build-backend-with-noredist, build-backend-with-systemvm, build-backend-combined

Adição de API para habilitar/desabilitar NICs para KVM
  api/src/main/java/com/cloud/agent/api/to/NicTO.java
  api/src/main/java/com/cloud/vm/Nic.java
  api/src/main/java/com/cloud/vm/NicProfile.java
  api/src/main/java/com/cloud/vm/UserVmService.java
  api/src/main/java/org/apache/cloudstack/api/ResponseGenerator.java
  api/src/main/java/org/apache/cloudstack/api/command/user/vm/UpdateVmNicCmd.java
  api/src/main/java/org/apache/cloudstack/api/response/NicResponse.java
  core/src/main/java/com/cloud/agent/api/UpdateVmNicAnswer.java
  core/src/main/java/com/cloud/agent/api/UpdateVmNicCommand.java
  engine/api/src/main/java/com/cloud/vm/VirtualMachineManager.java
  engine/orchestration/src/main/java/com/cloud/vm/VirtualMachineManagerImpl.java
  engine/orchestration/src/main/java/com/cloud/vm/VmWorkUpdateNic.java
  engine/schema/src/main/java/com/cloud/vm/NicVO.java
  engine/schema/src/main/resources/META-INF/db/schema-42002to42003.sql
  engine/schema/src/main/resources/META-INF/db/views/cloud.user_vm_view.sql
  plugins/hypervisors/kvm/src/main/java/com/cloud/hypervisor/kvm/resource/BridgeVifDriver.java
  plugins/hypervisors/kvm/src/main/java/com/cloud/hypervisor/kvm/resource/LibvirtComputingResource.java
  plugins/hypervisors/kvm/src/main/java/com/cloud/hypervisor/kvm/resource/wrapper/LibvirtUpdateVmNicCommandWrapper.java
  plugins/hypervisors/kvm/src/test/java/com/cloud/hypervisor/kvm/resource/LibvirtComputingResourceTest.java
  server/src/main/java/com/cloud/api/ApiDBUtils.java
  server/src/main/java/com/cloud/api/ApiResponseHelper.java
  server/src/main/java/com/cloud/api/query/dao/UserVmJoinDaoImpl.java
  server/src/main/java/com/cloud/api/query/vo/UserVmJoinVO.java
  server/src/main/java/com/cloud/hypervisor/HypervisorGuruBase.java
  server/src/main/java/com/cloud/server/ManagementServerImpl.java
  server/src/main/java/com/cloud/vm/UserVmManagerImpl.java
  server/src/test/java/com/cloud/vm/UserVmManagerImplTest.java
  tools/apidoc/gen_toc.py
  ui/public/locales/en.json
  ui/public/locales/pt_BR.json
  ui/src/views/network/NicsTab.vue
  ui/src/views/network/NicsTable.vue
Due: lint-frontend, build-frontend, build-backend-skip-tests, build-backend-with-test, build-backend-with-noredist, build-backend-with-systemvm, build-backend-combined

Correção de conta do tipo `User` sendo capaz de alterar limites de recursos do próprio domínio e da própria conta.
  server/src/main/java/com/cloud/resourcelimit/ResourceLimitManagerImpl.java
Due: build-backend-skip-tests, build-backend-with-test, build-backend-with-noredist, build-backend-with-systemvm, build-backend-combined

Adição de validação na API `migrateVirtualMachine`
  server/src/main/java/com/cloud/vm/UserVmManagerImpl.java
Due: build-backend-skip-tests, build-backend-with-test, build-backend-with-noredist, build-backend-with-systemvm, build-backend-combined

Adição de suporte a novas variáveis ao sistema de gerenciamento de temas
  server/src/main/java/org/apache/cloudstack/gui/theme/GuiThemeServiceImpl.java
  server/src/main/java/org/apache/cloudstack/gui/theme/json/config/validator/JsonConfigAttributeValidator.java
  server/src/main/java/org/apache/cloudstack/gui/theme/json/config/validator/JsonConfigValidator.java
  server/src/main/java/org/apache/cloudstack/gui/theme/json/config/validator/attributes/AttributeBase.java
  server/src/main/java/org/apache/cloudstack/gui/theme/json/config/validator/attributes/ErrorAttribute.java
  server/src/main/java/org/apache/cloudstack/gui/theme/json/config/validator/attributes/PluginsAttribute.java
  server/src/main/java/org/apache/cloudstack/gui/theme/json/config/validator/attributes/ThemeAttribute.java
  server/src/main/java/org/apache/cloudstack/gui/theme/json/config/validator/attributes/UserCardAttribute.java
  server/src/main/resources/META-INF/cloudstack/core/spring-server-core-misc-context.xml
  ui/src/components/view/Setting.vue
  ui/src/utils/guiTheme.js
Due: lint-frontend, build-frontend, build-backend-skip-tests, build-backend-with-test, build-backend-with-noredist, build-backend-with-systemvm, build-backend-combined

Flexibilização de escolha de IP ao implementar rede _guest_
  engine/schema/src/main/java/com/cloud/network/dao/PublicIpQuarantineDao.java
  engine/schema/src/main/java/com/cloud/network/dao/PublicIpQuarantineDaoImpl.java
  server/src/main/java/com/cloud/network/IpAddressManagerImpl.java
  server/src/test/java/com/cloud/network/IpAddressManagerTest.java
Due: build-backend-skip-tests, build-backend-with-test, build-backend-with-noredist, build-backend-with-systemvm, build-backend-combined

Correção na listagem de pares de chaves SSH no formulário de deploy de VM
  ui/src/views/compute/DeployVM.vue
Due: lint-frontend, build-frontend

Path conditions:
  lint-frontend: any of: ui/**/*
  build-frontend: any of: ui/**/*
  build-backend-skip-tests: any of: **/*.java, **/*.xml, **/*.sh
  build-backend-with-test: any of: **/*.java, **/*.xml, **/*.sh
  build-backend-with-noredist: any of: **/*.java, **/*.xml, **/*.sh
  build-backend-with-systemvm: any of: **/*.java, **/*.xml, **/*.sh
  build-backend-combined: any of: **/*.java, **/*.xml, **/*.sh
