Repository scclouds/cloudstack: changes, and which GitLab CI jobs are due for each by the changed paths.
All: lint-frontend, build-frontend, build-backend-skip-tests, build-backend-with-test, build-backend-with-noredist, build-backend-with-systemvm, build-backend-combined

lint-frontend:
  before_script:
  - cd ui
  - npm ci --cache .npm --prefer-offline
  stage: lint
  tags:
  - cloudstack
  script:
  - echo "Starting front-end linting..."
  - npx vue-cli-service lint --no-fix
  - echo "Front-end linting done."

build-frontend:
  before_script:
  - cd ui
  - npm ci --cache .npm --prefer-offline
  stage: build
  needs:
  - lint-frontend
  tags:
  - cloudstack
  script:
  - echo "Building frontend..."
  - npm run build
  - echo "Done building frontend."

build-backend-skip-tests:
  stage: build
  tags:
  - cloudstack
  script:
  - echo "Building backend with 'mvn clean install -DskipTests'..."
  - mvn clean install -DskipTests
  - echo "Done building backend with 'mvn clean install -DskipTests'."

build-backend-with-test:
  stage: build
  tags:
  - cloudstack
  script:
  - echo "Building backend with 'mvn clean install'..."
  - mvn clean install
  - echo "Done building backend with 'mvn clean install'."

build-backend-with-noredist:
  stage: build
  tags:
  - cloudstack
  script:
  - echo "Building backend with 'mvn clean install -Dnoredist'..."
  - mvn clean install -Dnoredist
  - echo "Done building backend with 'mvn clean install -Dnoredist'."

build-backend-with-systemvm:
  stage: build
  tags:
  - cloudstack
  script:
  - echo "Building backend with 'mvn clean install -Psystemvm,developer -Dsystemvm'..."
  - mvn clean install -Psystemvm,developer -Dsystemvm
  - echo "Done building backend with 'mvn clean install -Psystemvm,developer -Dsystemvm'."

build-backend-combined:
  stage: build
  tags:
  - cloudstack
  script:
  - echo "Building backend with 'mvn clean install -Dnoredist -Psystemvm,developer -Dsystemvm'..."
  - mvn clean install -Dnoredist -Psystemvm,developer -Dsystemvm
  - echo "Done building backend with 'mvn clean install -Dnoredist -Psystemvm,developer -Dsystemvm'"

Corrigir comentário da coluna previous_owner_id da tabela quarantined_ips
  engine/schema/src/main/resources/META-INF/db/schema-41801to41802.sql
Due: none

Remove unnecessary implementation on 4.18.0.1 upgrader
  engine/schema/src/main/java/com/cloud/upgrade/dao/Upgrade41800to41801.java
Due: build-backend-skip-tests, build-backend-with-test, build-backend-with-noredist, build-backend-with-systemvm, build-backend-combined

Refatorar GetUploadParamsForIsoCmd
  api/src/main/java/org/apache/cloudstack/api/AbstractGetUploadParamsCmd.java
  api/src/main/java/org/apache/cloudstack/api/command/user/iso/GetUploadParamsForIsoCmd.java
Due: build-backend-skip-tests, build-backend-with-test, build-backend-with-noredist, build-backend-with-systemvm, build-backend-combined

Eventos para as tarifas do quota
  api/src/main/java/com/cloud/event/EventTypes.java
  plugins/database/quota/src/main/java/org/apache/cloudstack/api/command/QuotaTariffCreateCmd.java
  plugins/database/quota/src/main/java/org/apache/cloudstack/api/command/QuotaTariffDeleteCmd.java
  plugins/database/quota/src/main/java/org/apache/cloudstack/api/command/QuotaTariffUpdateCmd.java
  plugins/database/quota/src/main/java/org/apache/cloudstack/api/response/QuotaResponseBuilderImpl.java
Due: build-backend-skip-tests, build-backend-with-test, build-backend-with-noredist, build-backend-with-systemvm, build-backend-combined

Edição de _Host_ e _Storage Tags_ de _System Offerings_ na UI
  ui/src/config/section/offering.js
Due: lint-frontend, build-frontend

Ajustar descrição da configuração `password.policy.minimum.digits`
  server/src/main/java/com/cloud/user/PasswordPolicy.java
Due: build-backend-skip-tests, build-backend-with-test, build-backend-with-noredist, build-backend-with-systemvm, build-backend-combined

Adicionar _service offering_ ao resultado da chamada de API `listSystemVms`
  api/src/main/java/org/apache/cloudstack/api/response/SystemVmResponse.java
  server/src/main/java/com/cloud/api/ApiResponseHelper.java
  ui/src/components/view/InfoCard.vue
Due: lint-frontend, build-frontend, build-backend-skip-tests, build-backend-with-test, build-backend-with-noredist, build-backend-with-systemvm, build-backend-combined

Arrumar erro de listagem caso a regra de _Load Balancer_ não tenha nenhuma instância associada
  server/src/main/java/com/cloud/network/lb/LoadBalancingRulesManagerImpl.java
Due: build-backend-skip-tests, build-backend-with-test, build-backend-with-noredist, build-backend-with-systemvm, build-backend-combined

Ignorar _storages_ removidos ao atualizar _disk offering_ com _tags_
  engine/schema/src/main/java/org/apache/cloudstack/storage/datastore/db/PrimaryDataStoreDaoImpl.java
Due: build-backend-skip-tests, build-backend-with-test, build-backend-with-noredist, build-backend-with-systemvm, build-backend-combined

Corrigir exceção de _casting_ na sincronização de NICs durante a importação da VM restaurada de um _backup_
  plugins/hypervisors/vmware/src/main/java/com/cloud/hypervisor/guru/VMwareGuru.java
Due: build-backend-skip-tests, build-backend-with-test, build-backend-with-noredist, build-backend-with-systemvm, build-backend-combined

Criar campo systeminstances na API `listHostsMetrics`
  plugins/metrics/src/main/java/org/apache/cloudstack/metrics/MetricsServiceImpl.java
  plugins/metrics/src/main/java/org/apache/cloudstack/response/HostMetricsResponse.java
Due: build-backend-skip-tests, build-backend-with-test, build-backend-with-noredist, build-backend-with-systemvm, build-backend-combined

Manter nome do projeto ao removê-lo
  engine/schema/src/main/java/com/cloud/projects/dao/ProjectDaoImpl.java
Due: build-backend-skip-tests, build-backend-with-test, build-backend-with-noredist, build-backend-with-systemvm, build-backend-combined

Marcar conta com estado de removido quando removida
  api/src/main/java/com/cloud/user/Account.java
  server/src/main/java/com/cloud/user/AccountManagerImpl.java
Due: build-backend-skip-tests, build-backend-with-test, build-backend-with-noredist, build-backend-with-systemvm, build-backend-combined

Possibilitar que administradores desativem o 2FA de usuários em subdomínios
  server/src/main/java/com/cloud/user/AccountManagerImpl.java
  server/src/test/java/com/cloud/user/AccountManagerImplTest.java
Due: build-backend-skip-tests, build-backend-with-test, build-backend-with-noredist, build-backend-with-systemvm, build-backend-combined

Consertar janela de atribuir VM a outra conta
  ui/src/views/compute/AssignInstance.vue
Due: lint-frontend, build-frontend

Impedir que o 2FA seja ativado caso o usuário erre o código na verificação
  server/src/main/java/com/cloud/user/AccountManagerImpl.java
Due: build-backend-skip-tests, build-backend-with-test, build-backend-with-noredist, build-backend-with-systemvm, build-backend-combined

Prevenir escalamento de roles
  plugins/acl/static-role-based/src/main/java/org/apache/cloudstack/acl/StaticRoleBasedAPIAccessChecker.java
Due: build-backend-skip-tests, build-backend-with-test, build-backend-with-noredist, build-backend-with-systemvm, build-backend-combined

Adicionar coluna de conta que removeu IP da quarentena
  api/src/main/java/com/cloud/network/PublicIpQuarantine.java
  api/src/main/java/org/apache/cloudstack/api/ApiConstants.java
  api/src/main/java/org/apache/cloudstack/api/response/IpQuarantineResponse.java
  engine/schema/src/main/java/com/cloud/network/vo/PublicIpQuarantineVO.java
  engine/schema/src/main/resources/META-INF/db/schema-41801to41802.sql
  server/src/main/java/com/cloud/api/ApiResponseHelper.java
  server/src/main/java/com/cloud/network/IpAddressManagerImpl.java
Due: build-backend-skip-tests, build-backend-with-test, build-backend-with-noredist, build-backend-with-systemvm, build-backend-combined

Habilitar parâmetro `isPublic` ao criar roles via UI
  api/src/main/java/org/apache/cloudstack/api/command/admin/acl/CreateRoleCmd.java
  server/src/main/java/org/apache/cloudstack/acl/RoleManagerImpl.java
  ui/src/config/section/role.js
  ui/src/views/iam/CreateRole.vue
Due: lint-frontend, build-frontend, build-backend-skip-tests, build-backend-with-test, build-backend-with-noredist, build-backend-with-systemvm, build-backend-combined

Conserta recursos da CPVM não sendo liberados
  services/console-proxy/server/src/main/java/com/cloud/consoleproxy/ConsoleProxyNoVncClient.java
Due: build-backend-skip-tests, build-backend-with-test, build-backend-with-noredist, build-backend-with-systemvm, build-backend-combined

Correção no envio de parâmetros na criação de VMs quando operando através da visualização de projetos.
  ui/src/views/compute/DeployVM.vue
Due: lint-frontend, build-frontend

Correção de registro duplicado de IPs públicos em quarentena
  engine/schema/src/main/java/com/cloud/network/vo/PublicIpQuarantineVO.java
  engine/schema/src/main/java/com/cloud/upgrade/DatabaseUpgradeChecker.java
  engine/schema/src/main/java/com/cloud/upgrade/dao/Upgrade41801to41802.java
  server/src/main/java/com/cloud/network/IpAddressManagerImpl.java
Due: build-backend-skip-tests, build-backend-with-test, build-backend-with-noredist, build-backend-with-systemvm, build-backend-combined

Marcar NIC como padrão caso não exista NIC padrão
  engine/orchestration/src/main/java/org/apache/cloudstack/engine/orchestration/NetworkOrchestrator.java
  server/src/main/java/com/cloud/vm/UserVmManagerImpl.java
Due: build-backend-skip-tests, build-backend-with-test, build-backend-with-noredist, build-backend-with-systemvm, build-backend-combined

Corrige o dono da VM quando é realizado o deploy através da visualização de projetos
  ui/src/views/compute/DeployVM.vue
Due: lint-frontend, build-frontend

Corrigir alocação de mais IPs públicos do que a cota da conta
  server/src/main/java/com/cloud/network/IpAddressManagerImpl.java
  server/src/test/java/com/cloud/network/IpAddressManagerTest.java
Due: build-backend-skip-tests, build-backend-with-test, build-backend-with-noredist, build-backend-with-systemvm, build-backend-combined

Novas configurações para _headers_ e _footers_ de emails do Quota
  framework/quota/src/main/java/org/apache/cloudstack/quota/QuotaAlertManagerImpl.java
  framework/quota/src/main/java/org/apache/cloudstack/quota/constant/QuotaConfig.java
  framework/quota/src/test/java/org/apache/cloudstack/quota/QuotaAlertManagerImplTest.java
  plugins/database/quota/src/main/java/org/apache/cloudstack/quota/QuotaServiceImpl.java
Due: build-backend-skip-tests, build-backend-with-test, build-backend-with-noredist, build-backend-with-systemvm, build-backend-combined

Backport da alteração do tipo da coluna acquired na console_session
  engine/schema/src/main/java/com/cloud/vm/ConsoleSessionVO.java
  engine/schema/src/main/java/com/cloud/vm/dao/ConsoleSessionDaoImpl.java
  engine/schema/src/main/resources/META-INF/db/schema-41801to41802.sql
Due: build-backend-skip-tests, build-backend-with-test, build-backend-with-noredist, build-backend-with-systemvm, build-backend-combined

Consertar coluna `created` nas abas de VM
  ui/src/components/view/ListResourceTable.vue
Due: lint-frontend, build-frontend

Refletir configurações do _template_ na UI do _deploy_ de VM
  ui/src/views/compute/DeployVM.vue
Due: lint-frontend, build-frontend

Corrige comportamento da oferta de disco ao realizar deploy de VMs com ISOs
  ui/src/views/compute/DeployVM.vue
Due: lint-frontend, build-frontend

Permitir a criação de _port groups_ de redes persistentes em paralelo durante o _bootstrap_ do ACS
  plugins/hypervisors/vmware/src/main/java/com/cloud/hypervisor/vmware/resource/VmwareResource.java
Due: build-backend-skip-tests, build-backend-with-test, build-backend-with-noredist, build-backend-with-systemvm, build-backend-combined

Nova _preset variable_ nas Quota _activation rules_
  engine/schema/src/main/java/com/cloud/upgrade/dao/Upgrade41801to41802.java
  engine/schema/src/main/resources/META-INF/db/schema-41801to41802.sql
  framework/quota/src/main/java/org/apache/cloudstack/quota/QuotaManagerImpl.java
  framework/quota/src/main/java/org/apache/cloudstack/quota/activationrule/presetvariables/Tariff.java
  framework/quota/src/main/java/org/apache/cloudstack/quota/vo/QuotaTariffVO.java
  framework/quota/src/test/java/org/apache/cloudstack/quota/QuotaManagerImplTest.java
  plugins/database/quota/src/main/java/org/apache/cloudstack/api/command/QuotaTariffCreateCmd.java
  plugins/database/quota/src/main/java/org/apache/cloudstack/api/command/QuotaTariffUpdateCmd.java
  plugins/database/quota/src/main/java/org/apache/cloudstack/api/response/QuotaResponseBuilderImpl.java
  plugins/database/quota/src/main/java/org/apache/cloudstack/api/response/QuotaTariffResponse.java
  plugins/database/quota/src/test/java/org/apache/cloudstack/api/response/QuotaResponseBuilderImplTest.java
  ui/public/locales/en.json
  ui/public/locales/pt_BR.json
  ui/src/config/section/plugin/quota.js
  ui/src/views/plugins/quota/CreateQuotaTariff.vue
  ui/src/views/plugins/quota/EditQuotaTariff.vue
Due: lint-frontend, build-frontend, build-backend-skip-tests, build-backend-with-test, build-backend-with-noredist, build-backend-with-systemvm, build-backend-combined

Add EL9 to CI build
  .gitlab-ci.yml
Due: none

Consertar NPE ao adicionar VR em tiers
  engine/orchestration/src/main/java/org/apache/cloudstack/engine/orchestration/NetworkOrchestrator.java
Due: build-backend-skip-tests, build-backend-with-test, build-backend-with-noredist, build-backend-with-systemvm, build-backend-combined

SQL para estado `removed` de contas já removidas
  engine/schema/src/main/java/com/cloud/upgrade/DatabaseUpgradeChecker.java
  engine/schema/src/main/java/com/cloud/upgrade/dao/Upgrade41802to14803.java
  engine/schema/src/main/resources/META-INF/db/schema-41802to41803.sql
Due: build-backend-skip-tests, build-backend-with-test, build-backend-with-noredist, build-backend-with-systemvm, build-backend-combined

Correção na criação de redes L2 para outras contas via UI
  ui/src/views/network/CreateL2NetworkForm.vue
Due: lint-frontend, build-frontend

Detectar corretamente o fim da conexão da CPVM via _websocket_
  services/console-proxy/server/src/main/java/com/cloud/consoleproxy/ConsoleProxyNoVncClient.java
Due: build-backend-skip-tests, build-backend-with-test, build-backend-with-noredist, build-backend-with-systemvm, build-backend-combined

Configuração para forçar troca de MAC _address_ de NICs públicas de VRs ao recriá-los
  engine/api/src/main/java/org/apache/cloudstack/engine/orchestration/service/NetworkOrchestrationService.java
  engine/orchestration/src/main/java/org/apache/cloudstack/engine/orchestration/NetworkOrchestrator.java
  server/src/main/java/com/cloud/network/router/NetworkHelperImpl.java
  server/src/test/java/com/cloud/network/router/NetworkHelperImplTest.java
Due: build-backend-skip-tests, build-backend-with-test, build-backend-with-noredist, build-backend-with-systemvm, build-backend-combined

Path conditions:
  lint-frontend: any of: ui/**/*
  build-frontend: any of: ui/**/*
  build-backend-skip-tests: any of: **/*.java, **/*.xml, **/*.sh
  build-backend-with-test: any of: **/*.java, **/*.xml, **/*.sh
  build-backend-with-noredist: any of: **/*.java, **/*.xml, **/*.sh
  build-backend-with-systemvm: any of: **/*.java, **/*.xml, **/*.sh
  build-backend-combined: any of: **/*.java, **/*.xml, **/*.sh
